<footer class="text-center text-lg-start bg-dark text-white">

  <div class="container">

    <div class="row">

      <!-- Columns -->

      <div class="section col-md-3">

        <h5 class="">Démarrer</h5>

        <ul class="">

          <li class=""><a href="#">Accueil</a></li>

          <li><a href="#">Connexion</a></li>

        </ul>

      </div>

      <div class="section col-md-3">

        <h5>Le Projet des Projets</h5>

        <ul>

          <li><a href="{{path('static', {'page_name': "about_us",})}}">Qui sommes-nous</a></li>

          <li><a href="#">Manifeste du Projet des Projets</a></li>

          <li><a href="{{path('contact_website')}}">Contactez-nous</a></li>

        </ul>

      </div>


      <div class="section col-md-3">

        <h5>Régulations</h5>

        <ul>

          <li><a href="{{path('static', {'page_name': "terms",})}}">Conditions d'utilisation</a></li>

          <li><a href="{{path ('static', {'page_name': "privacy",})}}">Politique de confidentialité</a></li>

        </ul>

      </div>

      
      <div class="section col-md-3">

        <h5>Divers</h5>

        <ul>

          <li><a href="{{path('static', {'page_name': "credits",})}}">Crédits et remerciements</a></li>

        </ul>

      </div>

    </div>

  </div>

  <!-- Copyright -->

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

    © 2021 Copyright :

    <span class="text-reset fw-bold" href="#">ProjetDesProjets.com</span>

  </div>

</footer>



<style>
    
  footer {
    padding-top: 30px;
  }

  footer .col {

    text-align: center;

  }

  footer h5 {

    margin-bottom: 10px;
    font-weight: bold;

  }

  footer ul {

    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

  }

  footer a {

    text-decoration: none;
    font-weight: bold;

  }


    
@media screen and (max-width: 768px) {

  footer h5 {
    font-size: 1.1em;
  } 

  footer .section {
    font-size: 1em;
  }
  

}

    
@media screen and (max-width: 580px) {


}


</style>