<footer class="text-center text-lg-start">

  <div class="container pb-2">

    <div class="row">

      <!-- Columns -->

      <div class="section col-md-3">

        <h3 class="">Démarrer</h3>

        <ul class="">

          <li class=""><a href="{{path ('homepage')}}">Accueil</a></li>

          <li><a href="{{path ('create_presentation')}}">Présenter un Projet</a></li>

          <li><a href="{{path ('edit_article')}}">Écrire un article</a></li>

        </ul>

      </div>

      <div class="section col-md-3">

        <h3 class="">Outils gratuits</h3>

        <ul class="">

          <li><a href="{{path ('ai_presentation_helper_origin')}}">Coach de présentation IA</a></li>

          <li><a href="{{path ('ai_interview_helper_origin', {"context" : "coach"})}}">Coach entretien Projet IA</a></li>

          {# <li><a href="{{path ('ai_presentation_helper_assistant_logo')}}">Création de logo IA</a></li> #}

        </ul>

      </div>

      <div class="section col-md-3">

        <h3>Le Projet des Projets</h3>

        <ul>

          <li><a href="{{path('static', {'page_name': "about_us",})}}">Rejoignez-nous</a></li>

          <li><a href="{{path('contact_website')}}">Contactez-nous</a></li>

          <li><a href="{{path('static', {'page_name': "short_manifesto",})}}">Manifeste du Projet des Projets</a></li>

          <li><a href="{{path('static', {'page_name': "credits",})}}">Crédits & Remerciements</a></li>

        </ul>

      </div>


      <div class="section col-md-3">

        <h3>Mentions légales</h3>

        <ul>

          <li><a href="{{path ('static', {'page_name': "terms",})}}">Conditions d'utilisation</a></li>

          <li><a href="{{path ('static', {'page_name': "privacy",})}}">Politique de confidentialité</a></li>

        </ul>

      </div>

    </div>

  </div>

  <!-- Copyright -->

  <div class="text-center p-4" style="background-color: rgba(111, 166, 251, 0.07);">

    © 2024 Copyright :

    <span class="text-reset fw-bold">propon.org</span>
    {# <span class="">- <img class="french-flag" src="{{ asset('french_flag.svg', 'misc')}}" width="20" height="12" alt="French Flag"> Fabriqué en France</span> #}

  </div>

</footer>


<style>
    
  footer {
    background-color: white;
    padding-top: 25px;
    border-top: 2px solid rgb(230, 239, 244);
  }

  footer .section {

    text-align: center;

  }

  footer h3 {

    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

  }

  footer ul {

    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

  }

  footer a {

    text-decoration: none;
    font-weight: bold;

  }

{#   footer img.french-flag {
    margin: 0 1px 3px 4px;
  } #}


      
  @media screen and (max-width: 768px) {

    footer h3 {
      font-size: 1.1em;
    } 

    footer .section {
      font-size: 1em;
    }
    

  }


</style>