{# Header Navbar #}

<header>

  <nav class="navbar navbar-expand-sm pb-0 bg-dark" style="border-bottom: 2px solid orange;">

    <div class="container-fluid ps-4 ps-md-5">

      {# Left Navbar Toggler Button (only displayed on mobile)

      <button class="d-md-none" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="collapseExample">
        Outils
      </button> #}

      {# Website Logo #}

      <a class="navbar-brand pb-0 ps-lg-4 me-lg-5" href="/">

        <img src="/media/static/images/pop_logo.svg" alt="website logo" loading="lazy" width="37px" height="44px"/>

      </a>

      {# Static Menu #}

      <ul class="navbar-nav static-menu fw-bold">

        <li class="nav-item fs-5 me-3 d-none d-md-inline">

          <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>

        </li>


        {# Add a Project Button #}

        {% if app.user %}
          
          <li class="nav-item fs-5 me-3 d-none d-md-inline">

            <a href="{{path ('create_presentation')}}">

              <button type="button" class="btn btn-primary rounded">

                + Projet
                
              </button>

            </a>

          </li>

        {% endif %}



        {# User New Messages Count #}

        {% if app.user %}

          {% set unreadMessagesCount = app.user.data.unreadMessagesCount %}

          {% if unreadMessagesCount > 0 %}

            {# large screens display #}

            <li class="nav-item fs-5 me-3 d-none d-md-inline">

              <a href="{{path ('user_manage_messages')}}">

                <button type="button" class="btn btn-success rounded">
                  Messages <span class="badge bg-warning text-body">{{unreadMessagesCount}}</span>
                </button>

              </a>

            </li>

            {% endif %}

            {# mobile display #}

            <li class="nav-item d-md-none">

              {% if unreadMessagesCount > 0 %}

                <a href="{{path ('user_manage_messages')}}">

                  <button type="button" class="btn btn-sm btn-success rounded me-2">
                    Messages <span class="badge bg-warning text-body">{{unreadMessagesCount}}</span>
                  </button>

                </a>

              {% endif %}

            </li>

        {% else %}
            
          <li class="nav-item d-md-none">

            <a href="{{path ('app_login')}}">

              <button type="button" class="btn btn-sm btn-success rounded">
                Connexion
              </button>

            </a>

          </li>

        {% endif %}

        
        <li class="nav-item d-md-none">

          {# search icon on mobile, trigger a search bar  #}

          <img id="search_icon_small_screens" class="" src="{{ asset('search.svg', 'misc')}}" alt="search icon" style="height:26px;">

          {# search bar container on mobile #}

          {% include "_partials/search_bar_sm.html.twig" %}

        </li>

        {# search bar large screens #}

        <form class="d-none d-md-block">

          {# Hidden on homepage (see homepage.html.twig) #}

          <input id="navbar_md_search_input" class="form-control d-inline me-2" type="search" placeholder="Rechercher" aria-label="Search">

        </form>

        <style>

          #navbar_md_search_input{

            width: unset;

          }

          @media screen and (max-width: 860px) {

            #navbar_md_search_input{
              width: 169px;
            }

          }

        </style>

      </ul>



      {# hide / show overall menu button (on small screens) #}
      {# Trigger Button #}

      <button class="btn text-body navbar-toggler" data-bs-target="#navbarSMToggle" aria-controls="navbarSMToggle" type="button"
        data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" style="color:white !important">

        Menu

      </button>

      {# These elements are toggled on small screens #}
      
      <div id="navbarSMToggle" class="collapse navbar-collapse" style="margin-bottom: 7px;">

        <ul class="navbar-nav ms-md-auto gap-2">

          {% if is_granted("ROLE_ADMIN") %}
          
          <li class="nav-item d-none d-md-inline">

            <a href="{{path ('admin')}}">

              <img class="bg-white px-1 py-1 mt-1 rounded" src="{{ asset('key.svg', 'misc')}}" alt="key icon" style="height:32px;">

            </a>

          </li>

        
        {% endif %}

          {% if not app.user %}

            {# register button #}

            <a href="{{path('app_register')}}">

              <button type="button" class="btn btn-warning fw-bold me-2">Inscription</button>

            </a>  

            {# login button #}

            <a href="{{path('app_login')}}">

              <button type="button" class="btn btn-primary fw-bold me-2">Connexion</button>

            </a>

          {% endif %}

          {# User Account Dropdown #}

          {% if app.user %}

            {# Trigger Button #}

            <li class="nav-item dropdown rounded">

              <a id="userAccountDropdown" class="nav-link dropdown-toggle btn btn-primary fw-bold text-white" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="padding: 6px 9px; margin-right: 10px;">

                Compte

              </a>

              {# User Account Dropdown Content #}

              <ul aria-labelledby="userAccountDropdown" class="dropdown-menu dropdown-menu-end fw-bold" style="width: 260px;">

                <div class="container d-flex align-items-center justify-content-center text-center my-3">
                  {{app.user.userName}}
                </div>

                <li>

                  <a class="dropdown-item" href="{{path('create_presentation')}}">Ajouter un Projet</a>

                </li>

                <li>

                  <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                    Mes Projets présentés
                  </a>

                </li>

                {# Dropdown Divider #}

                <li>

                  <hr class="dropdown-divider">

                </li>


                <li>

                  <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                    Mon Compte
                  </a>

                </li>

                {# Dropdown Divider #}

                <li>

                  <hr class="dropdown-divider">

                </li>

                {# logout button #}

                <li>

                  <a class="dropdown-item" href="{{path('app_logout')}}">

                    Déconnexion

                  </a>

                </li>

                {# End of User Account Dropdown Content #}

              </ul>

            </li>

          {% endif %}

        </ul>

        {# End of Toggled elements on small screens #}

      </div>

    </div>

  </nav>

</header>

<style>

  .dropdown-item{
    font-weight: bold;
    font-size: 1.15em;
  }

  @media screen and (max-width: 580px) {

    .static-menu {

      display: contents;

    }

  }


</style>