{# Header Navbar #}

<header>

  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-white" style="border-bottom: 2px solid orange;">

    <div class="container-fluid ps-3 ps-md-5">

      {# Left Navbar Toggler Button (only displayed on mobile)

      <button class="d-md-none" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="collapseExample">
        Outils
      </button> #}

      {# Website Logo #}

      <a class="navbar-brand py-0 me-0 me-lg-4" href="/">

        <img class="website-logo" src="/media/static/images/propon_logo.svg" alt="website logo" loading="lazy"/>

      </a>

      <style>

        .website-logo{

          width: 80px;

        }
      
      </style>

      {# Static Menu #}

      <ul class="navbar-nav d-flex align-items-center static-menu fw-bold" style="flex-direction: inherit;">

        <li class="nav-item fs-5 me-1 d-none d-md-inline">

          <a class="nav-link" aria-current="page" href="/">Accueil</a>

        </li>

        <li class="nav-item fs-5 me-3 d-none d-md-inline">

          <a class="nav-link text-body" href="{{ path("index_articles")}}">Articles</a>

        </li>


        {# Add a Project Button #}
          
          <li class="nav-item fs-5 me-3 d-none d-md-inline">

            <a href="{{path ('create_presentation')}}">

              <button type="button" class="btn btn-outline-success">

                + Projet
                
              </button>

            </a>

          </li>

        {# User New Messages Count #}

        {% if app.user %}

          {% set unreadMessagesCount = app.user.data.unreadMessagesCount %}

          {% if unreadMessagesCount > 0 %}

            {# large screens display #}

            <li class="nav-item fs-5 me-3 d-none d-md-inline">

              <a href="{{path ('user_manage_messages')}}">

                <button type="button" class="btn btn-success rounded">
                  Messages <span class="badge bg-warning text-body">{{unreadMessagesCount}}</span>
                </button>

              </a>

            </li>

            {% endif %}

            {# mobile display #}

            <li class="nav-item d-md-none">

              {% if unreadMessagesCount > 0 %}

                <a href="{{path ('user_manage_messages')}}">

                  <button type="button" class="btn btn-sm btn-success rounded me-2">
                    Messages <span class="badge bg-warning text-body">{{unreadMessagesCount}}</span>
                  </button>

                </a>

              {% endif %}

            </li>

      {# 
            
          <li class="nav-item d-md-none">

            <a href="{{path ('app_login')}}">

              <button type="button" class="btn btn-sm btn-success rounded">
                Connexion
              </button>

            </a>

          </li> #}

        {% endif %}

        
        <li class="nav-item d-md-none">

          {# search icon on mobile, trigger a search bar  #}

          <img id="search_icon_small_screens" class="" src="{{ asset('search.svg', 'misc')}}" alt="search icon" style="height:26px;">

          {# search bar container on mobile #}

          {% include "_partials/search_bar_sm.html.twig" %}

        </li>

        {# search bar large screens #}

        <form class="d-none d-md-block">

          <input id="navbar_md_search_input" class="form-control d-inline me-2" type="search" placeholder="Rechercher" aria-label="Search">

        </form>

        <style>

          #navbar_md_search_input{

            width: unset;

          }

          @media screen and (max-width: 860px) {

            #navbar_md_search_input{
              width: 169px;
            }

          }

        </style>

      </ul>

     

        {% set userAccountMenu %}

           {% if app.user %}

           <div class="bg-white">

            <div class="container d-flex align-items-center justify-content-center text-center my-3">
              {{app.user.userName}}
            </div>
  
           <ul class="ps-0" style="list-style:none;">

              <li>
    
                <a class="dropdown-item" href="{{path ('create_presentation')}}">Ajouter un Projet</a>
    
              </li>
    
              <li>
    
                <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                  Mes Projets présentés
                </a>
    
              </li>
    
    
              {# Dropdown Divider #}
    
              <li>
    
                <hr class="dropdown-divider">
    
              </li>
    
              <li>
    
                <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                  Mon Compte
                </a>
    
              </li>
    
              {# Dropdown Divider #}
    
              <li>
    
                <hr class="dropdown-divider">
    
              </li>
    
              {# logout button #}
    
              <li>
    
                <a class="dropdown-item" href="{{path('app_logout')}}">
    
                  Déconnexion
    
                </a>
    
              </li>
            
            </ul>

           </div>
        
          {% endif %}
        {% endset %}
      
      
      {# This button and bellow collapsible is only seen on mobile #}
      {# hide / show menu  - trigger button #}

      <button class="btn text-body navbar-toggler" data-bs-target="#navbarSMToggle" aria-controls="navbarSMToggle" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>


      {# These elements are collapsed and displayed only on small screens #}
      
      <div id="navbarSMToggle" class="collapse navbar-collapse text-center">

        <div class="d-md-none">

          {{ userAccountMenu }}

        </div>

        <ul class="navbar-nav ms-md-auto gap-2">

          {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ARTICLE_EDIT") %}
          
          <li class="nav-item d-none d-md-inline">

            <a href="{{path ('admin')}}">

              <img class="bg-white px-1 py-1 mt-1 rounded" src="{{ asset('key.svg', 'misc')}}" alt="key icon" style="height:32px;">

            </a>

          </li>
        
        {% endif %}

          {% if not app.user %}

            {# register button 

            <a href="{{path('app_register')}}">

              <button type="button" class="btn btn-warning fw-bold me-2">Inscription</button>

            </a>  #}

            {# login access button (>= md screens) #}

            <a href="{{path('app_login')}}">

              <button type="button" class="d-none d-md-block btn btn-outline-primary fw-bold me-2">Connexion</button>

            </a>


            {# login access button (for sm screens) #}

            <div class="d-md-none text-center">

              <h4 class="fw-bold text-center mt-4 mb-3">Connexion 👇</h4>
                
              <a href="{{ path('connect_google_start') }}">

                <button class="sm-connect-btn btn">

                    <img src="{{asset ('connect/google.svg', 'misc')}}" class="" alt="Google Logo" loading="lazy" width="50" height="50">

                    <span class="ms-2">Avec Google</span>

                </button>

              </a>

              <a href="{{ path('connect_facebook_start') }}">

                  <button class="sm-connect-btn btn">

                      <img src="{{asset ('connect/facebook.svg', 'misc')}}" class="" alt="Facebook Logo" loading="lazy" width="50" height="50">

                      <span class="ms-2">Avec Facebook</span>

                  </button>

              </a>
              
              <a href="{{path('app_login')}}">

                <button class="sm-connect-btn btn">

                  <img src="{{asset ('connect/email.svg', 'misc')}}" class="" alt="Facebook Logo" loading="lazy" width="50" height="50">

                  <span class="ms-2">Avec E-mail</span>

                </button>

              </a>


              <style>

                .sm-connect-btn{

                    width: 210px;

                }
              
              
              </style>

            </div>

          {% endif %}

          {# This dropdown is only seen on medium to large screens #}
          {# User Account Dropdown #}

          {% if app.user %}

            {# Trigger Button #}

            <li class="d-none d-md-block nav-item dropdown rounded">

              <a id="userAccountDropdown" class="dropdown-toggle btn btn-outline-primary fw-bold" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="padding: 6px 9px; margin-right: 10px;">

                Compte

              </a>

              {# User Account Dropdown Content #}

              <ul aria-labelledby="userAccountDropdown" class="dropdown-menu dropdown-menu-end" style="width: 260px;">

                {{ userAccountMenu }}

              </ul>


            </li>

          {% endif %}

        </ul>

        {# End of Toggled elements on small screens #}

      </div>

    </div>

  </nav>

</header>

<style>

  .dropdown-item{
    font-size: 1.15em;
  }

  @media screen and (max-width: 580px) {

    .static-menu {

      display: contents;

    }

  }

</style>