{# Header Navbar #}

<header>

  <nav class="navbar navbar-expand-sm bg-dark pb-0">

    <div class="container-fluid ps-5">

      {# Left Navbar Toggler Button (only displayed on mobile)

      <button class="d-md-none" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="collapseExample">
        Outils
      </button> #}

      {# Website Logo #}

      <a class="navbar-brand pb-0 ps-md-4 me-sm-5" href="/">

        <img src="/media/static/images/pop_logo.svg" alt="website logo" loading="lazy" width="37px" height="44px" style="width:100%;" />

      </a>

      {# Static Menu #}

      <ul class="navbar-nav fw-bold">

        <li class="nav-item fs-5 me-3 d-none d-md-inline">

          <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>

        </li>

        {# User New Messages Count #}

        {% if app.user %}

          <li class="nav-item fs-5 me-3 d-none d-md-inline">

            <a href="{{path ('user_manage_messages')}}">

              <button type="button" class="btn btn-success rounded">
                Messages <span class="badge bg-warning text-body">{{ render ( path ('count_user_unread_messages')) }}</span>
              </button>

            </a>

          </li>

        {% endif %}

      </ul>


      {# hide / show overall menu button (small screens) #}

      {# Trigger Button #}

      <button class="btn btn-success navbar-toggler" data-bs-target="#navbarSMToggle" aria-controls="navbarSMToggle" type="button"
        data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">

        Menu

      </button>

      {# These elements are toggled on small screens #}

      <div id="navbarSMToggle" class="collapse navbar-collapse" style="margin-bottom: 7px;">

        <ul class="navbar-nav ms-md-auto gap-2">

          {% if not app.user %}

            {# register button #}

            <a href="{{path('app_register')}}">

              <button type="button" class="btn btn-warning fw-bold me-2">Inscription</button>

            </a>  

            {# login button #}

            <a href="{{path('app_login')}}">

              <button type="button" class="btn btn-primary fw-bold me-2">Connexion</button>

            </a>

          {% endif %}

          {# User Account Dropdown #}

          {% if app.user %}

            {# Trigger Button #}

            <li class="nav-item dropdown rounded">

              <a id="userAccountDropdown" class="nav-link dropdown-toggle btn btn-primary fw-bold text-white" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="padding: 6px 9px; margin-right: 10px;">

                Compte

              </a>

              {# User Account Dropdown Content #}

              <ul aria-labelledby="userAccountDropdown" class="dropdown-menu dropdown-menu-end" style="width: 260px;">

                <div class="container d-flex align-items-center justify-content-center text-center mb-3">
                  Yo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit voluptate placeat ab magnam
                  recusandae. Molestias totam ullam dolore inventore et.
                </div>

                <li>

                  <a class="dropdown-item" href="{{path('create_presentation')}}">Ajouter un Projet</a>
                </li>

                <li>

                  <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                    Mes Projets présentés
                  </a>

                </li>

                {# Dropdown Divider #}

                <li>

                  <hr class="dropdown-divider">

                </li>


                <li>

                  <a class="dropdown-item" href="{{path("show_user_profile", {'userNameSlug': app.user.userNameSlug})}}">
                    Mon Compte
                  </a>

                </li>

                {# Dropdown Divider #}

                <li>

                  <hr class="dropdown-divider">

                </li>

                {# logout button #}

                <li>

                  <a class="dropdown-item" href="{{path('app_logout')}}">

                    Déconnexion

                  </a>

                </li>

                {# End of User Account Dropdown Content #}

              </ul>

            </li>

          {% endif %}

        </ul>

        {# End of Toggled elements on small screens #}

      </div>

    </div>

  </nav>

</header>