{% block stylesheet %}

    <link href="/css/business_card.css" rel="stylesheet">

{% endblock %}

{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "businessCard", 'title': "Nous contacter",} %}

    {% block editButtons %}

        {# Add business card button (triggers a modal) #}

        <button type="button" data-bs-toggle="modal" data-bs-target="#add_business_card_form_modal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

        {% if countBC == 0 %}

            {% block showDeleteElementsButtons %}{% endblock %}
        
        {% endif %}

    {% endblock %}

    {% block mainContent %}
            
        {% set bcs = presentation.getOC('businessCards') %}

        <div id="businessCards" class="js-elements-list pp-struct-content row m-0">

            {# Business Cards Display #}

            {% for bc in bcs %}

                <div id="{{bc.id}}" class="js-sortable-element bc-outer edit-hoverable-item">

                    <!-- Contact Card Content -->

                    {% include 'project_presentation/edit/other_components/businessCards/_business_card.html.twig'%}

                    {% if userPresenter %}

                        {# Access card edition page on click #}

                        <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'businessCards', 'item_id':bc.id})}}" class="pp-edition-mode coverable-link"></a>

                        {# delete business card (Red Cross) button #}

                        <button type="button" data-elements-type="businessCards" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{bc.id}}">&times</button>
                    
                    {% endif %}

                </div>
                
            {% endfor %}

            {# Private Messages Button Display #}

            {% if privateMessagesActive or userPresenter %}

                <div id="createPrivateMessageButton" class="privateMessagesCard disabled bc-outer">

                    <a href="{{path ('new_pp_conversation', {'stringId': stringId})}}" class="text-decoration-none">

                        <div class="pp-consultation-mode">

                            Envoyer un message privé 

                        </div>
                    
                    </a>


                    {% if userPresenter %}

                        <div class="pp-edition-mode pm-{{privateMessagesActive}}">

                            Les messages privés sont 

                            {% if privateMessagesActive %}

                                activés

                            {% else %}

                                désactivés

                            {% endif %}


                            <div class="menu-button py-3 fw-bold">

                                <h6 class="text-primary text-center fw-bold" style="font-size: normal;">Activer les messages privés</h6>
            
                                <div class="d-flex justify-content-center">
            
                                    <div>
            
                                        <span class="">Non</span>
                                
                                        <input type="checkbox" id="pm-activation-switch" class="toggle-switch"{{ privateMessagesActive ? ' checked ' }} /><label class="toggle-switch-label" for="pm-activation-switch">Activer les messages privés</label>
                                    
                                        <span class="ps-2">Oui</span>
            
                                    </div>
                                    
                                  
            
                                </div>
            
            
                            </div> 

                        </div>
                    
                    {% endif %}


                </div>


                <style>

                    /* Private Messages Card "herites" from business_card.css */

                    .privateMessagesCard{
                        display:flex;
                        align-items:center; 
                        justify-content:center; 
                        text-align: center;
                        height: 175px;
                        font-weight: bold;
                        font-size: 18px;
                    }

                    .privateMessagesCard:hover{
                        background-color: #ececff;
                    }

                    .pm-1{
                        background-color: rgb(186, 250, 186);
                    }

                    .pm-{
                        background-color: red;
                    }

                </style>
            
            {% endif %}

        </div>

    {% endblock %}
        
{% endembed %}