{% block stylesheet %}

    <link href="/css/persorg-card.css" rel="stylesheet">

{% endblock %}


<div id="externalContributorsDisplay" class="">
        
    {% if userPresenter %}

    {# All structures management bar #}

    <div class="all-ecs-management-bar pp-edition-mode">
        
        {% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "external_contributors", 'title': "Contributions externes",} %}

            {% block editButtons %}
            
                {# Add an external contributor structure button (triggers a modal) #}
            
                <button type="button" data-bs-toggle="modal" data-bs-target="#add_ecs_form_modal" class="pp-edition-mode btn btn-light btn-sm me-3">+ Nouvelle partie</button> 

                {# button to access reorder ecs when more than two ecs #}

                {% if presentation.contributorStructures | length >= 2 %}

                    <a href="{{path('manage_all_ecs', {'stringId': stringId})}}" class="text-decoration-none">
                        
                        <button type="button" class="pp-edition-mode btn btn-light btn-sm me-3" aria-label="Manage Order and Titles Button">

                            <img src="{{ asset('settings.svg', 'pp_wysiwyg')}}" alt="Manage Order and Titles Icon" height="17px">

                        </button>

                    </a>

                {% endif %}
            
            {% endblock %}

            {% block deleteElementsButtons %}{% endblock %}
    
        {% endembed %}

    </div>


    {% endif %}
    

    <!-- ECS Display Container -->

    <div class="all-ecs-display-container pb-md-2" >
            
        {%  for ecs in presentation.contributorStructures | filter((ecs) => ecs.type == "external") %}

        {# Each ECS display containers #}

            <div id="cs-{{ecs.id}}" class="each-ecs-display-container">

                {% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "external_contributors", 'title': ecs.title} %}

                    {% block editButtons %}
                    
                        {# Manage ecs button (title; thumbnails; rich text; deletion) #}

                        <a class="pp-edition-mode text-decoration-none me-3" href="{{path('manage_one_cs', {'stringId': stringId, 'id_cs': ecs.id,})}}">

                            <img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
        
                        </a>
                        
                    {% endblock %}

                    {% block mainContent %}

                        {# ecs thumbnails and add thumbnail button #}

                        <div id="persorgs{{ecs.id}}" class="js-elements-list pp-struct-content each-ecs-persorgs-container">

                            {# Add a persorg button (mocks a thumbnail and trigger a form in a modal ) #}

                            <div data-structure-id="{{ecs.id}}" data-bs-toggle="modal" data-bs-target="#add-persorg-modal" class="js-trigger-persorg-form-modal pp-edition-mode disabled add-persorg-card me-2">

                                <div class="persorg-card" style="height: 200px;">
                                    
                                    <div class="h-100 d-flex align-items-center justify-content-center">
                                                                
                                        <div class="avatar-circle avatar-100 mx-auto">

                                            <span class="avatar-initial avatar-initial-100">

                                                +

                                            </span>

                                        </div>

                                    </div> 

                                </div>

                            </div>

                            {% for persorg in ecs.persorgs %}

                            <div id="{{persorg.id}}" class="js-sortable-element persorg-card">
        
                                <!-- Persorg Card Content --> 
        
                                {% include "persorgs/_card.html.twig" %}

                                {% if userPresenter %}
                                
                                    {# Access edit page on click #}

                                    <a href="{{path('edit_persorg', {'stringId': stringId, 'id_persorg': persorg.id})}}" class="pp-edition-mode coverable-link"></a>
                                                                        
                                    {# delete persorg (Red Cross) button #}

                                    <button type="button" data-elements-type="persorgs" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{persorg.id}}">&times</button>    
                                
                                {% endif %}

                            </div>
            
                            {% endfor %}

                        </div>

                        {# ecs rich text content with show more or less text capability #}

                        {% if ecs.richtextContent is not empty %}

                            {% block stylesheets %}
                                <link href="/css/show_more_less_button.css" rel="stylesheet">
                            {% endblock %}

                            {% block javascripts %}

                                <script src="/js/show_more_less_button.js"></script>
                            
                            {% endblock %}

                            <div class="each-ecs-rich-text-content col-lg-10">

                                <div class="hide-too-long edit-hoverable-item position-relative">
                                        
                                    {{ecs.richtextContent | sanitize_html ('default') }}

                                    {# Access Textarea Edition Page on click #}

                                    <a href="{{path('manage_one_cs', {'stringId': stringId, 'id_cs': ecs.id})}}#js-textarea-container" class="pp-edition-mode coverable-link"></a>

                                </div>

                            </div>
                        
                        {% endif %}

                    {% endblock %}

                {% endembed %}

            </div>
        
        {% endfor %}

    </div>

</div>
       
<script>

    // When user wants to create a new persorg, we post which Contributor Structure is concerned (in an hidden persorg form field)

    $(document).ready(function(){
        
        $( ".js-trigger-persorg-form-modal" ).click(function() {

            var parentContributorStructureId = $(this).data("structure-id");

            $("#persorg_parentStuctureId").val(parentContributorStructureId);
            
        });

    });

    
</script>


<style>

    .all-ecs-management-bar{
        margin-bottom: 20px;
    }

    .all-ecs-management-bar h3{
        color: #1d4f20;
        font-weight: bold;
    }
    
    .each-ecs-display-container{
        margin-bottom: 48px;
    }
    
    .each-ecs-display-container:last-child{
        margin-bottom: 0;
    }

    .each-ecs-persorgs-container{

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;

    }

    .add-persorg-card{
        cursor: pointer;
    }

    .add-persorg-card:hover .avatar-circle {
        background-color: #81ec87;
    }

    .each-ecs-rich-text-content{
        padding : 0 20px 0 32px;
        margin-top: 10px;
        margin-bottom: 18px;
        font-size: 1.14em;
    }


    @media screen and (max-width: 580px) {

        .each-ecs-persorgs-container{
          
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        .each-ecs-persorgs-container > * {
            flex-shrink: 0;

        }
   
        .each-ecs-rich-text-content{
            padding : 0 7px 0 7px;
        }    

    }



</style>
