
{% block stylesheet %}

    <link href="/css/persorg-card.css" rel="stylesheet">

{% endblock %}


<div id="externalContributorsDisplay" class="">
        
    {% if userPresenter %}

        {% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "external_contributors", 'title': "Contributions externes", "editionMode" : "pp-edition-mode",} %}

            {% block editButtons %}
            
                {# Add an external contributor structure button (triggers a modal) #}
            
                <button type="button" data-bs-toggle="modal" data-bs-target="#add_ecs_form_modal" class="pp-edition-mode btn btn-light btn-sm me-2">+ Nouvelle partie</button> 

                {# button to access reorder ecs when more than two ecs #}

                {% if presentation.contributorStructures | length >= 2 %}

                    <a href="{{path('manage_all_ecs', {'stringId': stringId})}}" class="text-decoration-none">
                        
                        <button type="button" class="pp-edition-mode btn btn-light btn-sm" aria-label="Manage Order and Titles Button">

                            <img src="{{ asset('settings.svg', 'pp_wysiwyg')}}" alt="Manage Order and Titles Icon" height="17px">

                        </button>

                    </a>

                {% endif %}
            
            {% endblock %}

            {% block showDeleteElementsButtons %}{% endblock %}
    
        {% endembed %}

    {% endif %}
    

    <!-- ECS Display Container -->

    <div class="all-ecs-display-container pb-md-2" >

        {% if userPresenter %}
            
            {# Add a Persorg Form Displayed in a Modal Box #}
            {% include "persorgs/_add_form_modal.html.twig" with {'persorgForm': addPersorgForm} %}

        {% endif %}
            
        {%  for ecs in presentation.contributorStructures | filter((ecs) => ecs.type == "external") %}

        {# Each ECS display containers #}

            <div id="cs-{{ecs.id}}" class="each-ecs-display-container">

                {% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "external_contributors", 'title': ecs.title} %}

                    {% block editButtons %}
                    
                        {# Manage ecs button (title; thumbnails; rich text; deletion) #}

                        <a class="pp-edition-mode text-decoration-none" href="{{path('manage_one_cs', {'stringId': stringId, 'id_cs': ecs.id,})}}">

                            <button type="button" class="btn btn-light btn-sm">

                                <img class="img-fluid" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >

                            </button>
        
                        </a>
                        
                    {% endblock %}

                    {% block mainContent %}

                        {# ecs thumbnails #}

                        {% if ecs.persorgs | length > 0 %}

                            <div id="persorgs{{ecs.id}}" class="js-elements-list pp-struct-content each-ecs-persorgs-container">

                                {# Add a persorg button (mocks a thumbnail) #}

                                <div data-structure-id="{{ecs.id}}" data-bs-toggle="modal" data-bs-target="#add-persorg-modal" class="js-trigger-persorg-form-modal pp-edition-mode disabled me-2">

                                    <div class="persorg-card" style="height: 200px;">
                                        
                                        <div class="h-100 d-flex align-items-center justify-content-center">
                                                                    
                                            <div class="avatar-circle avatar-circle-100 mx-auto">

                                                <span class="avatar-initial avatar-initial-100">

                                                    +

                                                </span>

                                            </div>

                                        </div> 

                                    </div>

                                </div>

                                {% for persorg in ecs.persorgs %}

                                <div id="{{persorg.id}}" class="js-sortable-element persorg-card">
                
                                    <!-- Persorg Edition Path -->
                
                                    <a class='text-decoration-none text-body' href="{{path('edit_persorg', {'stringId': stringId, 'id_persorg': persorg.id})}}">
                
                                        <!-- Persorg Card Content --> 
                
                                        {% include "persorgs/_card.html.twig" %}
                                    
                                    </a>

                                                                        
                                    {# delete persorg (Red Cross) button #}

                                    <button type="button" data-elements-type="persorgs" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{persorg.id}}">&times</button>

                                </div>
                
                                {% endfor %}

                            </div>
                            
                        {% endif %}


                        {# ecs rich text content #}

                        {% if ecs.richtextContent is not empty %}

                            {% block stylesheets %}
                                <link href="/css/show_more_less_button.css" rel="stylesheet">
                            {% endblock %}

                            {% block javascripts %}

                                <script src="/js/show_more_less_button.js"></script>
                            
                            {% endblock %}

                            <div class="each-ecs-rich-text-content col-lg-10">

                                <div class="hide-too-long">
                                        
                                    {{ecs.richtextContent | sanitize_html}}

                                </div>

                            </div>
                        
                        {% endif %}

                    {% endblock %}

                {% endembed %}

            </div>
        
        {% endfor %}

    </div>

</div>
       
<script>

    // When user wants to create a new persorg, we post which Contributor Structure is concerned (in an hidden persorg form field)

    $(document).ready(function(){
        
        $( ".js-trigger-persorg-form-modal" ).click(function() {

            var parentContributorStructureId = $(this).data("structure-id");

            $("#persorg_parentStuctureId").val(parentContributorStructureId);
            
        });

    });

    
</script>


<style>
    
    .each-ecs-display-container{
        margin-bottom: 48px;
    }
    
    .each-ecs-display-container:last-child{
        margin-bottom: 0;
    }

    .each-ecs-persorgs-container{

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 10px;

    }

    .each-ecs-rich-text-content{
        padding : 0 20px 0 32px;
    }


    @media screen and (max-width: 580px) {

        .each-ecs-persorgs-container{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }      
   
        .each-ecs-rich-text-content{
            padding : 0 7px 0 7px;
        }    

    }



</style>
