
{% block stylesheet %}

<link href="/css/misc_data_list.css" rel="stylesheet">

{% endblock %}


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "data", 'title': "Quelques données",} %}

    {% macro misc_data_card_inner(dataName, dataValue, dataId, presentationId) %}

        <div class="text-body">
                                        
            <div class="name" data-text="Nom de la donnée (Ex: Budget)" data-edit='{"entity": "PPBase", "id": "{{presentationId}}",  "property": "dataList", "subid": "{{dataId}}", "subproperty":"name"}'>{{ dataName[:1]|upper ~ dataName[1:] }}</div>

            <div class="value ps-md-3" data-text="Contenu de la donnée (Ex: 1300 €))" data-edit='{"entity": "PPBase", "id": "{{presentationId}}",  "property": "dataList", "subid": "{{dataId}}", "subproperty":"value"}'>{{ dataValue[:1]|upper ~ dataValue[1:] }}</div>

        </div>
        
    {% endmacro %}

    {% block editButtons %}

        {# Add a data to the list - button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDataListItemFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        <div id="dataList" class="js-elements-list pp-struct-content row m-0 pb-0 pb-md-3">

            {% for data in presentation.getOC('dataList') %}

                <div id="{{data.id}}" class="js-sortable-element misc-data-card edit-mode-outline col-6 col-md-5">{{ _self.misc_data_card_inner(data.name, data.value, data.id, presentation.id) }}{% if userPresenter %}

                        {# Delete data item (Red Cross) button #}

                        <button type="button" data-elements-type="dataList" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{data.id}}">&times</button>

                    {% endif %}

                </div>
                
            {% endfor %}

        </div>


    {% endblock %}

{% endembed %}