
{% block stylesheet %}

<link href="/css/misc_data_list.css" rel="stylesheet">

{% endblock %}


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "data", 'title': "Quelques données",} %}

    {% macro misc_data_card_inner(dataName, dataValue) %}

        <div class="text-body">
                                        
            <div class="name">

                {{ dataName[:1]|upper ~ dataName[1:] }}

            </div>

            <div class="value ps-md-3">

                {{ dataValue[:1]|upper ~ dataValue[1:] }}  

            </div>

        </div>
        
    {% endmacro %}

    {% block editButtons %}

        {# Add a data to the list - button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDataListItemFormModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        <div id="dataList" class="js-elements-list pp-struct-content row m-0 pb-3">

            {% for data in presentation.getOC('dataList') %}

                <div id="{{data.id}}" class="js-sortable-element misc-data-card edit-mode-outline col-6 col-md-5">

                    {{ _self.misc_data_card_inner(data.name, data.value) }}

                    {% if userPresenter %}

                        {# Access edit page on click #}

                        <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'dataList', 'item_id': data.id})}}" class="pp-edition-mode coverable-link"></a>
                        
                        {# Delete data item (Red Cross) button #}

                        <button type="button" data-elements-type="dataList" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{data.id}}">&times</button>

                    {% endif %}

                </div>
                
            {% endfor %}

        </div>


    {% endblock %}

{% endembed %}