{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "data", 'title': "Quelques données",} %}

    {% block editButtons %}

        {# Add a data to the list - button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDataListItemFormModal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {% endblock %}

    {% block mainContent %}

        <div id="dataList" class="js-elements-list pp-struct-content row pb-3">

            {% for data in presentation.getOC('dataList') %}

                <div id="{{data.id}}" class="col-6 col-md-5 js-sortable-element dataCard">

                    <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'dataList', 'item_id': data.id})}}" class="w-100 h-100 text-decoration-none">

                        <div class="text-body">
                            
                            <div class="name">
                
                                {{ data.name }}
                
                            </div>

                            <div class="value ps-md-3">

                                {{ data.value }}  

                            </div>
                
                
                        </div>
                
                    </a>

                    {# delete data item (Red Cross) button #}

                    <button type="button" data-elements-type="dataList" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{data.id}}"></button>

                </div>
                
            {% endfor %}

        </div>

        <style>

            #dataList{

                padding-left: 50px;

            }

            .dataCard{
                position: relative;
                margin-bottom: 13px;
            }

            .dataCard .name{
                font-size: 18px;
                margin-bottom: 7px;
                font-weight: bold;
            }

            .dataCard .value{
                font-size: 17px;
                
                line-height: 1.05;
            }

                        
            @media screen and (max-width: 580px) {

                    
                #dataList{

                    padding-left: 8px;

                }

                .dataCard:nth-child(even){
                    padding-left: 5px;
                }

                .dataCard .name{
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1;
                    margin-bottom: 5px;
                }

                .dataCard .value{
                    font-size: 15px;
                    margin-bottom: 8px;
                    line-height: 1;
                }

            }






        </style>

    {% endblock %}

{% endembed %}