{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "data", 'title': "Quelques données",} %}

    {% block editButtons %}

        {# Add a data to the list - button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDataListItemFormModal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {% endblock %}

    {% block mainContent %}

        <div id="dataList" class="js-elements-list row g-3 ps-lg-5">

            {% for data in presentation.getOC('dataList') %}

                <div id="{{data.id}}" class="col-md-6 js-sortable-element position-relative mb-2">

                    <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'dataList', 'item_id': data.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none" style="font-size: 17px;;">

                        <div class="text-body">
                            
                            <span class="fw-bold">
                
                                {{ data.name }}
                
                            </span>
                
                            <br>

                            <div class="ps-md-3">

                                {{ data.value }}  

                            </div>
                
                
                        </div>
                
                    </a>

                    {# delete data item (Red Cross) button #}

                    <button type="button" data-elements-type="dataList" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{data.id}}"></button>

                </div>
                
            {% endfor %}

        </div>

    {% endblock %}

{% endembed %}