{% block stylesheet %}

<link href="/css/misc_data_list.css" rel="stylesheet">

{% endblock %}


{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "data", 'title': "Quelques données",} %}

    {# Card Content Macro #}

    {% macro misc_data_card_inner(data, presentationId) %}

        <div class="">

            {# Data Name #}
                                        
            <div class="name" data-text="Titre de la donnée (Ex: Budget)" data-edit='{"entity": "PPBase", "id": "{{presentationId}}",  "property": "dataList", "subid": "{{data.id}}", "subproperty":"name"}'>{{ data.name[:1]|upper ~ data.name[1:] }}</div>

            {# Indentation Container #}

            <div class="indentation-container">

                {# Data Value #}

                <div class="value" data-text="Contenu de la donnée (Ex: 1300 €))" data-edit='{"entity": "PPBase", "id": "{{presentationId}}",  "property": "dataList", "subid": "{{data.id}}", "subproperty":"value"}'>{{ data.value[:1]|upper ~ data.value[1:] }}</div>

                {# Data Date Created or Updated

                {% if data.createdAt is defined or data.updatedAt is defined %}
                                    
                    <div class="date">

                        {% if data.updatedAt is defined %}

                            Modifié le {{ data.updatedAt.date | date("Y-m-d") }}

                        {% elseif data.createdAt is defined %}
                            
                            Ajouté le {{ data.createdAt.date | date("Y-m-d") }}

                        {% else %}
                            
                            Date non précisée

                        {% endif %}

                    </div>

                {% endif %}   #}

            </div>


        </div>
        
    {% endmacro %}

    {% block editButtons %}

        {# Add a data to the list - button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#addDataListItemFormModal" class="pp-edition-mode plus-btn btn btn-light btn-sm me-3">+</button>

    {% endblock %}


    {% block mainContent %}

        <div id="dataList" class="js-elements-list pp-struct-content row m-0 pb-0 pb-md-3">

            {% for data in presentation.getOC('dataList') %}
            
                {% if loop.index == 3 and not userPresenter %}
                
                    <div class="collapse no-transition row px-0 mx-0" id="collapse-misc-data">

                {% endif %}

                <div id="{{data.id}}" class="js-sortable-element misc-data-card edit-mode-outline col-6 col-md-5 col-lg-6">{{ _self.misc_data_card_inner(data, presentation.id) }}{% if userPresenter %}
                    
                        {# Delete data item (Red Cross) button #}

                        <button type="button" data-elements-type="dataList" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{data.id}}">&times</button>

                    {% endif %}

                </div>

                
                {% if loop.last and loop.index > 2 and not userPresenter %}

                    </div>
                    
                    <div class="show-more-button-container container px-0 mt-3 mb-2" onclick="this.style.display = 'none'">

                        <a class="show-more-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-misc-data" aria-expanded="false" aria-controls="collapse-misc-data">Afficher plus</a>
                    
                    </div>
                
                {% endif %}
                
            {% endfor %}

            {# 
            
            <div class="show-details-text-container">

                <span class="js-show-misc-details show-details-text">Détails</span>
                    
                <script>

                    $( ".js-show-misc-details" ).on( "click", function() {

                        $( ".misc-data-card .date" ).toggle();                
                        
                    });

                </script> 

            </div> #}

        </div>

    {% endblock %}

{% endembed %}