
{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "news", 'title': "Actualités",} %}


    {% block editButtons %}

    {% endblock %}

    {% block deleteElementsButtons %}

        {% if countNews > 0 %}
        
            {{ parent() }}
        
        {% endif %}

    {% endblock %}

    {% block mainContent %}
                
        <div id="news" class="js-elements-list pp-struct-content">



            {% for news in presentation.news %}

                {% if news.updatedAt is not empty %}
                
                    {{news.updatedAt | formattedElapsedTime }}

                {% else %}

                    {{news.createdAt | formattedElapsedTime }}
                    
                {% endif %}

                

                {% set newsTextContent = news.textContent | raw %}

                {{ newsTextContent }}

                {% set hasImage = false %}

                {% if news.image1 is not empty %}une image !{% endif %}



                <pre>
                    {{ dump(news) }}
                </pre>
                
            {% endfor %}

        </div>



    {% endblock %}

{% endembed %}