{# Modal Box for Menu Buttons #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "non_default_structures_menu", 'modal_title': "Autres possibilités"} %}

    {# Menu Button Pattern #}

    {% macro menuButton(targetModalId, iconFile, title) %}
            
        <div data-bs-toggle="modal" data-bs-target="#{{targetModalId}}" data-bs-dismiss="modal" class="menu-button row">
                        
            <!-- Icon first Column-->
                            
            <div class="icon-container col-auto">
                
                <img class="" src="{{ asset(iconFile, 'pp_edition_menu')}}" alt="menu item icon" width="30" height="30">
                
            </div>

            <!-- Title Second Column -->
            
            <div class="title-container col">

                {{title}}

            </div>

        </div>

    {% endmacro %}

    {# Menu Button Display #}

    {% block modalBody %}

        <div class="container">

            <div class="row justify-content-around">
                
                {% if countQA == 0 %}
                
                    {{ _self.menuButton("add_qa_form_modal", "qa.svg", "Ajouter une foire aux questions (FAQ)") }}

                {% endif %}
                
                {% if countNeeds == 0 %}
                
                    {{ _self.menuButton("selectNeedTypeModal", "needs2.svg", "Présenter vos besoins") }}

                {% endif %}

                {% if countDocuments == 0 %}
                    
                    {{ _self.menuButton("addDocumentFormModal", "documents.svg", "Ajouter des documents") }}

                {% endif %}

                {% if countMiscDataList == 0 %}

                    {{ _self.menuButton("addDataListItemFormModal", "misc_data_list.svg", "Lister des données") }}

                {% endif %}

                {% if countECS == 0 %}
                
                    {{ _self.menuButton("add_ecs_form_modal", "external_contributors.svg", "Vos sponsors, partenaires, remerciements") }}

                {% endif %}

            </div>

        </div>

    {% endblock %}

    {% block footerButtons %}

    {% endblock %}

{% endembed %}

<style>
    
    .menu-button {

        width:200px;
        height:100px;
        
        margin-bottom: 10px;
        margin-top: 10px;

        border: 1px solid #dee2e6 !important;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        border-radius: 4px;

        cursor: pointer;
    }

    .icon-container {

        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .title-container {

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;

        text-align: center;
        
        font-weight: bold;
    
    }

</style>