
{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "geodomains", 'title': "Lieux du Projet",} %}


    {% block editButtons %}

        {# Manage places button #}

        <a class="pp-edition-mode text-decoration-none mx-3" href="{{ path('manage_places', {'stringId': presentation.stringId}) }}">

            <button class="btn btn-light">
                
                <img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >

            </button>

        </a>

    {% endblock %}

    {% block mainContent %}
                
        <div id="places" class="js-elements-list pp-struct-content">

            {% for place in presentation.places %}

                {# create a human readable place type #}
                {# ex: (City of) London (United Kingdom) #}

                {% set readablePlace = "" %}
                {% set readablePlaceDetails = "" %}

                {% if place.type =="locality" %}

                    {% set readablePlace = place.name ~  " (" ~ place.country ~ ")" %}

                    {% if place.postalCode is not empty %}

                        {% set readablePlace = place.name ~ " (" ~ place.postalCode ~ ")"~ " (" ~ place.administrativeAreaLevel1 ~ ")" ~ " (" ~ place.country ~ ")" %}
                    
                    {% endif %}       

                {% elseif place.type =="postal_code" %}

                    {# in this case, place.name is postal code #}

                    {% set readablePlace = place.locality ~ " (" ~ place.name ~ ")"~ " (" ~ place.administrativeAreaLevel1 ~ ")" ~ " (" ~ place.country ~ ")" %}

                {% elseif place.type =="street_number" %}

                    {% set readablePlace = place.locality ~ " (" ~ place.administrativeAreaLevel1 ~ ")" ~ " (" ~ place.country ~ ")" %}

                    {% set readablePlaceDetails = place.name %}

                {% elseif place.type == "route" %}

                    {% set readablePlace = place.locality ~ " (" ~ place.administrativeAreaLevel1 ~ ")" ~ " (" ~ place.country ~ ")" %}
                    
                    {% set readablePlaceDetails = "" %}

                {% elseif place.type == "sublocality_level_1" %}

                    {% set readablePlace = place.name ~ " (" ~ place.administrativeAreaLevel1 ~ ")" ~ " (" ~ place.country ~ ")" %}

                {% elseif place.type =="administrative_area_level_1" %}

                    {% set readablePlace = "Région " ~ place.name %}

                {% elseif place.type =="administrative_area_level_2" %}

                    {% set readablePlace = "Département : " ~ place.name %}

                {% elseif place.type =="country" %}

                    {% set readablePlace = place.name %}
                
                {% endif %}

                {# Place card display #}


                {# Place can be displayed in a modal on card click #}

                {% set modal_id = 'place-'~ place.id %}
                         
                {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': "", 'modal_size': "modal-lg"} %}

                    {% block modalBody %}

                        <div id="js-googleMap-{{place.id}}" style="width:100%;height:400px;"></div>

                    {% endblock %}

                    {% block footerButtons %}
                        
                        {% if userPresenter %}

                            <a href="{{ path('manage_places', {'stringId': presentation.stringId}) }}" class="pp-edition-mode text-decoration-none">
                                
                                <button type="button" class="btn btn-light">Modifier</button>
                        
                            </a>

                        {% endif %}
                     
                    {% endblock %}

                {% endembed %}

                <div id="{{place.id}}" class="js-sortable-element place-card col-12 col-md-7 col-lg-6">

                    <div data-bs-toggle="modal" data-bs-target="#{{modal_id}}" data-bs-dismiss="modal">

                        {{readablePlace}}

                        {% if readablePlaceDetails is not empty %}{# For example we got an address with a street number #}

                            <div class="place-details">
                                {{readablePlaceDetails}}
                            </div>
                        
                        {% endif %}

                    </div>
                    
                    {# delete place (Red Cross) button #}

                    <button type="button" data-elements-type="places" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{place.id}}">&times</button>

                </div>
                
            {% endfor %}


            {# Google Map Hydrate #}
                        
            <script>

                function myMap() {

                    {% for place in presentation.places %}

                        var mapProp= {
                        center:new google.maps.LatLng({{place.geoloc.lat}},{{place.geoloc.lng}}),
                        zoom:14,
                        };

                        var map = new google.maps.Map(document.getElementById("js-googleMap-{{place.id}}"), mapProp);

                    {% endfor %}
                }
                
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk&callback=myMap"></script>

        </div>

    <style>

        .place-card{

            position: relative;
            padding: 10px 15px 10px 17px;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;
            border-left: 3px solid yellowgreen;
            background-color: rgb(233, 250, 232);

        }

        .place-card:hover{
            background-color: inherit;
        }

        .place-details{

            font-size: 15px;

        }


        

        @media screen and (max-width: 580px) {


            .place-card{

                padding: 4px 15px 5px 17px;
                font-size: 16px;
                font-weight: normal;
                cursor: pointer;
                border-left: 3px solid yellowgreen;
                background-color: rgb(233, 250, 232);
    
            }

            .place-details{

                font-size: 13px;
            
            }


        }

    </style>


    {% endblock %}

{% endembed %}




