
{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "geodomains", 'title': "Lieux du Projet",} %}


    {% block editButtons %}

        {# Manage places button #}

        <a class="pp-edition-mode text-decoration-none" href="{{ path('manage_places', {'stringId': presentation.stringId}) }}">

            <img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
            
        </a>

    {% endblock %}

    {% block mainContent %}
                
        <div id="places" class="js-elements-list pp-struct-content">

            {% for place in presentation.places %}

                {# create a human readable place type #}

                {% set readablePlaceType = "" %}

                {% if place.type =="locality" %}

                    {% set readablePlaceType = "Ville : " %}

                {% elseif place.type =="administrative_area_level_1" %}

                    {% set readablePlaceType = "Région " %}

                {% elseif place.type =="administrative_area_level_2" %}

                    {% set readablePlaceType = "Département :" %}

                {% elseif place.type =="country" %}

                    {% set readablePlaceType = "" %}
                
                {% endif %}

                {# Place card display #}


                {# Place can be displayed in a modal on card click #}

                {% set modal_id = 'place-'~ place.id %}
                         
                {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': "", 'modal_size': "modal-lg"} %}

                    {% block modalBody %}

                        <div id="googleMap-{{place.id}}" style="width:100%;height:400px;"></div>
                                    
                        <script>

                            function myMap() {

                                var mapProp= {
                                center:new google.maps.LatLng({{place.latitude}},{{place.longitude}}),
                                zoom:5,
                                };
                                var map = new google.maps.Map(document.getElementById("googleMap-{{place.id}}"),mapProp);

                            }
                            
                        </script>

                    {% endblock %}

                {% endembed %}
                
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk&callback=myMap"></script>


                <div id="{{place.id}}" data-bs-toggle="modal" data-bs-target="#{{modal_id}}" data-bs-dismiss="modal" class="js-sortable-element col-12 col-md-7 col-lg-6 place-card">

                        {{readablePlaceType}} {{place.name | capitalize}}

                        {% if place.type == "locality" and place.postalCode is not empty  %}

                            ({{place.postalCode}})
                        
                        {% endif %}
                    
                    {# delete place (Red Cross) button #}

                    <button type="button" data-elements-type="places" class="js-delete-element delete-button pp-edition-mode btn" data-id="{{place.id}}">&times</button>

                </div>
                
            {% endfor %}

        </div>

    <style>

        .place-card{

            position: relative;
            padding: 10px 15px 10px 17px;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;
            border-left: 3px solid yellowgreen;
            background-color: rgb(233, 250, 232);

        }

        .place-card:hover{
            background-color: inherit;
        }

    </style>


    {% endblock %}

{% endembed %}




