
{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "geodomains", 'title': "Lieux du Projet",} %}

    {% block editButtons %}

        {# Manage places button #}

        <a class="pp-edition-mode text-decoration-none" href="{{ path('manage_places', {'stringId': presentation.stringId}) }}">

            <button class="pp-edition-mode btn btn-light btn-sm">Gérer</button>
        </a>

    {% endblock %}

    {% block mainContent %}
                
        <div id="places" class="js-elements-list ps-md-5">

            {% for place in presentation.places %}

                {# create a readable place type #}

                {% set readablePlaceType = "" %}

                {% if place.type =="locality" %}

                    {% set readablePlaceType = "Ville : " %}

                {% elseif place.type =="administrative_area_level_1" %}

                    {% set readablePlaceType = "Région " %}

                {% elseif place.type =="administrative_area_level_2" %}

                    {% set readablePlaceType = "Département :" %}

                {% elseif place.type =="country" %}

                    {% set readablePlaceType = "" %}
                
                {% endif %}

                {# Place card display #}

                <div id="{{place.id}}" class="js-sortable-element col-12 col-md-7 col-lg-6 place-card">

                        {{readablePlaceType}} {{place.name | capitalize}}

                        {% if place.type == "locality" and place.postalCode is not empty  %}

                            ({{place.postalCode}})
                        
                        {% endif %}
                    
                    {# delete place (Red Cross) button #}

                    <button type="button" data-elements-type="places" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{place.id}}"></button>

                </div>
                
            {% endfor %}

        </div>

    <style>

        .place-card{
            position: relative;
            padding: 5px;
            margin-bottom: 10px;
            background-color: aliceblue;
            font-size: 17px;
            font-weight: bold;

        }

    </style>
    {% endblock %}


{% endembed %}




