{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "questionsAnswers", 'title': "Questions & Réponses",} %}

{% block editButtons %}

    {# Add question & answer button (triggers a modal) #}

    <button data-bs-toggle="modal" data-bs-target="#add_qa_form_modal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {# Form Displayed in a Modal Box #}

    {% include "project_presentation/edit/other_components/questionsAnswers/_add_qa_form.html.twig" with {'form': addQAForm} %}

{% endblock %}

{% block mainContent %}

    {% set qas = presentation.getOC('questionsAnswers') %}

    {% if qas | length > 0 %}

        <div id="questionsAnswers" class="js-elements-list">

            {% for qa in qas %}

                <div id="{{qa.id}}" class="js-sortable-element position-relative cursor-pointer bg-success mb-2">

                    <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'questionsAnswers', 'item_id':qa.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                        <div class="p-3 text-white">
                            
                            <span class="fw-bold">
                
                                {{ qa.question }}
                
                            </span>
                
                            <br>
                
                            {{ qa.answer }}  
                
                        </div>
                
                    </a>
                    
                    {# delete question & answer (Red Cross) button #}

                    <button type="button" data-elements-type="questionsAnswers" class="js-delete-element pp-edition-mode position-absolute btn btn-danger" data-id="{{qa.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                </div>
                
            {% endfor %}

        </div>

    {% elseif userPresenter %}

        <div class="h-100 d-flex align-items-center justify-content-center">

            <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

        </div>
        
    {% endif %}


{% endblock %}


    
{% endembed %}