{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "questionsAnswers", 'title': "Questions & Réponses",} %}

    {% block editButtons %}

        {# Add question & answer button (triggers a modal) #}

        <button data-bs-toggle="modal" data-bs-target="#add_qa_form_modal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {% endblock %}

    {% block mainContent %}

        {% set qas = presentation.getOC('questionsAnswers') %}

        <div id="questionsAnswers" class="js-elements-list pp-struct-content">

            {% for qa in qas %}

                <!-- Question Display (with Collapse Symbol) -->

                <div id="{{qa.id}}" class="js-sortable-element position-relative mb-2 questionRow row collapsed" data-bs-toggle="collapse" href="#collapse-answer-{{ qa.id }}" role="button" aria-expanded="false" aria-controls="collapse-answer-{{ qa.id }}">
                      
                        <!-- Question -->

                        <div class="col-10 col-sm-11">

                            <span class="question">

                                {{ qa.question [:1] | upper ~ qa.question [1:] }}

                            </span>

                        </div>

                        <!-- Collapse Symbol -->

                        <div class="collapseSymbolDisplay col-2 col-sm-1">

                        </div>


                    <!-- Answer & Action Buttons Display -->

                    <div id="collapse-answer-{{ qa.id }}" class="answer-container collapse no-transition">

                        <div class="answer">
                            
                            {{ qa.answer [:1] | upper }}{{ qa.answer [1:] | nl2br }}

                            {# edit q&a button #}
                                    
                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'questionsAnswers', 'item_id':qa.id})}}" class="pp-edition-mode text-decoration-none ms-2">

                                <button type="button" class="btn btn-light btn-sm">Modifier</button>

                            </a>

                            {# delete question & answer button #}

                            <button type="button" data-elements-type="questionsAnswers" class="js-delete-element pp-edition-mode btn btn-light btn-sm" data-id="{{qa.id}}">Supprimer</button>
                        
                        </div>

                    </div>

                </div>

                <hr class="qa-separator">

            {% endfor %}

        </div>

        <style>
   
            .questionRow {
                margin-bottom: 28px;
            }
            
            .questionRow:hover {
                background-color: normal;
            }
        
            .question {
        
                font-size: 1.25em;
                line-height: 1.15em;
                font-weight: bold;
        
            } 

            .answer-container{

                padding: 20px 40px 15px 30px;
            }
        
            .answer {
        
                font-size: 1.15em;
                line-height: 1.5em;
        
            }

        
            .questionRow .collapseSymbolDisplay:after {
        
                font-size: 1.2rem !important;
                content: "▲";
            }
        
            .collapsed .collapseSymbolDisplay:after {
                content: "▼";
            }

            #questionsAnswers .qa-separator:last-child{
                display:none;
            }
            
    
            @media screen and (max-width: 580px) {
    
                .question{
        
                    font-size:16px;
                    line-height:20px;
        
                }

                .answer-container{

                    padding: 10px 20px 8px 20px;
                }
        
                .answer{
        
                    font-size: 16px;
                    line-height: 1.5em;
        
                }
    
                .questionRow .collapseSymbolDisplay:after {
        
                    font-size: 1rem !important;
    
                }

                .collapseSymbolDisplay{
                    
                    display: flex;
                    justify-content: end;
                }        
            }
        
        </style>
        
    {% endblock %}
    
{% endembed %}