{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "text_description", 'title': "Description du Projet",} %}

    {% block editButtons %}

        {# Edit Text Description Button #}

        <a class="pp-edition-mode text-decoration-none ms-2" href="{{ path('edit_pp_text_description', {'stringId': presentation.stringId}) }}">
                
            <img class="edit-icon d-lg-none" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
            
        </a>

    {% endblock %}

    {% block showDeleteElementsButtons %}{% endblock %}

    {% block mainContent %}

        <!-- Project Text Description Display -->

        <div id="text_description" class="pp-struct-content">

            {% set textDescription = presentation.textDescription %}
            
            {% set longText = false %}
            
            {% set length = textDescription | length %}

            {% if length > 300 %}
            
                {% set longText = true %}

            {% endif %}

            {# Text Description Display (2 cases : short text description; collapsible long text description) #}
            
            <div class="{{ longText ? 'long-text' }} container px-0 pl-md-3">

                <!-- Text Description (Display) -->

                <div id="collapseTextDescription" class="pp-text-description position-relative edit-hoverable-item {{ longText ? 'collapse no-transition'}}">

                    {{ textDescription | sanitize_html }}

                    <a class="pp-edition-mode coverable-link" href="{{ path('edit_pp_text_description', {'stringId': presentation.stringId}) }}"></a>

                </div>

                {% if longText %}
                    
                    <!-- Toggle Collapse Button -->

                    <div class="mt-4 mb-2">

                        <button style="z-index: index 5;" class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                
                {% endif %}

                
            </div>

        </div>

        <style>

            .edit-text-highlight{
                background-color: blue;
            }
                    
            .long-text button.collapsed:after {
                content: 'Afficher +';
            }
            
            .long-text button:not(.collapsed):after {
                content: 'Réduire';
            }
            
            .long-text #collapseTextDescription.collapse:not(.show) {
                
                display: block;
                
                height: 4.9em; /* height = lineheight * no of lines to display */

                overflow: hidden;

            }   

            .pp-text-description{
                font-size:1.15em;
            }

            @media screen and (max-width: 580px) {


                .long-text #collapseTextDescription.collapse:not(.show) {

                    height: 3em;

                }

                .pp-text-description{

                    font-size: 1.03em;
                }

            }
            
        </style>    

    {% endblock %}

{% endembed %}
