{# 
    
    Placeholder "Skeleton", only displayed for user presenter, in edition mode, when a presentation structure is void (example: no websites; or no documents; etc.)
    
#}

    <a {# Placeholder can trigger a modal, or target a route #}

        {% if addElementModal is defined %}
 
            data-bs-toggle="modal"
            
            data-bs-target="{{addElementModal ?? ""}}"
           

        {% elseif route is defined %}

            href="{{route}}"
        
        {% endif %}

        class="text-decoration-none"
    >

        <div class="inner-placeholder-container">
    
            <div class="placeholder-label">

                {{label | default ("")}}

            </div>

            <div class="placeholder-image-container">

                <img class="placeholder-image img-fluid" src="{{ asset(iconName ~'.svg', 'pp_wysiwyg')}}" alt="Placeholder for {{entityType | default ("an empty structure")}}" width="150" height="150">

            </div>
    
        </div>

    </a>


    <style>

        .inner-placeholder-container{

            height: 100%;
            padding: 7px 12px;
            
            border: 1px solid rgb(221, 221, 177);
            border-radius: 5px;
            
            cursor: pointer;

        }

                
        .inner-placeholder-container:hover{

            background-color: #ecebfc;

        }

        .placeholder-image-container{

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .placeholder-label{

            font-size: 18px;
            font-weight: bold;

            color: black;

        }

        @media screen and (max-width: 580px) {

            .placeholder-label{

                text-align: center;
                font-size: 15px;

            }
                
            .placeholder-image{
                width: 70px;
                height: 70px;
            }


        }

    </style>
