{# 
    
Skeleton to display a presentation structure content (ex : display websites; display needs; ...)
    
It contains :

    - structure icon
    - structure title
    - some buttons related to this structure (ex: add a website button)
    
#}

{% block structureTitle %} {# Title container with logo and edit button #}

    <div class="pp-struct-title-container {{additionalClasses ?? ""}}"> {# editionMode is empty or pp-consultation-mode #}

        <h3 class="pp-struct-title">
            
            {% block icon %}

                <img 
                
                    src= "{{ asset(iconName ~ '.svg', 'pp_consult') }}"
                    class= "pp-struct-icon"  
                    height= "27" 
                    width= "27" 
                    alt= "{% block iconName %}{% endblock %}"
                    
                >

            {% endblock %}

            {% block title %}<span class="me-2">{{title}}</span>{% endblock %}

            {% if userPresenter %}

                {% block editButtons %}{% endblock %}

                {% block showDeleteElementsButtons %}

                    <button type="button" class="pp-edition-mode show-delete-items-buttons inactivated btn btn-light btn-sm me-3" aria-label="Show delete element buttons">

                        <img src="{{ asset('trash.svg', 'pp_wysiwyg')}}"  alt="trash icon">

                        <span class="fw-bold">...</span>

                    </button>

                {% endblock %}

                {% block inFoButton %}

                {# Contextual Informations (triggers a modal) #}

                    <button data-bs-toggle="modal" data-bs-target="#global_modal" data-help-context="{{helpContext ?? ""}}" type="button" class="js-show-info-box pp-edition-mode btn btn-light btn-sm lh-1" aria-label="Show more info">

                        <div class="info-button-container">
                            <span class="info-button-letter">i</span>
                        </div>
                    
                    </button>
                
                {% endblock %}
                    
            {% endif %}

        </h3>

    </div>

    {% block mainContent %}{% endblock %}

{% endblock %}

{% block specificStyles %}{% endblock %}