{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "text_description", 'title': "Description du Projet",} %}

    {% block structureTitle %}{% endblock %}

    {% block mainContent %}

        <!-- Project Text Description Display -->

        <div id="text_description" class="pp-struct-content">

            {% set textDescription = presentation.textDescription %}
            
            {% set longTextSmallScreens = false %}
            {% set longTextLargeScreens = false %}

            {% if textDescription | length > 870 %}
            
                {% set longTextLargeScreens = true %}

            {% endif %}


            {% if textDescription | length > 300 %}
            
                {% set longTextSmallScreens = true %}

            {% endif %}

            {# Text Description Display (2 cases : short text description; collapsible long text description) #}
            
            <div id="read-text-description" class="{{ longTextLargeScreens or longTextSmallScreens ? 'long-text' }} container px-0 pl-md-3">

                <!-- Text Description (Display) -->

                <div id="collapseTextDescription" class="pp-text-description position-relative edit-hoverable-item {{ longTextSmallScreens ? 'collapse no-transition'}} {{ longTextLargeScreens ? 'collapse-lg'}} ">

                    {{ textDescription | sanitize_html ('default') }}

                    <a class="pp-edition-mode coverable-link" data-get-chunk='{"name": "edit_text_description", "target": "#text-descr-live-edition-container"}' data-chunk-params='{"idPP": "{{presentation.id}}"}'></a>

                </div>

                {% if longTextLargeScreens %}
                    
                    <!-- Toggle Collapse Button -->

                    <div class="d-none d-lg-block mt-4 mb-2">

                        <button style="z-index: index 5;" class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                
                {% endif %}

                {% if longTextSmallScreens %}
                    
                    <!-- Toggle Collapse Button -->

                    <div class="d-lg-none mt-3 mb-2">

                        <button style="z-index: index 5;" class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                
                {% endif %}

                
            </div>


        </div>

        {# Text Description Live Edition Container #}

        <div id="text-descr-live-edition-container" class="pp-edition-mode">

        </div>

        <script>
            $('#collapseTextDescription, #edit-text-description-icon').on('click', function (){
                $("#read-text-description").addClass("pp-consultation-mode");
            });
        </script>

        

        <style>

            .edit-text-highlight{
                background-color: blue;
            }
                    
            .long-text button.collapsed:after {
                content: 'Afficher +';
            }
            
            .long-text button:not(.collapsed):after {
                content: 'Réduire';
            }
            
            .long-text button:not(.collapsed) {
                margin-top: 13px;
            }

            .long-text #collapseTextDescription.collapse:not(.show) {
                
                display: block;
                /* height: 30em; height = lineheight * no of lines to display */
                overflow: hidden;

            }   
            
            #read-text-description .collapse:not(.collapse-lg){ /* when text is entirely displayed on large screens but not on small screens */

                display: block;
                height: 100%;

            }
            

            .pp-text-description{
                
                font-size:1.15em;
            }

            @media screen and (max-width: 580px) {


                .long-text #collapseTextDescription.collapse:not(.show), .long-text #collapseTextDescription.collapse-sm:not(.show) {

                    height: 4.4em;

                }

                .pp-text-description{

                    font-size: 1.03em;
                }

            }
            
        </style>    

    {% endblock %}

{% endembed %}
