{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "text_description", 'title': "Description du Projet",} %}

    {% block structureTitle %}{% endblock %}

    {% block mainContent %}

        <!-- Project Text Description Display -->

        <div id="text_description" class="pp-struct-content">

            {# Image Zoom Box #}
            <div id="image-zoom-result" class="img-zoom-result"></div>

            {% set textDescription = presentation.textDescription %}
            
            {% set longTextSmallScreens = false %}
            {% set longTextLargeScreens = false %}

            {% if textDescription | length > 780 %}
            
                {% set longTextLargeScreens = true %}

            {% endif %}


            {% if textDescription | length > 300 %}
            
                {% set longTextSmallScreens = true %}

            {% endif %}


            {# Text Description Display (2 cases : short text description; collapsible long text description) #}
            
            <div id="read-text-description" class="{{ longTextLargeScreens or longTextSmallScreens ? 'long-text' }} container">

                <!-- Text Description (Display & trigger edit for user presenter) -->

                <div id="collapseTextDescription" class="pp-text-description in-edition-mode position-relative edit-hoverable-item {{ longTextSmallScreens ? 'collapse no-transition'}} {{ longTextLargeScreens ? 'collapse-lg'}} ">

                    {{ textDescription | sanitize_html ('default') }}

                   {#  Sided (cause : can't find error after many trials) Live edition : this calls ajax.html.twig to edit text, via MiscController (ajaxRenderChunk method) #}

                    <a class="pp-edition-mode coverable-link" data-get-chunk='{"name": "edit_text_description", "target": "#text-descr-live-edition-container"}' data-chunk-params='{"idPP": "{{presentation.id}}"}'></a> 

                    {# <a class="pp-edition-mode coverable-link" href="{{path("edit_pp_text_description", {"stringId":stringId})}}"></a>#}

                </div>

                {% if longTextLargeScreens %}
                    
                    <!-- Toggle Collapse Button -->

                    <div class="d-none d-lg-block mt-4">

                        <button style="z-index: index 5;" class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                
                {% endif %}

                {% if longTextSmallScreens %}
                    
                    <!-- Toggle Collapse Button -->

                    <div class="d-lg-none mt-3">

                        <button style="z-index: index 5;" class="collapsed btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseTextDescription"></button>
                        
                    </div>
                
                {% endif %}

                
            </div>


        </div>

        {# Text Description Live Edition Container #}

        <div id="text-descr-live-edition-container" class="pp-edition-mode"></div>

        <script>

            // we enter live edit mode via above coverable link, but then we change display.

              $(document).ready(function(){

                $('#collapseTextDescription, #edit-text-description-icon').on('click', function (){

                    if ($(this).parents().hasClass('in-edition-mode')) { 
                        
                        $("#read-text-description").addClass("pp-consultation-mode");
            
                        $("#text-descr-live-edition-container").addClass("live-edit-session"); // we add this class to give full width to this container

                    }
                    
                });

            });


        </script>

        <script>

             $(document).ready(function(){

                //Format text description output

                //removing empty paragraphs

                $('#read-text-description p').each(function(){
                    if($.trim($(this).text()) == '' && $(this).children().length == 0){
                        $(this).hide(); 
                    }
                });

                //removing last visible paragraph or ul margin bottom
                // to do : here we remove each last of type (ul + p) margin, we should remove only p OR ul margin.

                $('#read-text-description p:visible:last, #read-text-description ul:visible:last').addClass('remove-margin-bottom');

             })

        </script>

        

        <style>

            #text_description{

                position: relative;
                padding: 20px 0;
            }



            #text_description .remove-margin-bottom{

                margin-bottom: 0;

            }


            #read-text-description{
                padding: 0 30px;
            }

            .edit-text-highlight{
                background-color: blue;
            }
                    
            .long-text button.collapsed:after {
                content: 'Afficher +';
            }
            
            .long-text button:not(.collapsed):after {
                content: 'Réduire';
            }
            
            .long-text button:not(.collapsed) {
                margin-top: 13px;
            }

            .long-text #collapseTextDescription.collapse-lg:not(.show) {
                
                display: block;
                max-height: 4.3em; /* height = lineheight * no of lines to display */
                overflow: hidden;

            }

            #collapseTextDescription:not(.collapse-lg) {

                display: initial;
                overflow: auto;
                height: 100%;

            }
            
            #read-text-description .collapse:not(.collapse-lg){ /* when text is entirely displayed on large screens but not on small screens */

                display: block;

            }            

            .pp-text-description{
                
                font-size: 1.08em;
            }

            #text-descr-live-edition-container.live-edit-session {

                width: 100%;
                height: 100%;

            }



            @media screen and (max-width: 1200px) {

                #read-text-description {
                    padding: 0px 5px;
                }

            }



            @media screen and (max-width: 580px) {

                    
                #text-descr-live-edition-container.live-edit-session {

                    width: 100%;
                    height: 360px;

                }

                            
                #text-description-struct-container {
                    padding-top: 0;
                    padding-bottom: 6px;
                }

                #text_description {
                    padding: 15px 0;
                }
                    
                #read-text-description{
                    padding: 0;
                }


                .long-text #collapseTextDescription.collapse:not(.show), .long-text #collapseTextDescription.collapse-sm:not(.show) {

                    display: block;
                    overflow: hidden;
                    height: 4.4em;

                }

                .pp-text-description{

                    font-size: 1.03em;
                }

            }
            
        </style>    

    {% endblock %}

{% endembed %}
