{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}

{% block stylesheets %}<link href="/css/places_autocomplete.css" rel="stylesheet">{% endblock %}

{% block title %}Lieux du Projet{% endblock %}

{% block mainContentTitle %}Gérer les lieux du projet{% endblock %}

{% block moreInfoButtonLabel %}Info{% endblock %}

{% block moreInfoContent %}

    Si votre projet est relié à des villes ou d'autres lieux (régions; pays; etc.), signalez les ici.

    <br>

    Pour modifier l'ordre des lieux, utilisez le glisser-dépposer (= drag and drop).

{% endblock %}


{% block mainContent %}



    <!-- Doesn't work on mobile disclaimer -->

    <div class="d-lg-none alert alert-warning fw-bold">
        L'ajout de lieux ne fonctionne pas sur certaines tablettes et smartphones. <br>
        Nous sommes désolés pour ce désagrément.
    </div>

    <!-- Place Search Bar -->

    <div>

        <form class="p-0 col-md-8 col-lg-6 mb-4" action="">

            <div class="mt-2">

                <input id="autocomplete" class="form-control" placeholder="Ajouter ici une ville; un département; une région; ou un pays" />

            </div>

        </form>

    </div>

    <!-- Feedback Box -->

    <div id="feedbackBox" class="col-sm-9">;-)</div>

    <!-- Project Places Table Display -->

        <table id="projectPlacesTable" class="table table-bordered table-hover rounded" style="{% if presentation.places | length == 0 %} display:none; {% endif %}">

            <thead>
                <tr>
                    <th id="">Type du lieu</th>
                    <th id="">Nom du lieu</th>
                    <th>Retirer ?</th>
                </tr>
            </thead>
    
            <tbody id="elements-list" data-elements-type="places">

            {% for place in presentation.places %}

                {# create a readable place type #}

                {% set readablePlaceType = "" %}

                {% if place.type =="locality" %}

                    {% set readablePlaceType = "Ville" %}

                {% elseif place.type =="sublocality_level_1" %}

                    {% set readablePlaceType = "Section de ville" %}

                {% elseif place.type =="administrative_area_level_1" %}

                    {% set readablePlaceType = "Région" %}

                {% elseif place.type =="administrative_area_level_2" %}

                    {% set readablePlaceType = "Département" %}

                {% else %}

                    {% set readablePlaceType = "Autres" %}
                
                {% endif %}
    
                <tr id="{{place.id}}" data-id="{{place.id}}" data-postal-code="{{place.postalCode}}" data-locality="{{place.locality}}" class="js-sortable-element cursor-pointer">  
                    
                    <td id="">{{ readablePlaceType | upper  }}</td>
                    <td id="">{{ place.name | upper }}</td>
                    <td class="py-2">
                        <button data-id="{{place.id}}" data-name="{{place.name}}" type="button" class="js-remove-place btn btn-danger btn-sm rounded fw-bold" data-dismiss="alert">&times;</button>
                    </td>
                    
                </tr>
                
            {% else %}
                <tr id="noResult">
                    <td class="fs-15" colspan="9">Aucun lieu n'est associé à  ce Projet</td>
                </tr>
            {% endfor %}
    
            </tbody>

        </table>

{% endblock %}

{% block seeResultAnchor %}places-struct-container{% endblock %}


{% block specificJavascripts %}

    {% include "project_presentation/edit/places/_js.html.twig" %}

{% endblock %}

{% endembed %}