
{# a slider of text and images to convice user to use Propon #}

{# Reusable caroussel slide template #}

{% macro carouselItem(title, imageFileName, imgAlt, textContent, isActive) %}

  <div class="carousel-item {{ isActive ? 'active' }}">

    <div class="container col-lg-11 px-0">
      
      <div class="row">
        
        {# Upper decoration : a coloured diagonal box #}

        <div class="diagonal-band-box col-12">

          <div class="diag title">{{title}}</div>

        </div>

        {# Image & Text content #}

        <div class="content-container row col-12 pe-0">

          {# Image content (left column for large screens) #}
          
          <div class="col-lg-5 img-container pe-0">

            <img class="" src="{{asset('homepage/rational_arguments_slider/' ~ imageFileName, 'larger')}}" alt="{{imgAlt}}" loading="lazy"> 

          </div>

          {# Text content (right column for large screens) #}

          <div class="col-lg-7 text-container">{{textContent}}</div>
        
        </div>
      
        {# Bottom decoration : a coloured waved box #}   

        <div class="wave-container">

          <div class="wave"></div>

        </div>

      </div>

    </div>

  </div>    

{% endmacro %}



{# Setting each slide Text content #}

{% set businessCard %}

  <div class="px-0">

    {# Large screens #}
  
    <p class="d-none d-md-block text-justify px-3" >

      ✔️ Obtenez <b>une adresse courte, gratuite, et personnalisée</b>. Elle est idéale à partager sur les forums et réseaux sociaux.

    </p>

    {# Tiny screens #}
  
    <p class="d-md-none text-center mb-0" >

      <b>Obtenez une adresse courte, personnalisée, et 100 % gratuite. Elle est idéale à partager sur les réseaux sociaux.</b>

    </p>

  </div>

{% endset %}

{% set advices %}
        
  <p class="text-justify px-lg-3 mb-0" >
      
    Utilisez nos <b>suggestions simples</b> et notre <b>modèle de page efficace</b>.

  </p>
    
{% endset %}

{% set summarize %}

  {# Large screens #}
    
  <p class="d-none d-md-block text-justify px-3 mb-3" >
    
    <b>Obtenez une présentation claire et résumée</b> de votre projet. <br><br> Elle <b>concentre toutes les informations utiles pour le comprendre et s'y intéresser</b> ✔️ 
    
  </p>

  {# Tiny screens #}

  <p class="d-md-none text-center mb-0" >
    
    <b>Obtenez LA présentation claire et résumée</b> de votre projet. Elle <b>concentre des informations essentielles pour le comprendre et s'y intéresser</b>.
    
  </p>

{% endset %}

{% set fast %}

  <div><b>Répondez à quelques questions BASIQUES</b> et BOOM la présentation de votre projet est<b> créée automatiquement</b>. Partagez <b>son adresse personnalisée et facile à retenir</b>.</div>

{% endset %}

{% set findResources %}
 
  <p class="d-relative text-center px-3" >Vous recherchez <b> des conseils, du matériel, des compétences</b> ?</p>

  <p class="d-relative text-center px-3" ><span class="highlight">Faites-le savoir, utilisez l'espace prévu</span>.</p>

{% endset %}

{% set linkNetworks %}
    
  <p class="px-3" >Si vous utilisez des réseaux pour votre projet, <b>exposez leur adresse</b>.</p>

{% endset %}

{% set improveVisibility %}
    
  <p class="px-3" >Une page Propon <b>améliore la visibilité de votre projet</b> sur le web.</p>

{% endset %}

{% set news %}
    
  <p class="px-3" ><b>Partagez des nouvelles si vous le souhaitez</b> : les visiteurs peuvent <b>suivre votre projet</b>.</p>

{% endset %}

{% set comments %}
  
  <p class="px-3" >Recevez des <b>suggestions</b> et des <b>commentaires</b> pour <b>favoriser la réussite de votre projet.</b></p>

{% endset %}

{% set donations %}
  
  <p class="px-3">Propon permet de <b>récolter des donations</b> pour votre projet.</p>

{% endset %}


{# Overall title #}
<div class="d-flex justify-content-center"><h3 class="arguments-slider-title">Pourquoi <span class="">Utiliser</span> Propon ?</h3></div> 


{# Actual Bootstrap slider template #}

<div id="rationalArgumentsCarousel" class="carousel container col-lg-8 d-flex align-items-center" data-bs-interval="false">

  <div class="carousel-inner d-flex align-items-center">

    <div>

      {# Calling and hydrating slide template with values #}

      {{ _self.carouselItem("Gagnez du temps", "lightning.svg", "Une icône de foudre qui symbolise la rapidité.", fast, true) }}

      {{ _self.carouselItem("Rassemblez l'Essentiel", "summarize.webp", "Un ensemble d'icônes qui symbolisent un résumé de présentation de projet.", summarize, false) }}

      {{ _self.carouselItem("Trouvez de l'Aide", "find_resources.webp", "Une pelle avec de jeunes arbres qui poussent, la pelle n'est encore utilisée par personne.", findResources, false) }}

      {{ _self.carouselItem("Suivre votre projet ?", "wifi.svg", "Un dessin qui comporte une onde radio synonyme de news.", news, false) }}
        
    </div>

  </div>

  {# Slider controls #}

  <button class="carousel-control-prev" type="button" data-bs-target="#rationalArgumentsCarousel" data-bs-slide="prev">

    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    <span class="visually-hidden">Previous</span>

  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#rationalArgumentsCarousel" data-bs-slide="next">

    <span class="carousel-control-next-icon" aria-hidden="true"></span>

    <span class="visually-hidden">Next</span>

  </button>

</div>

{# Styles for this slider #}

<style>

  #rationalArgumentsCarousel .carousel-control-prev, #rationalArgumentsCarousel .carousel-control-next {

    display: flex;
    top: unset;
    bottom: unset;
    z-index: 2;
    background-color: #94caff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    opacity: unset;
  }

  #rationalArgumentsCarousel .diag.title {

    text-transform: uppercase;
  }

  @media screen and (max-width: 580px) {

    #rationalArgumentsCarousel .carousel-control-prev, #rationalArgumentsCarousel .carousel-control-next {

      width: 50px;
      height: 50px;
    
    }

    #rationalArgumentsCarousel .carousel-control-prev-icon, #rationalArgumentsCarousel .carousel-control-next-icon {

      width: 16px;
        
    }

  }

  .arguments-slider-title  {

    margin-bottom: 17px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #efefff;
    padding: 17px 40px;
    border-radius: 0px;
    
  }

  .carousel-control-prev, .carousel-control-next {

    background-color: #9ccdfe;

  }

  .carousel-item{
    min-height: 420px;
  }

  .carousel-item .content-container {
    height: 300px;
    margin-bottom: 12px;
  }

  .img-container{

    display: flex;
    align-items: center;
    justify-content: center;

    height: inherit;
    z-index: 2;

  }

  .img-container img {

    max-height: 100%;
    max-width: 100%;

  }

  .text-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.25;

  }

  .carousel-item .diagonal-band-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: #9ccdfe;
    transform: skewY(-5deg);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .carousel-item .diag {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewY(4deg);
    font-size: 24px;
    font-weight: bold;
  }

  .wave-container {
    position: relative;
    background: #9ccdfe;
    height: 52px;
    margin-top: -15px;
  }

  .wave-container .wave {
    height: 36px;
    width: 100%;
    background: #9ccdfe;
    bottom: 0;
  }

  .wave-container .wave::before, .wave-container .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 94% 50%;
  }

  .wave-container .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
    
  .wave-container .wave::after {
    width: 55%;
    height: 100%;
    background-color: #9ccdfe;
    top: 31%;
    left: 0;
  }

@media screen and (max-width: 580px) {

  .arguments-slider-title {
	  font-size: 18px;
    padding: 12px 40px;
    margin-bottom: 15px;
  }

  #rationalArgumentsCarousel{
    padding: 0;
  }

  .carousel-item {
    height: 400px;
  }

  .carousel-item .content-container {
    height: unset;
    min-height: 310px;
    text-align: center;
    font-size: initial;
  }

  .carousel-item .diagonal-band-box {
    height: 38px;
    margin-bottom: 5px;
    transform: skewY(-3deg);
  }

  .carousel-item .diag {
    font-size: 17px;
    transform: skewY(3deg);
  }

  .carousel-item .img-container {
    margin-bottom: 0px;
  }

  .carousel-item .img-container img {
    height: 205px;
    max-width: 100%;
  }

  .carousel-item .text-container {
    font-size: 16px;
  }

  
  .wave-container {
    height: 29px;
    margin-top: -4px;
  }


  .wave-container .wave {
    height: 23px;
  }

  .carousel-item .diagonal-band-box {

    margin-top: 13px;
  }

}

</style>