{% macro carouselItem(title, imageFileName, imgAlt, textContent, isActive) %}

    <div class="carousel-item {{ isActive ? 'active' }}">

      <div class="container col-lg-11 px-0">
        
        <div class="row">
          
          {# Upper decoration : diagonal box #}

          <div class="diagonal-band-box col-12">

            <div class="diag title">{{title}}</div>

          </div>

          <div class="content-container row col-12 pe-0">
            
            <div class="col-lg-5 img-container pe-0">
                <img class="" src="{{asset('homepage/rational_arguments_slider/' ~ imageFileName, 'larger')}}" alt="{{imgAlt}}" loading="lazy">  
            </div>

            <div class="col-lg-7 text-container">{{textContent}}</div>
          
          </div>
          
            {# Bottom decoration : waved box #}   

            <div class="wave-container">

              <div class="wave"></div>

            </div>

        </div>

      </div>

    </div>    

{% endmacro %}

{% set businessCard %}

    <div class="px-0">
    
      <p class="d-none d-md-block text-justify px-3" >

        ✔️ Obtenez <b>une adresse courte, gratuite, et personnalisée</b>. Elle est idéale à partager sur les forums et réseaux sociaux.

      </p>
    
      {# <p class="d-none d-md-block text-justify px-3" >
        
        ❌ <b>Ne soyez plus gênés</b> lorsqu'on vous demande une présentation simple et rapide de votre projet.

      </p> #}
    
      <p class="d-md-none text-center mb-0" >

        <b>Obtenez une adresse courte, personnalisée, et 100 % gratuite. Elle est idéale à partager sur les réseaux sociaux.</b>

      </p>

      {# <div class="col text-center">
      
        <a href="{{ path ('create_presentation') }}"><button class="btn btn-outline-success" type="button">+ Présenter mon Projet</button></a>
      
      </div> #}

    </div>


{% endset %}

{% set advices %}

    {# <h4 class="text-center fw-bold mb-4">🤔 En panne d'inspiration ?</h4> #}
        
    <p class="text-justify px-lg-3 mb-0" >
        
      {# Pas toujours facile de présenter son projet. #} Utilisez nos <b>suggestions simples</b> et notre <b>modèle de page efficace</b>.

    </p>
    
{% endset %}

{% set summarize %}

    
      {# <h4 class="d-none d-md-block text-center fw-bold mb-3"><u>On Aime tous les résumés</u></h4>

      <h4 class="d-md-none text-center fw-bold mb-2 fs-5"><u>On Aime tous les résumés</u></h4> #}
    
      <p class="d-none d-md-block text-justify px-3 mb-3" >
        
        ✔️ <b>Obtenez une présentation claire et résumée</b> de votre projet. <br><br> Elle <b>concentre toutes les informations utiles pour le comprendre et s'y intéresser.</b>
        
        {# <br><br>

        ❌ Trop d'informations présentées ou éparpillées, c'est le risque d'<b>abandonner la lecture</b> ou <b>ne pas comprendre votre projet</b>. #}
        
      </p>
    
      <p class="d-md-none text-center mb-0" >
        
        <b>Obtenez LA présentation claire et résumée</b> de votre projet. Elle <b>concentre toutes les informations utiles pour le comprendre et s'y intéresser</b>.
        
      </p>

      {# <div class="col text-center">
      
        <a href="{{ path ('create_presentation') }}"><button class="btn btn-outline-success" type="button">+ Présenter mon Projet</button></a>
      
      </div> #}


{% endset %}

{% set fast %}

  <div><b>Répondez simplement à quelques questions basiques</b> : la présentation de votre projet est<b> créée automatiquement</b>.</div>

{% endset %}

{% set findResources %}
    
    <h3 class="d-none d-md-block text-center fw-bold mb-4 h4">🙋‍♀️ PRÉSENTEZ VOS BESOINS</h3>
    
    {#  <p class="d-none d-md-block text-justify px-3 mb-4 mb-md-2" >Faites la liste de vos besoins et <b>trouvez de l'aide pour faire progresser votre projet</b>. Les visiteurs intéressés peuvent vous contacter par messages privés. Service gratuit ;-)</p> #}
    
    <p class="text-center px-3" >Vous recherchez <b>des compétences, du matériel, des conseils</b> ? Faites-le savoir dans la partie prévue pour cela.</p>

    {# <div class="col text-center mt-md-3">
      
        <a href="{{ path ('create_presentation') }}"><button class="btn btn-outline-success" type="button">+ Présenter mon Projet</button></a>
      
    </div> #}

{% endset %}

{% set linkNetworks %}
    
  <p class="px-3" >Si vous utilisez des réseaux pour votre projet, <b>exposez leur adresse</b>.</p>

{% endset %}

{% set improveVisibility %}
    
  <p class="px-3" >Une page Propon <b>améliore la visibilité de votre projet</b> sur le web.</p>

{% endset %}


{% set news %}
    
  <p class="px-3" >Les personnes qui <b>suivent votre projet</b> sont <b>automatiquement notifiées</b> des nouvelles que vous publiez.</p>

{% endset %}

{% set comments %}
  
  <p class="px-3" >Recevez des <b>suggestions</b> et des <b>commentaires</b> pour <b>favoriser la réussite de votre projet.</b></p>

{% endset %}

{% set donations %}
  
  <p class="px-3">Propon permet de <b>récolter des donations</b> pour votre projet.</p>

{% endset %}



<div class="d-flex justify-content-center"><h3 class="arguments-slider-title">Pourquoi <span class="d-md-none">Utiliser</span><span class="d-none d-md-inline">Présenter son Projet sur</span> Propon ?</h3></div> 

<div id="rationalArgumentsCarousel" class="carousel container col-lg-8 d-flex align-items-center" data-bs-interval="false">

  <div class="carousel-inner d-flex align-items-center">

    <div>

      {{ _self.carouselItem("Gagnez du temps", "lightning.svg", "Une icône de foudre qui symbolise la rapidité.", fast, true) }}

      {{ _self.carouselItem("Activez les donations", "euro_donation.webp", "Deux mains différentes avec une pièce en euros entre ces mains.", donations, false) }}

      {{ _self.carouselItem("Partagez des nouvelles", "wifi.svg", "Un dessin qui comporte une onde radio synonyme de news.", news, false) }}

      {{ _self.carouselItem("Recevez des avis", "comment.png", "", comments, false) }}

      {{ _self.carouselItem("Facile & Basique", "advices.webp", "Une jeune femme debout qui plie son coude et tend son doigt vers le haut.", advices, false) }}

      {{ _self.carouselItem("Rassemblez l'Essentiel", "summarize.webp", "Un ensemble d'icônes qui symbolisent un résumé de présentation de projet.", summarize, false) }}

{#       {{ _self.carouselItem("Votre « Carte de Visite »", "business_card.webp", "Une main qui tend une carte de visite. En bas à droite de l'image on a une adresse web propon de page de projet, cette adresse prend peu d'espace en terme de caractères.", businessCard, false) }} #}

      {# {{ _self.carouselItem("Trouver de l'Aide", "find_resources.webp", "Une pelle avec de jeunes arbres qui poussent, la pelle n'est encore utilisée par personne.", findResources, false) }}
 #}



      {# {{ _self.carouselItem("Relier les Réseaux", "link_networks.webp", "Des icônes de réseaux sociaux qui sont reliée à une page de projet sur propon.", linkNetworks, false) }} #}

     {#  {{ _self.carouselItem("👁️ Gagner en Visibilité", "improve_visibility.webp", "Une jeune fille maintient trois ballons colorés qui représentent un joli projet, un homme les montre du doigt.", improveVisibility, false) }} #}
        
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#rationalArgumentsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#rationalArgumentsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


<style>

  #rationalArgumentsCarousel .carousel-control-prev, #rationalArgumentsCarousel .carousel-control-next {

    display: flex;
    top: unset;
    bottom: unset;
    z-index: 2;
    background-color: #94caff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    opacity: unset;
  }


  #rationalArgumentsCarousel .diag.title {

    text-transform: uppercase;
  }





  @media screen and (max-width: 580px) {

    #rationalArgumentsCarousel .carousel-control-prev, #rationalArgumentsCarousel .carousel-control-next {

      width: 50px;
      height: 50px;
    
    }

    #rationalArgumentsCarousel .carousel-control-prev-icon, #rationalArgumentsCarousel .carousel-control-next-icon {

      width: 16px;
        
    }

  }

  .arguments-slider-title  {

    margin-bottom: 17px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffffa4;
    padding: 17px 40px;
    border-radius: 75px;
    
  }

  .carousel-control-prev, .carousel-control-next {

    background-color: #9ccdfe;

  }


  .carousel-item{
    min-height: 420px;
  }

  .carousel-item .content-container {
    height: 300px;
    margin-bottom: 12px;
  }


.img-container{

  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  z-index: 2;

}

.img-container img {

  max-height: 100%;
  max-width: 100%;

}

.text-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.25;

}


.carousel-item .diagonal-band-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
	background-color: #9ccdfe;
	transform: skewY(-5deg);
	margin-top: 30px;
	margin-bottom: 10px;
}

.carousel-item .diag {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: skewY(4deg);
	font-size: 24px;
	font-weight: bold;
}


  .wave-container {
    position: relative;
    background: #9ccdfe;
    height: 52px;
    margin-top: -15px;
  }

  .wave-container .wave {
    height: 36px;
    width: 100%;
    background: #9ccdfe;
    bottom: 0;
  }

  .wave-container .wave::before, .wave-container .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 94% 50%;
  }

  .wave-container .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  
.wave-container .wave::after {
	width: 55%;
	height: 100%;
	background-color: #9ccdfe;
	top: 31%;
	left: 0;
}




@media screen and (max-width: 580px) {

  .arguments-slider-title {
	  font-size: 18px;
    padding: 12px 33px;
    margin-bottom: 15px;
  }

  #rationalArgumentsCarousel{
    padding: 0;
  }

  .carousel-item {
    height: 400px;
  }

  .carousel-item .content-container {
    height: unset;
    min-height: 310px;
    text-align: center;
    font-size: initial;
  }

  .carousel-item .diagonal-band-box {
    height: 38px;
    margin-bottom: 5px;
    transform: skewY(-3deg);
  }

  .carousel-item .diag {
    font-size: 17px;
    transform: skewY(3deg);
  }

  .carousel-item .img-container {
    margin-bottom: 0px;
  }

  .carousel-item .img-container img {
    height: 205px;
    max-width: 100%;
  }

  .carousel-item .text-container {
    font-size: 16px;
  }

  
  .wave-container {
    height: 29px;
    margin-top: -4px;
  }


  .wave-container .wave {
    height: 23px;
  }


  .carousel-item .diagonal-band-box {

    margin-top: 13px;
  }

}

</style>