
<div class="project-by-categories">

    {# Decorated Title #}

    <h3 class="d-flex align-items-center justify-content-center fw-bold">{# <img id="" class="me-3" src="{{ asset('telescope.png', 'misc')}}" alt="telescope icon" width="37" height="37"> #}<span class="">EXPLORER PROPON</span></h3>

    {# Tabs Nav #}

    <div class="nav" id="v-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link " href="#" id="v-history-tab" data-bs-toggle="pill" data-bs-target="#v-history" type="button" role="tab" aria-controls="v-history" aria-selected="false"><img class="collection-icon" src="{{asset ("collection_categories/amphora.svg", 'icons')}}" alt="An icon representing the project category" width = "20">Histoire
            
        </a>

        <a class="nav-link " href="#" id="v-space-tab" data-bs-toggle="pill" data-bs-target="#v-space" type="button" role="tab" aria-controls="v-space" aria-selected="false"><img class="collection-icon" src="{{asset ("collection_categories/plane.svg", 'icons')}}" alt="An icon representing the project category" width = "20">Aéronautique
            
        </a>

        <a class="nav-link " href="#" id="v-numeric-tab" data-bs-toggle="pill" data-bs-target="#v-numeric" type="button" role="tab" aria-controls="v-numeric" aria-selected="false"><img class="collection-icon" src="{{asset ("collection_categories/computer.svg", 'icons')}}" alt="An icon representing the project category" width = "20">Numérique</a>

        <a class="nav-link " href="#" id="v-inform-tab" data-bs-toggle="pill" data-bs-target="#v-inform" type="button" role="tab" aria-controls="v-inform" aria-selected="false">📘 Informer - Apprendre
            
        </a>

        <a class="nav-link " href="#" id="v-environment-tab" data-bs-toggle="pill" data-bs-target="#v-environment" type="button" role="tab" aria-controls="v-environment" aria-selected="false"><img class="collection-icon" src="{{asset ("collection_categories/leaf.svg", 'icons')}}" alt="An icon representing the project category" width = "20">Environnement
        
        </a>

        <a class="nav-link " href="#" id="v-humane-tab" data-bs-toggle="pill" data-bs-target="#v-humane" type="button" role="tab" aria-controls="v-humane" aria-selected="false">✊🏻✊🏽✊🏿 Solidarité
            
        </a>

        <a class="nav-link " href="#" id="v-db-tab" data-bs-toggle="pill" data-bs-target="#v-db" type="button" role="tab" aria-controls="v-db" aria-selected="false"><img class="collection-icon" src="{{asset ("collection_categories/network.svg", 'icons')}}" alt="An icon representing the project category" width = "20">Bases de Données
            
        </a>

    </div>

    {# Tabs Content #}

    <div class="tab-content" id="v-tabContent">

        <div class="tab-pane fade show active" id="v-history" role="tabpanel" aria-labelledby="v-home-tab" tabindex="0">{{ render(path('backend_search', {label: 'Histoire et Patrimoine', class: 'tab-result', filters: '(categories.uniqueName:history)', iconName: 'amphora'})) }}</div>

        <div class="tab-pane fade" id="v-numeric" role="tabpanel" aria-labelledby="v-profile-tab" tabindex="1">{{ render(path('backend_search', {label: 'Numérique', class: 'tab-result', filters: '(categories.uniqueName:software)', iconName: 'computer' })) }}</div>

        <div class="tab-pane fade" id="v-inform" role="tabpanel" aria-labelledby="v-disabled-tab" tabindex="2">{% cache "cat2" ttl(21600) %}{{ render(path('backend_search', {label: 'Informer, Éduquer, Apprendre', class: 'tab-result', filters: '(categories.uniqueName:inform)', iconName: 'book'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-space" role="tabpanel" aria-labelledby="v-messages-tab" tabindex="3">{% cache "cat3" ttl(21600) %}{{ render(path('backend_search', {label: 'Préserver l\'Environnement', class: 'tab-result', filters: '(categories.uniqueName:space)', iconName: 'plane'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-environment" role="tabpanel" aria-labelledby="v-messages-tab" tabindex="4">{% cache "cat4" ttl(21600) %}{{ render(path('backend_search', {label: 'Préserver l\'Environnement', class: 'tab-result', filters: '(categories.uniqueName:environment)', iconName: 'leaf'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-humane" role="tabpanel" aria-labelledby="v-settings-tab" tabindex="5">{% cache "cat5" ttl(21600) %}{{ render(path('backend_search', {label: '✊🏻✊🏽✊🏿 Solidarité', class: 'tab-result' , filters: '(categories.uniqueName:humane)', iconName: 'none'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-db" role="tabpanel" aria-labelledby="v-db-tab" tabindex="6">{% cache "cat6" ttl(21600) %}{{ render(path('backend_search', {label: 'Bases de Données', class: 'tab-result' , filters: '(categories.uniqueName:data)', iconName: 'network' } ) ) }}{% endcache %}</div>

    </div>

</div>

<script>

    $('.project-by-categories .nav-link').on('click', function(){
        $(".project-by-categories .nav-link").removeClass('selected');
        $(this).addClass('selected');
    });

</script>

<style>

/* Title Decoration */
    
.project-by-categories h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    white-space: nowrap;
}

.project-by-categories h3:before {
	display: inline-block;
	margin: 0 20px 0 0;
	height: 6px;
	content: " ";
	text-shadow: none;
	background-color: #26a421;
	width: 38%;
}

.project-by-categories h3:after {
    display: inline-block;
    margin: 0 0 0 20px;
    height: 6px;
    content: " ";
    text-shadow: none;
    background-color: #26a421;
    width: 38%;
}

/* End of Title Decoration */

.project-by-categories .nav{
    display: flex;
    justify-content: center;
}

.project-by-categories .nav-link {
    display: flex;
    font-size: 18px;
    color: #1d77d7;
    border : 1px solid #acbbf5;
    margin-right: 7px;
    border-radius: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.project-by-categories .nav-link.selected {
	background-color: #eeeef4;
	color: #392d72;
}

.project-by-categories .nav-link:hover {
    background-color: #f3fcff;
}

  
.project-by-categories .nav-link img{

    width: 24px;

}    

@media screen and (max-width: 580px) {

    .project-by-categories h3{
        font-size: 14px;
        margin-bottom: 25px;
    }


    .project-by-categories h3:before {
        margin: 0 20px 2px 0;
        height: 4px;
        width: 20%;
    }

    .project-by-categories h3:after {
        margin: 0 0 2px 20px;
        height: 4px;
        width: 20%;
    }

    .project-by-categories h3 img{
        width: 22px;
        height: 22px;
    }
                
    .project-by-categories .nav {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content : start;
    }

    .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .project-by-categories .nav-link{
        border : 1px solid #acbbf5;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        border-radius: 40px;
    }

}

</style>
