{# User can display projects by categories (tabs navigation) #}
{# Ex: user can select the "history" tab (displaying some projects about history); the "environment" tab; and so on #}

<div class="project-by-categories">

    {# Tabs Navigation Buttons by project Categories #}

    <div class="nav" id="v-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link selected" href="#" id="v-all-tab" data-bs-toggle="pill" data-bs-target="#v-all" type="button" role="tab" aria-controls="v-all" aria-selected="false">Tous les projets
            
        </a>

        <a class="nav-link " href="#" id="v-history-tab" data-bs-toggle="pill" data-bs-target="#v-history" type="button" role="tab" aria-controls="v-history" aria-selected="false">Histoire
            
        </a>

        <a class="nav-link " href="#" id="v-space-tab" data-bs-toggle="pill" data-bs-target="#v-space" type="button" role="tab" aria-controls="v-space" aria-selected="false">Aéronautique
            
        </a>

        <a class="nav-link " href="#" id="v-numeric-tab" data-bs-toggle="pill" data-bs-target="#v-numeric" type="button" role="tab" aria-controls="v-numeric" aria-selected="false">Numérique</a>

        <a class="nav-link " href="#" id="v-inform-tab" data-bs-toggle="pill" data-bs-target="#v-inform" type="button" role="tab" aria-controls="v-inform" aria-selected="false">Informer - Apprendre
            
        </a>

        <a class="nav-link " href="#" id="v-environment-tab" data-bs-toggle="pill" data-bs-target="#v-environment" type="button" role="tab" aria-controls="v-environment" aria-selected="false">Environnement
        
        </a>

        <a class="nav-link " href="#" id="v-humane-tab" data-bs-toggle="pill" data-bs-target="#v-humane" type="button" role="tab" aria-controls="v-humane" aria-selected="false">Solidarité
            
        </a>

        <a class="nav-link " href="#" id="v-db-tab" data-bs-toggle="pill" data-bs-target="#v-db" type="button" role="tab" aria-controls="v-db" aria-selected="false">Bases de Données
            
        </a>

    </div>

    {# Tabs Contents #}
    {# Making some calls to backend in order to retrieve projects sorted by categories #}

    <div class="tab-content" id="v-tabContent">

        <div class="tab-pane fade" id="v-all" role="tabpanel" aria-labelledby="" tabindex="0">{% cache "catAllPP" ttl(86400) %}{{ render(url('backend_search', {label: '', class: 'tab-result', filters: 'none', iconName: 'amphora', label: 'Tous les Projets'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-history" role="tabpanel" aria-labelledby="" tabindex="0">{% cache "cat0" ttl(86400) %}{{ render(url('backend_search', {label: 'Histoire et Patrimoine', class: 'tab-result', filters: '(categories.uniqueName:history)', iconName: 'amphora'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-numeric" role="tabpanel" aria-labelledby="" tabindex="1">{% cache "cat1" ttl(86400) %}{{ render(url('backend_search', {label: 'Numérique', class: 'tab-result', filters: '(categories.uniqueName:software)', iconName: 'computer' })) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-inform" role="tabpanel" aria-labelledby="" tabindex="2">{% cache "cat2" ttl(86400) %}{{ render(url('backend_search', {label: 'Informer, Éduquer, Apprendre', class: 'tab-result', filters: '(categories.uniqueName:inform)', iconName: 'book'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-space" role="tabpanel" aria-labelledby="" tabindex="3">{% cache "cat3" ttl(86400) %}{{ render(url('backend_search', {label: 'Préserver l\'Environnement', class: 'tab-result', filters: '(categories.uniqueName:space)', iconName: 'plane'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-environment" role="tabpanel" aria-labelledby="" tabindex="4">{% cache "cat4" ttl(86400) %}{{ render(url('backend_search', {label: 'Préserver l\'Environnement', class: 'tab-result', filters: '(categories.uniqueName:environment)', iconName: 'leaf'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-humane" role="tabpanel" aria-labelledby="" tabindex="5">{% cache "cat5" ttl(86400) %}{{ render(url('backend_search', {label: '✊🏻✊🏽✊🏿 Solidarité', class: 'tab-result' , filters: '(categories.uniqueName:humane)', iconName: 'none'})) }}{% endcache %}</div>

        <div class="tab-pane fade" id="v-db" role="tabpanel" aria-labelledby="" tabindex="6">{% cache "cat6" ttl(86400) %}{{ render(url('backend_search', {label: 'Bases de Données', class: 'tab-result' , filters: '(categories.uniqueName:data)', iconName: 'network' } ) ) }}{% endcache %}</div>

    </div>

</div>

<script>

    // Highlight current selected tab

    $('.project-by-categories .nav-link').on('click', function(){
        $(".project-by-categories .nav-link").removeClass('selected');
        $(this).addClass('selected');
    });

</script>
