{% extends 'base.html.twig' %}

{% block title %}Propon{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3 col-xxl-12">

    {# Displaying registered user presentations #}

    {% if app.user %}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations | length == 0 %} {# No presentation, we display an invite to present a project #}

        <div class="no-project-container">

          <h5 class="fs-4 fw-bold mb-2 mb-md-4">Bienvenue ;-)</h5>

          <p class="fs-5">
            Pour présenter votre projet, c'est <a href="{{path ('create_presentation')}}"> <span class="badge bg-primary fw-bold" >ici</span></a>
          </p>



        </div>

        <style>

          /* When authenticated user has not created any presentation */

          .no-project-container {
            width: 100%;
            height: 170px;
            padding: 35px;
            border: 2px solid rgb(230, 230, 223);
            border-radius: 4px;
          }
          
          @media screen and (max-width: 580px) {
                  
            .no-project-container {
              height: 130px;
              padding: 15px;
            }

          }
    
        </style>

      {% endif %}

      {% if user_presentations | length > 0 %}

        {{ display.collection("", user_presentations | reverse, "user-presentations") }} {# collection title managed in macro #}

        <style>

          .user-presentations {
            margin-top: 11px;
          }
          
          @media screen and (max-width: 580px) {
                  
            .user-presentations {
              margin-top: 0px;
            }
          }
    
        </style>

      {% endif %}

    {% endif %}

    {# Case user not logged in : displaying homepage jumbotron #}

    {% if not app.user %}

      <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

    {% endif %}

    {# basic pool alert display #}
    {% include "home/_basic_pool_alert.html.twig" %}
    
    <div>

      {# Editor's Choice presentations #}

      {{ render(path('get_picked_elements', {label: 'Projets à la une'})) }}

    </div>

    {# Search Bar container #}

    <div class="container col-xxl-11 mb-3">
      
      {% include "home/_search_container.html.twig" %}

    </div>

    {# some presentations by category #}

    {{ render(path('backend_search', {label: 'Protéger l\'Environnement', filters: '(categories.uniqueName:environment)'})) }}
        
    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: 'Projets Informatiques', filters: '(categories.uniqueName:software)'})) }}

    {# A Google Map Image to Access Geosearch #}


    <div class="container access-geosearch px-2 d-none d-sm-block">

      <h3 class="fw-bold text-center mb-4">Afficher la carte des projets</h3>

      <style>

        .container.access-geosearch{
          margin-bottom: 80px;
        }

        @media screen and (max-width: 580px) {

          .container.access-geosearch{
            margin-bottom: 40px;
          }

          .container.access-geosearch h3{
            font-size:1.17em;
          }

        }

      </style>

      <img src="{{asset ('misc/project-map.jpg', 'larger')}}" class="js-display-geosearch d-block mx-lg-auto img-fluid" style="border-radius:4px; cursor:pointer;" alt="A Map with some markers on it" loading="lazy" width="600">

      <script>

        $(".js-display-geosearch").on("click", function() {

          $("#main-body-container").addClass("visually-hidden");

          $(".ais-InstantSearch").show(); //display search results panel

          window.scrollTo(0, 0); //view goes to correct location

          if(tinyScreen){ //delared in base.html.twig

            $("#searchbox").css('display','none'); // otherwise filter panel can mess up, and searchbox is already accessible in navheader.

          }

          $(".js-toggle-geosearch-map").click(); //display geosearch map
          
        });

      </script>

    </div>
    

    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: 'Histoire et Patrimoine', filters: '(categories.uniqueName:history)'})) }}
    

    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: 'Aéronautique', filters: '(categories.uniqueName:space)'})) }}

    {# some presentations by categories intersection
    
      {{ render(path('backend_search', {label: 'Projets personnalisés', filters: '(categories.uniqueName:material AND categories.uniqueName:environment)'})) }} #}

      
    {# last project presentation #}
      
      {{ display.collection("Derniers projets présentés", lastInsertedPresentations, "", "hide-525") }}

    </div>

    {# Call to action : Add a Project button #}

    <div class="mb-5 pb-4 text-center">

      <a href="{{ path ('edit_presentation_as_guest_user') }}">

        <button class="btn px-4 py-3 mb-3" style="border-color: rgb(216, 216, 201);" data-track-click='{"key":"clicked-bottom-create-presentation"}'>

          <img class="mb-2" src="{{ asset('add_presentation.svg', 'misc')}}" alt="bucket with a plus icon">
          
          <span class="h5 fw-bold ps-2">Ajouter un Projet</span>
      
        </button>

      </a>


    </div>

</div> {# closes an unknow div which mess up footer display #}


{% endblock %}