{% extends 'base.html.twig' %}

{% block headTag %}

  <meta name="description" content="Plateforme de présentation de projets prévus ou en cours. Trouvez de l'aide ou apportez votre aide. Présentez gratuitement votre projet et recherchez des projets.">

  <meta name="keywords" content="présentation de projets, entraide">

  {{ _self.openGraph('Ici on Présente nos Projets', 'Propon', app.request.uri, 'Présentez votre projet simplement; rendez-le plus visible; trouvez des contributeurs.', 'website', app.request.uri ~'public/media/static/images/propon_logo.svg') }}
  
  <link rel="canonical" href="https://www.propon.org/" />

{% endblock %}

{% block title %}Présenter nos Projets{% endblock %}

{% block stylesheets %}

  <link href="/css/titled_project_collection.css" rel="stylesheet">

  <link href="/css/project_collection_by_themes_by_tabs.css" rel="stylesheet">

  <link href="/css/show_more_less_button.css" rel="stylesheet">

  {% if is_granted('ROLE_USER') %} {# logged in user can send news about its projects #}

    <link href="/css/create_news.css" rel="stylesheet">

  {% endif %}

{% endblock %}

{% block javascripts %}

  <script src="/js/show_more_less_button.js"></script>

{% endblock %}


{% import "utilities/_macro_titled_collection.html.twig" as display %}

{% import "utilities/_macro_articles_cards.html.twig" as artCards %}




{% block body %}

  <div class="homepage-container page-container container-lg px-0 col-xxl-12">

  <style>
  
    .homepage-container{
      padding-top: 38px;
    }

    @media screen and (max-width: 580px) {

    .homepage-container{
      padding-top: 24px;
    }

    }
  
  </style>

    {# Case user logged in : displaying personalized content #}

    {% if app.user %}

      {% include "home/_connected_user_upper_display.html.twig" %}

    {% endif %}

    {# Case user not logged in : displaying homepage jumbotron #}

    {% if not app.user %}

      {# Explore Propon - Display some projects by categories (tabs navigation) #}

      <div>{% include "home/_projects_by_categories_tabs.html.twig" %}</div> 

      <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" %}

        <style>

          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

    {% endif %}

    {# "They trust us" section (social approuval): some project cards #}

    <div>{{ render(path('get_picked_elements', {pickType: "editor_selection", label: 'Ils nous font confiance', iconName: 'heart'} )) }}</div>

    {# "Cool Project of the Day" #}

    <div>{{render(path('get_picked_elements', {pickType: "project_of_the_day"} )) }}</div>




    {# Rational Argument Slider: a slider of text and images to convice user to use Propon #}

    <div class="pb-3 pb-lg-4 mb-4 mb-lg-5">{% include "home/_arguments_slider.html.twig" %}</div>




    {# !!!SUPPRIMER LE FORM DEVENU INUTILE DANS LE CONTROLLER create a presentation form (what is your goal?)
  
    <div class="projects-change-the-world try-website-cta container col-lg-9 pt-3 pt-md-5 pb-3 pb-md-5 mb-5"> #}
    
      {# Form title & call to action text 
      <h3 class="d-flex align-items-center justify-content-center"><img class="verified-icon me-2" src="{{ asset('verified.svg', 'misc')}}" alt="verified icon" width="40" height="40"> Tester Propon <b class="ms-2"> MAINTENANT sans inscription</b></h3>

      <p>Quel est l'objectif de votre projet ?</p>#}

      {# Styles for text cta

      <style>

       .highlight {
            position: relative;
            display: inline-block;
            font-weight: bold;
        }

        .highlight::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #32a032;
            bottom: -3px;
            left: 0;
            border-radius: 2px;
        }
      
        @media (max-width: 580px) {

          .verified-icon{

            width: 22px;

          }

        }

      </style>

      {% set createPresentationForm4 = setGoalForm %} {# Form 4 because this one was part of some duplications
    
      {{form_start(createPresentationForm4)}}

      <div class="d-flex align-items-center d-md-block mb-4">

        <div class="d-none">{{form_label(createPresentationForm4.goal)}}</div>
                          
        {{ form_errors(createPresentationForm4.goal) }}
            
        {{form_widget(createPresentationForm4.goal)}} #}

        {# Submit button

        <button id="" type="submit" class="create-presentation-button btn btn-validate border rounded btn-lg p-2 px-md-3 fw-normal">Ok</button>

      </div>

      {{ form_end(createPresentationForm4) }}

    </div> #}

    {# Styles for form container & actual input #}
    
    <style>
      
      .projects-change-the-world{
          padding: 14px;
          margin-top: 90px;
          text-align: center;
          font-size: 21px;
          font-weight: bold;
          border: 1px solid green;
          border-radius: 8px;
      }

      {# Styles for input (see Symfony form definition in backend) #}
  
      #create_presentation_goal {
        display: inline;
        max-width: 453px;
        height: 47px;
        margin-right: -4px;
      }

      @media screen and (max-width: 580px) {

        .projects-change-the-world{
            padding: 10px 5px;
            font-size: 15px;
            margin-top: 24px;
            border: 1px solid #d5ecd5;
        }

      }
    
    </style>


    {# Propon code comment and cleanup stopped here #}


    {# Propon Articles #}

    <div class="articles-container container my-5">

      <h2 class="article-container-title fw-bold">
      
        <img class="homepage-icon" src="{{ asset('article.svg', 'misc')}}" alt="Article Icon">
        
        <span class="me-md-4">Articles</span>

        <a href="{{ path ('edit_article') }}"><button type="button" class="write-article btn"><div class="flip-horiz me-2 mb-2">✍️</div><div class=""> Écrire un article sur Propon</div></button></a>

        <style>

          .write-article{

            color: #678eb5;
            border-color: #798da2;
          
          }

          @media (max-width: 580px) {

            .articles-container{

              padding-left: 10px;


            }


          }

        </style>

      </h2>

      <div class="article-cards-container row row-cols-1 row-cols-md-3 g-4">

        {% for article in articles %}
          {{ artCards.articleCards (article) }}
        {% endfor %}
    
      </div>

      <style>

        .article-container-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 36px;
          font-weight: bold;
	        color: #212e3e;
        }

        .article-container-title .btn{
          display: flex;
          align-items: center;
          padding: 0.2rem 1.15rem;
          margin-top: 5px;
          font-size: 0.875rem;
          border-radius: 50px;
        }

        .homepage-icon{

          height: 33px;

          filter: invert(68%) sepia(19%) saturate(539%) hue-rotate(120deg) brightness(90%) contrast(91%);
          margin-right: 0.25rem;
          
        }

        @media screen and (max-width: 580px) {

          .article-container-title {

            margin-left: -10px;
            margin-right: -10px;

          }

          .article-container-title .btn{

            display: none;

          }
        
          .article-cards-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
          }

        }

      </style>

    </div>


    {# last project presentation #}
      
    {{ display.collection("🕑 Derniers projets présentés", lastInsertedPresentations, "", "hide-335") }}

    <div class="last-moto row fs-5 mt-md-2 fw-bold">

      <div class="text-center mb-md-1">Propon est une initiative gratuite dédiée à la promotion des Projets pour la réussite de tous.</div>
      <div class="text-center mb-md-3">Présentez <a href="{{path ('project_presentation_helper')}}">ici</a> votre Projet sur Propon.</div>

    </div>

<style>

  @media screen and (max-width: 580px) {

    .last-moto {
      color: #168016;
      font-size: 15px !important;
      padding: 15px 0;
      background-color: #46af461f;
      border-radius: 5px;
      width: 99%;
      margin: auto;
      margin-bottom: -16px;
      margin-top: -11px;
    }

    .last-moto div {

      padding: 5px  8px;

    }
  
  }


</style>

</div> {# closes an unknow div which mess up footer display #}

{% endblock %}
