{% extends 'base.html.twig' %}

{% block headTag %}

  <meta name="description" content="Plateforme de présentation de projets prévus ou en cours. Trouvez de l'aide. Apportez votre aide. Présentez gratuitement votre projet, recherchez des projets.">

  <meta name="keywords" content="présentation de projets, entraide">

  {{ _self.openGraph('Ici on Présente nos Projets', 'Propon', app.request.uri, 'Présentez votre projet simplement, rendez-le plus visible, trouvez des contributeurs.', 'website', app.request.uri ~'public/media/static/images/propon_logo.svg') }}

{% endblock %}

{% block title %}Propon - La Plateforme de Présentation de Projets{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">

  {% if is_granted('ROLE_USER') %}

    <link href="/css/create_news.css" rel="stylesheet">

  {% endif %}

{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}
{% import "utilities/_macro_highlight_one_project.html.twig" as highlight %}
{% import "utilities/_macro_articles_cards.html.twig" as artCards %}

{% block body %}

  <div class="page-container container-lg px-0 col-xxl-12">

    {# Case user logged in : displaying personalized content #}


    {% if app.user %}

      {% include "home/_connected_user_upper_display.html.twig" %}

    
    {% endif %}

    {# Case user not logged in : displaying homepage jumbotron #}

    {% if not app.user %}

      <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" %}

        <style>

          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

    {% endif %}

    
    {# They trust us presentations #}

    <div>

      {{ render(path('get_picked_elements', {pickType: "trustUs", label: 'Ils Nous Font Confiance', iconName: 'heart'} )) }}

    </div>

    {# Picked Cool Project of the Day #}

    <div>

      {{render(path('get_picked_elements', {pickType: "projectOfTheDay"} )) }}

    </div>

    <div>
    
      {% include "home/_projects_by_categories_tabs.html.twig" %}
      
    </div>

    {# Rational Argument Slider #}

    <div class="pb-3 pb-lg-4 mb-4 mb-lg-5">{% include "home/_arguments_slider.html.twig" %}</div>




    {# How it works + FAQ #}
    
    {% include "home/_hiw_faq.html.twig" %}

    


    {# Quote on mobiles #}
    
    <div class="projects-change-the-world border mb-5 text-center fw-bold container col-lg-9">
    
      <p class="mb-0 mt-2">✨ Les projets changent le monde<br>Faites connaître le vôtre ☄️</p>

      {% set createPresentationForm4 = setGoalForm %}
    
      <div class="mb-4">

        {{form_start(createPresentationForm4)}}

          <div class="mb-1 mb-lg-3">{{form_label(createPresentationForm4.goal)}}</div>
                            
          {{ form_errors(createPresentationForm4.goal) }}
              
            {{form_widget(createPresentationForm4.goal)}}

            <button id="" type="submit" class="create-presentation-button btn btn-validate btn-lg">Go 🚀</button>

          {{ form_end(createPresentationForm4) }}

      </div>
    
    </div>

    
    <style>

      #create_presentation_goal {
        display: inline;
        width: 70%;
        height: 47px;
        margin-right: 20px;
      }
      
      .projects-change-the-world{
          padding: 14px;
          text-align: center;
          font-size: 21px;

          margin-top: 90px;
      } 
  
      @media screen and (max-width: 580px) {

        #create_presentation_goal {
          width: 68%;
          margin-right: 5px;
        }

        .projects-change-the-world{
            padding: 10px 5px;
            text-align: left;
            font-size: 15px;
            margin-top: 24px;
        } 

          
      }
    
    </style>



    {# Propon Articles #}

    <div class="container my-5">

      <h2 class="article-container-title fw-bold">
      
        <img class="homepage-icon" src="{{ asset('article.svg', 'misc')}}" alt="Article Icon">
        
        <span class="me-md-4">Articles</span><span class="d-md-none ms-1 "> sur les Projets</span>

        <a href="{{ path ('edit_article') }}"><button type="button" class="btn btn-outline-dark"><div class="flip-horiz me-2 mb-2">✍️</div><div class=""> Écrire un article sur Propon</div></button></a>
      
      </h2>

      <div class="article-cards-container row row-cols-1 row-cols-md-3 g-4">

        {% for article in articles %}
          {{ artCards.articleCards (article) }}
        {% endfor %}
    
      </div>

      <style>

        .article-container-title {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 36px;
          font-weight: bold;
	        color: #212e3e;
        }

        .article-container-title .btn{
          display: flex;
          align-items: center;
          padding: 0.2rem 1.15rem;
          margin-top: 5px;
          font-size: 0.875rem;
          border-radius: 50px;
        }

        .homepage-icon{

          height: 33px;

          filter: invert(68%) sepia(19%) saturate(539%) hue-rotate(120deg) brightness(90%) contrast(91%);
          margin-right: 0.25rem;
          
        }

        @media screen and (max-width: 580px) {

          .article-container-title {

            margin-left: -10px;
            margin-right: -10px;

          }

          .article-container-title .btn{

            display: none;

          }
        
          .article-cards-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
          }

        }

      </style>

    </div>


    {# last project presentation #}
      
    {{ display.collection("🕑 Derniers projets présentés", lastInsertedPresentations, "", "hide-335") }}



    {# Quote #}

    <div class="d-flex justify-content-center">

      <div class="quote d-flex container col-xxl-10 align-items-center rounded fw-bold text-center p-3 px-2 border mt-0 mt-md-2 mb-4 mb-md-5">
      
        <div class="img-col col-3">

          <img class="img-fluid" width="140" src="{{asset ('misc/plant.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="text-col col-9">
        
          <span class="" style="color: #a6711e">Les Projets </span> <span class="" style="color: green">de toutes tailles </span><br class="d-md-none"><span style="color: #a6711e">sont les briques pour </span><br class=""> <span class="" style="color: green">réaliser les plus grands projets.</span>
        
        </div>
      
      </div>
  </div>

    <style>

      .quote{

        font-size: 24px;

      }

      @media screen and (max-width: 820px){

        .quote{

          font-size: 16px;
          margin: 0;

        }

      }
    
    
    </style>


    {# Last call to action : Add a Project button #}

      {% include "home/_last_cta.html.twig" %}

    

</div> {# closes an unknow div which mess up footer display #}



  <style>

    .fs-2{
      font-size: 23px !important;
    }

    @media screen and (max-width: 820px){

      .fs-2{
        font-size: 18px !important;
      }

    }
  
  </style>


{% endblock %}
