{% extends 'base.html.twig' %}

{% block title %}Propon{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}
{% import "utilities/_macro_highlight_one_project.html.twig" as highlight %}

{% block body %}

  <style>

    @media screen and (max-width: 820px){}
      .page-container {
        padding-top: 39px;
      }
    }
  
  </style>

  <div class="page-container container-lg px-0 px-lg-3 col-xxl-12">


    {# Displaying registered user presentations #}

    {% if app.user %}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations | length == 0 %} {# No presentation, we display an invite to present a project #}

        <div class="no-project-container">

          <h5 class="text-center fs-4 fw-bold mb-2 mb-md-4">👋 Bienvenue parmis nous !</h5>

          <p class="">

            Pour ⏱️ <b>résumer votre projet</b>, 🙋‍♀️ <b>trouver de l'aide</b>, et 💌 <b>partager votre adresse personalisée gratuite</b>, <a href="{{path ('create_presentation')}}"> <span class="fw-bold" >c'est ici.</span></a>
            
          </p>



        </div>

        <style>

          /* When authenticated user has not created any presentation */

          .no-project-container {
            width: 100%;
            min-height: 170px;
            padding: 35px;
            border: 2px solid rgb(230, 230, 223);
            border-radius: 4px;
            font-size: 1.25rem;
          }

          .no-project-container p {
            margin-bottom: 0;
            text-align: center;
          }
          
          @media screen and (max-width: 580px) {
                  
            .no-project-container {
              min-height: unset;
              padding: 15px;
              padding-bottom: 20px;
              margin-bottom: 30px;
            }
              
            .no-project-container p {
              text-align: left;
              font-size: 1.05rem;
            }

          }
    
        </style>

      {% endif %}

      {% if user_presentations | length > 0 %}

        {{ display.collection("", user_presentations | reverse, "user-presentations") }} {# collection title managed in macro #}

        <style>

          .user-presentations {
            margin-top: 11px;
          }
          
          @media screen and (max-width: 580px) {
                  
            .user-presentations {
              margin-top: 0px;
            }
          }
    
        </style>

      {% endif %}

    {% endif %}

    {# Case user not logged in : displaying homepage jumbotron #}

    {% if not app.user %}

      <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

    {% endif %}

    {# basic pool alert display #}
    {% include "home/_basic_pool_alert.html.twig" %}


    {# Four highlighted projects
    <div class="">

        <h2 class="h3 text-center fw-bold mb-5" style="color:rgb(72, 67, 61)"> <span class="" style="display: inline-block;transform: matrix(-1, 0, 0, 1, 0, 0);"> 👇</span> Découvertes 👇</h2>

        <div class="row g-2" style="margin-left: -40px; margin-right: -40px;">

          {% for presentation in halfHighlightedProjects %}
              
            <div class="col-6 mb-2">

              {{ highlight.highlight (presentation) }}
            
            </div>

          {% endfor %}
        
        </div>

    </div> #}

    
    {# Editor's Choice presentations #}

    <div>

      {{ render(path('get_picked_elements', {label: '😎 Projets à la une'})) }}

    </div>

    
    {# Find help diagonal jumbotron #}

    {% include "home/_find_help_diag_jumbotron.html.twig" %}

    {# Highlight a random project

    <div class="d-md-none">
    
      {{ highlight.highlight (highlightedProjects[0]) }}

    </div> #}


    {# some presentations by category #}

    {% cache "cat1" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '🌳 Protéger l\'Environnement', filters: '(categories.uniqueName:environment)'})) }}

    {% endcache %}
    
    {# Summarize diagonal jumbotron #}

    {% include "home/_diag_jumbotron_2.html.twig" %}
    
    {# Highlight a random project

    <div class="d-md-none">
    
      {{ highlight.highlight (highlightedProjects[1]) }}
      
    </div> #}

    <div class="border d-md-none p-3 mb-5"><p class="mb-0">⌚ Ne perdez pas votre temps ni celui des autres : résumez votre projet et partagez son adresse personalisée gratuite.</p></div>

    
    {# some presentations by category #}
    
    {% cache "cat2" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '🖥️ Numérique', filters: '(categories.uniqueName:software)'})) }}

    {% endcache %}
    
    {# Business card diagonal jumbotron #}

    {% include "home/_diag_jumbotron_3.html.twig" %}

    
    {# Highlight a random project

    <div class="d-md-none">
    
      {{ highlight.highlight (highlightedProjects[2]) }}
      
    </div> #}

    {# some presentations by category #}

    {% cache "cat3" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '📗📘 Informer, Éduquer, Apprendre', filters: '(categories.uniqueName:inform)'})) }}

    {% endcache %}
    
   
    {# Summarize diagonal jumbotron #}

    {% include "home/_diag_jumbotron_5.html.twig" %}

    
    {# Highlight a random project

    <div class="d-md-none">
    
      {{ highlight.highlight (highlightedProjects[3]) }}
      
    </div> #}



    {# Styled container to Access Geosearch #}

    {% include "home/_access_geosearch_jumbotron.html.twig" %}

    {# some presentations by category #}

    {% cache "cat4" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '🏺 Histoire et Patrimoine', filters: '(categories.uniqueName:history)'})) }}

    {% endcache %}
    
    
    {# Presentation helper diagonal jumbotron #}

    {% include "home/_diag_jumbotron_4.html.twig" %}

    {# Quote on mobiles #}
    
    <div class="border d-md-none p-3 mb-5 text-center"><p class="mb-0">🌈 Les projets changent le monde <span style="display: inline-block; transform: matrix(-1, 0, 0, 1, 0, 0);">🌈</span><br><span style="display: inline-block; transform: matrix(-1, 0, 0, 1, 0, 0);">✒️</span> Présentez le vôtre ✒️</p></div>
    
    {# some presentations by category #}

    {% cache "cat5" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '✊🏻✊🏽✊🏿 Solidarité', filters: '(categories.uniqueName:humane)'})) }}

    {% endcache %}
    

    {# Highlight a random project #} 

    {{ highlight.highlight (highlightedProjects[4]) }}


    {# some presentations by category #}

    {% cache "cat6" ttl(72000) %}
      
      {{ render(path('backend_search', {label: '🛩️ Aéronautique', filters: '(categories.uniqueName:space)'})) }}

    {% endcache %}
    
    

    {# some presentations by categories intersection
    {{ render(path('backend_search', {label: 'Projets personnalisés', filters: '(categories.uniqueName:material AND categories.uniqueName:environment)'})) }} #}
    
    
    {# > md screens : Search Bar container #}

    <div class="container col-xxl-11 mb-3">
      
      {% include "home/_search_container.html.twig" %}

    </div>

    <div class="quote d-flex container col-lg-8 align-items-center rounded fw-bold text-center p-3 px-2 border mt-2 mb-5">
      
         <div class="img-col col-3">

            <img class="img-fluid" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-quotes/bulb.webp">
        
        </div>

        <div class="text-col col-9 col-md-8 text-center d-md-flex justify-content-center">
        
          Chacun a un projet à défendre. <br><span class="text-primary">Chacun a un projet à réaliser</span>.
        
        </div>
    
    </div>

    <style>
    
      .quote img{

        max-height: 145px;
      }

      .quote .text-col{

        font-size: calc(1.325rem + 0.9vw);
      }


      @media screen and (max-width: 580px) {
        
        .quote .text-col {
          font-size: calc(0.9rem + 0.3vw);
        }

      }
    
    </style>

    {# last project presentation #}
      
    {{ display.collection("🕑 Derniers projets présentés", lastInsertedPresentations, "", "hide-525") }}

    <div class="quote d-flex container col-xxl-10 align-items-center rounded fw-bold text-center p-3 px-2 border mt-2 mb-5">
    
      <div class="img-col col-3">

        <img class="img-fluid" src="{{asset ('misc/plant.png', 'larger')}}" loading="lazy">
      
      </div>

      <div class="text-col col-9">
      
        <span class="" style="color: #a6711e">Les Projets </span> <span class="" style="color: green">de toutes tailles </span><br class="d-md-none"><span style="color: #a6711e">sont les briques pour </span><br class="d-md-none"> <span class="" style="color: green">réaliser les plus grands projets.</span>
      
      </div>
    
    </div>


    {# Last call to action : Add a Project button #}

      {% include "home/_last_cta.html.twig" %}

    

</div> {# closes an unknow div which mess up footer display #}


{% endblock %}