{% extends 'base.html.twig' %}

{% block title %}Propon{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3 col-xxl-12">

    {# Displaying registered user presentations #}

    {% if app.user %}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations | length == 0 %} {# No presentation, we display an invite to present a project #}

        <div class="no-project-container">

          <h5 class="fs-4 fw-bold mb-2 mb-md-4">Bienvenue ;-)</h5>

          <p class="fs-5">
            Pour présenter votre projet, c'est <a href="{{path ('create_presentation')}}"> <span class="badge bg-primary fw-bold" >ici</span></a>
          </p>



        </div>

        <style>

          /* When authenticated user has not created any presentation */

          .no-project-container {
            width: 100%;
            height: 170px;
            padding: 35px;
            border: 2px solid rgb(230, 230, 223);
            border-radius: 4px;
          }
          
          @media screen and (max-width: 580px) {
                  
            .no-project-container {
              height: 130px;
              padding: 15px;
            }

          }
    
        </style>

      {% endif %}

      {% if user_presentations | length > 0 %}

        {{ display.collection("", user_presentations | reverse, "user-presentations") }} {# collection title managed in macro #}

        <style>

          .user-presentations {
            margin-top: 11px;
          }
          
          @media screen and (max-width: 580px) {
                  
            .user-presentations {
              margin-top: 0px;
            }
          }
    
        </style>

      {% endif %}

    {% endif %}

    {# Case user not logged in : displaying homepage jumbotron #}

    {% if not app.user %}

      <div id="homepage-jumbotron-struct-container" class="container col-xxl-11 px-0 px-md-4 px-lg-4">

        {% include "home/_jumbotron.html.twig" %}

        <style>


          @media screen and (min-width: 820px) {

            #homepage-jumbotron-struct-container{
              margin-top: 3rem;
              margin-bottom: 6rem;
              
            }
            
          }

        </style>

      </div>

    {% endif %}

    {# basic pool alert display #}
    {% include "home/_basic_pool_alert.html.twig" %}
    
    
    {# Editor's Choice presentations #}

    <div>

      {{ render(path('get_picked_elements', {label: '😎 Projets à la une'})) }}

    </div>

    
    {# Find help diagonal jumbotron #}

    {% include "home/_find_help_diag_jumbotron.html.twig" %}


    {# some presentations by category #}

    {{ render(path('backend_search', {label: '🌳 Protéger l\'Environnement', filters: '(categories.uniqueName:environment)'})) }}

    
    {# Highlight a random project #}

    {% include "home/_highlight_project.html.twig" with {highlightedProject: highlightedProject} %}

        

    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: '🖥️ Projets Informatiques', filters: '(categories.uniqueName:software)'})) }}

    {# Styled container to Access Geosearch #}

    {% include "home/_access_geosearch_jumbotron.html.twig" %}

    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: '🏺 Histoire et Patrimoine', filters: '(categories.uniqueName:history)'})) }}




    {# some presentations by category #}
    
    {{ render(path('backend_search', {label: '🛩️ Aéronautique', filters: '(categories.uniqueName:space)'})) }}

    {# some presentations by categories intersection
    {{ render(path('backend_search', {label: 'Projets personnalisés', filters: '(categories.uniqueName:material AND categories.uniqueName:environment)'})) }} #}
    
    
    {# Search Bar container #}

    <div class="container col-xxl-11 mb-3">
      
      {% include "home/_search_container.html.twig" %}

    </div>

    {# last project presentation #}
      
    {{ display.collection("🕑 Derniers projets présentés", lastInsertedPresentations, "", "hide-525") }}


      {# Call to action : Add a Project button #}

      <div class="last-cta-container mb-5 p-5 text-center">

        <div class="row">

          <div class="last-cta-container-img-col col-4">

            <img class="img-fluid" src="{{asset('misc/cool_people_looking_at_you.webp', 'larger')}}" alt="Un groupe de personnes cool en face de la plage nous regarde" loading="lazy">
          
          </div>

          <div class="last-cta-container-text-col col-4">
          
            <h4>⚡️ Passez à l'Action</h4>

            <p>

              Présenter son projet est un moyen simple de le faire connaître.

            </p>

                  
            <a href="{{ path ('edit_presentation_as_guest_user') }}">

              <button class="btn px-4 py-3" style="border-color: rgb(216, 216, 201);" data-track-click='{"key":"clicked-bottom-create-presentation"}'>

                <img class="mb-2" src="{{ asset('add_presentation.svg', 'misc')}}" alt="bucket with a plus icon">
                
                <span class="h5 fw-bold ps-2">Présenter un Projet</span>
            
              </button>

            </a>



          </div>


          <div class="last-cta-container-img-col col-4">

            <img class="img-fluid" src="{{asset('misc/montains_at_golden_hours.webp', 'larger')}}" alt="Des montagnes lors du lever du soleil." loading="lazy">
          
          </div>
        
        </div>

      </div>

    <style>

      .last-cta-container {

        background-image: linear-gradient(rgba(0, 0, 0, 0.05) 50%, 0, transparent 100%), linear-gradient(-135deg, #0cc, #066); 
        border: 1px solid #a0a0a0;
        border-radius: 2px;

      }


      .last-cta-container-img-col{

        display: flex;
        align-items: center;
        justify-content: center;

      }

      .last-cta-container-text-col{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

      }

      .last-cta-container-text-col h4 {
        font-size: 36px;
        font-weight: 900;
        color: rgb(29, 112, 57);
      }

      .last-cta-container-text-col p {
        font-size: 22px;
      }

      .last-cta-container-img-col img{

        border-radius: 4px;

      }

    
    </style>





</div> {# closes an unknow div which mess up footer display #}


{% endblock %}