{% extends 'base.html.twig' %}

{% block title %}Propon{% endblock %}

{% block stylesheets %}
  <link href="/css/titled_projects_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}<script src="/js/show_more_less_button.js"></script>
{% endblock %}

{% import "utilities/_macro_titled_collection.html.twig" as display %}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3 col-xxl-8">

    {# Displaying registered user presentations #}

    {% if app.user %}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations | length > 0 %}

          {# Plural forms #}
              
          {% set user_presentations_label %}
            
            {% if user_presentations | length == 1 %}Mon projet présenté
            
            {% else %}Mes {{user_presentations | length}} projets présentés

            {% endif %}

          {% endset %}

          {{ display.collection(user_presentations_label, user_presentations | reverse) }}

      {% endif %}

    {% endif %}

    <div class="px-0 px-md-4 px-lg-4 col-xxl-11">

      {# Case user not logged in : displaying homepage jumbotron #}

      {% if not app.user %}
      
        {% include "home/_jumbotron.html.twig" %}
      
      {% endif %}
        
      {% include "home/_search_container.html.twig" %}
    
    </div>

    <div id="homepage-collections">
        
        {{ display.collection("Derniers projets présentés", lastInsertedPresentations) }}
  
        {{ render(path('backend_search', {label: 'Protéger l\'Environnement', filters: '(categories.uniqueName:environment)'})) }}

        {{ render(path('get_picked_elements', {label: 'Projets à la une'})) }}
        
        {{ render(path('backend_search', {label: 'Projets Informatiques', filters: '(categories.uniqueName:software)'})) }}

      

      {#
        
        {{ render(path('backend_search', {label: 'Projets personnalisés', filters: '(categories.uniqueName:material AND categories.uniqueName:environment)'})) }}

      #}


    </div>

  </div> {# close an unknow div who mess up footer display #}

{% endblock %}