{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le Projet des Projets !{% endblock %}

{% block body %}

    
    {% if app.user %} {# Displaying user presentations #}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations %}
              
        <div class="">

          <!-- User CREATED Presentations Count -->

          <h3 class="fw-bold mb-4" style="color: navy;">

            {% if user_presentations | length == 1 %}Mon projet présenté
            
            {% else %}Mes {{user_presentations | length}} projets présentés

            {% endif %}

          </h3>

          <!-- User CREATED presentations display -->

          {% for presentation in user_presentations | reverse %}

              <a class="text-primary text-decoration-none" href="{{path('show_presentation', {'stringId': presentation.stringId})}}">

                  <h5 class="mb-2">
                      {{presentation.goal}}
                  </h5>
      
              </a>

          {% endfor %}

        </div>
          
      {% endif %}
  
    {% else %} {# User not logged in : displaying homepage jumbotron #}

      {% embed "utilities/jumbotron_skeleton.html.twig" %}

        {% block image %}

          <img src="{{asset ('website/homepage_jumbotron3.svg', 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="430" height="360">

        {% endblock %}

        {% block text %}

          <h1 class="jumbotron-title display-5 lh-1">La carte de visite de votre projet</h1>

          <p class="lead">
            Si vous souhaitez faire connaître votre Projet, créez la carte de visite de votre projet. <b>Elle concentre toutes les informations utiles à partager, et s'affiche correctement sur tous les écrans</b>. C'est simple, rapide, et gratuit.
          </p>
    
          <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-3">
    
            <button type="button" class="jumbotron-btn btn btn-secondary me-md-2">Voir un Exemple</button>
    
            <a href="{{path('create_presentation')}}"><button type="button" class="jumbotron-btn btn btn-primary">Ajouter un Projet</button></a>
    
          </div>
        
        {% endblock %}

      {% endembed %}

    {% endif %}


    {#In any case : Last Inserted Presentations #}

    <div>

      <h3 class="fw-bold mb-3" style="color: navy;">
        Derniers projets présentés
      </h3>

      <div class="mt-4">

        {% for presentation in lastInsertedPresentations %}
            
          <a class="text-primary text-decoration-none" href="{{path('show_presentation', {'stringId': presentation.stringId})}}">

            <h5 class="mb-2">
              {{presentation.title}}
            </h5>

          </a>

        {% endfor %}

      </div>
        
    </div>

{% endblock %}