{% extends 'base.html.twig' %}

{% block title %}Propon{% endblock %}

{% block stylesheets %}
  <link href="/css/thumbnails_display.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">
{% endblock %}

{% import "utilities/_macro_display_collection.html.twig" as display %}

{% block body %}

  <div class="page-container container-lg px-0 px-lg-3 col-xxl-8">


    {% cache "p1" ttl(86400) %}

      {{ render(path('backend_search', {label: 'Projets personnalisés', filters: '(categories.uniqueName:material AND categories.uniqueName:science)'})) }}

      {{ render(path('get_picked_elements', {label: 'À la une'})) }}

    {% endcache %}

    

    {# Displaying registered user presentations #}

    {% if app.user %}

      {% block javascripts %}<script src="/js/show_more_less_button.js"></script>
      {% endblock %}

      {% set user_presentations = app.user.createdPresentations %}

      {% if user_presentations | length > 0 %}

          {# Plural forms #}
              
          {% set user_presentations_label %}
            
            {% if user_presentations | length == 1 %}Mon projet présenté
            
            {% else %}Mes {{user_presentations | length}} projets présentés

            {% endif %}

          {% endset %}

          {{ display.collection(user_presentations_label, user_presentations | reverse) }}

      {% endif %}

    {% endif %}

   {# Case user not logged in : displaying homepage jumbotron #}

  {% if not app.user %}
      
    <div class="px-0 px-md-4 px-lg-4 col-xxl-11">
            
      {% include "home/_jumbotron.html.twig" %}
    
    </div>

  {% endif %}

    {{ display.collection("Derniers projets présentés", lastInsertedPresentations) }}

  </div> {# close an unknow div who mess up footer display #}



{% endblock %}