
{{ form_start(form) }}

    <div class="mb-3">

        {{ form_label(form.title) }}

        <div class="mb-3">

            {{ form_errors(form.title) }}
            
        </div>
        
        {{ form_widget(form.title) }}

        <div class="d-none">

            {{ form_rest(form) }}

        </div>

        <button type="submit" class="btn btn-success">Valider</button>

    </div>

{{ form_end(form) }}
