
    

{% form_theme form 'bootstrap_4_layout.html.twig' %}


<div class="form-row">

    <img class="contact-icon-title" src="{{ asset('title.svg', 'business_card')}}" alt="title icon">

    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="{{ asset('email.svg', 'business_card')}}" alt="email icon">

    {{ form_label(form.email1) }}

    {{ form_widget(form.email1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="{{ asset('telephone.svg', 'business_card') }}">

    {{ form_label(form.tel1) }}
    {{ form_widget(form.tel1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="{{ asset('website.svg', 'business_card')}}" alt="website icon">

    {{ form_label(form.website1) }}
    {{ form_widget(form.website1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="{{ asset('website.svg', 'business_card')}}" alt="website icon">

    {{ form_label(form.website2) }}
    {{ form_widget(form.website2) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="{{ asset('address.svg', 'business_card')}}" alt="address icon">

    {{ form_label(form.postalMail) }}
    {{ form_widget(form.postalMail) }}

</div>


<div class="form-row">

    <img class="contact-icon" src="{{ asset('more_infos.svg', 'business_card')}}" alt="more informations icon">

    {{ form_label(form.remarks) }}
    {{ form_widget(form.remarks) }}

</div>




<style>

    .form-row{
        margin-bottom: 30px;
    }

    .contact-icon {

        width: 22px;
        height: 22px;

        margin-right: 9px;
        margin-top: 5px;
    }
    

    .contact-icon-title {
        width: 30px;
        height: 32px;
        margin-right: 12px;
        margin-left: 3px;
        margin-top: 1px;
    }

</style>
