
    

{% form_theme form 'bootstrap_4_layout.html.twig' %}


<div class="form-row">

    <img class="contact-icon-title" src="/images/icons/consult_presentation/contact_card/title.svg" alt="title icon">

    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/email.svg" alt="email icon">

    {{ form_label(form.email1) }}

    {{ form_widget(form.email1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/telephone.svg" alt="telephone icon">

    {{ form_label(form.tel1) }}
    {{ form_widget(form.tel1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/website.svg" alt="website icon">

    {{ form_label(form.website1) }}
    {{ form_widget(form.website1) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/website.svg" alt="website icon">

    {{ form_label(form.website2) }}
    {{ form_widget(form.website2) }}

</div>

<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/address.svg" alt="address icon">

    {{ form_label(form.postalMail) }}
    {{ form_widget(form.postalMail) }}

</div>


<div class="form-row">

    <img class="contact-icon" src="/images/icons/consult_presentation/contact_card/more_infos2.svg" alt="more informations icon">

    {{ form_label(form.remarks) }}
    {{ form_widget(form.remarks) }}

</div>




<style>

    .form-row{
        margin-bottom: 30px;
    }

    .contact-icon {

        width: 22px;
        height: 22px;

        margin-right: 9px;
        margin-top: 5px;
    }
    

    .contact-icon-title {
        width: 30px;
        height: 32px;
        margin-right: 12px;
        margin-left: 3px;
        margin-top: 1px;
    }

</style>
