{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Aide à la présentation de projet{% endblock %}


{# "priorQuestion" is a prior question user can answer with yes or no, so that a form appears or not with an actual Question (questionFr) 
    "finalRenderingLabel" is the label that will be integrated on consultation page, if relevant.
#}

{% set goalFieldText %}

    <div class="container d-flex justify-content-center">

        <div class="col-lg-9">
                    
           <div class="text-center h4 mb-4">⏱️ Top chrono, c'est parti.</div>

            <div class="fw-bold h5 text-center mb-2 mb-md-3">

                {# Project Goal Label & Errors #}

                <div class="mb-3">

                    Quel est l'objectif de votre projet ?

                </div>

            </div>

                        
            {# Project Goal Examples #}

            <div class="card shadow text-start">

                <div class="card-body p-3">

                    <h4 class="mb-3">📘 Exemples</h4>

                    <ul class="">
                        
                        <li class="mb-2 text-dark">Créer un jeu vidéo d'action</li>
                        <li class="mb-2 text-dark">Restaurer un moulin à eau</li>
                        <li class="mb-2 text-dark">Créer un journal d'investigation</li>

                    </ul>
                    
                </div>

            </div>
                    

        </div>

    </div>

{% endset %}




{% set imageFieldText %}


    <div class="mb-4">

        <h5>🖼️ Ajoutez une image (si vous en avez)</h5>
        
        <div class="mt-3 mb-4 pb-3">

            <small class="fs-6 text-muted">Vous pourrez en ajouter d'autres plus tard</small>
        
        </div>

    </div>

{% endset %}


{% set descriptionFieldText %}

    <h5>Décrivez votre projet !</h5>
    
{% endset %}


{% set needFieldText %}

    <div class="">Souhaitez-vous de l'aide ?</div>

    <div class="mt-1 mb-4 pb-3">

        <small class="fs-6 text-muted">Vous pourrez ajouter d'autres demandes plus tard</small>
        
    </div>
    
{% endset %}



{% set helperItems = [ 
            
    { 'uniqueName': "goal", 'type': "goal", 'questionFr': goalFieldText, 'finalRenderingLabel': ""},
            
    { 'uniqueName': "goal_details", 'type': "textDescription", 'questionFr': descriptionFieldText, 'finalRenderingLabel': ""},

    { 'uniqueName': "imageSlide", 'type': "imageSlide", 'priorQuestion': "", 'questionFr': imageFieldText,'finalRenderingLabel': "", 'repeatableMessage': 'Voulez-vous ajouter une autre image ?'},

    { 'uniqueName': "needs", 'type': "needs", 'priorQuestion': "", 'questionFr': needFieldText, 'repeatableMessage': 'Voulez-vous ajouter un autre besoin ?', 'finalRenderingLabel': ""}, 

    { 'uniqueName': "title", 'type': "title", 'priorQuestion': "✒️ Votre Projet a t-il déjà un titre ou un titre temporaire ?", 'questionFr': "Quel est le titre du Projet ?",'finalRenderingLabel': ""}, 


    { 'uniqueName': "progress", 'type': "qa", 'priorQuestion': "🏗️ Votre Projet a t-il déjà avancé ?", 'questionFr': "Quel est le travail déjà effectué ?", 'finalRenderingLabel': "Quel est l'avancement du Projet ?"},

    { 'uniqueName': "websites", 'type': "websites", 'priorQuestion': "", 'questionFr': "🌐 Si vous avez déjà un site web ou un réseau social en lien avec votre Projet", 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?', 'finalRenderingLabel': ""},

    { 'uniqueName': "places", 'type': "places", 'priorQuestion': "", 'questionFr': "🌍 Votre Projet est-il relié à un pays, un département, ou une ville ?", 'finalRenderingLabel': ""},

    
    { 'uniqueName': "logo", 'type': "logo", 'priorQuestion': "", 'questionFr': "🍋 Avez-vous déjà un logo pour votre projet ?",'finalRenderingLabel': ""}, 


] %}

{# For another form...

    { 'uniqueName': "idea", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?", 'finalRenderingLabel': "Comment est née l'idée du projet ?"}, 
#}


{% set currentItem = helperItems[position] %}

{% set uniqueName = currentItem.uniqueName %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% set itemsCount = helperItems | length %}

{% set progressionPercentage = ( (currentPosition + 1) / itemsCount ) * 100 %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

    {% if helperItems[position + 1] is defined %}

        {% set nextItem = helperItems[position + 1] %}

    {% endif %}

{% set previousPosition = null %}

    {% if helperItems[position - 1] is defined %}

        {% set previousPosition = position - 1 %}

    {% endif %}


{% block body %}
{# 
<pre>
    {{ dump(position) }}
</pre>

<pre>
    {{ dump(currentPosition) }}
</pre>

<pre>
    {{ dump(previousPosition) }}
</pre>

<pre>
    {{ dump(nextPosition) }}
</pre> #}

<div  id="createPPModal" class="modal" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog modal-fullscreen">

        <div class="modal-content">
            
            <div class="box-header">
            
                <div>

                    <a class="ms-2 ms-md-5 me-3" href="/">

                        <img class="website-logo" src="/media/static/images/propon_logo.svg" alt="website logo" loading="lazy"/>

                    </a>

                    <span class="box-title">
                    
                        Ajouter un Projet

                    </span>       
                
                
                </div>

                <a href="{{path ('homepage')}}">
                
                    <button type="button" class="btn btn-outline-dark" >Quitter</button>
                
                </a>
 
                <style>
                
                    .box-header{
                        
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        height: 74px;
                        background-color: white;
                    
                    
                    }

                    .website-logo{
                        width: 135px;
                    }


                    .box-title{
                        font-size: 15px;
                        color: #094171;
                    }

                    @media (max-width: 576px) {

                        .website-logo{
                            width: 75px;
                        }

                    }
                
                </style>

            </div>


            <div class="box-progress-bar" style="margin-bottom: 50px;">

                <div class="" style="width: {{ progressionPercentage }}%; height: 4px; background-color: orange;"></div>

            </div>

            


            <div class="box-content">
                    
                <div class="form-container form" data-track-view='{"key":"pres-help-step-{{ currentPosition }}", "attributes":{"uniqueName": "{{uniqueName}}"} }'>

                    {% include "project_presentation/create/_form.html.twig" %}

                </div>
            
            </div>  

        </div>

    </div>

</div>


        
    

    


    <style>

        {# Background colors for large screens #}

         @media screen and (min-width: 580px) {

            #createPPModal .modal-content{


                background-color: #fff6e4;


            }

            .box-content{

                display: flex;
                justify-content: center;
            }


             

            .form-container{

                width: 1000px;

                padding: 50px;
                min-height: unset;

                border-radius: 15px;
                background-color: white;

            }

         }

          

        @media screen and (max-width: 580px) {

            #createPPModal{

                padding-left: 0px;
                padding-right: 0px;

            }

            .box-content{
                margin: 0 0;
            }

            .fs-4{
                font-size: 19px !important;
            }

            .sm-fs-4{
                font-size: 16px;
            }

        }

    </style>

    <script>

        $(document).ready(function(){

            // Giving focus to appropriate input

            function giveFocus(){

                var itemType = $('#presentation_helper_helperItemType').val();
                var relatedInputId;

                switch(itemType) {

                    case 'title':
                        relatedInputId = 'presentation_helper_title';
                        break;
                        
                    case 'qa':
                    case 'textDescription':
                    
                        relatedInputId = 'presentation_helper_answer';
                        break;
                        
                    case 'websites':
                        relatedInputId = 'presentation_helper_url';
                        break;
                        
                    case 'needs':
                        relatedInputId = 'presentation_helper_needTitle';
                        break;
                      
                    default:
                        document.getElementById('autocomplete').focus();  // it is an isolated case, see _form.html.twig
                } 

                $("#"+relatedInputId).focus();
            }

        });

    </script>


    <script>
       document.addEventListener('DOMContentLoaded', () => {
  const modalEl = document.getElementById('createPPModal');
  const inputEl = document.getElementById('presentation_helper_goal');

  if (!modalEl) {
    return console.error('Modal element not found: #createPPModal');
  }
  if (!inputEl) {
    console.warn('Input element not found: #presentation_helper_goal (focus will fail)');
  }

  // Attach the listener BEFORE calling show(), so we don't miss the event
  modalEl.addEventListener('shown.bs.modal', () => {
    if (!inputEl) return;
    // 1) Try to focus immediately
    inputEl.focus();
    // 2) Optionally select text if you want
    if (typeof inputEl.select === 'function') inputEl.select();
    // 3) Fallback: re-focus after a tiny delay if needed
    setTimeout(() => inputEl.focus(), 50);
  });

  // Make sure Bootstrap’s JS is loaded
  if (typeof bootstrap === 'undefined') {
    return console.error('Bootstrap JS is not loaded (check bootstrap.bundle.js inclusion)');
  }

  // Create and show the modal
  const autoModal = new bootstrap.Modal(modalEl, {
    backdrop: 'static', // optional: prevent closing by clicking outside
    keyboard: true      // allow closing with the ESC key
  });

  autoModal.show();
});







</script>

    <script>
    
        $(document).ready(function(){

			$("#create_presentation_goal").focus();

		});
    
    
    </script>

{% endblock %}
