{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "pp-edit-software-help", 'modal_title': "Aide", 'modal_size': "modal-lg"} %}

    {% macro helpRow(image_src, image_alt, text) %}

        <div class="helpRow row">

            <div class="col-6 px-0">

                <div class="image-container">

                    <img src="{{image_src}}" alt="{{image_alt}}">

                </div>

            </div>

            <div class="col-6 px-0">

                <div class="text-container">

                    {{text}}

                </div>
                
            </div>

        </div>
        
    {% endmacro %}



    {% block modalBody %}

    <div class="help-content px-2">

        {# Switch between edition and consultation mode #}
        
        {{ _self.helpRow(
            asset('switch_edit_consult_mode.png', 'tutorial'),
            "Représentation d'un basculement entre le mode d'édition, et le mode de consultation.",
            "Pour voir le résultat, appuyez sur l'icône oeil. Pour modifier la page, appuyez sur l'icône crayon.", 
        ) }}

        {# Reorder items #}
        
        {{ _self.helpRow(
            asset('drag_and_drop.png', 'tutorial'),
            "Représentation d'un glisser-déposer d'élément (= drag and drop)",
            "Pour modifier l'ordre des éléments, restez appuyer sur un élément, puis déplacez-le à l'endroit désiré.", 
        ) }}

        {# Delete item #}
        
        {{ _self.helpRow(
            asset('delete_items.png', 'tutorial'),
            "Représentation d'une poubelle",
            "Pour supprimer des éléments, appuyez sur une corbeille, puis sélectionner les éléments désirés.", 
        ) }}

        {# Add item #}
        
        {{ _self.helpRow(
            asset('edit_item.png', 'tutorial'),
            "Représentation d'une sélection d'élément",
            "Pour modifier un élément, appuyez simplement dessus, ou appuyez sur un crayon gris.", 
        ) }}

        {# Autosave #}
        
        {{ _self.helpRow(
            asset('autosave.png', 'tutorial'),
            "Représentation d'une sauvegarde automatique",
            "Les modifications sont enregistrées automatiquement 😘", 
        ) }}

        <div class="mt-5 mb-4 d-flex justify-content-center">

            <a href="{{ path ('contact_website') }}" target="_blank" rel="noopener noreferrer">

                <button type="button" class="btn btn-lg" style="background-color: rgb(219, 219, 255);">Poser une question écrite</button>

            </a>

        </div>

        <div class="text-center fs-5">
            
            <div class="fw-bold mb-2">Appeler le support technique</div> 
            
            <a href="tel:{{contactUsPhone}}">{{contactUsPhone}}</a> (appel non surtaxé)

        </div>
    
    </div>

    {% endblock %}

{% endembed %}

<style>

    .help-content{
        margin-bottom: 21px;
    }

    .help-content .row{
        margin-bottom: 21px;
    }

    .help-content .helpRow{
        min-height: 250px;
    }

    .help-content .row:nth-child(even){
        flex-direction: row-reverse !important;
    }

    .help-content .image-container{

        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;

        padding: 15px;

        background-color: #f8f9fa;

        border-radius: 8px;
        
    }

    .help-content .image-container img{

        max-width: 100%; 
        height: auto;
    }

    .help-content .text-container{

        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;
        
        padding: 15px 8px;

        text-align: center;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.1;

        background-color: rgb(233, 255, 227);

    }



    @media screen and (max-width: 768px) {

        .help-content .text-container{

            font-size: 18px;

        }

    }


    @media screen and (max-width: 580px) {

        .help-content .helpRow {

            min-height: 150px;
            
        }

        .help-content .text-container{

            font-size: 15px;

        }

    }


</style>
