{# Modal Box for Menu Buttons #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "project_status_edition", 'modal_title': "Statut (État Actuel du Projet)"} %}


    {# Status list #}

    {% set status = [ 

        { 
            'uniqueName': "idea",
            'description_fr' : "À l'étude, Idée, Réflexion",
        }, 

        { 
            'uniqueName': "production",
            'description_fr' : "Réalisation démarrée",
        }, 

        { 
            'uniqueName': "pause",
            'description_fr' : "En pause",
        }, 

        { 
            'uniqueName': "cancel",
            'description_fr' : "Annulé ou abandonné",
        }, 

        { 
            'uniqueName': "done",
            'description_fr' : "Terminé",
        }, 

        
    ]%}


    {# Project Status Selection Buttons Display #}

    {% block modalBody %}

        <div class="container">

            <div class="row">

                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>

                  </svg>

                <div class="alert alert-info d-flex align-items-center" role="alert">

                    <svg class="flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>

                    <div>
                      Sélectionnez le bouton qui vous concerne et qui correspond à votre situation.
                    </div>

                </div>

            </div>

            {# General Choices #}

            <div class="mb-3">

                <ul class="general-status list-group">
                  
                    {% for item in status %}
                        
                        <li id="" class="project-status-button list-group-item list-group-item-action">

                            {# <img class="category-icon" src="{{asset ("project_status/"~ item.uniqueName ~".svg", 'icons')}}" alt="{{item.uniqueName}}" loading="lazy" width="25" height="25"> #}
                            
                            {{item.description_fr}}
                        
                        </li>

                    {% endfor %}
             
                </ul>

            </div>

            {# User can add some infos and remarks #}

            <div class="mb-3">

                <form>

                    <div class="form-group">

                      <label for="projectStatusUserRemarksTextarea" class="lh-sm" style="font-size: large; font-weight: normal;">Ici vous pouvez apporter des précisions ou des remarques :</label>

                      <textarea id="projectStatusUserRemarksTextarea" class="form-control" rows="3" placeholder="Écrire ici" data-edit-status='{"entity": "PPBase", "id": "{{presentation.id}}",  "property": "status", "subproperty":"userRemarks"}'>{% if presentation.getProjectStatus('userRemarks') is defined %}{{presentation.getProjectStatus('userRemarks').value}}{% endif %}
                      </textarea>

                    </div>
                    
                </form>

            </div>

        </div>

    {% endblock %}

    {% block footerCloseButton %}
                        
        <button type="button" class="btn btn-validate" data-bs-dismiss="modal">Ok</button>

    {% endblock %}

{% endembed %}

<style>

    .project-status-button{
        cursor: pointer;
        font-size: larger;
    }

    .status-hover{
        cursor: pointer;
        font-size: larger;
    }

    .project-status-button.list-group-item-action.active {
        color: black;
        z-index: 2;
        background-color: #cce1ff;
        border-color: #bcd7ff;
    }

</style>