{# Modal Box for Menu Buttons #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "project_status_edition", 'modal_title': "Statut (État Actuel du Projet) ", 'modal_size': "modal-fullscreen modal-dialog-scrollable"} %}

    {# Status list #}

    {% set status = [ 
        
        {
            
            'uniqueName': 'general', 

            'description_fr': 'Généralité', 
        
            'statusTypeItems':  
            
                [
                    
                    {'uniqueName': 'idea', 'description_fr':"À l'étude, Idée, Réflexion"}, 
            
                    {'uniqueName': 'production', 'description_fr':'Réalisation démarrée'} ,

                    {
                        'uniqueName': "pause", 'description_fr' : "En pause"
                    }, 
            
                    {'uniqueName': "cancel",'description_fr' : "Annulé ou abandonné"}, 
            
                    {'uniqueName': "done",'description_fr' : "Terminé"}, 
                    
                ]
            
        }, 
        
        
        {

            'uniqueName' : 'modelisation',

            'description_fr': 'Objets', 

            'statusTypeItems': [

                { 
                    'uniqueName': "computer_simulation",
                    'description_fr' : "Simulation informatique",
                }, 
        
                { 
                    'uniqueName': "reduced_scale_labo_prototype",
                    'description_fr' : "Prototype taille réduite testé en labo",
                }, 
        
                { 
                    'uniqueName': "planned_scale_labo_prototype",
                    'description_fr' : "Prototype à l'échelle testé en labo",
                }, 
        
                { 
                    'uniqueName': "reduced_scale_real_world_prototype",
                    'description_fr' : "Prototype taille réduite testé en monde réel",
                }, 
        
                { 
                    'uniqueName': "planned_scale_real_world_prototype",
                    'description_fr' : "Prototype à l'échelle testé en monde réel",
                }, 
            ],

        }, 
        
        
        {

            'uniqueName' : 'sales',

            'description_fr': 'Ventes', 

            'statusTypeItems': [

                { 
                    'uniqueName': "will_be_marketed",
                    'description_fr' : "Sera commercialisé",
                }, 
        
                { 
                    'uniqueName': "sale_offering_began",
                    'description_fr' : "Commence à être commercialisé",
                }, 
        
                { 
                    'uniqueName': "first_sales_done",
                    'description_fr' : "Premières ventes effectuées",
                }, 
        
                { 
                    'uniqueName': "marketed_significantly",
                    'description_fr' : "Déjà commercialisé à moyenne ou grande échelle",
                }, 
        
            ],

        }, 
        
        {

            'uniqueName' : 'administrative',

            'description_fr': 'Soumissions Administratives', 

            'statusTypeItems': [

                { 
                    'uniqueName': "first_discussions",
                    'description_fr' : "Premières discussions",
                }, 

                { 
                    'uniqueName': "submitted",
                    'description_fr' : "Proposé, soumis<br>(Attente de décision)",
                }, 
        
                { 
                    'uniqueName': "approved",
                    'description_fr' : "Décision : Accepté",
                }, 
        
                { 
                    'uniqueName': "rejected",
                    'description_fr' : "Décision : Rejeté",
                }, 
        
                { 
                    'uniqueName': "postponed",
                    'description_fr' : "Décision Reportée",
                }, 
        
            ],

        }, 
        
    ] %}




    {% block modalHeader %}{% endblock %}
    {% block closingCross %}{% endblock %}


    {# Project Status Selection Buttons Display #}

    {% block modalBody %}

        {# Custom Header is displaced in modal body because othrwise it is fixed #}

        <div class="modal-header-in-body">

            <h5 class="modal-title w-100 fw-bold text-center py-3">Statut (État Actuel du Projet)</h5>

        </div>

        <div class="container mt-4">

            <div class="row mb-4">

                {# Info Icon ready to be reused elsewhere #}

                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>

                  </svg>

                {# Notification to user #}

                <div class="alert alert-info d-flex justify-content-center align-items-center" role="alert">

                    <svg class="flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>

                    <div class="fs-5">
                      Sélectionnez seulement les colonnes et les boutons qui vous concernent et qui correspondent à votre situation.
                    </div>

                </div>

            </div>

            <div class="d-flex mb-5">

                {% for statusType in status %}

                <div class="status-type-list-container d-inline-block">

                    <h5 class="d-flex align-items-center justify-content-center fw-bold mb-0" style="height: 63px; background-color:beige">{{statusType.description_fr}}</h5>

                    <ul class="list-group">
                    
                        {% for statusTypeItem in statusType.statusTypeItems %}
                
                            <li id="" class="project-status-button list-group-item list-group-item-action py-3" data-edit-project-status='{"entity": "PPBase", "id": "{{presentation.id}}",  "property": "status", "subproperty":"{{statusType.uniqueName}}"}' data-value="{{statusTypeItem.uniqueName}}">

                                {{statusTypeItem.description_fr | raw }}
                        
                            </li>
                        
                        {% endfor %}
                            
                    </ul>

                </div>

                    
                {% endfor %}

            </div>

            {# User can add some infos and remarks #}

            <div class="d-flex justify-content-center mb-5">

                <form>

                    <div class="form-group">

                      <label for="projectStatusUserRemarksTextarea" class="lh-sm mb-3" style="font-size: large; font-weight: normal;">Ici vous pouvez apporter des précisions ou des remarques</label>

                      <textarea id="projectStatusUserRemarksTextarea" class="form-control" rows="3" placeholder="Écrire ici" data-edit-project-status='{"entity": "PPBase", "id": "{{presentation.id}}",  "property": "status", "subproperty":"userRemarks"}' style="max-width: 600px;">{% if presentation.getProjectStatus('userRemarks') is defined %}{{presentation.getProjectStatus('userRemarks').value}}{% endif %}
                      </textarea>

                    </div>
                    
                </form>

            </div>

        </div>



        <div class="d-flex flex-row-reverse border-top pt-3 me-5">

            <button type="button" class="btn btn-validate px-2 me-5" data-bs-dismiss="modal">Ok</button>

        </div>

    {% endblock %}

    {% block modalFooter %}{% endblock %}

{% endembed %}

<style>

    .modal-header-in-body{

        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-radius: 0;

    }

    .status-type-list-container{

        margin-right: 1rem;
        margin-bottom: 1rem;
        min-width: 250px;
        text-align: center;

    }

    .status-type-list-container:last-of-type{

        margin-right: 0;

    }

    .project-status-button{
        cursor: pointer;
        font-size: larger;
    }

    .status-hover{
        cursor: pointer;
        font-size: larger;
    }

    .project-status-button.list-group-item-action.active {
        color: black;
        z-index: 2;
        background-color: #cce1ff;
        border-color: #bcd7ff;
    }

</style>