{# 
    
Skeletton to edit some project presentation components (ex : edit presentation categories)
    
Here is skeletton structure :

    - page title
    - some advices & info for user
    - main content management (CRUD ui)
    - standard button(s) (ex: see result button)

    - specific css (depending on which presentation structure is managed)
    - specific js (depending on which presentation structure is managed)
    
#}

{% extends 'base.html.twig' %}

    {% block title %}{% endblock %}

    {% block body %}

        <div class="edit-structure-container container">

            <div class="main-title-container">

                <!-- ui Page Title -->	
                
                <h4 class="main-title h3 me-3">

                    {% block mainContentTitle %}{% endblock %}

                </h4>

                <!-- Show More Info / Advices Button -->

                {% block collapsibleMoreInfo %}

                    <!-- trigger button -->
                    
                    <a class="my-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvices" aria-expanded="false" aria-controls="collapseAdvices">
                        
                        <span class="btn btn-light fs-15 h5 sharp fw-bold p-1 px-2" style="letter-spacing: 2px;">
                            
                            {% block moreInfoButtonLabel %}{% endblock %}
                        
                        </span>
                        
                    </a>
                    
                    <!-- Advices Content -->

                    <div id="collapseAdvices" class="info-box collapse no-transition col-md-8 col-lg-6">
                                
                        {% block moreInfoContent %}{% endblock %}

                    </div>
             
                {% endblock %}

            </div>


            <div class="main-content-container">

                {% block mainContent %}{% endblock %}

            </div>

            {# End of page action possibilities #}

            {% block actionButtons %}

                <div class="action-buttons-container">

                    {# See Result (at the right anchor) Button #}
        
                    <a 
                    
                        class="text-decoration-none text-white" 
                        href="{{path('show_presentation', {'stringId': stringId })}}#{% block seeResultAnchor %}{% endblock %}">

                        <button type="button" class="btn btn-lg btn-see-result mb-4 me-3 ">Résultat</button>

                    </a>

                    {% block specificButtons %}

                    {% endblock %}
                    
                </div>
            
            {% endblock %}

        </div>
    
        {# styles for this skeleton #}
    
        <style>
    
            .edit-structure-container{
    
                padding-top: 60px;
                padding-bottom: 60px;
    
            }
    
            .edit-structure-container .main-title-container {
    
                margin-bottom: 20px;
    
            }
    
            .edit-structure-container .main-title {
    
                display: inline-block;
                font-weight: bold;
    
            }

            .main-content-container{
                margin-bottom: 42px;
            }
    
            .info-box{
                background-color: lavender;
                padding: 8px 14px;
                border-left: 5px solid blue;
                font-size: 1em;
                margin-top: 8px;
            }
    
            .info-box ul{
            
                padding-left: 25px;
                margin-bottom: 0;
            }
    
            
    
            @media (max-width: 768px) {
        
                .edit-structure-container{
    
                    padding-top: 29px;
                    padding-left: 15px;
    
                }
                    
                .edit-structure-container .main-title-container {

                    margin-bottom: 20px;

                }
                          
                .info-box{
                    margin-left: 20px;
                }
    
            }
    
            
            @media (max-width: 576px) {

                .edit-structure-container{
    
                    padding-left: 5px;
                    padding-right: 5px;
    
                }

                .main-title{
                    font-size: 1.05em;
                }

            }
    
    
        </style>

        {# specific styles for childs of this skeleton #}
        
        {% block specificStyles %}{% endblock %}
        
        {% endblock %}
        
        
{% block javascripts %}

    <!-- sortable plugin to reorder elements (exemple : reorder presentation slides; reorder presentation websites; etc) -->

    <script src="/js/sortable/sortable.min.js"></script>

    <!-- jQuerySupport for above sortable plugin -->
    
    <script src="/js/sortable/jquery-sortable.js"></script>

    <script>

        // ajax elements reordering & deletion

        $(document).ready(function(){

            // reorder elements capability instantiation

            $('#elements-list').sortable({

                animation: 150,

                ghostClass: 'blue-background-class',

                filter: ".disabled",

                onMove: function (evt) {
                    return evt.related.className.indexOf('disabled') === -1;
                },

                // drag and drop implies elements positions updates (ajax call)

                onEnd: function (evt) {

                    // an array storing elements id position

                    var elementsPositions = [];

                    $('#elements-list .js-sortable-element').each(function(index){
                        
                        elementsPositions.push($(this).attr('id'));
                   
                    });

                    jsonElementsPositions = JSON.stringify(elementsPositions);

                    // getting entity type in order to call appropriate route (ex: a website; a slide; ...)

                    var path = null;

                    var entityType = $('#elements-list').data('elements-type');

                    switch(entityType) {

                        case "websites":
                        case "dataList":
                        case "questionsAnswers":
                        case "businessCards":

                            path = "{{path('ajax_reorder_items', {'stringId': stringId})}}";
                            break;

                        case "documents":
                        case "needs":
                        case "slides":
                        case "places":
                        case "contributorStructures":
                            
                            path = "{{path('ajax_reorder_component_elements', {'stringId': stringId})}}";
                            break;
                 
                        case "persorgs":
                            
                            path = "{{path('ajax_reorder_cs_persorgs', {'stringId': stringId, 'id_cs': cs.id|default('none')})}}";
                            break;

                        default:

                            break;

                    } 
                    
                    $.ajax({  

                        url: path,
                        type:       'POST',   
                        dataType:   'json',
                        data: {
                            "entityType": entityType,
                            "jsonElementsPosition": jsonElementsPositions,
                        },
    
                        async: true,  
                        
                        success: function(data, status) {
                                 
                        },  
    
                        error : function(xhr, textStatus, errorThrown) {  
                            // alert('Ajax request failed.');  
                        }  
                    }); 

                },
            });
                        
            
            // Remove an Element

            $('#elements-list').on('click', '.js-delete-element', function (){

                var idElement = $(this).attr("data-id");

                // getting entity type in order to call appropriate route (ex: presentation website; presentation slide)

                var path = null;

                var elementsType = $('#elements-list').data('elements-type');
                
                switch(elementsType) {

                    case "websites":
                    case "dataList":
                    case "questionsAnswers":
                    case "businessCards":

                        path = "{{path('ajax_delete_item', {'stringId': stringId})}}";
                        break;

                    case "documents":
                    case "needs":
                    case "slides":
                    case "contributorStructures":

                        path = "{{path('ajax_remove_component_element', {'stringId': stringId})}}";
                        break;

                    case "persorgs":

                        path = "{{path('ajax_remove_cs_persorg', {'stringId': stringId})}}";
                        break;
                        
                    default:

                        break;

                } 
                
                if (confirm("Confimez-vous enlever cet élément ?"))
                {

                $(this).html('<div class="loader"></div>');
                    
                $.ajax({  

                    url: path,
                    type:       'POST',   
                    dataType:   'json',
                    
                    data: {
                        "elementsType": elementsType,
                        "idElement": idElement,
                    },

                    async: true,  
                    
                    success: function(data, status) {

                        $("#elements-list #"+idElement).remove();
                        
                    },  

                    error : function(xhr, textStatus, errorThrown) {  
                        // alert('Ajax request failed.');  
                    }  
                    }); 
                    
                }
    
            });

        }); 

        
    </script>

        
    {# specific javascripts for childs of this skeleton #}

    {% block specificJavascripts %}


    {% endblock %}  
        
{% endblock %}



