{% extends 'base.html.twig' %}

{% block title %}Édition d'une Présentation{% endblock %}

{% block sidebar %} {% include '_partials/sidebar.html.twig' %} {% endblock %}

{% block body %}

<!-- Edit Presentation Menu -->

<a href="{{path("edit_pp_base", {'stringId': presentation.stringId})}}">

    <div class="menu-button">

        Objectif; titre; logo

    </div>

</a>

<a href="{{path("select_categories", {'stringId': presentation.stringId})}}">

    <div class="menu-button">

        Catégories

    </div>

</a>

<a href="{{path("edit_pp_text_description", {'stringId': presentation.stringId})}}">
    
    <div class="menu-button">
    
        Description texte
    
    </div>

</a>

<a href="{{path("manage_slides", {'stringId': presentation.stringId})}}">
    
    <div class="menu-button">
    
        Images & Vidéos
    
    </div>

</a>

<a href="{{path("manage_places", {'stringId': stringId})}}">
    
    <div class="menu-button">
    
        Lieux du projet
    
    </div>

</a>

<a href="{{path("manage_documents", {'stringId': stringId})}}">
    
    <div class="menu-button">
    
        Documents du projet
    
    </div>

</a>

<a href="{{path("manage_other_components", {'stringId': stringId, 'component_type': 'websites'})}}">
    
    <div class="menu-button">
    
        Sites web du projet
    
    </div>

</a>

<a href="{{path("manage_other_components", {'stringId': stringId, 'component_type': 'dataList'})}}">
    
    <div class="menu-button">
    
        Liste de données
    
    </div>

</a>

<a href="{{path("manage_needs", {'stringId': stringId})}}">
    
    <div class="menu-button">
    
        Besoins du Projet
    
    </div>

</a>

<a href="{{path("manage_other_components", {'stringId': stringId, 'component_type': 'questionsAnswers'})}}">
    
    <div class="menu-button">
    
        Questions & réponses
    
    </div>

</a>

<a href="{{path("manage_other_components", {'stringId': stringId, 'component_type': 'businessCards'})}}">
    
    <div class="menu-button">
    
        Cartes de Visites
    
    </div>

</a>


<style>

    .menu-button{
        display: inline-block;
        margin:10px;
        width:150px;
        height:100px;
        background-color: darkorange;
        font-size: 1.15em;
        color: black;
        padding: 10px;
    }

    a{

        text-decoration: none;
    }

</style>


{% endblock %}




{% block javascripts %}


{% endblock %}