{#

To use this template, we need access to those variables :

    - the commented entity type (ex: a projectPresentation, an article, etc)
    - how many comments the entity have

#}

<link href="/css/comments.css" rel="stylesheet">

{% from 'comment/_macro.html.twig' import oneCommentContainer, commentForm %}

{% include "comment/_js.html.twig" %}



<h3 class="commentSectionTitle">{{countComments}} Commentaire{% if countComments > 1 %}s{% endif %} </h3>

{{ commentForm(commentedEntityType, commentedEntityId) }}

{# Comments display loop #}

{% for comment in commentedEntityComments | reverse %}

    {% if comment.getParent is null %} {# we display only parent comments (and then its potential child) #}

        <!-- thread container -->

        <article class="threadContainer comment-{{ cycle(['odd', 'even'], loop.index0) }}">

            {{ oneCommentContainer(commentedEntityType, comment, comment.id) }}

            <!-- Maybe Some Comment Childs -->

            {% if comment.replies | length > 0 %}

                <!-- Child Comments container with Indentation -->

                <div class="commentRepliesContainer">

                    {% for subComment in comment.replies %}

                        {{ oneCommentContainer(commentedEntityType, subComment, comment.id) }}

                    {% endfor %}
                
                </div>
                <!-- End Of Comment Child Comments container -->

            {% endif %}

            <!-- End of Comment Section -->

        </article>

    {% endif %}

{% endfor %}
