{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "addVideoSlideFormModal", 'modal_title': "Ajouter une Vidéo Youtube"} %}

    {% block modalBody %}

        {{form_start(addVideoForm)}}


        <!-- Advice : How to Insert a Youtube Vidéo ? -->

        <div class="text-center lh-sm mb-4">

            <!-- Button with Collapsable -->

            <a class="fw-bold d-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTutorial"
            aria-expanded="false" aria-controls="collapseTutorial">

                <span class="btn btn-warning fw-bold btn-lg fs-15 p-1 px-3" style="letter-spacing: 2px;">Comment faire en 1 minute ?</span>

            </a>

            <!-- Collapsible Info Container -->

            <div id="collapseTutorial" class="collapse text-start no-transition px-4 py-3 mt-2 mb-4" style="background-color: lavender;">

                <p class="fw-bold">En 3 étapes :</p>

                <ol>
                    <li>Allez sur la page Youtube de la vidéo désirée;</li>
                    <li>Cliquez sur partager;</li>
                    <li>Copier directement le lien (exemple: https://youtu.be/wwl05u5U9vo)</li>
                </ol>

                <p class="fw-bold">!!! Youtube peut désactiver l'affichage de vidéos avec copyright (par exemple certains clips musicaux).</p>

            </div>

        </div>

        <div class="form-group mt-3 mb-3 pl-md-2">

            <div class="font-weight-bold">

                <!-- Youtube Video Code Input-->

                {{ form_errors(addVideoForm) }}

                <div class="mb-3">

                    <span class=""> 
                        {{ form_label(addVideoForm.address) }}
                    </span>
    
                    <div class="p-0 m-0 alert text-body h5 fw-bold">
    
                        {{ form_errors(addVideoForm.address) }}
    
                    </div>
                    
                    <div class="mt-1 p-1 disabled rounded">
                        
                        {{ form_widget(addVideoForm.address) }}
    
                    </div>

                </div>
                
                <!-- Add a Caption? -->
                
                <div class="mb-4">

                    {{ form_errors(addVideoForm.caption) }}

                    {{ form_label(addVideoForm.caption) }}

                    {{ form_widget(addVideoForm.caption) }}
                    
                </div>

            </div>

        </div>

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-validate">✔️ Valider</button>

        {{ form_end(addVideoForm) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not addVideoForm.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}
