{% extends 'base.html.twig' %}

{% form_theme addVideoForm 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/app_forms.css" />{% endblock %}

{% block title %}Ajouter une vidéo{% endblock %}

{% block sidebar %} {% include '_partials/sidebar.html.twig' %}{% endblock %}

{% block body %}

<div class="container">

    <!-- Title with Info Button Container -->

    <div class="mt-3 mt-md-4 mb-md-3">

        <!-- ui Page Title -->

        <h3 class="fw-bold d-inline me-2">Ajouter une vidéo Youtube</h3>

        <!-- Button with Collapsable Advice : How to Insert a Youtube Vidéo ? -->

        <a class="fw-bold my-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTutorial"
            aria-expanded="false" aria-controls="collapseTutorial">

            <span class="btn btn-info fw-bold btn-lg fs-15 h5 sharp p-1 px-3" style="letter-spacing: 2px;">Comment faire
                ?</span>

        </a>

    </div>

    <!-- Collapsible Info Container -->

    <div id="collapseTutorial" class="collapse no-transition col-md-7 px-4 py-3 mb-4"
        style="background-color: lavender;">

        <h5 class="fw-bold">Aller sur la page Youtube de la vidéo désirée, regardez son adresse, puis recopier
            le code situé comme dans l'exemple ci-dessous :</h5>

        <p class="h5 fw-bold">https://www.youtube.com/watch?v=<span
                class="px-1 border border-2 border-danger rounded">zL1EvGkKb00</span></p>

        <p class="h5 fw-bold">!!! Youtube peut désactiver l'affichage des vidéos avec copyright (exemple : certains
            clips musicaux).</p>

    </div>

    <!-- Form Container -->

    <div class="mt-2">

        {{form_start(addVideoForm)}}

        <!-- Youtube Video Code Input-->

        <div class="col-md-7 ps-0 mb-4">

            {{form_row(addVideoForm.address)}}

        </div>

        <!-- Youtube Video Caption Input-->

        <div class="col-md-7 ps-0">

            {{ form_row(addVideoForm.caption) }}

        </div>

        <!-- Action Buttons -->

        <div class="mt-4 pt-2 pl-0">

            <button type="submit" class="btn btn-success bg-green sharp btn-lg h3 mb-4 me-1">Intégrer
                la vidéo</button>

            <a class="text-decoration-none text-white" href="{{ path('manage_slides', {'stringId': stringId}) }}">
                <button type="button" class="btn btn-danger btn-lg mb-4">Annuler</button>
            </a>

        </div>

        {{form_end(addVideoForm)}}

    </div>

</div>


{% endblock %}