{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}

{% block title %}Images et Vidéos{% endblock %}


{% block mainContentTitle %}Images & Vidéos{% endblock %}

{% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}


{% block moreInfoButtonLabel %}

    {% if presentation.slides | length == 0 %}

    Conseil

    {% else %}

    Info +

    {% endif %}

{% endblock %}


{% block moreInfoContent %}

    {% if presentation.slides | length == 0 %}

        <p class="lh-2 h5">Présenter des images, schémas, ou vidéos est une méthode rapide et efficace pour <strong>transmettre vos Idées</strong>.</p>

        <p class="lh-2 h5">Taille d'images recommandée : <b> au moins 800px &times 400px. (deux fois plus longue que large)</b> </p>

    {% else %}

        <p class="lh-2 h5">Pour modifier l'ordre des images et des vidéos, utiliser le glisser-déposer (= drag and drop).</p>

        <p class="h5">Nombre limite (images + vidéos) : <b>8</b></p>

    {% endif %}

{% endblock %}

{% block mainContent %}

<!-- Add Image or Video Button -->

{% if presentation.slides | length < 8 %} 

    <div class="" style="margin-bottom:33px;">

        <!-- Add an Image Button (Triggers a Modal Box with a Form, included below) -->

        <button type="button" data-bs-toggle="modal" data-bs-target="#addImageSlideFormModal"
            class="btn btn-success sharp me-3">+ Ajouter une image</button>

        <!-- Small Screens Vertical Spacer -->

        <div class="d-md-none">
            <br>
        </div>

        <!-- add a video button -->

        <a href="{{path('add_youtube_slide', {'stringId': stringId})}}">
            <button type="button" class="btn btn-success sharp me-1">+ Ajouter une vidéo (Youtube)</button>
        </a>

    </div>

    <!-- Add Slide Image Form -->

    {% include "project_presentation/edit/slides/add_image_form.html.twig" %}

{% endif %}


    <!-- Slides list displayed in a grid -->

    <div class="container p-0 mb-3">

        <div id="elements-list" data-elements-type="slides" class="row col-lg-8 m-0">

            {% if presentation.slides | length > 0 %}

                {% for slide in presentation.slides %}

                <!-- Thumbnail Container -->

                <div id="{{slide.id}}"

                    class="js-sortable-element">

                    {% if slide.type == 'image' %}

                        {# edit link #}

                        <a href="{{path('update_image_slide', {'stringId': stringId, 'presentation': presentation, 'id_slide' : slide.id })}}" class="text-body text-decoration-none">

                            {# thumbnail #}

                            <img src="{{ vich_uploader_asset(slide) }}" alt="{{slide.file}}" height="" width="100%">

                        </a>

                    {% elseif slide.type == 'youtube_video' %}

                    {# edit link #}

                        <a href="{{path('update_youtube_slide', {'stringId': stringId, 'presentation': presentation, 'slide_id' : slide.id })}}" class="text-body text-decoration-none">

                            {# youtube thumbnail #}

                            <img src="https://img.youtube.com/vi/{{slide.address}}/mqdefault.jpg" alt="image miniature d'une video" height="" width="100%">

                            {# red circle (= video icon stamp) #}

                            <span class="position-absolute rounded-circle bg-danger p-2" style="bottom:3px; left:3px;"> </span>

                        </a>

                    {% endif %}

                    <!-- Remove Slide button (a red cross on each slide) -->

                    <button type="button" class="js-delete-element position-absolute btn btn-sm btn-danger sharp"
                        data-id="{{slide.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                </div>

                {% endfor %}

            {% endif %}

        </div>

    </div>


{% endblock %}


    {% block seeResultAnchor %}slides{% endblock %}

    {% block specificStyles %}

        <style>

            .js-sortable-element{

                position: relative;

                display:flex;
                align-items: center;
                justify-content: center;


                width:130px;
                height:123px;

                overflow:hidden;

                padding:12px;

                margin: 8px 16px 8px 0;

                border: 5px solid  #3f5cff;
                border-radius: 4px;
            }
        </style>

    {% endblock %}


    {% block specificJavascripts %}


    {% endblock %}



    {% endembed %}