
{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% block title %}Modifier une image ou sa légende{% endblock %}

    {% block mainContentTitle %}Modifier une image ou sa légende{% endblock %}

    {% block collapsibleMoreInfo %}{% endblock %}

    {% block mainContent %}
        
        <div class="">

            <div class="mb-5">

                <h5 class="fw-bold mb-3">Image actuelle :</h5>

                {% if slide.address is not empty %}
                
                    <img class="SlideImageThumbnail" src="{{ vich_uploader_asset(slide) }}" alt="Current image" style="max-width:250px; height:100%;"/>

                {% else %}
                    
                    <div>Cette diapositive ne contient pas d'image.</div>
                
                {% endif %}



            </div>
            
            <span class="fw-bold h5"> 
                Modifier l'image ?
            </span>

            <div class="">

                {{ form_errors(form.file) }}

            </div>
            
            <div class="mt-2">
                
                {{ form_widget(form.file) }}

            </div>
            
            <div class="mt-5">

                {{ form_errors(form.file) }}

                <h5 class="fw-bold mb-3">
                    Légende ou titre pour cette image :
                </h5>

                {{ form_widget(form.caption) }}
                
            </div>

        </div>

    {% endblock %}

    {% block seeResultAnchor %}slides{% endblock %}

{% endembed %}


