{% for slide in presentation.slides %}

	<div id="{{slide.id}}" class="mySlides">

		<!-- Case Slide is an Image -->

		{% if slide.type == 'image' %}
		
			<img id="{{slide.id}}" src="{{ vich_uploader_asset(slide) }}" alt="{{slide.file}}">

		{% endif %}

		<!-- Case Youtube Video Slide -->

		{% if slide.type =='youtube_video' %}

			<iframe id="{{slide.id}}" width="100%" height="100%" src="https://www.youtube.com/embed/{{slide.address}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
		{% endif %}

		{% if userPresenter %}

			{% set path = path('update_slide', {'stringId': stringId, 'presentation': presentation, 'id_slide' : slide.id }) %}

			{# Edit Slide on slide click (only for large screens) #}
			
			<a href="{{path}}" class="pp-edition-mode coverable-link d-none d-lg-block"></a>

			{# Edit Slide Icon (only for small to medium screens) #}
			
			<a class="btn btn-sm edit-slide-button pp-edition-mode d-lg-none" href="{{path}}">

				<img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
				
			</a>

			{# Delete Slide Button (red cross) #}

			<button type="button" data-elements-type="slides" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{slide.id}}" style="width:30px; height:30px;">&times</button>			
		
		{% endif %}

	</div>
	
{% endfor %}

<!-- Slideshow Navigation Lateral Buttons (only if there is more than one slide) -->

{% if presentation.slides | length > 1 %}
			
	<div class="nav-buttons">
		
		<a class="prev text-decoration-none" onclick="plusSlides(-1)">❮</a>
	
		<a id="slide-next" class="next text-decoration-none" onclick="plusSlides(1)">❯</a>
	
	</div>	

{% endif %}