<!--Second Column - Contains Thumbnails - Not displayed on small screens + Not Displayed if there is only one slide -->

{% if presentation.slides | length > 1 %}


{% macro youtubeVideoThumbnail(slide) %}

	<div style="position: relative;">

		<img class="SlideImageThumbnail" src="https://img.youtube.com/vi/{{slide.address}}/mqdefault.jpg" width="80px" height="50px"
		
			data-caption = "{{ slide.caption[:1] | upper ~ slide.caption[1:] }}" 

			alt="{{ slide.caption[:1] | upper ~ slide.caption[1:5] }}"/>

		<!-- ui css video icon -->

		<span class="thumbnail-video-icon"> </span>

	</div>

{% endmacro %}

{% macro imageThumbnail(slide) %}
	
	<img class="SlideImageThumbnail" src="{{ vich_uploader_asset(slide) | imagine_filter('slide_thumbnail') }}"

		data-caption = "{{ slide.caption[:1] | upper ~ slide.caption[1:] }}" 

		alt="{{ slide.caption[:1] | upper ~ slide.caption[1 : 5] }}"/>

{% endmacro %}


<div class="col-lg-3 pe-0 d-none d-lg-flex align-items-center pt-4">

	<!--Thumbnails Container -->

	<div class="thumbnails-container container">

		<div class="row">

			<!-- first Thumbnail Column (first 4 slides) -->

			<div class="col-6">
				
				{% for slide in presentation.slides | slice (0,4) %}

				<div data-slide-thumbnail-id="{{slide.id}}" class="row mb-5">

					<div data-loop-index="{{loop.index}}" onclick="currentSlide({{loop.index}})" class="thumbnail">

						{% if slide.type == 'youtube_video' %}	

							{{ _self.youtubeVideoThumbnail(slide) }}

						{% else %}

							{{ _self.imageThumbnail(slide) }}

						{% endif %}

					</div>

				</div>
			
			{% endfor %}

			</div>

			<!--Second Thumbnail Column if more than 4 slides -->

			{% if presentation.slides | length > 4 %}
			
				<div class="col-6">
					
					{% for slide in presentation.slides | slice (4,8) %}

					<div class="row mb-5">

						<div data-loop-index="{{loop.index + 4}}" onclick="currentSlide({{loop.index + 4}})" class="thumbnail">

							{% if slide.type == 'youtube_video' %}	

								{{ _self.youtubeVideoThumbnail(slide) }}
								
							{% else %}

							{{ _self.imageThumbnail(slide) }}
							
						{% endif %}


						</div>

					</div>
					
				{% endfor %}

				</div>

			{% endif %}
			
		</div>

	</div>

</div>

{% endif %}