
	{% macro youtubeVideoThumbnail(slide) %}

		<div style="position: relative;">

			<img class="SlideImageThumbnail" src="https://img.youtube.com/vi/{{slide.address}}/mqdefault.jpg" width="80px" height="50px"
			
				data-caption = "{{ slide.caption[:1] | upper ~ slide.caption[1:] }}" 

				alt="Slideshow video"/>

			<!-- ui css video icon -->

			<span class="thumbnail-video-icon"> </span>

		</div>

	{% endmacro %}

	{% macro imageThumbnail(slide) %}
		
		<img class="SlideImageThumbnail" src="{{ vich_uploader_asset(slide) | imagine_filter('slide_thumbnail') }}"

			data-caption = "{{ slide.caption[:1] | upper ~ slide.caption[1:] }}" 

			alt="Slideshow image"/>

	{% endmacro %}




<div id="slide-thumbnails" class="flex-container js-elements-list ">

	{% for slide in presentation.slides %}

		{# Flag if we have some captions #}

		{% if slide.caption is not empty %}

			<span class="hasCaptionFlag d-none"></span>
		
		{% endif %}

		<div id="{{slide.id}}" class="flex-child thumbnail js-sortable-element position-relative" data-slide-thumbnail-id="{{slide.id}}" data-loop-index="{{loop.index}}">

			{% if slide.type == 'youtube_video' %}	

				{{ _self.youtubeVideoThumbnail(slide) }}

			{% else %}

				{{ _self.imageThumbnail(slide) }}

			{% endif %}

			{% if userPresenter %}

				{# Access item edit page on click #}

				<a href="{{path('update_slide', {'stringId': stringId, 'presentation': presentation, 'id_slide' : slide.id })}}" class="pp-edition-mode coverable-link"></a>


				{# Delete slide button #}

				<button type="button" data-elements-type="slide-thumbnail" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{slide.id}}">&times</button>

			{% endif %}

		</div>

	{% endfor %}



	
</div>

<script>

	//showing appropriate slide when clicking on its thumbnail

	onHoverThumbnails();

	function onHoverThumbnails() {

		$( ".thumbnail" ).on("click", function(event){ 

			currentSlide( $(this).attr("data-loop-index") );

		});

	}


</script>

<style>

	.flex-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
		align-content: flex-start;
		height: 400px;
	}

	.flex-child {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 86px;
		padding-left: 12px;
		color: #FFFFFF;
		cursor:pointer;
	}
	
</style>