<div id="logo-relative-positions" class="struct-container isHidden">
    
    <div class="">
    
        <label for="logo-relative-positions-hidden" class="form-label big-title">Choisis la position du texte</label>
    
    </div>

    <div id="logo-relative-positions-container" class="selectable-container row">


        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-bottom">

            <h4 class="title">En dessous</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-bottom.png', 'larger')}}" loading="lazy">
        
        </div>
    

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-left">

            <h4 class="title">À gauche</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-left.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-right">

            <h4 class="title">À droite</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-right.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-through">

            <h4 class="title">Au travers</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-through.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-circle">

            <h4 class="title">Autour</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-circle.png', 'larger')}}" loading="lazy">
        
        </div>

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="text-top">

            <h4 class="title">Au dessus</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/text-top.png', 'larger')}}" loading="lazy">
        
        </div>
        

        <div class="selectable-square logo-relative-positions" data-logo-relative-positions="unknown" >

            <h4 class="title">Je ne sais pas encore</h4>

            <img class="img-fluid" width="140" src="{{asset ('logo_creation/question-mark.png', 'larger')}}" loading="lazy">
        
        </div>
    
    </div>

    {# posted logo type #}

    <input type="hidden" id="logo-relative-positions-hidden" value="">

</div>

<div id="logo-relative-heights" class="struct-container isHidden">


    <h2>Taille des lettres par rapport à l'image</h2>

    <h4>Faites glisser la barre pour ajuster la taille.</h4>

    <input id="fontSizeSlider" type="range" min="10" max="60" value="20"/>

    <h2>Aperçu :</h2>


    <div id="preview-container">
    
        <img class="" width="" src="{{asset ('logo_creation/apple.png', 'larger')}}" loading="lazy">

        <p id="previewArea">Mon Texte</p>

        <p id="inputValue"></p>
    
    </div>



    <script>

        previewArea.style.fontSize = fontSizeSlider.value + "px";
        inputValue.textContent = fontSizeSlider.value;
    
        fontSizeSlider.addEventListener("input", function(e) {
            previewArea.style.fontSize = e.target.value + "px";
            inputValue.textContent = fontSizeSlider.value;
        });
            
    </script>

    <style>
    
        #preview-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    
        #preview-container img{
            width: 60px;
            margin-bottom: 10px;
        }
    
        #previewArea {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 5px;
            background: #f9f9f9;
        }
    
    </style>

</div>


{# 
    <div class="d-flex align-items-center mb-3">

        <label for="firstColorInspiration" class="form-label mb-0 me-2">Si vous voulez choisir une couleur principale, faites-le ici : </label>
        <input type="color" class="form-control form-control-color" id="firstColorInspiration" value="" title="Choose your color">
    
    </div>

    <div class="d-flex align-items-center mb-3">

        <label for="secondColorInspiration" class="form-label mb-0 me-2">Si vous voulez choisir une couleur secondaire, faites-le ici : </label>
        <input type="color" class="form-control form-control-color" id="secondColorInspiration" value="" title="Choose your color">
    
    </div>
 #}

{# 
    <div class=""> font style, size, and color.</div>






    <div class="mb-3">
        <label for="businessCategory" class="form-label">Ici vous pouvez inscrire le domaine de votre organisation :</label>
        <input type="text" class="form-control" id="businessCategory" placeholder="Ex : santé, agriculture, cosmétiques, services, etc.">
    </div>

    <div class="mb-3">
        <label for="otherLogosInspiration" class="form-label">Si vous voulez que votre logo s'inspire d'un logo qui existe déjà, notez-le ici : </label>
        <input type="text" class="form-control" id="otherLogosInspiration" placeholder="Ex : netflix, uber, etc.">
    </div> #}

   {#  <div class="">
    
        Logo parfait gratuit, sans effort, et sans inscription. Un service proposé par Propon, le site de présentation de projet.

        Tous les logos présentés ici sont exposés à titre pédagogique et sont soumis à des copyrights détenus par leurs ayants respectifs.
    
    
    </div> #}