{% extends 'base.html.twig' %}


    {% set titleMetadata = 'Création de logo pour votre projet, automatisée par IA' %}
    {% set metadataDescription = "Service gratuit et sans inscription, laissez-vous guider pour créer le logo parfait pour votre projet. Aucune compétence en graphisme n'est requise." %}
    {% set metadataImageUrl %}{{asset ('logo_creation/two-persons-creating-a-logo.jpeg', 'larger')}}{% endset %}
    {% set currentPageUrl = app.request.uri %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="Laurent G.">
    <meta name="keywords" content="IA, Création, Logo, Projet">
    <meta name="date" content="2023-12-12">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'product', metadataImageUrl, null) }} {# Call from base.html.twig #}
    
{% endblock %}


{% block title %}{{titleMetadata}}{% endblock %}

{% block body %}


<link href="/css/ia_logo_creation_helper.css" rel="stylesheet">


{% include "ai_presentation_helper/logo_creation/_js_origin.html.twig" %}


<style>

    #ai-logo-ui-container #intermediate-structurer-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 67vw;
        height: 77vh;
        padding: 34px 0;
        border: 1px solid #d2d2ec;
        border-radius: 22px;

    }

    @media screen and (max-width: 580px) {


        #ai-logo-ui-container #intermediate-structurer-container{

            display: unset;
            width: unset;
            height: unset;
            padding: 0;
            border: none;

        }

        #ai-logo-ui-container #wrapper-container{

            margin-top: 20px;
        }

    }

</style>

<div id="ai-logo-ui-container">

    {% include "ai_presentation_helper/logo_creation/_introduction.html.twig" %}

    <div id="intermediate-structurer-container" class="container col-md-7">

        <div id="wrapper-container">
            
            {% include "ai_presentation_helper/logo_creation/_image_process.html.twig" %}
            {% include "ai_presentation_helper/logo_creation/_letters_process.html.twig" %}
            {% include "ai_presentation_helper/logo_creation/_ubiquitary_process.html.twig" %}
            {% include "ai_presentation_helper/logo_creation/_letters_image_process.html.twig" %}

            <div id="controls-container">
                
                <div class="flex-center">
                
                    <button id="previousStep" class="step-btn btn isHidden me-2"><span class="d-md-none">Précédent</span><span class="d-none d-md-inline">Étape précédente</span></button>
                    <button id="nextStep" class="step-btn btn ms-2"><span class="d-md-none">Suivant</span><span class="d-none d-md-inline">Étape suivante</span></button>
                
                </div>
            
            </div>

           {#  <div class="d-flex justify-content-center my-5">
            
                <button id="get-logos-reception" class="btn btn-success rounded">test logos reception</button>
            
            </div> #}
                
            <div class="feedback-loader-container">

                <h4 class="fw-bold mb-3">Création des logos en cours, veuillez patienter quelques instants</h4>

                <img class="feedback-loader img-fluid" width="140" src="{{asset ('logo_creation/loader.gif', 'larger')}}" loading="lazy">

            </div>
        
        </div>

    </div>

</div>


<div id="prompt"></div>

<div id="created-logos-display-container"class="container col-md-11"></div>


{% endblock %}
