{% extends 'base.html.twig' %}


    {% set titleMetadata = 'Création de logo pour votre projet, automatisée par IA' %}
    {% set metadataDescription = "Service gratuit et sans inscription, laissez-vous guider pour créer le logo parfait pour votre projet. Aucune compétence en graphisme n'est requise." %}
    {% set metadataImageUrl %}{{asset ('logo_creation/two-persons-creating-a-logo.jpeg', 'larger')}}{% endset %}
    {% set currentPageUrl = app.request.uri %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="Laurent G.">
    <meta name="keywords" content="IA, Création, Logo, Projet">
    <meta name="date" content="2023-12-12">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'product', metadataImageUrl, null) }} {# Call from base.html.twig #}
    
{% endblock %}


{% block title %}{{titleMetadata}}{% endblock %}

{% block body %}


<link href="/css/ia_logo_creation_helper.css" rel="stylesheet">


{% include "ai_presentation_helper/logo_creation/_js_origin.html.twig" %}

<div class="container col-md-7 mt-4">

    {% include "ai_presentation_helper/logo_creation/_big_cats_process.html.twig" %}
    {% include "ai_presentation_helper/logo_creation/_image_process.html.twig" %}
    {% include "ai_presentation_helper/logo_creation/_letters_process.html.twig" %}
    {% include "ai_presentation_helper/logo_creation/_ubiquitary_process.html.twig" %}
    {% include "ai_presentation_helper/logo_creation/_letters_image_process.html.twig" %}

    

    <div class="d-flex justify-content-center">
        
        <div class="flex-center">
        
            <button id="previousStep" class="btn btn-go-back isHidden me-2">Étape précédente</button>
            <button id="nextStep" class="btn btn-validate ms-2">Étape suivante</button>
        
        </div>
    
    </div>

    <div class="d-flex justify-content-center my-5">
    
        <button id="get-logos-reception" class="btn btn-success rounded">test logos reception</button>
    
    </div>

        
    <div class="feedback-loader-container">

        <h4 class="fw-bold mb-3">Création des logos en cours, veuillez patienter quelques instants</h4>

        <img class="feedback-loader img-fluid" width="140" src="{{asset ('logo_creation/loader.gif', 'larger')}}" loading="lazy">

    </div>
        

</div>


<div id="prompt"></div>

 
<div id="created-logos-display-container"class="container col-md-11"></div>


{# <div id="logo-ui-container">

    <div id="first-display-box">

        <div id="start-page-content">

            <h1 id="main-title">Créez un logo unique avec notre assistant en ligne</h1>

            <h2>Un voyage créatif en mode pas à pas ouvert à tous</h2>


            <p class="fs-4">Créez LE logo qui reflète vos attentes et vos valeurs. </p>

            <p>Simple, intuitif et efficace pour tous niveaux.</p>

            <p>Vous avez besoin d'un logo mais vous ne savez pas par où commencer ? Pas à pas, définissez les formes, les couleurs, et les polices qui vous plaisent pour obtenir un résultat unique magnifié par une intelligence artificielle puissante.</p>


            <p>Obtenez votre logo idéal sans effort et sans inscription. Un service gratuit proposé par Propon, le site de présentation de projet.</p>

            <p>Obtenez un logo unique et personnalisé grâce à une intelligence artificielle puissante.</p>
            

            <div id="start-button-container">
                
                <button class="pushable">

                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        <img class="img-fluid mb-1 me-1" width="30" src="{{asset ('logo_creation/play-button.svg', 'larger')}}" loading="lazy" alt="an cercled triangle icon representing a play icon"> Démarrer maintenant
                    </span>

                </button>
            
            </div>

            <p class="fs-5 fw-bold">Service gratuit et sans inscription.</p>

            <p>
            
                Les logos présentés à titre d'exemples sont soumis à des copyrights détenus par leurs ayants droits respectifs.

            
            </p>


            <div class="gdpr container col-md-6">

                <div class="text-center">Propon respecte votre vie privée. <span class="learn-more">En savoir plus</span>.</div> 

                <div class="more-content border m-1 m-md-3 p-3">

                    <p>Les données que nous collectons sont <b><u>anonymisées</u></b>; <b><u>conservées au maximum 15 jours</u></b>; <b><u>exclusivement pour améliorer l'outil à votre disposition</u></b>.</p>

                    <p>Ce service utilise ChatGPT, agent de conversation fournit par la société <a href="https://openai.com/">OpenAI</a>. Pour utiliser ChatGPT, notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs. Ces données anonymes sont susceptibles d'être collectées par OpenAI.</p>

                </div>

                <style>

                    /* Initially hide the "Learn More" content */
                    .more-content {
                        display: none;

                    }

                    /* Styles for the "Learn More" button */
                    .learn-more {
                        color: #0073e6;
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    /* Style on hover for the "Learn More" button */
                    .learn-more:hover {
                        text-decoration: none;
                    }

                </style>

                <script>
                // Select HTML elements
                const learnMoreButton = document.querySelector('.learn-more');
                const moreContent = document.querySelector('.more-content');

                // Add an event listener to show/hide the "Learn More" content
                learnMoreButton.addEventListener('click', () => {
                    if (moreContent.style.display === 'block') {
                    moreContent.style.display = 'none';
                    } else {
                    moreContent.style.display = 'block';
                    }
                });
                </script>

            </div>
                
        </div>


    </div>

</div> #}


<style>

    #logo-ui-container{


        margin-top: 20px;

        height: 88vh;

        padding: 40px;

    }

    #first-display-box{

        height: 100%;
        border-radius: 5px;
        border: 1px solid green;
        padding: 15px;

    }

    #start-page-content{

        display: flex;
        align-items: center;
        flex-direction: column;

        height: 100%;
        border: 1px solid green;
        border-radius: 5px;

    }


    #start-button-container{

        display: flex;
        justify-content: center;

    }


    #main-title{

        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-weight: bold;

    }


</style>



{# Thanks at https://www.joshwcomeau.com/animation/3d-button/ #}

{% endblock %}
