<!-- Question -->

{% if repeatInstance == "false" %}
                    
    <h1 class="jumbotron-title display-5 lh-1">{{currentItem.questionFr}}</h1>

{% endif %}


{% if currentItem.type == "categories_keywords" %}

    {% include "presentation_helper/_categories_keywords.html.twig" %}
    
{% elseif currentItem.type == "places" %}
    
    {% include "presentation_helper/_places.html.twig" %}

{% else %}

    {{ form_start(form) }}

        {% if currentItem.type == "title" %}

            {{ form_widget(form.title) }}

        {% endif %}

        {% if currentItem.type == "needs" %}

            <!-- Need Type Selection (in a Modal Box, triggered by above button) -->

            {% embed "project_presentation/edit/needs/_select_need_type_modal.html.twig" %}

                {% block crossDismiss %}{% endblock %}

                {% block footer %}

                    <a href="{{ path('presentation_helper', {'stringId': stringId, 'position': nextPosition }) }}">
                        <button type="button" class="jumbotron-btn btn btn-secondary">Annuler</button>
                    </a>

                {% endblock %}
                
            {% endembed %}

            {{ form_row(form.needTitle) }}
            {{ form_row(form.needDescription) }}

            {% if repeatInstance == "true" %}

                <script>

                    $(document).ready(function(){
                        var needTypesModal = new bootstrap.Modal(document.getElementById("selectNeedTypeModal"), {});

                        needTypesModal.show();
                    });

                </script>
            
            {% endif %}

            <script>

                $(document).ready(function(){

                    $('#accept-invitation').click(function() {

                        var needTypesModal = new bootstrap.Modal(document.getElementById("selectNeedTypeModal"), {
                            backdrop: 'static'
                        });
        
                        needTypesModal.show();

                    });

                    $('#selectNeedTypeModal .needTypeChoice').click(function(event) {

                        var myModalEl = document.getElementById('selectNeedTypeModal')
                        var modal = bootstrap.Modal.getInstance(myModalEl)

                        modal.hide();

                        event.preventDefault();

                        $('#presentation_helper_selectedNeedType').val($(this).data("need-type"));

                    });

                    giveFocus();

                });

            </script>

        {% elseif currentItem.type == "websites" %}

            {{ form_row(form.websiteDescription) }}
            {{ form_row(form.url) }}

        {% elseif currentItem.type == "qa" or currentItem.type == "textDescription" %}

            {{ form_widget(form.answer) }}

        {% endif %}

        <!-- Hidden Fields -->

        <div class="">
                        
            {{ form_widget(form.helperItemType, {'value' : currentItem.type}) }}

            {{ form_widget(form.finalRenderingLabel, {'value' : currentItem.finalRenderingLabel}) }}

            {{ form_widget(form.currentPosition, {'value' : position}) }}

            {{ form_widget(form.nextPosition, {'value' : nextPosition}) }}

            {{ form_widget(form.repeatedInstance) }}

        </div>

        <div class="d-none">

            {{ form_rest(form) }}

        </div>

        <!-- Action Buttons -->

        <div class="action-buttons-container">

            <a href="{{ path('presentation_helper', {'stringId': stringId, 'position': nextPosition }) }}">
                <button type="button" class="jumbotron-btn btn btn-secondary me-md-2 mb-2">Je ne réponds pas</button>
            </a>

            <button id="validate-button" type="submit" class="jumbotron-btn answer-btn btn btn-primary mb-2">Je valide ma réponse</button>

        </div>


        <style>

            @media screen and (max-width: 580px) {

                .action-buttons-container{

                    display: flex;
                    flex-direction: column-reverse;
                }

                .answer-btn {

                    margin-bottom: 22px !important;

                }

            }

        </style>

    {{ form_end(form) }}

{% endif %}