{% extends 'base.html.twig' %}

{% block title %}Aide à la présentation de projet{% endblock %}

{% set helperItems = [ 
        
    { 'uniqueName': "title", 'type': "title", 'priorQuestion': "Votre projet a t-il déjà un titre ou un titre temporaire ?", 'questionFr': "Quel est le titre du projet ?",'finalRenderingLabel': ""}, 
        
    { 'uniqueName': "goal_details", 'type': "textDescription", 'questionFr': "Pouvez-vous décrire / préciser le résultat final que vous souhaitez atteindre ?",'finalRenderingLabel': ""}, 
    
    { 'uniqueName': "idea", 'type': "qa", 'questionFr': "Comment est née l'idée du projet ?", 'finalRenderingLabel': "Comment est né le projet ?"}, 

    { 'uniqueName': "progress", 'type': "qa", 'priorQuestion': "Le projet a t-il déjà avancé ?", 'questionFr': "Quel est le travail déjà effectué ?", 'finalRenderingLabel': "Quel est l'avancement du projet' ?"},

    { 'uniqueName': "websites", 'type': "websites", 'priorQuestion': "Avez-vous déjà un site web ou un réseau social en lien avec votre projet ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre site web ?', 'finalRenderingLabel': ""},

    { 'uniqueName': "places", 'type': "places", 'priorQuestion': "Votre projet est-il relié à un pays, un département, ou une ville ?", 'questionFr': "", 'finalRenderingLabel': ""},
    
    { 'uniqueName': "needs", 'type': "needs", 'priorQuestion': "Recherchez-vous des contributeurs (bénévoles ou payés) (acceptez-vous de l'aide) ?", 'questionFr': "", 'repeatableMessage': 'Voulez-vous ajouter un autre besoin ?', 'finalRenderingLabel': ""}, 

] %}


{% set currentItem = helperItems[position] %}

{% set currentPosition = position %}

{% set nextPosition = null %}

{% set itemsCount = helperItems | length %}

{% if helperItems[position + 1] is defined %}

    {% set nextPosition = position + 1 %}

{% endif %}

{% set nextItem = null %}

{% if helperItems[position + 1] is defined %}

    {% set nextItem = helperItems[position + 1] %}

{% endif %}


{% block body %}

    {% set hasPriorQuestion = currentItem.priorQuestion is defined %}
    
    <div class="page-container container">

        <!-- Progress Bar -->
        
        {# 
        
        {% include "presentation_helper/_html_css_progress_bar.html.twig" %}
        
        #}
       

        {% set feedback = app.request.attributes.get('feedback') %}
        
        {% if feedback %} {# hasfeedback is defined #}

            {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "feedback-box", 'modal_title': "", 'modal_size': "modal-lg"} %}

                {% block modalHeader %}{% endblock %}
                {% block modalFooter %}{% endblock %}

                {% block modalBody %}

                    <img class="" src="{{asset ("presentation_helper/idea.svg", 'larger')}}" alt="Bootstrap Themes" loading="lazy" width="420" height="430">
                
                {% endblock %}
                
            {% endembed %}

            <script>

                var feedbackModal = new bootstrap.Modal(document.getElementById("feedback-box"), {
                    backdrop: 'static'
                });

                //feedbackModal.show();
                
                setTimeout(function() {
                    
                    feedbackModal.hide();

                }, 2500);

            </script>

        {% endif %}

        {% embed "utilities/jumbotron_skeleton.html.twig" %}
        
            {% block image %}

                <img src="{{asset ("presentation_helper/"~ currentItem.uniqueName ~".svg", 'larger')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="380" height="330">

                {# Progress "Bar" (circle) #}

                <div class="position-absolute" style="text-align: center; top: 0; right: 0; width: 80px; height: 80px; background-color: black; border-radius: 50px;"> 
                    
                    <div class="text-white" style="line-height: 75px; font-size: 20px;"> {{currentPosition + 1  }} / {{itemsCount}}</div>
                    
                </div>

               {#  <div class="progress yellow"> <span class="progress-left">
                    
                    <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>

                    <div class="progress-value">37.5%</div>

                </div> #}

            {% endblock %}

            {% block text %}

                {% if hasPriorQuestion and repeatInstance == "false" %}

                    {% include "presentation_helper/_ask_to_choose.html.twig" %}

                {% endif %}

                <div class="form {{ hasPriorQuestion and repeatInstance == "false" ? 'hide-me' : '' }}">

                    {% include "presentation_helper/_form.html.twig" %}

                </div>
            
            {% endblock %}

        {% endembed %}

        {% if currentItem.repeatableMessage is defined %}

            {% include "presentation_helper/_ask_to_repeat.html.twig" %}

        {% endif %}

    </div>


    <style>

        .jumbotron-title{ /* Overiding jumbotron default style */
            font-size: 29px;
            margin-bottom: 34px;
        }

        .action-buttons-container{
            margin-top : 34px;
        }

        .hide-me{
            display: none;
        }


        #flash-messages {
              
            animation: fadeout 3s linear forwards;
            opacity: 1;
        }
                
        @keyframes fadeout {
          100% { opacity: 0; height:0;  }
        }

    </style>


    <script>

        $(document).ready(function(){

            // Giving focus to appropriate input

            function giveFocus(){

                var itemType = $('#presentation_helper_helperItemType').val();
                var relatedInputId;

                switch(itemType) {

                    case 'title':
                        relatedInputId = 'presentation_helper_title';
                        break;
                        
                    case 'qa':
                        relatedInputId = 'presentation_helper_answer';
                        break;
                        
                    case 'websites':
                        relatedInputId = 'presentation_helper_websiteDescription';
                        break;

                    default:
                        document.getElementById('autocomplete').focus();  // isolated case : see _form.html.twig
                  } 

                $("#"+relatedInputId).focus();
            }

            //alert($('#presentation_helper_nextPosition').val());

            $('#accept-invitation').click(function() {

                $('.hide-me').show();

                $('.invitation-title').hide();
                $('#invitation-container').hide();

                $('.form').show();

                giveFocus();

            });

        });

    </script>

{% endblock %}
