
<div class="d-md-flex justify-content-center align-items-center">

    <div id="main-ui">
    
        <form>

            <div>

              <h5 class="assistant-greeting"><img class="me-2 mb-1" width="28" src="{{ asset('chatbot.svg', 'misc')}}" alt="an chatbot icon">Bonjour! Je vous aide à présenter votre projet.</h5>
             

              <style>
              
                .assistant-greeting{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 0.25rem;
                  font-weight: bold;
                  text-align: center;
                  color: #141f24;
                }


                @media screen and (max-width: 820px) {

                  .assistant-greeting{
                    font-size: 14px;
                    color: #214455;
                  } 
                    
                }
              
              
              </style>

              <h4 id="assistant-question" class="h5 text-center fw-bold mb-4"> Quel est l'objectif de votre Projet ?</h4>

            </div>

            <div class="user-input-container form-group">

                <textarea class="userInput" name="userInputs" placeholder="Écrire votre réponse ici"></textarea>

            </div>


            <div class="send-button-container">

                <button type="button" class="send-button">Afficher les conseils du coach<img class="pursue-conversation ms-2" src="{{ asset('conversation.svg', 'misc')}}" alt="text icon surrouded by two arrows" width="22" ><div class="answer-loader loader ms-2"></div></button>
            
            </div>  

        </form>

        <div class="d-flex justify-content-center mt-4">
        
            <a href="{{path('ai_create_ppp')}}"><button class="js-ai-create-ppp glow-button btn btn-info" data-bs-toggle="modal" data-bs-target="#waitLoadingModal">Afficher un résumé du projet <img class="ms-2" src="{{ asset('save.svg', 'misc')}}" alt="save icon" width="24"></button></a>


            
    <style>


      .glow-button {
        display: inline-block; 
        outline: none; /* Remove outline */
        position: relative; /* Position relative for pseudo-element */
      }
    
    /* Glow animation */
    @keyframes glow {
      0% { box-shadow: 0 0 10px #4CAF50; }
      50% { box-shadow: 0 0 20px #4CAF50; }
      100% { box-shadow: 0 0 10px #4CAF50; }
    }

    /* Apply the glow animation */
    .glow-button::after {
      content: ''; /* Empty content */
      position: absolute; /* Position absolute */
      top: 0; /* Align to top */
      left: 0; /* Align to left */
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      border-radius: 8px; /* Same border radius as button */
      animation: glow 4s 2s; /* Apply glow animation */
    }

    /* Apply the glow animation */
    .glow-button:hover {
      animation: glow 4s 0s; /* Apply glow animation */
      background-color: white;
    }

</style>
        
        </div>

        <div class="presentation-summary"></div>
    
    </div>


</div>

<div class="other-actions">

    {# Share Button #}
    <div class="d-flex justify-content-center mt-4">

      {% include "utilities/_share.html.twig" with {"shareButtonLabel" : "Partager cet outil"} %}
    
    </div>    

</div>


<!-- Modal -->
<div class="modal fade" id="waitLoadingModal" tabindex="-1" aria-labelledby="waitLoadingModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body d-flex align-items-center justify-content-center">

        <div class="d-flex flex-column align-items-center">

          <h4 class="fw-bold mb-4">Création de la page en cours, veuillez patienter quelques instants.</h4>

          <img class="feedback-loader img-fluid" width="140" src="{{asset ('logo_creation/loader.gif', 'larger')}}" loading="lazy">

        </div>
      
      </div>
    </div>
  </div>
</div>