{# 

    Reusable pattern to display some cards (projects cards).

    Parameters:

    title (string): the name of the card collection (ex: aviation for a collection of project cards related to aviation)
    icon (string): an icon if you want to illustrate the title (use the name of the file without file extension; use icons in svg format) 
    class (string): if you want to add some css class to the collection container in order to further proceed some specificities (ex: "hide-too-long blue-background")
    items (symfony collection of items): a symfony collection of project objects
    hideThreshold (string): a classname in order to hide some content if vertical content is too long. 

#}


{% macro collection ( title="", items, class="", hideThreshold = "hide-335", icon = "" ) %}

    {% set defaultThumbnailBG = ['#884394', '#3f51b5', '#009688', '#42a346', '#ff9800', '#2d66ba', '#a58f4f', '#129d90', '#428392', '#263b78', '#878273', '#705c20', '#d24040', '#c1944e'] %}

    <div class="titled-projects-container {{class}}">

        <h3 class="collection-title">

            {% if icon %}
            
                <img class="collection-icon" src="{{asset ("collection_categories/"~ icon ~".svg", 'icons')}}" alt="An icon representing the project category" width = "30">

            {% endif %}
            
            {{title}}
        
        </h3>

        <div class="hide-too-long {{ hideThreshold }} show-tiny-screens collection-container">
                
            {% for item in items %}

            <a href="{{path('show_presentation', {'stringId': item.stringId})}}" class="text-decoration-none ">

                <div class="project-card">

                    <div class="image-container d-flex justify-content-center align-items-center">

                        {% if item.cache.thumbnailAddress is not empty %}

                            <img class="thumbnail" src="{{ item.cache.thumbnailAddress }}" alt="Presentation Thumbnail">
                            
                
                        {% else %} {# no cached thumbnail : default avatar #}

                            <div class="avatar-square-rounded avatar-80 mx-auto" style="background-color: {{ random (defaultThumbnailBG) }} !important;" >
                                
                                <span class="avatar-initial avatar-initial-80">

                                {{ item.goal | slice (0,1) | upper }}

                                </span>

                            </div>       

                        {% endif %}

                        
                    </div>

                    <div class="goal-container">

                        <div class="goal no-title">{# {% if title is empty %}no-title{% endif %}  #}

                            {{ item.goal | length < 81 ? item.goal[:1] | upper ~ item.goal[1:] : item.goal[:1] | upper ~ item.goal[1:77] ~ '...' }}

                        </div>

                    </div>

                   {# <div class="title-container">
                    
                        {% if title is not empty %}

                            <div class="title">
                                {{ item.title[:1] | upper ~ item.title[1:] | slice(0, 63)}}
                            </div>

                        {% endif %}
                    
                    </div> #}


                    <div class="other-info-container">

                        {# <div class="date">

                            Il y a 

                            {{item.createdAt | formattedElapsedTime }}
                        
                        </div> #}

                        <div class="stats">
                        
                            <span class="stat-chunk">

                                <img class="" src="{{ asset('thumb_up_dark.svg', 'misc')}}" alt="a thumb-up icon">

                                {{item.likes | length }}
                            
                            </span>

                            <span class="stat-chunk">

                                <img class="" src="{{ asset('comment.svg', 'misc')}}" alt="a comment icon">

                                {{item.comments | length }}
                            
                            </span>

                            <span class="stat-chunk">

                                <img class="" src="{{ asset('eye.svg', 'misc')}}" alt="an eye icon">

                                {{item.getDataItem('viewsCount')}}
                            
                            </span>
                            
                        </div>
                    
                    </div>


                    {# {% if item.keywords | length > 0 %}

                            <div class="keywords text-break">

                                {% set keywords = item.keywords | split(',') %}

                                {% for keyword in keywords [0:6] %}
                    
                                    #{{keyword | title | replace({" " : ""}) }}
                    
                                {% endfor %}

                            </div>

                    {% endif %} #}


                </div>

            </a>

            {% endfor %}

        </div>

    </div>

{% endmacro %}
