{# 

    Reusable pattern to display some article cards.

    Parameters:

    article (symfony collection of items): a symfony collection of article objects

#}



{% macro articleCards (article) %}

<div class="article-card d-md-col col">

    <a href="{{path('show_article', {"slug": article.slug})}}">
        
        <div class="card h-100">

            <div class="img-container">
                
                {% if article.thumbnail is not empty %}
                
                    <img class="" src="{{ vich_uploader_asset(article)   }}" alt="Article Thumbnail"/>
                    
                    {# | imagine_filter('standard_thumbnail_md_test') #} {# Thumbnail creation and caching doesn't work with thumbnails in GIF file format so I commented it #}

                {% endif %}
            
            </div>

            <div class="card-body">
                <h5 class="card-title"><a href="{{path('show_article', {"slug": article.slug})}}">{{article.title}}</h5>
                {# <p class="card-text">natural lead-in to additional content. This content is a little bit longer.</p> #} {# If you want to add an article subtitle or catch phrase #}
            </div>

            <div class="card-footer">
{#                 <small class="text-muted">Il y a {{ article.createdAt | formattedElapsedTime }}</small>
 #}            </div>

        </div>
    
    </a>

</div>

<style>

    .article-card .img-container{
        display: flex;
        align-items: center;
        justify-content: center;


        height: 175px;

        margin-left: 25px;
        margin-right: 25px;

        margin-top: 25px;
    }

    .article-card .img-container img{

        max-width: 100%;
        max-height: 175px;
        border-radius: 1px;
    }

    .article-card .card-title{

        text-align: center;
    }



    @media (max-width: 580px) {

    
    .article-card{

        width: 272px; /* Defined width allows to see the begining of the next card so that user knows he can scroll. */
        padding: 0 8px;

    }


    }

</style>


{% endmacro %}
