

{% macro highlight (presentation) %}

<a href="{{ path ("long_path_show_presentation", {'stringId': presentation.stringId } ) }}">

    <div class="container highlight-project">

        <div class="row reverse-column-sm">
            
            <div class="col-md-8 text-col">

                {% if presentation.title is not empty %}

                    <h2 class="title">
                        
                        {{ presentation.title[:1] | upper ~ presentation.title[1:] }}
                    
                    </h2>

                {% endif %}

                {# Goal is ellipsed on tiny screens #}

                <div class="goal d-none d-md-block">{{ presentation.goal[:1] | upper ~ presentation.goal[1:] }}</div> 
                <div class="goal d-md-none">{{ presentation.goal | length < 83 ? presentation.goal[:1] | upper ~ presentation.goal[1:] : presentation.goal[:1] | upper ~ presentation.goal[1:79] ~ '...' }}</div> 

                <div class="see-more">

                    <button type="button" class="btn btn-outline-light">Afficher plus</button>
                
                </div>
            
            </div>

            <div class="col-md-4 img-col">
             

                {% if presentation.slides | length > 0 %}

                    {# Taking first slide image as a project thumbnail #}

                    {% set slide = presentation.slides.first %}

                    {% if slide.type == 'youtube_video' %}

                        <img src="https://img.youtube.com/vi/{{slide.address}}/0.jpg" alt="image miniature d'une video">
                    
                    {% elseif slide.type == 'image' %}

                        <img src="{{ vich_uploader_asset(slide) }}" alt="{{slide.file}}">
                    
                    {% endif %}

                {% else %}

                    <img src="{{ asset('misc/target_arrow_project.png', 'larger')}}" alt="Target with arrow representing a project">

                {% endif %}

            </div>
            
        </div>

    </div>

</a>



<style>

    .highlight-project{

        margin-bottom: 50px;
        cursor: pointer;

    }

    .highlight-project .text-col{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        background-color: #17568e;
        border-radius: 4px 0 0 4px;

    }

    .highlight-project .title{

        margin-bottom: 0;
        text-align: center;
        color: white;
        
    }

    .highlight-project .goal{

        padding: 0 75px;
        text-align: center;

        font-size: 20px;
        color: white;

    }

    .highlight-project .see-more{

        text-align: center;        

    }


    .highlight-project .img-col{

        padding: 0;
    }

    .highlight-project .img-col img{

        object-fit: cover;
        height: 350px;
        width: 100%;
        border-radius: 0 4px 4px 0;
    }


    @media screen and (max-width: 820px) {

        .highlight-project{

            margin-bottom: 34px;

        }

        .highlight-project .goal{

            padding: 0 15px;
            font-size: 16px;

        }

        .highlight-project .img-col img{

            height: 220px;
        }

    }


    
    @media screen and (max-width: 820px) {

        .highlight-project{

            padding: 0 10px;

        }
        
        .reverse-column-sm{
            flex-direction: column-reverse;
        }

            
        .highlight-project .text-col{

            background-color: #1a6a18;
            border-radius: 4px 4px 0 0;

        }
            
        .highlight-project .text-col{

            padding: 9px 0 18px 0;
            background-color: #1a6a18;
            border-radius: 0 0 4px 4px;

        }
            
        .highlight-project .img-col img{
            
            border-radius: 4px 4px 0 0;

        }
            
        .highlight-project .title{

            margin-top: 7px;
            margin-bottom: 10px;
            font-size: 20px;
            
        }
            
        .highlight-project .goal{

            padding: 0 12px;
            margin-bottom: 0px;
            
        }
            
        .highlight-project .see-more {

            display: none;
            
        }

        .highlight-project .img-col img{

            height: 130px;
        }


    }




</style>

{% endmacro %}
