{% macro collection ( title="", items, class="", hideThreshold ) %}

    {% if class == "user-presentations" %} {# Manage plural forms #}

        {% set count = items | length %}
       
        {% if count == 1 %}

            {% set title = "🧐 Mon projet présenté" %}
        
        {% else %} 
        
            {% set title = "🧐 Mes " ~ count ~ " projets présentés" %}

        {% endif %}
    
    {% endif %}

    {% set defaultThumbnailBG = ['#884394', '#3f51b5', '#009688', '#42a346', '#ff9800', '#2d66ba', '#a58f4f', '#129d90', '#428392', '#263b78', '#878273', '#705c20', '#d24040', '#c1944e'] %}

    <div class="titled-projects-container {{class}}">

        <h3 class="collection-title">{{title}}</h3>

        <div class="hide-too-long {{ hideThreshold | default('hide-335') }}  show-tiny-screens collection-container">
                
            {% for item in items %}

            <a href="{{path('show_presentation', {'stringId': item.stringId})}}" class="text-decoration-none ">

                <div class="project-card">

                    <div class="image-container d-flex justify-content-center align-items-center">

                        {% if item.cache.thumbnailAddress is not empty %}

                            <img class="thumbnail" src="{{ item.cache.thumbnailAddress }}" alt="Presentation Thumbnail">
                            
                
                        {% else %} {# no cached thumbnail : default avatar #}

                            <div class="avatar-square-rounded avatar-80 mx-auto" style="background-color: {{ random (defaultThumbnailBG) }} !important;" >
                                
                                <span class="avatar-initial avatar-initial-80">

                                {{ item.goal | slice (0,1) | upper }}

                                </span>

                            </div>       

                        {% endif %}

                        
                    </div>

                    <div class="other-info-container">

                        <div class="goal {% if title is empty %}no-title{% endif %} ">

                            {{ item.goal | length < 81 ? item.goal[:1] | upper ~ item.goal[1:] : item.goal[:1] | upper ~ item.goal[1:77] ~ '...' }}


                        </div>

                        {% if title is not empty %}

                            <div class="title">
                                {{ item.title[:1] | upper ~ item.title[1:] | slice(0, 63)}}
                            </div>

                        {% endif %}

                        {% if item.keywords | length > 0 %}

                            <div class="keywords text-break">

                                {% set keywords = item.keywords | split(',') %}

                                {% for keyword in keywords [0:6] %}
                    
                                    #{{keyword | title | replace({" " : ""}) }}
                    
                                {% endfor %}

                            </div>

                        {% endif %}

                    </div>

                </div>

            </a>

            {% endfor %}

        </div>

    </div>

{% endmacro %}
