<!-- Modal -->

<div class="modal no-transition" id="add-persorg-modal" tabindex="-1" aria-labelledby="add-persorg-modal-label" aria-hidden="true">

  <div class="modal-dialog modal-lg">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="add-persorg-modal-label">Ajout d'une vignette</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

        {{ form_start(persorgForm) }}

        <div class="modal-body">

          {{ form_row(persorgForm.name) }}
          {{ form_row(persorgForm.imageFile) }}
          {{ form_row(persorgForm.website1) }}

          {# Add other websites collapsible #}
          
          <div>

              <!-- Collapsible Trigger Button -->

              <div class="my-3">

                  <a class="btn btn-light" onclick="this.remove();" data-bs-toggle="collapse" href="#collapseOtherWebsites" role="button" aria-expanded="false" aria-controls="collapseOtherWebsites">+ Ajouter des sites webs ou réseaux sociaux</a>

              </div>

              <!-- Collapsible Other Websites Container -->

              <div class="collapse" id="collapseOtherWebsites">
                  
                {{ form_row(persorgForm.website2) }}
                {{ form_row(persorgForm.website3) }}
                {{ form_row(persorgForm.website4) }}

              </div>

          </div>

          {{ form_row(persorgForm.email) }}
          {{ form_row(persorgForm.postalMail) }}
          {{ form_row(persorgForm.tel1) }}
          {{ form_row(persorgForm.tel2) }}
          {{ form_row(persorgForm.description) }}
            
        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-go-back" data-bs-dismiss="modal">
            Retour
          </button>

          
          <button class="btn btn-validate">
            Valider
          </button>

        </div>

        {{ form_end(persorgForm) }}

      </div>

    </div>

  </div>
  
  
  
  {% if not persorgForm.vars.valid %}

    <script>

      $(document).ready(function(){

        // if form errors are detected, we have to trigger modal box display

        $('#add-persorg-modal').modal('show');

      });


    </script>      
  
  {% endif %}