<div id="{{persorg.id}}" class="js-sortable-element persorg-card">

    <!-- Persorg Image Container -->
    
    <div class="d-flex align-items-center justify-content-center" style="height:120px; margin-top:15px; margin-bottom:8px; border-radius: 4px;">

        {% if persorg.image is not null %}

            <img class="img-fluid rounded-lg" src="{{ vich_uploader_asset(persorg)  | imagine_filter('persorg_thumbnail_sm') }}">
        
        {% else %}
                                    
            <div class="avatar-circle avatar-circle-100 mx-auto bg-primary">

                <span class="avatar-initial avatar-initial-100">

                    {{persorg.name | slice (0,1) | capitalize}}

                </span>

            </div>
            
        {% endif %}

    </div> 

    <!-- Persorg Name -->

    <div class="d-flex justify-content-center font-weight-bold" style="margin-bottom:8px; font-size:1.15em;">

        {{ persorg.name | length < 10 ? persorg.name : persorg.name | slice(0, 10) ~ '...' }}

    </div>

    {# delete persorg (Red Cross) button #}

    <button type="button" data-elements-type="persorgs" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{persorg.id}}"></button>

</div>