{% extends '@EasyAdmin/layout.html.twig' %}


{% block content_title %}{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <div class="container">

                <a href="{{ path('manage_pick_elements', {'pickType':'trustUs'}) }}">
                    <button class="btn btn-light btn-lg me-3">Ils nous font confiance</button>
                </a>

                <a href="{{ path('manage_pick_elements', {'pickType':'projectOfTheDay'}) }}">
                    <button class="btn btn-light btn-lg me-3">Projet cool du jour</button>
                </a>

                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('display_pool_data') }}">
                        <button class="btn btn-light btn-lg me-3">Résultats Sondage</button>
                    </a>

                    <a href="{{ path('one_shot') }}">
                        <button class="btn btn-light btn-lg me-3">Action unique</button>
                    </a>

                    <a href="{{ path('manage_categories') }}">
                        <button class="btn btn-light btn-lg me-3">Catégories</button>
                    </a>

                {% endif %}
                    
            </div>

        </div>

        <div class="row mt-5">

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT_PRESENTATION') %}

                <div class="col-md-3 border">

                    <h5 class="fw-bold text-center my-2">Projets</h5>

                    <div class="list-group mt-2 mb-3">

                        {% for pp in pp %}

                            <a href="{{ path('show_presentation', {'stringId': pp.stringId}) }}" class="text-body">

                                <div class="list-group-item list-group-item-action ps-2 pe-1">

                                    <h5 class="d-flex justify-content-between mb-1 fs-6">
                                    
                                        <span class="">{{ pp.goal | slice (0,20) }}</span>

                                        <span class="">{{ pp.createdAt | formattedElapsedTime }}</span>
                                        
                                    </h5>
                                        
                                </div>

                            </a>
                        
                        {% endfor %}

                    </div>
                
                
                </div>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ARTICLE_EDIT') %}

                <div class="col-md-3 border">

                    <h5 class="fw-bold text-center my-2">Articles</h5>

                    <div class="list-group mt-2 mb-3">

                        {% for article in articles | reverse %}

                            <a href="{{path('edit_article', {"id": article.id})}}" class="text-body">

                                <div class="list-group-item list-group-item-action ps-2 pe-1">

                                    <h5 class="d-inline mb-1 fs-6">{{article.title}}</h5>
                                        
                                </div>

                            </a>
                        
                        {% endfor %}

                    </div>
                
                </div>

            {% endif %}


            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_NEWS_MANAGE') %}

                <div class="col-md-3 border">

                    <h5 class="fw-bold text-center my-2">News</h5>

                    <div class="list-group mt-2 mb-3">

                        {% for newsItem in news %}

                            <a href="{{path('edit_news', {"id": newsItem.id})}}" class="text-body">

                                <div class="list-group-item list-group-item-action ps-2 pe-1">

                                    <h5 class="d-inline mb-1 fs-6">{{ newsItem.textContent | striptags | slice (0,20) }}</h5>
                                        
                                </div>

                            </a>
                        
                        {% endfor %}

                    </div>
                
                
                </div>

            {% endif %}


            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMENT_MANAGE') %}

                <div class="col-md-3 border">

                    <h5 class="fw-bold text-center my-2">Commentaires</h5>

                    <div class="list-group mt-2 mb-3">

                        {% for comment in comments %}

                            <a href="{{path('update_comment', {"id": comment.id})}}" class="text-body">

                                <div class="list-group-item list-group-item-action ps-2 pe-1">

                                    <h5 class="d-inline mb-1 fs-6">{{ comment.content | slice (0,20) }}</h5>
                                        
                                </div>

                            </a>
                        
                        {% endfor %}

                    </div>
                
                
                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}