{% extends '@EasyAdmin/layout.html.twig' %}


{% block content_title %}{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <div class="container">


                <a href="{{ path('display_pool_data') }}">
                    <button class="btn btn-light btn-lg me-3">Résultats Sondage</button>
                </a>

                <a href="{{ path('manage_pick_elements', {'pickType':'trustUs'}) }}">
                    <button class="btn btn-light btn-lg me-3">Ils nous font confiance</button>
                </a>

                <a href="{{ path('manage_pick_elements', {'pickType':'projectOfTheDay'}) }}">
                    <button class="btn btn-light btn-lg me-3">Projet cool du jour</button>
                </a>

                <a href="{{ path('one_shot') }}">
                    <button class="btn btn-light btn-lg me-3">Action unique</button>
                </a>

                <a href="{{ path('manage_categories') }}">
                    <button class="btn btn-light btn-lg me-3">Catégories</button>
                </a>
                    
            </div>

        </div>

        <div class="row"></div>

    </div>

{% endblock %}