{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "addDataListItemFormModal", 'modal_title': "Ajouter une donnée"} %}
    
{% block modalBody %}

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.value) }}


                        
        <div class="mt-4 mb-2">

            <h5 class="" data-bs-toggle="collapse" href="#miscDataFormShowMoreOptions" role="button" aria-expanded="false" aria-controls="miscDataFormShowMoreOptions">
                Afficher plus d'options ▾
            </h5>

            <div id="miscDataFormShowMoreOptions" class="collapse no-transition mt-2">
                    
                {{ form_row(form.source) }}

            </div>
            
        </div>
        

    {% endblock %}

    {% block footerButtons %}

        <button type="submit" class="btn btn-success">Valider</button>

        {{ form_end(form) }}

    {% endblock %}


    {% block formErrors %}
        
        {% if not form.vars.valid %}

            <script>
            
                $(document).ready(function(){
            
                    $('#{{modal_id}}').modal('show');
            
                });
            
            </script>

        {% endif %}
    
    {% endblock %}

{% endembed %}