
<div class="pp-edition-mode">
    
    <div class="notification alert alert-warning alert-dismissible fade show fw-bold pb-4" role="alert">

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        <p>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-exclamation-triangle-fill text-danger me-2" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            
            </svg>
        
        <span class="h5 fw-bold align-bottom">
            Votre projet n'est pas encore visible dans les résultats du site. 
        </span>

        </p>

        <hr>

        <div class="indent-container">

            <p class="fs-5">
                Veuillez présenter les éléments marqués avec une croix rouge :
            </p>

            <div class="indent-container">

                <p class="mb-2">

                    ✅ <span class="" style="padding-left: 5px;;">Objectif du Projet</span>

                </p>

                <p class="mb-2">

                    {{ (presentation.textDescription is not empty or countSlides > 0) ? "✅" : "❌"}}

                    <a class="inline-text-trigger-action text-decoration-none" href="{{ path('edit_pp_text_description', {'stringId': presentation.stringId}) }}">Une description texte</a>,<a class="inline-text-trigger-action text-decoration-none" data-bs-toggle="modal" data-bs-target="#addImageSlideFormModal">ou une image</a><a class="inline-text-trigger-action text-decoration-none" href="{{path('add_youtube_slide', {'stringId': stringId})}}" >/ vidéo</a>

                </p>

                <p class="mb-0">

                    {{ (presentation.categories | length > 0 or presentation.keywords is not empty) ? "✅" : "❌"}}
                    <a class="inline-text-trigger-action text-decoration-none" href="{{ path('select_categories_keywords', {'stringId': presentation.stringId}) }}">Une catégorie, ou des mots-clés</a>

                </p>

            </div>

        </div>

    </div>  
    
</div>


<style>

    .indent-container{
        padding-left: 39px;
    }

    .inline-text-trigger-action{

        color: inherit;
        border-radius: 6px;
        cursor: pointer;
        padding: 5px;
        

    }


    .inline-text-trigger-action:hover{

        background-color: lightblue;
        
    }

    @media screen and (max-width: 810px) {

        .indent-container{
            padding-left: 15px;
        }

    }


    @media screen and (max-width: 580px) {

        .indent-container{
            padding-left: 0;
        }

    }

</style>
