
{#

    Context: user has created a project presentation while not being logged into the app (= guest user)

    This is a notification panel containing connexion buttons so that guest user can subscribe / log in to the app & save his work.

#}

<div class="">

    {# Notification panel #}
    
    <div class="notif-save-presentation notification d-flex flex-column align-items-center alert alert-dismissible fade border border-warning show fw-bold p-2 py-4" role="alert">

        {# "save your work" text notification #}

        <h5 class="d-flex align-items-center justify-content-center text-center mb-1">

            {# Info icon #}
         
            <img class="me-1 me-md-2" src="{{ asset('info.svg', 'misc')}}" alt="Circled letter i representing an info icon" width="32" height="32">

            {# Call to action text #}
        
            <span class="fw-bold align-bottom">
                <span class="text-danger">Ne perdez pas votre travail !</span> <span class="text-success">Connectez-vous pour enregistrer gratuitement la présentation de votre projet.</span>
            </span>

        </h5>

        <h5 class="text-center mb-3 mt-2">Et découvrez nos autres outils gratuits pour développer vos projets ✓</h5>

        {# Subscribe / login possibilities container #}

        <div class="text-center">
            
            <div class="px-md-3 text-center">

                <h3 class="fw-bold mb-2 mb-md-4">Connexion</h3>

                {# Third parties auth #}

                <div class="container mb-0 mb-md-4 pb-3 px-0">

                    {# Connect with Google button #}

                    <a href="{{ path('connect_google_start') }}">

                        <button class="connect-btn btn btn-outline-dark me-0 me-md-3 mb-3 mb-md-0">

                            <img src="{{asset ('connect/google.svg', 'misc')}}" class="" alt="Google Logo" loading="lazy" width="50" height="50">

                            <span class="">Avec Google</span>

                        </button>

                    </a>

                    {# Connect with Facebook button #}

                    <a href="{{ path('connect_facebook_start') }}">

                        <button class="connect-btn btn btn-outline-dark">

                            <img src="{{asset ('connect/facebook.svg', 'misc')}}" class="" alt="Facebook Logo" loading="lazy" width="50" height="50">

                            <span class="">Avec Facebook</span>

                        </button>

                    </a>

                    {# Connect buttons styles #}

                    <style>

                        .connect-btn{

                            width: 190px;
                            border-color: #c0c0c4;

                        }

                        .connect-btn img{

                            width: 30px;
                            margin-right: 5px;

                        }

                    </style>

                </div>

                {# Link to register with an email address #}

                <div class="">

                    <h5 class="mb-3"><a href="{{path('app_register')}}" class="text-decoration-none">Ou rejoignez-nous avec une adresse e-mail.</a></h5>

                </div>

            </div>

        </div>  
        
    </div>

</div>

{# Styles for notification panel #}

<style>

    @media screen and (max-width: 580px) {

        .notif-save-presentation h5{
            font-size: 16px;
        }

    }

</style>
