{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}


{% block title %}Documents du Projet{% endblock %}

{% block mainContentTitle %}Documents du Projet{% endblock %}


{% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}


{% block moreInfoButtonLabel %}

    Info

{% endblock %}

{% block moreInfoContent %}
        
    <p class="h5">

        Vous pouvez partager ici des documents liés à votre projet. <br> <br>
        Les formats acceptés sont :

    </p>

    <ul class="fw-bold mb-3">

        <li>pdf</li>
        <li>word document; open document texte; rtf</li>
        <li>excel</li>
        <li>powerpoint</li>
        <li>epub</li>   

    </ul>

    <p class="h5">

        Limite du nombre de documents : <b>8</b>

    </p>

    <p class="h5">

        Poids maximal accepté pour chaque fichier : <b>5 Mo</b>

    </p>

{% endblock %}


{% block mainContent %}

        <!-- Add a Document Button (According to limit) -->
        
        <div class="mb-4">

            {% if presentation.documents | length < 8 %}
          
                <!-- Add a Document Button -->
                    
                <button type="button" data-bs-toggle="modal" data-bs-target="#AddDocumentFormModal" class="btn btn-lg btn-success sharp p-3">+ Ajouter un document</button> 

            {% else %}
                
                <p class="fs-15 bg-light d-inline-block p-2 mb-0">La limite maximale de 8 documents est atteinte. </p>
    
    
            {% endif %}

        </div>

        <!-- Add a Document Form (displayed in a Modal Box) -->

        {% include "project_presentation/edit/documents/_add_document_form.html.twig" %}


        <!-- Presentation Documents Grid -->

        <div class="container mb-2">

            <div id="elements-list" data-elements-type="documents" class="row col-md-7 ps-0">

                {% if presentation.documents | length > 0 %}

                    {% for document in presentation.documents %}

                        <!-- Document Icon with Title -->

                        <div id="{{document.id}}" class="js-sortable-element document-outer position-relative me-4 mb-3" >

                            <a href="{{path('update_document', {'stringId': stringId, 'id_element' : document.id })}}" class="h-100 text-body text-decoration-none">

                                {% include 'project_presentation/edit/documents/_icons_display.html.twig' %}

                            </a>

                            <!-- Remove Document (Button with Red Cross) -->
            
                            <button type="button" class="js-delete-element position-absolute btn btn-danger sharp p-1 px-2" data-id="{{document.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                            
                        </div>

                    {% endfor %}

                {% endif %}

            </div>

        </div>


        <!-- Action Buttons -->

        <div>

            <a class="text-decoration-none text-white" href="{{ path('edit_pp_menu', {'stringId': stringId }) }}">
                <button type="button" class="btn btn-info btn-lg mt-2 mb-4 me-2 sharp">Menu</button>
            </a>

            <a class="text-decoration-none text-white" href="{{path('show_presentation', {'stringId': stringId })}}#documentsDisplay">
                <button type="button" class="btn btn-warning btn-lg mt-2 mb-4 sharp">Résultat</button>
            </a>

        </div>

    {% block specificStyles %}

        <style>
                    
            .document-outer
            {
                width:170px; 
                min-height:140px;
                
                border: 1px solid #2c3e50;
                cursor:pointer;
            }

            
            .document-outer:hover 
            {
                background-color: gainsboro;
                
            }
    
        </style>

    {% endblock %}
 

{% endblock %}


{% block specificJavascripts %}

<script>

    // If form errors, we have to trigger modal box display to show these errors to user

    $(document).ready(function(){

        {% if not form.vars.valid %}

            $('#documentFormModal').modal('show');

        {% endif %}

    });


</script>

{% endblock %}

{% endembed %}