{% embed "project_presentation/edit/update_element_skeleton.html.twig" %}

    {% block title %}Modifier un document{% endblock %}

    {% block mainContentTitle %}Modifier un document{% endblock %}

    {% block collapsibleMoreInfo %}{% endblock %}

    {% block mainContent %}
        
        <!-- choose another file -->
                    
        <div class="fw-bold mb-5">

            <div class="mb-5">

                <h4 class="mb-3">Document actuel :</h4>

                <div class="ps-md-3">

                    {% if document.filename %}

                        {{document.filename}}
                    
                    {% endif %}   

                </div>
                
            </div>


            <div class="mb-2 h4 ">

                Choisir un autre fichier ?

                <span class="h5">{{ form_errors(form.file) }}</span>
                
            </div>

            {{ form_widget(form.file) }}

        </div>

        <!-- Change document title -->

        <div class="fw-bold">

            <div class="mb-2 h4">

                Modifier le titre du document ?

                {{ form_errors(form.title) }}

            </div>

            {{ form_widget(form.title) }}

        </div>

    {% endblock %}

    {% block seeResultAnchor %}documents{% endblock %}

{% endembed %}