
 <!-- sortable plugin to reorder elements (exemple : reorder presentation slides; reorder presentation websites; etc) -->

 <script src="/js/sortable/sortable.min.js"></script>

 <!-- jQuerySupport for above sortable plugin -->
 
 <script src="/js/sortable/jquery-sortable.js"></script>

 <script>

    // ajax elements reordering & deletion

     $(document).ready(function(){
            
        function displayFeedback(message, type){  //type is success or danger

            htmlClass = "fixed-flash alert alert-"+type;
            
            $('#flash-messages').addClass(htmlClass).html(message).fadeIn(1000).delay(3000).fadeOut(1000);
            
        }

        // reorder elements capability

         $('.js-elements-list').sortable({

            animation: 150,

            ghostClass: 'blue-background-class',

            filter: ".disabled",

            onMove: function (evt) {
            return evt.related.className.indexOf('disabled') === -1;

            },

            // drag and drop implies elements positions updates (ajax call)

            onEnd: function (evt) {

                var entityType = evt.srcElement.id;

                //console.log(evt.oldDraggableIndex);
                //console.log(evt.newDraggableIndex);
                //console.log(evt.item);

                // an array storing elements id position

                var elementsPositions = [];

                $('#'+entityType+' div.js-sortable-element').each(function(index){
                    
                    elementsPositions.push($(this).attr('id'));
            
                });

                jsonElementsPositions = JSON.stringify(elementsPositions);

                // setting appropriate route according to entity type (ex: a website; a document; ...)

                var path = null;

                //console.log(elementsPositions);

                // when entity type is persorg, we post its parent structure id

                var parentStructureId = null;

                if(entityType.substr(0, 8) == "persorgs"){
                    parentStructureId = entityType.substr(8);
                    entityType="persorgs";
                }

                if(entityType == "slide-thumbnails"){
                    entityType="slides";
                }


                switch(entityType) {

                    case "websites":
                    case "dataList":
                    case "questionsAnswers":
                    case "businessCards":

                        path = "{{path('ajax_reorder_items', {'stringId': stringId})}}";
                        break;

                    case "documents":
                    case "needs":
                    case "slides":
                    case "places":

                        path = "{{path('ajax_reorder_component_elements', {'stringId': stringId})}}";
                        break;

                    case "persorgs":
                        
                        path = "{{path('ajax_reorder_cs_persorgs', {'stringId': stringId})}}";
                        break;
                        
                    default:

                        break;

                } 
                
                $.ajax({  

                     url: path,
                     type:       'POST',   
                     dataType:   'json',
                     data: {
                        "entityType": entityType,
                        "jsonElementsPosition": jsonElementsPositions,
                        "parentStructureId": parentStructureId,
                     },
 
                     async: true,  
                     
                     success: function(data, status) {


                        if(entityType == "slides"){ 

                            reindexSlidesAndThumbnails();

                            // display moved thumbnail
                            $("#slide-thumbnails #"+evt.item.id).click();
                            

                        }

                     },  
 
                     error : function(xhr, textStatus, errorThrown) {  
                        displayFeedback("Une erreur est survenue", "danger"); 
                     }  

                  }); 

             },
         });


         
        // Remove elements capability

        $('.js-delete-element').on('click', function (){

            //$(this).attr("data-id");

            var idElement = $(this).attr("data-id");
            
            // getting entity type in order to call appropriate route (ex: presentation website; presentation slide)
            
            var path = null;
            
            var elementsType = $(this).data('elements-type');


            if(elementsType == "slide-thumbnail"){
                elementsType = "slides";
            }
            
            switch(elementsType) {

                case "websites":
                case "dataList":
                case "questionsAnswers":
                case "businessCards":

                    path = "{{path('ajax_delete_item', {'stringId': stringId})}}";
                    break;

                case "documents":
                case "needs":
                case "slides":
                case "contributorStructures":
                case "places":

                    path = "{{path('ajax_remove_component_element', {'stringId': stringId})}}";
                    break;

                case "persorgs":

                    path = "{{path('ajax_remove_cs_persorg', {'stringId': stringId})}}";
                    break;
                    
                default:

                    break;

            } 
            
            if (confirm("Confimez-vous enlever cet élément ?"))
            {

            $(this).html('<div class="loader"></div>');
                
            $.ajax({  

                url: path,
                type:       'POST',   
                dataType:   'json',
                
                data: {
                    "elementsType": elementsType,
                    "idElement": idElement,
                },

                async: true,  
                
                success: function(data, status) {

                    $("#"+idElement).remove();

                    // when removing a slide, some additionnal display treatments

                    if(elementsType=="slides"){

                        //removing matching slide thumbnail
                        $('[data-slide-thumbnail-id="'+idElement+'"]').remove();

                        if ( $( ".mySlides" ).length == 0 ) {// When slideshow is empty, cleaning useless elements in ui
 
                            $( "#slides" ).parent().find(".show-delete-items-buttons, #manage-slides").remove();
                         
                            $( "#slides" ).empty();

                        }

                        else{

                            reindexSlidesAndThumbnails();

                            $( "#slide-next" ).trigger( "click" );

                        }

                    }
                    
                },  

                error : function(xhr, textStatus, errorThrown) {  
                    displayFeedback("Une erreur est survenue", "danger");
                }  

                }); 
                
            }

        });




        function reindexSlidesAndThumbnails(){

            $(".thumbnail").each(function(index){

                index = index + 1;

                //removing thumbnail's original events                                
                $(this).off('click'); 
                $(this).off('mouseover');

                $(this).attr("data-loop-index", index);

                //binding a new click event with correct index 
                $(this).on( "click", {
                    newIndex: index
                  }, function(event) {
                    currentSlide( event.data.newIndex );}
                );

                //binding mouseover event with correct index 
                $(this).on( "mouseover", {
                    newIndex: index
                  }, function(event) {
                    currentSlide( event.data.newIndex );}
                );
                
                //reordering thumbnail's matching slide in the slideshow

                $(".slides-container").append($("#"+$(this).attr("id")));

        
            });
        }

     });

 </script>