{% extends 'base.html.twig' %}


    {% set titleMetadata = 'Création de logo pour votre projet, automatisée par IA' %}
    {% set metadataDescription = "Service gratuit et sans inscription, laissez-vous guider pour créer le logo parfait pour votre projet. Aucune compétence en graphisme n'est requise." %}
    {% set metadataImageUrl %}{{asset ('logo_creation/two-persons-creating-a-logo.jpeg', 'larger')}}{% endset %}
    {% set currentPageUrl = app.request.uri %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="Laurent G.">
    <meta name="keywords" content="IA, Création, Logo, Projet">
    <meta name="date" content="2023-12-12">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'product', metadataImageUrl, null) }} {# Call from base.html.twig #}
    
{% endblock %}


{% block title %}{{titleMetadata}}{% endblock %}

{% block body %}

{% include "ai_presentation_helper/_js_logo.html.twig" %}

<div class="container col-md-7 mt-4">

{#

! 
! 
Gérer la balise head qui traîne en bas et la balise div qui dépasse la balise body qui par ailleurs n'a rien à faire ici elle est dans le base !!!!!
! 
! 
#}




    <div id="logo-big-cats" class="struct-container isHidden">
        
        <div class="">
        
            <label for="logo-big-cats-hidden" class="big-title form-label">Choisis une catégorie de Logo</label>
        
        </div>

        <div id="logo-big-cats-container" class="selectable-container">


            <div class="selectable-square logo-big-cats" data-logo-big-cats="letters" >

                <h4 class="title">Lettres</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/letters.png', 'larger')}}" loading="lazy">
            
            </div>

            <div class="selectable-square logo-big-cats" data-logo-big-cats="image" >

                <h4 class="title">Images</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/image.png', 'larger')}}" loading="lazy">
            
            </div>

            <div class="selectable-square logo-big-cats" data-logo-big-cats="letters-images" >

                <h4 class="title">Lettres et images</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/mixed.png', 'larger')}}" loading="lazy">
            
            </div>
        
        </div>

        {# posted logo big category type #}

        <input type="hidden" id="logo-big-cats-hidden" value="">
    
    </div>

    <div id="logo-type-image" class="struct-container isHidden">
        
        <div class="">
        
            <label for="logo-type-image-hidden" class="form-label big-title">Choisis ton type d'image</label>
        
        </div>

        <div id="logo-type-image-container" class="selectable-container">


            <div class="selectable-square logo-type-image" data-logo-type-image="abstraction">

                <h4 class="title">Formes abstraites</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/abstraction.png', 'larger')}}" loading="lazy">
            
            </div>
        

            <div class="selectable-square logo-type-image" data-logo-type-image="figurative-objects">

                <h4 class="title">Objets ou vivants</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/symbols.png', 'larger')}}" loading="lazy">
            
            </div>
            

            <div class="selectable-square logo-type-image" data-logo-type-image="unknown" >

                <h4 class="title">Je ne sais pas encore</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/question-mark.png', 'larger')}}" loading="lazy">
            
            </div>
        
        </div>

        {# posted logo type #}

        <input type="hidden" id="logo-type-image-hidden" value="">
    
    </div>

    <div id="logo-type-letters" class="struct-container isHidden">
        
        <div class="">
        
            <label for="logo-type-letters-hidden" class="form-label big-title">Tu aimerais ?</label>
        
        </div>

        <div id="logo-type-letters-container" class="selectable-container">

            <div class="selectable-square logo-type-letters" data-logo-type-letters="one-letter" >

                <h4 class="title">Une seule lettre</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/one-letter.png', 'larger')}}" loading="lazy">
            
            </div>

            <div class="selectable-square logo-type-letters" data-logo-type-letters="several-letters" >

                <h4 class="title">Plusieurs lettres</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/several-letters.png', 'larger')}}" loading="lazy">
            
            </div>


            <div class="selectable-square logo-type-letters" data-logo-type-letters="tangled-letters">

                <h4 class="title">Des lettres enlacées</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/tangled-letters.png', 'larger')}}" loading="lazy">
            
            </div>



            <div class="selectable-square logo-type-letters" data-logo-type-letters="unknown" >

                <h4 class="title">Je ne sais pas encore</h4>

                <img class="img-fluid" width="140" src="{{asset ('logo_creation/question-mark.png', 'larger')}}" loading="lazy">
            
            </div>
        
        </div>

        {# posted logo type #}

        <input type="hidden" id="logo-type-letters-hidden" value="">
    
    </div>

    <div id="several-letters" class="struct-container isHidden">
        
        <div class="">
        
            <label for="several-letters" class="form-label big-title">Écris les lettres de ton Logo</label>

            <h5 class="big-title">Utilise des majuscules ou pas selon ta préférence.</h5>
        
        </div>

        <input type="text" class="form-control" id="several-letters" placeholder="Ex : Propon, WordPress, MICHELIN">
    
    </div>

    <div id="one-letter" class="struct-container isHidden">
        
        <div class="">
        
            <label for="one-letter" class="form-label big-title">Écris la lettre à intégrer dans ton Logo</label>

            <h5 class="big-title">Utilise une majuscule ou pas selon ta préférence.</h5>
        
        </div>

        <input type="text" class="form-control" id="one-letter" placeholder="Ex : M, g, T" maxlength="1">
    
    </div>

    <div id="tangled-letters" class="struct-container isHidden">
        
        <div class="">
        
            <label for="tangled-letters" class="form-label big-title">Écris les lettres à enlacer dans ton Logo</label>

            <h5 class="big-title">Utilise des majuscules ou pas selon ta préférence.</h5>

        
        </div>

        <input type="text" class="form-control" id="tangled-letters" placeholder="Ex : YSL, LV, CC" maxlength="15">
    
    </div>

    <div id="abstraction-description" class="struct-container isHidden">
        
        <div class="">
        
            <label for="abstraction-description" class="form-label big-title">Décris la forme ou les formes que tu aimerais intégrer dans ton Logo</label>

            <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>

        </div>

        <textarea id="abstraction-description-textarea" class="form-control" cols="30" rows="7" Placeholder="Ex : vagues, cercle, triangle, carré, etc"></textarea>
    
    </div>

    <div id="figurative-objects" class="struct-container isHidden">
        
        <div class="">
        
            <label for="figurative-objects-description-textarea" class="form-label big-title">Décris l'objet ou l'être vivant (animal, personne) que tu aimerais intégrer dans ton Logo</label>

            <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>
      
        </div>

        <textarea id="figurative-objects-description-textarea" class="form-control" name="" cols="30" rows="7" placeholder="to do"></textarea>
    
    </div>


    <div id="user-last-wishes" class="struct-container isHidden">
        
        <div class="">
        
            <label for="user-last-wishes-textarea" class="form-label big-title">Si tu as d'autres exigences pour ton logo, ajoute-les ici, elles seront appliquées <u>en priorité</u>.</label>

            <h5 class="big-title">Conseil : ajoute des détails pour obtenir un meilleur résultat.</h5>
      
        </div>

        <textarea id="user-last-wishes-textarea" class="form-control" name="" cols="30" rows="7" placeholder="to do"></textarea>
    
    </div>




    <div id="colors" class="struct-container isHidden">
        
        <div class="">
        
            <label for="colors" class="form-label big-title">Quelle(s) couleurs pour votre logo ?</label>

            <h5 class="big-title">Soyez précis pour obtenir le résultat de vos rêves. Par exemple précisez les couleurs de chaque objet (lettres, formes).</h5>

        </div>

        <textarea id="colors" class="form-control" placeholder="Ex : Je veux ceci en rouge, je veux cela en gris, etc."></textarea>
    
    </div>

    



















    <button id="previousStep" class="isHidden">Étape précédente</button>
    <button id="nextStep">Étape suivante</button>

  


    <style>


        .big-title{
            display: block;
            font-size: 1.3em !important;
            text-align: center;
        }

        .selectable-container{
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
        }
    
        .selectable-square {
            display: inline-block;
            border: 1px solid grey;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            border-radius: 4px;
        }


        .selectable-square .title {
            font-size: 1em;
            font-weight: bold;
            text-align: center;
        }
            
        .selectable-square:hover {
            background-color: #eef7ee;
        }

        .feedback-loader {


            display: none;


        }

        .isHidden {
            display: none;
        }
    
    </style>



    <div class="mb-3">
        <label for="businessCategory" class="form-label">Ici vous pouvez inscrire le domaine de votre organisation :</label>
        <input type="text" class="form-control" id="businessCategory" placeholder="Ex : santé, agriculture, cosmétiques, services, etc.">
    </div>

    <div class="mb-3">
        <label for="otherLogosInspiration" class="form-label">Si vous voulez que votre logo s'inspire d'un logo qui existe déjà, notez-le ici : </label>
        <input type="text" class="form-control" id="otherLogosInspiration" placeholder="Ex : netflix, uber, etc.">
    </div>


    <div class=""> font style, size, and color.</div>



{# 
    <div class="d-flex align-items-center mb-3">

        <label for="firstColorInspiration" class="form-label mb-0 me-2">Si vous voulez choisir une couleur principale, faites-le ici : </label>
        <input type="color" class="form-control form-control-color" id="firstColorInspiration" value="" title="Choose your color">
    
    </div>

    <div class="d-flex align-items-center mb-3">

        <label for="secondColorInspiration" class="form-label mb-0 me-2">Si vous voulez choisir une couleur secondaire, faites-le ici : </label>
        <input type="color" class="form-control form-control-color" id="secondColorInspiration" value="" title="Choose your color">
    
    </div>
 #}











    <div id="test-logos-reception my-5">test logos reception</div>
    
    <div class="">
    
        Logo parfait gratuit, sans effort, et sans inscription. Un service proposé par Propon, le site de présentation de projet.

        Tous les logos présentés ici sont exposés à titre pédagogique et sont soumis à des copyrights détenus par leurs ayants respectifs.
    
    
    </div>


    <div class="feedback-loader-container"><img class="feedback-loader img-fluid" width="140" src="{{asset ('logo_creation/loader.gif', 'larger')}}" loading="lazy"></div>


</div>



<script>

    const newImagePattern = ({ imageSrc }) => `

        <img src="/${imageSrc}" alt="ia created logo">
   
    `;
    

</script>

<div class="page-container">

    <div class="d-none d-md-flex justify-content-center align-items-center">
    
        <img class="img-fluid me-2" width="80" src="{{asset ('project_presentation_advice/advice.svg', 'larger')}}" loading="lazy" alt="Une icône qui représente deux bulles de BD, dans la première un point d'interrogation représentatant une question, dans la seconde le symbole i qui réprésente une information, un conseil."><h1 class="h3 text-center">Création <span class="highlight1">automatique</span> de logo pour <span class="">VOTRE Projet</span></h1>
 
        <style>
        
                    
            .highlight1 {
                display: inline-block;
                padding: .25em 10px;
                background: #b8e0ad;
                color: #ffffff;
                border-radius: 5px;
            }
                    
       
        </style>

      
    </div>


</head>
<body>


    <div class="init">
    {# 
    <form action="/submit_logo_info" method="post">
        <label for="company_name">Nom de l'entreprise:</label>
        <input type="text" id="company_name" name="company_name">
        
        <label for="industry">Industrie:</label>
        <input type="text" id="industry" name="industry">
        
        <label for="color_scheme">Schéma de couleur:</label>
        <input type="text" id="color_scheme" name="color_scheme">
        
        <label for="slogan">Slogan:</label>
        <input type="text" id="slogan" name="slogan">
        
        <label for="font_style">Style de police:</label>
        <input type="text" id="font_style" name="font_style">
        
        <label for="target_audience">Audience cible:</label>
        <input type="text" id="target_audience" name="target_audience">
        
        <label for="logo_style">Style de logo (par exemple, minimaliste, complexe):</label>
        <input type="text" id="logo_style" name="logo_style">
        
        <label for="elements_to_include">Éléments à inclure (par exemple, montagnes, arbres, animaux):</label>
        <input type="text" id="elements_to_include" name="elements_to_include">
        
        <label for="prefered_shapes">Formes préférées (par exemple, cercles, carrés, formes organiques):</label>
        <input type="text" id="prefered_shapes" name="prefered_shapes">
        
        <label for="additional_comments">Commentaires supplémentaires:</label>
        <textarea id="additional_comments" name="additional_comments"></textarea>
        
        <input type="submit" value="Créer le logo">
    </form> #}
    
    
    
    </div>

    
    <div class="cta container col-md-6 border p-2 mt-4">
    
        <div class="text-center"><b>Service gratuit sans inscription</b> fournit par <span class="text-success"><a href="http://www.propon.org" target="_blank" rel="noopener noreferrer">propon.org</a></span>, le site de présentation de projets.</div>
    
        <div class="gdpr">

            <h3 class="fs-6 text-center">La protection de vos données personnelles est une priorité. <span class="learn-more">Afficher plus</span></h3> 

            <div class="more-content border m-1 m-md-3 p-3">

                <p>Les données que nous collectons sont <b><u>anonymisées</u></b>; <b><u>conservées au maximum 15 jours</u></b>; <b><u>exclusivement pour améliorer l'outil à votre disposition</u></b>.</p>

                <p>Ce service utilise un ou plusieurs outils fournis par la société <a href="https://openai.com/">OpenAI</a>. Notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs pour utiliser ces services. Ces données anonymes sont susceptibles d'être collectées par OpenAI.</p>

            </div>

            <style>

                /* Initially hide the "Learn More" content */
                .more-content {
                    display: none;

                }

                /* Styles for the "Learn More" button */
                .learn-more {
                    color: #0073e6;
                    cursor: pointer;
                    text-decoration: underline;
                }

                /* Style on hover for the "Learn More" button */
                .learn-more:hover {
                    text-decoration: none;
                }

            </style>

            <script>
            // Select HTML elements
            const learnMoreButton = document.querySelector('.learn-more');
            const moreContent = document.querySelector('.more-content');

            // Add an event listener to show/hide the "Learn More" content
            learnMoreButton.addEventListener('click', () => {
                if (moreContent.style.display === 'block') {
                moreContent.style.display = 'none';
                } else {
                moreContent.style.display = 'block';
                }
            });
            </script>

        </div>
        
    </div>



</div>


<style>
  .pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
</style>
<button class="pushable">
  <span class="shadow"></span>
  <span class="edge"></span>
  <span class="front">
    <img class="img-fluid mb-1 me-1" width="30" src="{{asset ('logo_creation/play-button.svg', 'larger')}}" loading="lazy" alt="an cercled triangle icon representing a play icon"> Démarrer
  </span>
</button>


{# Thanks at https://www.joshwcomeau.com/animation/3d-button/ #}

{% endblock %}
