{% extends 'base.html.twig' %}

{% block title %}Assistant de Présentation de Projet{% endblock %}

{% block body %}


<div class="page-container">

    <h1 class="text-center">Conseils Personnalisés pour Présenter son Projet</h1>

    <div class="gdpr text-center">

        <h3 class="fs-5">La protection de vos données personnelles est une priorité. <span class="learn-more">Afficher plus</span></h3> 

        <div class="more-content">

            <p>Toutes les données que nous collectons sont <b><u>anonymisées</u></b> et <b><u>conservées sur nos serveurs au maximum 7 jours</u></b> exclusivement pour améliorer notre produit.</p>

            <p>Ce service utilise ChatGPT, un agent de conversation fournit par la société <a href="https://openai.com/">OpenAI</a>. Notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs pour utiliser ChatGPT. Par conséquent OpenAI est susceptible de collecter des données qui lui sont transmises de cette manière sur ces serveurs.</p>

        </div>

        <style>

            /* Initially hide the "Learn More" content */
            .more-content {
                display: none;
            }

            /* Styles for the "Learn More" button */
            .learn-more {
                color: #0073e6;
                cursor: pointer;
                text-decoration: underline;
            }

            /* Style on hover for the "Learn More" button */
            .learn-more:hover {
                text-decoration: none;
            }

        </style>

        <script>
        // Select HTML elements
        const learnMoreButton = document.querySelector('.learn-more');
        const moreContent = document.querySelector('.more-content');

        // Add an event listener to show/hide the "Learn More" content
        learnMoreButton.addEventListener('click', () => {
            if (moreContent.style.display === 'block') {
            moreContent.style.display = 'none';
            } else {
            moreContent.style.display = 'block';
            }
        });
        </script>

    </div>

    <div class="cta container col-md-6 border text-center p-2 mt-4">
    
        <div class="">AI Coach est un service gratuit fournit par <span class="text-success"><a href="http://www.propon.org" target="_blank" rel="noopener noreferrer">propon.org</a></span>, le site de présentation de projets.</div>
   
    </div>


    <div class="init">

        <div class="container col-md-5 d-flex justify-content-center align-items-center flex-column my-4">

                {{ form_start(form) }}
            
                <div class="form-part part1">

                    <div class="question-progress">Question 1 / 2</div>

                    <h2 class="question-title">À qui je présente mon projet ?</h2>
                            
                    <div class="d-flex justify-content-center align-items-center mb-3">

                        <div class="col-2 me-3">
                        
                            <img class="img-fluid" width="140" src="{{asset ('project_presentation_advice/jury.png', 'larger')}}" loading="lazy">

                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                        
                            <div class="">


                                <div class="examples"><span class="fw-bold">Exemples :</span> <span>à tout le monde</span> ; <span class=""> un(e) des enseignant(es)</span> ; <span>à un jury de chefs cuisiniers</span>; <span>à des investisseurs</span>; <span>à un journaliste</span> ? etc.</div>
                            
                            </div>


                        </div>

                    </div>

                    <div class="tiny-form-container d-flex justify-content-center align-items-center">
                
                        {{ form_widget(form.ppTarget, {'attr': {'class': 'target-input'}}) }}

                        <span class="btn btn-validate arrow-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg></span>

                        <style>
                        
                            .target-input{
                                display: inline;
                                width: 80%
                            }
                        
                        </style>

                        

                    </div>

                </div>

                <div class="form-part part2 hidden">

                    
                    <div class="question-progress">Question 2 / 2</div>

                    <h2 class="question-title">Comment je présente mon projet ?</h2>

                                
                    <div class="d-flex justify-content-center align-items-center mb-3">

                        <div class="col-2">
                        
                            <img class="img-fluid" width="140" src="{{asset ('project_presentation_advice/multimedia.png', 'larger')}}" loading="lazy">

                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                        
                            <div class="">

                                <div class="examples"><span class="fw-bold">Exemples :</span> à l'oral; sur un document papier ou pdf; sur une présentation powerpoint; sur une vidéo; sur un site web; sur un réseau social; sur une plateforme de crowdfunding, à la télévision, à la radio, sur un forum ?</div>
                            
                            </div>


                        </div>

                    </div>

                    <div class="tiny-form-container d-flex justify-content-center align-items-center">

                        <span class="btn btn-validate return-arrow-icon">
                    
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>       
                        
                        </span>
                
                        {{ form_widget(form.ppFormat, {'attr': {'class': 'target-input'}}) }}

                        <button type="submit" class="btn btn-validate">Afficher le résultat</button>
                        

                    </div>

                </div>

                {{ form_end(form) }}
                
        </div>

    </div>

</div>


<script>
// Listen for click on the arrow icon to switch from part 1 to part 2
document.querySelector(".arrow-icon").addEventListener("click", function() {
  document.querySelector(".part1").classList.add("hidden");
  document.querySelector(".part2").classList.remove("hidden");
});

// Listen for click on the return arrow icon to go back
document.querySelector(".return-arrow-icon").addEventListener("click", function() {
  document.querySelector(".part2").classList.add("hidden");
  document.querySelector(".part1").classList.remove("hidden");
});


</script>

          


<style>

/* Styles for the arrow icon */
.arrow-icon, .return-arrow-icon {
  cursor: pointer;
}

/* Styles for the form parts */
.form-part {
  text-align: center;
  margin: 20px auto;
}

.hidden {
  display: none;
}

.question-progress{

    font-size: 1.25rem;
    font-weight: bold;

}


.question-title{
    font-weight: bold;
}


button[type="submit"]{
    width: 250px;
}

</style>
            <style>

                .tiny-form-container form{
                    width: 460px;
                }
            
            
            </style>


</div>


{% endblock %}
