{% extends 'base.html.twig' %}


    {% set titleMetadata = 'Comment présenter son projet ? Votre assistant gratuit.' %}
    {% set metadataDescription = "Indiquez à qui vous présentez votre projet, indiquez comment (pdf, powerpoint, etc) et obtenez en quelques secondes des conseils personnalisées pour présenter votre projet, générées par une IA puissante ! Service gratuit sans inscription." %}
    {% set metadataImageUrl %}{{asset ('project_presentation_advice/adam_technology_touch.jpg', 'larger')}}{% endset %}
    {% set currentPageUrl = app.request.uri %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="Laurent G.">
    <meta name="keywords" content="Assistant, IA, Conseils, Présentation, Projet">
    <meta name="date" content="2023-27-11">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'product', metadataImageUrl, null) }} {# Call from base.html.twig #}
    
{% endblock %}


{% block title %}{{titleMetadata}}{% endblock %}

{% block body %}


<div id="" class="page-container">

    <div class="d-none d-md-flex justify-content-center align-items-center">
    
        <img class="img-fluid me-2" width="80" src="{{asset ('project_presentation_advice/advice.svg', 'larger')}}" loading="lazy" alt="Une icône qui représente deux bulles de BD, dans la première un point d'interrogation représentatant une question, dans la seconde le symbole i qui réprésente une information, un conseil."><h1 class="h3 text-center">Conseils <span class="highlight1">personnalisés</span> pour présenter <span class="highlight2">VOTRE Projet</span></h1>
      
    </div>

    <div class="d-flex d-md-none justify-content-center align-items-center">
    
        <img class="img-fluid me-2" width="80" src="{{asset ('project_presentation_advice/advice.svg', 'larger')}}" loading="lazy" alt="Une icône qui représente deux bulles de BD, dans la première un point d'interrogation représentatant une question, dans la seconde le symbole i qui réprésente une information, un conseil."><h1 class="h4 text-center"><span class="">Conseils personnalisés</span> pour présenter <u>VOTRE</u> Projet</h1>
      
    </div>


    <style>
      
                
        .highlight1 {
            display: inline-block;
            padding: .25em 10px;
            background: #b8e0ad;
            color: #ffffff;
            border-radius: 5px;
        }
                
      {#   .highlight2 {
            display: inline-block;
            padding: .25em 10px;
            background: #9FBCA4;
            color: #ffffff;
            border-radius: 5px;
        } #}
        
    </style>



    <div class="init">

        <div class="forms-container container col-md-10 col-lg-10 col-xl-7 px-0 px-md-2 my-4">

                {{ form_start(form) }}
            
                <div id="form-part1" class="form-part part1">

                    <div class="question-progress">Question 1 / 2</div>

                    <h2 class="question-title">À <span class="border border-2 border-success rounded px-2 pb-1 me-0 me-md-1">qui</span> je présente mon projet <span class="d-md-none"><br></span>(votre public cible) ?</h2>
                            
                    <div class="cols-container">

                        <div class="illustration-container col-2 me-3">
                        
                            <img class="question-illustration img-fluid" width="140" src="{{asset ('project_presentation_advice/audience.png', 'larger')}}" loading="lazy">

                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                        
                            <div class="">


                                <div class="examples"><span class="fw-bold">Exemples :</span> <span>à tout le monde</span>; <span>à un journaliste</span>; <span class="">à une enseignante</span> ; <span>à des chercheurs</span>; <span>à des investisseurs</span> ; <span>à un jury de chefs cuisiniers</span>; <span>au maire de ma commune</span>.</div>
                            
                            </div>


                        </div>

                    </div>

                    <div class="tiny-form-container d-flex justify-content-center align-items-center">
                
                        {{ form_widget(form.ppTarget, {'attr': {'class': 'target-input'}}) }}

                        <span class="btn btn-validate btn-next arrow-icon px-1 px-md-3">Suivant <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg></span>

                        <style>
                        
                            .target-input{
                                display: inline;
                                width: 80%
                            }
                        
                        </style>

                        

                    </div>

                </div>

                <div id="form-part2" class="form-part part2 hidden">

                    
                    <div class="question-progress">Question 2 / 2</div>

                    <h2 class="question-title"><span class="border border-2 border-success rounded px-2 pb-1 me-0 me-md-1">Comment</span> je présente mon projet ?</h2>

                                
                    <div class="cols-container">

                        <div class="illustration-container col-2">
                        
                            <img class="question-illustration img-fluid" width="140" src="{{asset ('project_presentation_advice/multimedia.png', 'larger')}}" loading="lazy">

                        </div>

                        <div class="d-flex justify-content-center align-items-center ps-2 ps-md-0">
                        
                            <div class="">

                                <div class="examples"><span class="fw-bold">Exemples : </span>à l'oral; sur un document écrit; avec un fichier PDF; avec des visuels; présentation powerpoint; sur un tableau blanc; visioconférence; vidéo; site web; réseau social; plateforme de crowdfunding, télévision, radio, forum de discussion.</div>
                            
                            </div>


                        </div>

                    </div>

                    <div class="tiny-form-container d-flex justify-content-center align-items-center">

                        <span class="btn btn-validate return-arrow-icon px-1">
                    
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> <span class="d-none d-md-inline ps-2">Retour</span>
                        
                        </span>
                
                        {{ form_widget(form.ppFormat, {'attr': {'class': 'target-input'}}) }}

                        <button type="submit" class="js-form-submit d-flex justify-content-center btn btn-validate px-1"><span class="d-none d-md-inline">Afficher le résultat <img class="img-fluid ms-2" style="vertical-align: sub;" width="22" src="{{asset ('project_presentation_advice/star.svg', 'larger')}}" loading="lazy"></span><span class="d-md-none">Résultat !</span></button>

                        
                        
                        

                    </div>

                </div>

                {{ form_end(form) }}
                
        </div>

    </div>


    <div class="cta container col-md-6 border p-2 mt-4">
    
        <div class="text-center"><b>Service gratuit sans inscription</b> fournit par <span class="text-success"><a href="http://www.propon.org" target="_blank" rel="noopener noreferrer">propon.org</a></span>, le site de présentation de projets.</div>
    
        <div class="gdpr">

            <h3 class="fs-6 text-center">La protection de vos données personnelles est une priorité. <span class="learn-more">Afficher plus</span></h3> 

            <div class="more-content border m-1 m-md-3 p-3">

                <p>Les données que nous collectons sont <b><u>anonymisées</u></b>; <b><u>conservées au maximum 15 jours</u></b>; <b><u>exclusivement pour améliorer l'outil à votre disposition</u></b>.</p>

                <p>Ce service utilise également ChatGPT, agent de conversation fournit par la société <a href="https://openai.com/">OpenAI</a>. Notre service envoie à OpenAI de manière anonymisée des données transmises par nos utilisateurs pour utiliser ChatGPT. Ces données anonymes sont susceptibles d'être collectées par OpenAI.</p>

            </div>

            <style>

                /* Initially hide the "Learn More" content */
                .more-content {
                    display: none;

                }

                /* Styles for the "Learn More" button */
                .learn-more {
                    color: #0073e6;
                    cursor: pointer;
                    text-decoration: underline;
                }

                /* Style on hover for the "Learn More" button */
                .learn-more:hover {
                    text-decoration: none;
                }

            </style>

            <script>
            // Select HTML elements
            const learnMoreButton = document.querySelector('.learn-more');
            const moreContent = document.querySelector('.more-content');

            // Add an event listener to show/hide the "Learn More" content
            learnMoreButton.addEventListener('click', () => {
                if (moreContent.style.display === 'block') {
                moreContent.style.display = 'none';
                } else {
                moreContent.style.display = 'block';
                }
            });
            </script>

        </div>
        
    </div>

</div>



{# Display Alerts #}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>



    // Listen for click on the arrow icon to switch from part 1 to part 2
    document.querySelector(".arrow-icon").addEventListener("click", function() {
    document.querySelector(".part1").classList.add("hidden");
    document.querySelector(".part2").classList.remove("hidden");
    window.scrollTo(0, 0);
    });

    // Listen for click on the return arrow icon to go back
    document.querySelector(".return-arrow-icon").addEventListener("click", function() {
    document.querySelector(".part2").classList.add("hidden");
    document.querySelector(".part1").classList.remove("hidden");
    });

</script>

 <script>

    $(document).ready(function(){


        //prevent user hitting Enter

        $(window).keydown(function(event){
            if(event.keyCode == 13) {
            event.preventDefault();
            return false;
            }
        });

        //timer feedback for user patience

        var timerHTML = document.createElement("div");
        timerHTML.innerHTML = `<img class="img-fluid mb-2" width="90" src="{{asset ('project_presentation_advice/15s-countdown.gif', 'larger')}}" loading="lazy" alt="Un décompte de 15 secondes pour patienter."><div class="">Créer une réponse <u>personnalisée</u> demande du temps, même avec une intelligence artificielle moderne. Veuillez patienter environ 15 secondes, votre réponse est en train d'être créée.</div>`;

/*
    <div class="row">
    
        <div class="col-6 d-flex align-items-center justify-content-center"><img class="img-fluid" width="80" src="{{asset ('project_presentation_advice/60s_countdown.gif', 'larger')}}" loading="lazy" alt="Un décompte de 60 secondes pour patienter."></div>
        <div class="col-6 d-flex align-items-center justify-content-center"><img class="img-fluid" width="120" src="{{asset ('project_presentation_advice/wip.gif', 'larger')}}" loading="lazy" alt="Deux engrenages en mouvement qui symbolisent un travail en cours."></div>
    
    </div> */
        

        $('form[name="aipp_advice"] button[type="submit"]').on('click', function (e){

            e.preventDefault();

            swal({
                title: "Création de votre réponse en cours. Veuillez patienter environ 15 secondes.",
                content: timerHTML,
                buttons: [""],
                icon: "info",
            });

            $('form[name="aipp_advice"] ').submit();
           

        });


    
    });

</script>

          


<style>

.forms-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 10px 0;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
}

.cols-container{
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 10px;
    margin-bottom: 1rem;    
}


/* Styles for the arrow icon */
.arrow-icon, .return-arrow-icon {
  cursor: pointer;
}

/* Styles for the form parts */
.form-part {

	margin: 8px auto 20px auto;
}

.hidden {
  display: none;
}

.question-progress {
	margin-bottom: 11px;
	padding-left: 5px;
	font-size: 1.25rem;
	font-weight: bold;
}

.question-title{
    font-weight: bold;
    text-align: center;
}


button[type="submit"]{
    width: 250px;
}


.tiny-form-container form{
    width: 460px;
}


.form-part.part2 .question-illustration{
    max-width: 75px;
}

.illustration-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.return-arrow-icon{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 160px;
}

@media screen and (max-width: 580px) {

    .question-progress {
        padding-left: 9px;
        margin-top: -7px;
        font-size: 1.1rem;
    }


    .question-title{
	    font-size: 1.26em;
    }

    button[type="submit"] {
        width: 100px;
    }

    .btn-next {
        width: 125px;
    }

    .examples {
        margin: 0 -5px;
        font-size: 14px;
        line-height: 1.4;
    }

    .tiny-form-container {
        margin: 0 5px;
    }

    .form-part.part2 .question-illustration {
        max-width: 100%;
    }

    .form-part.part2 .examples {
        padding-left: 6px;
    }

    .btn.return-arrow-icon{
        display: inline-block;
        width: unset;
    }


}


            
            
</style>


</div>


{% endblock %}
