<!-- Project Categories and Keywords Presentation -->

{% if hasKeywords or countCategories > 0 %}

    <div id="pp-categories-keywords" class="edit-hoverable-item text-left d-inline" >

        {% if hasKeywords %}

            <!-- Project Keywords Display -->

            <span id="pp-keywords" class="">

                {% if hasKeywords %}
                    
                    {% set keywords = presentation.keywords | split(',') %}

                    {% for keyword in keywords %}

                        #{{keyword | title | replace({" " : ""}) }}

                    {% endfor %}
                
                {% endif %}

            </span>

            <style>

                #pp-keywords{
                    display: inline;
                    margin-right:5px;
                }

            </style>

        {% endif %}

        <!-- Project Categories Display -->

        {% if countCategories > 0 %}

            <div id="pp-categories" class="">

                <div id="categories-dropdown" data-bs-toggle="dropdown" aria-expanded="false" class="" type="button">

                    <img id="categories-unroll-icon" src="{{ asset('categories.svg', 'misc')}}" alt="categories icon">Catégories<span class="pp-consultation-mode">▾</span>

                </div>

                <ul id="categories-dropdown-content" class="dropdown-menu" aria-labelledby="categories-dropdown">

                    {% for category in presentationCategories %}

                        <li class="" >
                            
                            <img class="category-icon" src="{{asset ("project_categories/"~ category.uniqueName ~".svg", 'icons')}}" alt="Icône {{ category.uniqueName }}" loading="lazy">
                            
                            {{category.descriptionFr}}
                        
                        </li>

                    {% endfor %}
                
                </ul>

                <style>

                    #pp-categories{
                        display: inline-block;
                    }

                    #categories-unroll-icon {
                        width: 28px;
                        margin-right: 3px;
                        margin-bottom: 3px;
                    }

                    #categories-dropdown{
                        display: inline;
                        
                    }

                    #categories-dropdown-content{
                        padding: 11px;
                        font-weight:bold;
                        
                    }

                    #categories-dropdown-content li{
                        
                        margin-bottom: 5px;
                        
                    }

                    #categories-dropdown-content li:last-of-type{
                        
                        margin-bottom: 0px;
                        
                    }

                    #categories-dropdown-content .category-icon{
                        width: 24px;
                        margin-right: 4px;
                    }

                </style>

            </div>

        {% endif %}

        {% if userPresenter %} {# Edit Project Categories & Keywords covering link #}

            <a class="pp-edition-mode coverable-link" href="{{ path ('select_categories_keywords', {'stringId': presentation.stringId}) }}"></a>

        {% endif %}

    </div>
    
    <!-- Keywords Styles -->

    <style>

        #pp-categories-keywords{

            position: relative;

            font-size: 17px;
            color: #065fd4;
        }

        #pp-categories-keywords.empty{

            display: none;
        }

        @media screen and (max-width: 580px) {

            #pp-categories-keywords{

                font-size: 15px;
                text-align: center;

            }

        }

    </style>

{% elseif userPresenter %} {# placeholder when no keywords and no category #}

    <a class="pp-edition-mode text-decoration-none ps-md-0 text-body" href="{{path('select_categories_keywords', {'stringId': presentation.stringId})}}">

            <div id="categories-keywords-placeholder" class="">

                <img class="keywordsIcon img-fluid mb-1 me-1" src="{{ asset('hashtag.svg', 'pp_wysiwyg') }}" height="25" width="25" alt="add keywords icon" >

                <span class="">Catégories & Mots-clés</span>

            </div>
        

    </a>

    <style>

		#categories-keywords-placeholder{

            display: inline;

            padding: 5px 10px 5px 0px;

            margin-top: 3px;

            font-size: 20px;
            font-weight: bold;

	        color: #747474;
            cursor: pointer;

		}

		#categories-keywords-placeholder:hover {
			
			background-color: lavender;
		}


		@media screen and (max-width: 580px) {

			#categories-keywords-placeholder{

                width: 100%;
                font-size: 14px;
                padding-left: 0px;
                text-align: center;

			}
                
            .keywordsIcon {

                height: 17px;
                width: 17px;
                
            }

		}

    </style>
    

{% endif %}