<!-- Project Keywords Presentation -->

{% if presentation.keywords is not empty %}

    <div class="pp-keywords edit-hoverable-item text-left" >

        <!-- Project Keywords Display -->

        <span class="d-inline-block me-2">

            {% set keywords = presentation.keywords | split(',') %}

            {% for keyword in keywords %}

                #{{keyword | title | replace({" " : ""}) }}

            {% endfor %}

        </span>
       
        <!-- Edit Project Keywords Button -->

        {% if userPresenter %}

            <a class="pp-edition-mode ms-3 ms-md-0" href="{{ path('select_categories_keywords', {'stringId': presentation.stringId}) }}">

                <img class="edit-icon d-lg-none" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >
                
            </a>

            <a class="pp-edition-mode coverable-link" href="{{ path ('select_categories_keywords', {'stringId': presentation.stringId}) }}"></a>

        {% endif %}


    </div>
  
    <!-- Keywords Styles -->

    <style>

        .pp-keywords{

            position: relative;

            font-size: 18px;
            font-weight: bold;
            color:#065fd4;
        }

        @media screen and (max-width: 580px) {

            .pp-keywords{

                font-size: 15px;
                font-weight:bold;

            }

        }

    </style>

{% elseif userPresenter and (presentation.categories | length == 0 or presentation.keywords is empty) %} {# no keywords (+ no categories), we insert a placeholder #}

    <a class="pp-edition-mode text-decoration-none ps-md-0 text-body" href="{{path('select_categories_keywords', {'stringId': presentation.stringId})}}">
        
        <div id="keywordsPlaceholder" class="d-flex align-items-center">

            <img class="keywordsIcon img-fluid" src="{{ asset('hashtag.svg', 'pp_wysiwyg') }}" height="25" width="25" alt="add keywords icon" >

            <span class="">Catégories & Mots-clés</span>

        </div>

    </a>

    <style>

		#keywordsPlaceholder{

            width: 400px;
	
            padding: 5px 10px;

            margin-top: 3px;

            font-size: 20px;
            font-weight: bold;

            cursor: pointer;

		}

        
        .keywordsIcon {

            margin-right : 15px;
            
        }

		#keywordsPlaceholder:hover {
			
			background-color: lavender;
		}


		@media screen and (max-width: 580px) {

			#keywordsPlaceholder{

                width:100%;
                font-size: 16px;
                padding-left: 12px;
                margin-bottom: 5px;

			}

                
            .keywordsIcon {

                height: 20px;
                width: 20px;
                
            }

		}

    </style>
    

{% endif %}