
{% if presentation.logo %}

    <img id="pp-logo" class="img-fluid" src="{{ vich_uploader_asset(presentation) | imagine_filter('logo')}}" alt="Logo du Projet">

    {# Edit Logo button #}

    <div class="edit-logo-button pp-edition-mode">

        <a class="" href="{{ path('edit_pp_base', {'stringId': presentation.stringId}) }}">

            <img class="edit-icon" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >

        </a>

    </div>

{% else %}

    <a id="logoPlaceholder" class="pp-edition-mode text-decoration-none" href="{{ path('edit_pp_base', {'stringId': presentation.stringId}) }}">

        <img class="no-logo-image img-fluid" src="{{ asset('no_logo.svg', 'pp_wysiwyg') }}" height="90" width="90" alt="add a logo icon" >
    
    </a>

{% endif %}


<style>

    #pp-logo{
        
        border-radius: 4px;
    }

    #logoPlaceholder{

        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 140px;
        width: 100%;

        border: 1px solid rgb(221, 221, 177);
        border-radius: 6px;

    }

    #logoPlaceholder:hover {
        cursor: pointer;
        background-color: lavender;
    }

    .edit-logo-button{

        position: absolute; 
        bottom:0; 
        right:0; 
        
        display: flex; 
        justify-content:center; 
        align-items: center;
        
        width:30px; 
        height:30px; 
        
    }


    @media screen and (max-width: 580px) {

        #pp-logo{
            border-radius: 4px;
            width: 55px;
            height: 55px;
        }


        #logoPlaceholder{
            padding: 15px;
            min-height: initial;
            
        }


    }

</style>
