<!-- Project Title Presentation -->

{% if presentation.title is not empty %}

    <!-- Structure Container -->

    <div class="">

        <!-- Project Title Display -->

        <h3 class="pp-title edit-hoverable-item mb-0" >
            
            {% if presentation.title | length > 79 %}
            
                <span class="cursor-pointer" data-bs-toggle="collapse" href="#collapsedProjectTitle" role="button" aria-expanded="false" aria-controls="collapsedProjectTitle">{{presentation.title[:1] | upper ~ presentation.title[1:] | slice (0,79)}}</span><span class="collapse cursor-pointer" id="collapsedProjectTitle">{{presentation.title [80:] }}</span><span class="title-collapse-hide-me cursor-pointer" data-bs-toggle="collapse" href="#collapsedProjectTitle" role="button" aria-expanded="false" aria-controls="collapsedProjectTitle">... ▼</span>

            {% else %}

                {{presentation.title[:1] | upper ~ presentation.title[1:]}}

            {% endif %}
                                                     
            <!-- Edit Project Title Button -->

            {% if userPresenter %}

                <a class="pp-edition-mode text-decoration-none" href="{{ path('edit_pp_base', {'stringId': presentation.stringId}) }}">

                    <img class="edit-icon d-lg-none" src="{{ asset('edit.svg', 'pp_wysiwyg')}}" height="17" width="17" alt="edit icon" >

                </a>

                <a class="pp-edition-mode coverable-link" href="{{ path ('edit_pp_base', {'stringId': presentation.stringId}) }}"></a>

            {% endif %}

        </h3>

    </div>

    <!-- Some Styles -->

    <style>

        .pp-title{

            display: inline-block;

            position: relative;

            color:navy !important;
            font-family: Tahoma, Geneva, Verdana, sans-serif;

            padding-top: 0px;

            margin-bottom:13px !important;

            font-weight:bold;

        }

        .title-collapse-hide-me[aria-expanded="true"]{

        display: none;

        }

        @media screen and (max-width: 580px) {

            .pp-title{

                font-size: 22px;
                font-weight:normal;

                padding-top: 2px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;

                margin-bottom: 10px !important;
            }

        }

    </style>

{% elseif userPresenter %} {# No title, we use a placeholder and display a form on click #}

    <a id="show-input" data-bs-toggle="modal" data-bs-target="#add_title_form_modal"  class="pp-edition-mode">

        <div class="title-placeholder">
            <div class="line-through"></div>
            Titre du Projet
        </div>
        
    </a>

    <style>

        .title-placeholder{

            display: inline-block;
            position: relative;
            width: 400px;
            margin-bottom: 13px;

            color: #397ee7;
            font-size: 24px;
            font-weight: bold;

            cursor: pointer;
            
        }

        .line-through{
            position: absolute;
            width: 180px;
            height: 2px;
            top:53%;
            background-color: #397ee7;
        }

        .title-placeholder:hover {

            background-color: rgb(237, 237, 248);
        }

        @media screen and (max-width: 580px) {

            .title-placeholder{

                font-size: 20px;
                margin-bottom: 14px;

                width: 80%;

            }

            .line-through{
                width: 150px;
            }

        }


    </style>

{% endif %}