
    <!-- Need Types Possibilitiess -->

    {% set needTypesPossibilities = 
        
        [ 

            {
                'type': 'skill', 
                'title_fr': 'Une Compétence', 
                'example_fr': ''
            },

            {
                'type': 'task', 
                'title_fr': 'Un Service Ponctuel', 
                'example_fr': ''
            },  

            {
                'type': 'material', 
                'title_fr': 'Un Objet, un Outil, du Matériel', 
                'example_fr': ''
            },  
            
            {
                'type': 'area', 
                'title_fr': 'Un Local, un Terrain, une Surface', 
                'example_fr': ''
            },  

            {
                'type': 'advice', 
                'title_fr': 'Un Conseil', 
                'example_fr': ''
            },  

            {
                'type': 'money', 
                'title_fr': 'Une Somme d\'Argent', 
                'example_fr': ''
            },  

            {
                'type': 'other', 
                'title_fr': 'Autres', 
                'example_fr': ''
            },  

        ] 

    %}
    
    <!-- Select a Need Type (Modal Box) -->

    <!-- Modal Styles -->


    <!-- Modal Structure & Content -->

        <div id="selectNeedTypeModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="needTypeModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <!-- Modal Title  -->

                    <div class="modal-header">

                        <h5 class="modal-title fw-bold" id="needTypeModalLabel">Ajouter un besoin - choisir le type du besoin</h5>

                        <!-- Close Modal (Cross Button)  -->

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>

                    </div>

                    <!-- Modal Content  (select a Need Type) -->

                    <div class="modal-body">

                        <div class="container-fluid">

                            {% for item in needTypesPossibilities %}

                                <a class="text-decoration-none text-body" href="{{path('add_need', {'stringId': stringId, 'need_type': item.type })}}">

                                    <div class="needTypeChoice row cursor-pointer border border-light d-flex justify-content-center align-items-center cursor-pointer" style="height:55px;">

                                        <!-- Need type Icon  -->

                                        <div class="col-3 d-flex justify-content-center align-items-center">

                                            <img src="/media/static/images/icons/edit_presentation/needs/types/{{ item.type}}.svg" alt="{{ item.type }}" width="30px" height="30px">

                                        </div>

                                        <!-- Need type title with Example  -->

                                        <div class="col">

                                            <!-- Need type title  -->

                                            <span class="font-weight-bold">
                                                {{ item.title_fr }} 
                                            </span>

                                            <br>

                                            <!-- Need type example in real life -->

                                            <span class="">
                                                {{ item.example_fr}} 
                                            </span>
                                            
                                        </div>
                                        
                                    </div> 

                                </a>

                            {% endfor %}

                        </div>   

                    </div>

                    <!-- Action Buttons  -->

                    <div class="modal-footer">

                        <button type="button" class="btn btn-go-back" data-bs-dismiss="modal">Retour</button>
                        
                    </div>

                </div>

            </div>

        </div>