{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}


{% block title %}Liste des Ressources Désirées{% endblock %}

{% block mainContentTitle %}Vos besoins{% endblock %}


{% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}


{% block moreInfoButtonLabel %}

    Info

{% endblock %}

{% block moreInfoContent %}
    
    <p class="h5 mb-3 pt-1">

        Exemples :             

    </p>
        
    <ul class="h5 mb-1">

        <p class="h5">
    
            Vous recherchez un local, du matériel, une personne pour vous aider ?

        </p>

        <p class="h5">

            Vous êtes au bon endroit. Présenter ici vos besoins, les visiteurs pourront ensuite vous contacter.

        </p>

    </ul>

{% endblock %}


{% block mainContent %}


    <!-- Add a Need Button (triggers a modal that allows user to select need type) -->

    <div class="mb-4">

        <button type="button" class="btn btn-success btn-lg sharp" data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" > <span class="mr-2">+</span> Ajouter un besoin </button>

        <!-- Need Type Selection (in a Modal Box, triggered by above button) -->

        {% include "project_presentation/edit/needs/_select_need_type_modal.html.twig" %}


    </div>
        
    <!-- Project Needs Display -->

    {% if presentation.needs | length > 0 %}

        <div id="elements-list" data-elements-type="needs" class="row col-lg-10">

            {% for need in presentation.needs %}

                <!-- Thumbnail Container -->

                <div id="{{need.id}}" class="js-sortable-element needCard position-relative col-md-5 me-md-4 mb-3 p-3" >

                    <a href="{{path('update_need', {'stringId': stringId, 'need_id': need.id})}}" class="w-100 h-100 text-body text-decoration-none" >
                        
                        <div class="fw-bold mb-1 pr-3">

                            {{need.title | length < 45 ? need.title : need.title | slice (0,45)~'...'}}

                        </div>
                        
                        <div>

                            {{need.description | length < 70 ? need.description : need.description | slice (0, 70)~'...'}}
                            
                        </div>

                    </a>

                    <!-- Remove Need (Cross Button) -->

                    <button type="button" class="js-delete-element d-inline position-absolute btn btn-sm btn-danger sharp" data-id="{{need.id}}" style="top:0; right:0;"><span class="fw-bold">&times</span></button>

                </div>

            {% endfor %}
            
        </div>

    {% endif %}

{% endblock %}


{% block seeResultAnchor %}needs{% endblock %}


{% block specificStyles %}

    <style>

        .needCard{

            display: flex;
            align-items: center;

            border: 1px solid black;
            
            border-left: 6px solid rgb(153, 72, 72); 
            border-bottom: 6px solid orange; 
            border-radius: 4px;

            font-size: 1.15em;
            overflow: hidden;
        }

        .needCard:hover{

            background-color: #d5dffe;

        }

    </style>

{% endblock %}


{% endembed %}