{# Modal Box for Menu Buttons #}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "project_status_edition", 'modal_title': "Statut (État Actuel du Projet) ", 'modal_size': "modal-fullscreen modal-dialog-scrollable"} %}

    {% block modalHeader %}{% endblock %}
    {% block closingCross %}{% endblock %}

    {# Project Status Selection Buttons Display #}

    {% block modalBody %}

        {# Custom Header is displaced in modal body because othrwise it is fixed #}

        <div class="modal-header-in-body">

            <h5 class="modal-title w-100 fw-bold text-center py-md-3">Statut<br class="d-md-none"> (État Actuel du Projet) </h5>

        </div>

        {# Notification to user #}

        <div class="container px-3 my-4">
        
            {# Notification to user #}

            <div class="alert alert-info d-flex justify-content-center align-items-center ps-3 pe-2" role="alert">

                <div class="fs-5">
                    Sélectionnez seulement les colonnes et les boutons qui correspondent à votre situation.
                </div>

            </div>

        </div>

        <div class="container px-2 mt-4">

            <div class="d-flex flex-column flex-lg-row justify-content-around px-2 mb-5">

                {% for statusCategory in statusCatalog %}

                {% set uniqueCategoryName = statusCategory.categoryLabels.uniqueName %}

                <div class="status-type-list-container d-inline-block">

                    <h5 class="category-title" data-bs-toggle="collapse" href="#category-{{uniqueCategoryName}}">
                        
                        {{statusCategory.categoryLabels.description_fr}} ▾
                    
                    </h5>

                    <ul id="category-{{uniqueCategoryName}}" class="list-group collapse">

                        {% for item in statusCategory.items %}
                
                            <li 
                                class="

                                    {% for actualStatus in projectStatus %}{#check if project status is concerned #}

                                        {% if actualStatus.value == item.uniqueName %} active 

                                        {% endif %}

                                    {% endfor %}
                                
                                    project-status-button 
                                    list-group-item 
                                    list-group-item-action 
                                    py-3
                                " 
                                
                                data-edit-project-status='{"entity": "PPBase", "id": "{{presentation.id}}",  "property": "status", "subproperty":"{{uniqueCategoryName}}"}' 
                                
                                data-value="{{item.uniqueName}}
                                
                            ">

                                {{item.description_fr | raw }}
                        
                            </li>
                        
                        {% endfor %}
                            
                    </ul>

                </div>

                    
                {% endfor %}

            </div>

            {# User can add some infos and remarks #}

            <div class="d-flex flex-column align-items-center mb-5">

                <h5 class="text-center fw-bold lh-sm mb-3" style="font-size: large; font-weight: normal;">Ici vous pouvez apporter des précisions ou des remarques sur l'avancement de votre projet</h5>

                <div class="border" data-edit='{"entity": "PPBase", "id": "{{presentation.id}}",  "property": "status", "subproperty":"userRemarks"}' data-text="Écrire ici" style="width: 600px; max-width: 100%; min-height: 110px; padding: 5px 10px;">{% if projectStatus.userRemarks is defined %}{{projectStatus.userRemarks.value}}{% endif %}
                </div>

            </div>

        </div>

        <div class="d-flex flex-row-reverse border-top pt-3">

            <div class="me-5">
                <button type="button" class="btn btn-validate px-2 my-3 me-5" data-bs-dismiss="modal">Ok</button>
            </div>

        </div>

    {% endblock %}

    {% block modalFooter %}{% endblock %}

{% endembed %}

<style>

    .modal-header-in-body{

        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-radius: 0;

    }

    .status-type-list-container{

        margin-right: 1rem;
        margin-bottom: 1rem;
        min-width: 250px;
        text-align: center;

    }

    .status-type-list-container:last-of-type{

        margin-right: 0;

    }

    .status-type-list-container .category-title {

        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 63px;

        padding: 0 8px;
        margin-bottom: 0;

        font-weight: bold;
        
        background-color:beige; 
        cursor:pointer;

    }

    .status-type-list-container .category-title:hover {
        background-color: #bcd7ff;
    }

    .project-status-button{
        cursor: pointer;
        font-size: larger;
        background-color: cornsilk;
    }

    .status-hover{
        cursor: pointer;
        font-size: larger;
    }

    .project-status-button.list-group-item-action.active {
        color: black;
        z-index: 2;
        background-color: #cce1ff;
        border-color: #bcd7ff;
    }

    @media screen and (max-width: 1200px) {


        .status-type-list-container{

            margin-right: 0rem;

        }

        .status-type-list-container .category-title {

            font-size: 1.1rem;
        }

    }

</style>