{% apply spaceless %}
            {# removes whitespaces between tags, usefull to check if this tag content is empty (whitespace appart) with css #}
 <div class="project-status-display">

    <div class="enumerated-tags">

        {% for statusCategory in statusCatalog %}
        
                <div class="{{statusCategory.categoryLabels.uniqueName}} status-info status-tag">

                    {% for key in projectStatus | keys %}{# searching if current project is concerned by this category status #}

                        {% if key == statusCategory.categoryLabels.uniqueName %}

                            {% for item in statusCategory.items %} {# retrieving this project status readable description #}

                                {% if projectStatus[key].value == item.uniqueName %}
                                
                                
                                    {{item.short_description_fr}}
                                    
                                    <style> {# initializing bg-colors #}

                                        .{{statusCategory.categoryLabels.uniqueName}}{ 
                                            background-color: {{item.bg_color}};
                                        }
                                    
                                    </style>
                                
                                {% endif %}

                            {% endfor %}

                        
                        {% endif %}

                            
                    {% endfor %}

            </div>
        {% endfor %}

    </div>

    <div class="status-info status-tag userRemarks">

        {% if projectStatus.userRemarks is defined and projectStatus.userRemarks is not empty %}

            {{projectStatus.userRemarks.value}}
        
        {% endif %}

    </div>

 </div>
{% endapply %}
 
    <style>

        .project-status-display{

            display: inline-block;
            max-width: 35%;
            
            padding-left: 16px;
            margin-top: 1px;

        }

        .project-status-display .status-tag{

            display: inline-block;
            text-align: center;
            border-radius: 4px;
            padding: 0 7px;

        }

        .status-tag:empty{
            display: none;
            margin-right: 0 !important;
        }

        .project-status-display .userRemarks {

            background-color: #fbfb6685;
            margin-top: 5px;

        }

        @media screen and (max-width: 580px) {

            .project-status-display{

                display: inline;
                max-width: 100%;

                margin-top: 0;

                padding-left: 5px;
                padding-right: 7px;
                
            }

            .project-status-display .userRemarks {

                margin-bottom: 5px;

            }

        }

    </style>