<!DOCTYPE html>

<html>

<html lang="fr">

<head>


    {% macro openGraph (title, siteName, pageUrl, description, type, imageUrl = null, updatedAt = null) %}

        <meta property="og:title" content="{{title}}">
        <meta property="og:site_name" content="{{siteName}}">
        <meta property="og:url" content="{{pageUrl}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:type" content="{{type}}">

        {% if imageUrl is not empty %}
        
            <meta property="og:image" content="{{imageUrl}}">
        
        {% endif %}

        {% if updatedAt is not empty %}
        
            <meta property="og:updated_time" content="{{updatedAt}}">
        
        {% endif %}

    {% endmacro %}

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block headTag %}{% endblock %}
    
    <link rel="icon" 
      type="image/png" 
      href="{{ asset('website_brand/favicon16.png', 'icons')}}">


    {# Google Fonts #}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">


    <title>{% block title %}Bienvenue sur Propon{% endblock %}</title>

    {# Bootstrap 5 css #}

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}


    {% block priorJavascipts %}{% endblock %}

    
    <script src="/js/bootstrap.js"></script>

    <script src="/js/jquery-3.6.0.js"></script>


    {% if app.environment != 'dev' %}

        <script src="/js/tracking.js"></script>

        <!-- Google tag (gtag.js) - Google Analytics -->
        

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-245896945-1"></script>

        <script>

                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-245896945-1');
        
        </script>

    {% endif %}

            
    {# Google Map Inclusion for Geosearch and google Places usage #}
        
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByeac-uQWF2vbkmpxGa0ISzV1M4aCrVVk&libraries=places&language=fr"></script>

    
    <script>

        /* Add event listeners and dispatch custom events.*/
        var customEvents = document.createElement("forCustomEvents"); 
        /*Ex: customEvents.dispatchEvent(new Event("greeting", {'name': Fabien}));
        * customEvents.addEventListener("greeting", function(e) { console.log("hello"+e.name); });*/


        // check if user device is a tiny screen
        var tinyScreen = false;

        function checkTinyScreen(){

           if ($(window).width() < 590) {
            tinyScreen = true;
            }else {
            tinyScreen = false;
            } 

        }

        checkTinyScreen(); //check on page load

        $(window).on('resize', function() {

            checkTinyScreen();

        });

    </script>
    

    {# Display some html chunks on user demand, to reduce page load #}

    <script> var getChunkRouteName = '{{url("ajax_render_chunk")}}'; </script>{# Access to the appropriate route to call #}

    {# Manage chunk demand and display #}
    <script src="/js/ajax_chunk.js"></script>



    {# Discriminate admins or app environment (dev or prod) #}
    {# {% if not is_granted('ROLE_ADMIN') and app.request.server.get("APP_ENV") == 'prod' %}{% endif %} #}

    {% block javascripts %}

    {% endblock %}

</head>

<body>

    {% include "_partials/GDPR.html.twig" %}

    {# Header Navbar #}

    {% include "_partials/header_navbar.html.twig" %}

    <!--Sidebar & Main Content Container -->

    <div class="main-container container-fluid"> 

        <div class="row" style="min-height:500px;">

            <!-- Sidebar -->
            
            {% block sidebar %}{% endblock %}
            
            <!-- Main Body Content -->

            <div class="col">

                {# search experience #}

                {% include "_partials/search_experience.html.twig" %}

                <!-- Flash Messages Display (see app.css) -->

                <div id="flash-messages" class="">

                    {% for label, messages in app.flashes %}
                    
                        <div class="flash-message alert alert-{{label}}">
                    
                            {% for message in messages %}
                    
                            <p class="p-0 m-0 text-center">{{message | raw}}</p>
                    
                            {% endfor %}
                    
                        </div>
                
                    {% endfor %}

                </div>
            
                <!-- End of Flash Messages Display -->

                <div id="main-body-container">
                    
                    {% block body %}{% endblock %}
                                
                </div>
                
            </div>

        </div>

    </div>  


    {# Footer #}

    {% block footer %}
    
        {% include "_partials/footer.html.twig" %}
    
    {% endblock %}


    {% block bottomjavascripts %}{% endblock %}

</body>

</html>