{# This template is a blank page to test some new functionalities -- see HomeController #}

{% extends 'base.html.twig' %}

{% block title %}Test Something{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}



{# templates/tinymce_image_upload.html.twig #}

{% block content %}
      <textarea id="tinymce-editor"></textarea>

      <script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

      <script>
          tinymce.init({
              selector: "textarea#tinymce-editor",
              plugins: "image",
              toolbar: "insertfile image",
              images_upload_url: "{{ path('upload_image') }}",
              images_upload_base_path: '/'
          });
      </script>

{% endblock %}
{# 
  <div class="container">

    <div class="my-5">

      <img src="{{ asset('w1.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w2.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w3.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w4.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w4.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w5.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w6.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w7.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w8.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w9.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w10.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w11.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w12.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w13.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w14.png', 'popular_website_logo')}}" alt="" width="40">

    </div>

    <div class="my-5">

      <img src="{{ asset('w15.png', 'popular_website_logo')}}" alt="" width="40">

    </div>


    
  </div> #}

    

{% endblock %}