{% macro collection(title, items) %}

    <h3 class="collection-title">{{title}}</h3>

    {% for item in items %}
    
        <a href="{{path('show_presentation', {'stringId': item.stringId})}}" class="text-decoration-none">

            <div class="collection-row">

                <div class="thumb-container">

                    {% if item.cache.thumbnail is not empty %}

                        {# case thumbnail is stored locally #}

                        {% if not item.cache.thumbnail [0:4] is same as "http" %}

                            <img src="{{ item.cache.thumbnail | imagine_filter('standard_thumbnail_sm') }}" alt="Presentation Thumbnail">

                        {% else %} {# case thumbnail is stored externaly #}

                            <img src="{{ item.cache.thumbnail }}" alt="Presentation Thumbnail">
                            
                        {% endif %}

                            
                    {% else %} {# no cached thumbnail : default avatar #}

                        <div class="avatar-circle avatar-circle-80 mx-auto bg-primary" style="background-color: {{ random (['#9c27b0 ', '#3f51b5 ', '#009688 ', '#26B92C  ', '#ff9800  ', '#0d6efd  ', '#ffc107  ']) }} !important;" >
                             
                            <span class="avatar-initial avatar-initial-80">

                            {{ item.goal | slice (0,1) | upper }}

                            </span>

                        </div>       

                    {% endif %}
                    
                </div>

                <div class="text-container">
                    
                    <h6 class="project-goal {% if title is empty %}no-title{% endif %} ">

                    {{item.goal[:1] | upper ~ item.goal[1:] | slice(0, 140)}}{% if item.goal | length > 141 %}...{% endif %}
                    </h6>

                    {% if title is not empty %}

                    <h6 class="project-title">{{ item.title[:1] | upper ~ item.title[1:] | slice(0, 63)}}</h6>

                    {% endif %}
                    
                    {% if item.keywords | length > 0 %}
                    
                    <div class="project-keywords">
                        
                        <span class="text-break">

                            {% set keywords = item.keywords | replace({" " : ""}) | split(',') %}

                            {% for keyword in keywords [0:6] %}
                
                                #{{keyword | first | capitalize ~ keyword[1:] }}
                
                            {% endfor %}

                        </span>

                    </div>

                    {% endif %}

                </div>

            </div>

        </a>   

    {% endfor %}

{% endmacro %}
