{% extends 'base.html.twig' %}

{% block title %}Envoyer un Message{% endblock %}

{% block headTag %}<meta name="robots" content="noindex, nofollow" />{% endblock %}


{% block body %}


    <style>

        textarea::placeholder {
            font-size:1.15em !important;
            font-weight:bold;
            color: #66666d !important;
        }
        
    </style>

    <div class="page-container container px-0 px-md-3 col-md-7 col-lg-5">
        
        <h1 class="fs-3 mt-4 mt-md-2 mb-5 text-center fw-bold">Envoyer un message privé</h1>
            
        {{ form_start(form) }}

        <div class="mb-5">

            {{ form_widget(form.content) }}
        
        </div>

        <!-- Actions Buttons -->

        <div class="d-flex justify-content-around justify-content-md-center">

            <div>
                    
                <button class="btn btn-lg btn-validate me-3">{{ button_label|default('✔️ Envoyer') }}</button>
            
                <a href="{{path('show_presentation', {'stringId': stringId})}}">
            
                    <button type="button" class="btn btn-lg btn-go-back">❌ Annuler</button>
                </a>
                
            </div>


        </div>

        
        {{ form_end(form) }}
        
    </div>

{% endblock %}
