<div>

    <div>Un de vos commentaires a reçu une réponse.</div>

    </br>

    <div>Voici la page commentée : "{{presentation.goal}}".</div>

    </br>

    <div>Votre commentaire initial : {{repliedComment.content}}

    </div>

    </br>

    <div>La réponse de {{answer.user.username}} envoyée le {{answer.createdAt | date("d/m/Y \à h:i:s") }} : {{answer.content}}</div>

    </br>

    <div>

        Pour répondre à ce commentaire, <a href="{{ url ('show_presentation', {"stringId": presentation.stringId}) }}#comments-struct-container">cliquez ici</a>.

    </div>

    </br>
    
    <div>
        
        Pour toute question, remarque ou suggestion, <a href="{{ url ('contact_website') }}">cliquez ici</a>.
    
    </div>

    </br>

    <div>

        Merci d'utiliser Propon.

    </div>

</div>