<div>

    {% set innerMailTitle = null %}

    {% if pageType is defined %}

        {% if pageType == "projectPresentation" %}

            {% set innerMailTitle = 'Voici le projet commenté : "'~ presentation.goal ~'".' %}
            
        {% elseif pageType == "article" %}

            {% set innerMailTitle = 'Voici l\'article commenté : "'~ article.title ~'".' %}

        {% elseif pageType == "news" %}

            {% set innerMailTitle = 'Il concerne une actualité du projet "'~ news.project.goal ~'".' %}
            
        {% endif %}

    {% endif %}

    <div>Un de vos commentaires a reçu une réponse.</div>

    </br>

    <div>{{innerMailTitle}}</div>

    </br>

    <div>Votre commentaire initial : {{repliedSiblingComment.content}}

    </div>

    </br>

    <div>La réponse de {{newComment.user.username}} envoyée le {{newComment.createdAt | date("d/m/Y \à h:i:s") }} : {{newComment.content}}</div>

    </br>

    <div>

        Pour répondre à ce commentaire, <a href="{{ commentedPageUrl }}#comment-{{ newComment.id }}">cliquez ici</a>.

    </div>

    </br>
    
    <div>
        
        Pour toute question, remarque ou suggestion, <a href="{{ url ('contact_website') }}">cliquez ici</a>.
    
    </div>

    </br>

    <div>

        Merci d'utiliser Propon.

    </div>

</div>