<div>

    {% set innerMailTitle = null %}

    {% if pageType is defined %}

        {% if pageType == "projectPresentation" %}

            {% set innerMailTitle = presentation.goal %}
            
        {% elseif pageType == "article" %}

            {% set innerMailTitle = article.title %}
            
        {% endif %}

    {% endif %}

    <div>Un commentaire d'une discussion a reçu une réponse.</div>

    </br>

    <div>Voici la page commentée : "{{innerMailTitle}}".</div>

    </br>

    <div>Votre commentaire initial d'une discussion : {{initialCommentInThread.content}}

    </div>

    </br>

    <div>La réponse de {{newComment.user.username}} envoyée le {{newComment.createdAt | date("d/m/Y \à h:i:s") }} : {{newComment.content}}</div>

    </br>

    <div>

        Pour répondre à ce commentaire, <a href="{{ commentedPageUrl }}#comments-struct-container">cliquez ici</a>.

    </div>

    </br>
    
    <div>
        
        Pour toute question, remarque ou suggestion, <a href="{{ url ('contact_website') }}">cliquez ici</a>.
    
    </div>

    </br>

    <div>

        Merci d'utiliser Propon.

    </div>

</div>