{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}

    {% block editButtons %}

        {# Add a need button (triggers a modal to select need type) #}

        <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {% endblock %}

    {% block mainContent %}

        {% if presentation.needs | length > 0 %}

            <div id="needs" class="js-elements-list">
                
                {% for need in presentation.needs %}

                    <div id="{{need.id}}" class="js-sortable-element position-relative cursor-pointer bg-success mb-2">

                        {# Need description is displayed in a modal #}

                        {% set modal_id = 'need'~ need.id %}

                        <div class="position-relative cursor-pointer">

                            <div data-bs-toggle="modal" data-bs-target="#{{modal_id}}" class="p-3 text-white">
                                                            
                                <span class="fw-bold">
                            
                                    {{ need.title }}
                            
                                </span>
                            
                            </div>

                            {# delete need (Red Cross) button #}

                            <button type="button" data-elements-type="needs" class="js-delete-element pp-edition-mode position-absolute btn btn-danger" data-id="{{need.id}}" style="top:0; right:0; z-index:100;"><span class="fw-bold">&times</span></button>

                        </div>

                        {# Displaying each need in a modal #}

                        {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': need.title} %}

                            {% block modalBody %}

                                {{need.description}}
                            
                            {% endblock %}

                            {% block footerButtons %}

                                {% if userPresenter %}

                                    <a href="{{path("update_need", {'stringId': stringId, 'need_id': need.id})}}" class="pp-edition-mode text-decoration-none">
                                        
                                        <button type="button" class="btn btn-info">Modifier</button>
                                
                                    </a>

                                {% endif %}
                            
                            {% endblock %}
                            
                        {% endembed %}

                    </div>
                
                {% endfor %}

            </div>

        {% endif %}

    {% endblock %}
    
{% endembed %}