{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}

    {% block editButtons %}

        {# Add a need button (triggers a modal to select need type) #}

        <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        {% if presentation.needs | length > 0 %}

            <div id="needs" class="js-elements-list pp-struct-content">
                
                {% for need in presentation.needs %}

                    {% set modal_id = 'need'~ need.id %}

                    {# Need title displayed in a card (triggers a modal to show need description) #}

                    <div id="{{need.id}}" data-need-title = "{{need.id}}" data-bs-toggle="modal" data-bs-target="#{{modal_id}}" class="js-sortable-element need-card">

                        <span class="needTitle">{{ need.title | capitalize }}</span>

                        {# Delete need (Red Cross) button #}

                        <button type="button" data-elements-type="needs" class="js-delete-element delete-button pp-edition-mode btn btn-danger" data-id="{{need.id}}">&times</button>

                    </div>

                    {# Each Need's Modal #}

                    {% set needTitle %} {# we make it ajax live editable #}

                        <div data-edit='{"entity": "need", "property": "title", "id": {{need.id}} }'>{{need.title}}</div>

                    {% endset %}

                    {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': needTitle } %}

                        {% block modalBody %}

                            <!-- Date Display -->

                            <div class = "mb-2" >

                                <span class="">
                                    Publié le 
                                </span>

                                <span>
                                    {{need.createdAt | date('d-m-Y')}}
                                </span>

                            </div>

                            <!-- is it Payed ? -->

                            {% if need.type != "money" %}

                                <div class = "mb-4" >

                                    <span class="fw-bold">
                                        Payé ?  
                                    </span>
                                    
                                    <span class="is-paid-badge">

                                        {% set isPaid = need.isPaid %}

                                        {% if isPaid == 'yes' %}

                                            Oui
                                        
                                        {% elseif isPaid == 'no' %}

                                            Non

                                        {% elseif isPaid == 'maybe' %}

                                            Peut-être

                                        {% elseif isPaid is null %}

                                            Non précisé
                                            
                                        {% endif %}

                                    </span>

                                </div>

                            {% endif %}

                            <div data-edit='{"entity": "need", "property": "description", "id": {{need.id}} }'>{{ need.description | sanitize_html ('newlines') }}</div>

                        
                        {% endblock %}

                        {% block footerButtons %}

                            <a href="{{path("new_pp_conversation", {'stringId': stringId, 'context': need.title})}}" class="pp-consultation-mode text-decoration-none">
                                        
                                <button type="button" class="btn btn-light">
                                    Contacter
                                </button>
                        
                            </a>
                        
                        {% endblock %}
                    
                    {% endembed %}
                
                {% endfor %}

            </div>

        {% endif %}
        
    <style>

        .need-card{

            position:relative;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.15em;
            margin-bottom : 15px;
            padding: 15px 15px 15px 17px;
            background-color: rgb(239, 239, 252);
            border-left: 3px solid rgb(129, 167, 255);

        }

        .need-card:hover{

            background-color: rgb(244, 244, 248);

        }

        .is-paid-badge {
            background-color: #d3d3ff;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            padding: 2px 9px;
            margin-left: 5px;
        }


        

        @media screen and (max-width: 580px) {

            .need-card {
               
                font-weight: normal;
                font-size: 16px;
                padding: 5px 5px 5px 17px;

            }

        }

    </style>

    {% endblock %}

{% endembed %}