{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}

    {% block editButtons %}

        {# Add a need button (triggers a modal to select need type) #}

        <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode btn btn-light btn-sm">+ Ajouter</button>

    {% endblock %}

    {% block mainContent %}

        {% if presentation.needs | length > 0 %}

            <div id="needs" class="js-elements-list">
                
                {% for need in presentation.needs %}

                    <div id="{{need.id}}" class="js-sortable-element need-card">

                        {# Need description is displayed in a modal #}

                        {% set modal_id = 'need'~ need.id %}

                        <div class="">

                            <div data-bs-toggle="modal" data-bs-target="#{{modal_id}}">
                            
                                {{ need.title }}
                            
                            </div>

                          

                            {# delete need (Red Cross) button #}

                            <button type="button" data-elements-type="needs" class="js-delete-element pp-edition-mode btn delete-button" data-id="{{need.id}}"></button>

                        </div>

                        {# Displaying each need in a modal #}

                        {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': need.title} %}

                            {% block modalBody %}

                                {{need.description}}
                            
                            {% endblock %}

                            {% block footerButtons %}

                                {% if userPresenter %}

                                    <a href="{{path("update_need", {'stringId': stringId, 'need_id': need.id})}}" class="pp-edition-mode text-decoration-none">
                                        
                                        <button type="button" class="btn btn-info">Modifier</button>
                                
                                    </a>

                                {% endif %}
                            
                            {% endblock %}
                            
                        {% endembed %}

                    </div>
                
                {% endfor %}

            </div>

        {% endif %}
    <style>
        .need-card{
            position:relative;
            cursor: pointer;
            background-color:lavender;
            font-weight: bold;
            margin-bottom : 15px;
            padding: 15px;

        }
    </style>
    {% endblock %}

{% endembed %}