{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}

    {% block editButtons %}

        {# Add a need button (triggers a modal to select need type) #}

        <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode plus-btn btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block deleteElementsButtons %}

        {% if countNeeds > 0 %}
        
            {{ parent() }}
        
        {% endif %}

    {% endblock %}

    {% block mainContent %}


        <div id="needs" class="js-elements-list pp-struct-content">

            {% if countNeeds == 0 %}

                <div class="cta container" data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal">
                    
                    <div class="row">
                        
                        <div class="col-4 present-needs-img-cta">

                            <img id="" class="no-needs" data-bs-toggle="modal" data-bs-target="#newWebsiteFormModal" src="{{ asset('no_needs.png', 'pp_wysiwyg')}}"  alt="Coloured hands raised from volunteers.">

                        
                        </div>

                        <div class="col-8 present-needs-text-cta">

                            <div class="text-container">Vous recherchez des conseils, de l'aide ou des participants ? Faites-le savoir ici !</div>
                        
                        </div>
                    
                    </div>
                
                </div>          
                
                
                <style>

                    #needs{

                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    #needs .cta{

                        cursor: pointer;
                        margin-bottom: 25px;

                    }

                    .present-needs-text-cta{
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }

                    .present-needs-text-cta .text-container {
                        padding: 5px 10px;
                        border: 1px solid #2b9a03;
                        border-radius: 5px;
                        color: #296429;
                        background-color: #f1fff1;
                    }

                
                    .present-needs-img-cta{

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                                    
                    img.no-needs {
                        max-width: 100%;
                        border-radius: 4px;
                    }

                    @media screen and (max-width: 580px) {

                        #needs .cta{

                           padding: 15px 10px;
                           margin-bottom: 10px;
                           background-color: #f1fff1;
                           border-radius: 6px;
                           
                        }

                        .present-needs-text-cta{
                            padding-right: 0;
                        }

                        .present-needs-text-cta .text-container {
                            padding: unset;
                            border: unset;
                            border-radius: unset;
                            color: #296429;
                            background-color: unset;
                            line-height: 1.2;
                            font-size: 14px;
                        }

                        .present-needs-img-cta{

                            padding: 0;
                            padding-left: 5px;
                        }

                        img.no-needs {
                            max-width: 100%;
                            padding: 0;
                        }

                    }
                
                </style>

            {% else %}
                                    
                {% for need in presentation.needs %}

                    {% if loop.index == 4  and not userPresenter %}
                    
                        <div class="collapse no-transition" id="collapse-needs">

                    {% endif %}


                    {% set modal_id = 'need'~ need.id %}

                    {# Need title displayed in a card (triggers a modal to show need description) #}

                    <div id="{{need.id}}" data-need-title = "{{need.id}}" data-bs-toggle="modal" data-bs-target="#{{modal_id}}" class="js-sortable-element need-card">

                        <span class="needTitle">{{ need.title | capitalize }}</span>

                        {# Delete need (Red Cross) button #}

                        <button type="button" data-elements-type="needs" class="js-delete-element delete-button pp-edition-mode btn btn-danger" data-id="{{need.id}}">&times</button>

                    </div>

                    {# Each Need's Modal #}

                    {% set needTitle %} {# we make it ajax live editable #}

                        <div data-edit='{"entity": "need", "property": "title", "id": {{need.id}} }'>{{need.title}}</div>

                    {% endset %}

                    {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': needTitle, 'modal_size': "modal-dialog-centered" } %}

                        {% block modalBody %}

                            <!-- Date Display -->

                            <div class = "mb-2" style="color: #42392f;">

                                <span class="">
                                    Publié le 
                                </span>

                                <span>
                                    {{need.createdAt | date('d-m-Y')}}
                                </span>

                            </div>

                            <!-- is it Payed ? -->

                            {% if need.type != "money" %}

                                <div class = "mb-4" >

                                    <span class="fw-bold">
                                        Payé ?  
                                    </span>
                                    
                                    <span class="is-paid-badge">

                                        {% set isPaid = need.isPaid %}

                                        {% if isPaid == 'yes' %}

                                            Oui
                                        
                                        {% elseif isPaid == 'no' %}

                                            Non

                                        {% elseif isPaid == 'maybe' %}

                                            Peut-être

                                        {% elseif isPaid is null %}

                                            Non précisé
                                            
                                        {% endif %}

                                    </span>

                                </div>

                            {% endif %}

                            <div data-edit='{"entity": "need", "property": "description", "id": {{need.id}} }'>{{ need.description is not empty ? need.description | sanitize_html ('newlines') : 'Pas de description supplémentaire.' }}</div>
                        
                        {% endblock %}

                        {% block footerButtons %}

                            <a href="{{path("new_pp_conversation", {'stringId': stringId, 'context': need.title})}}" class="pp-consultation-mode text-decoration-none">
                                        
                                <button type="button" class="btn btn-validate">
                                    ✉️ Contacter
                                </button>
                        
                            </a>
                        
                        {% endblock %}
                    
                    {% endembed %}
                
                                    
                    {% if loop.last and loop.index > 3 and not userPresenter %}

                        </div>
                        
                        <div class="show-more-button-container container px-0 mt-3 mb-2" onclick="this.style.display = 'none'" >

                            <a class="show-more-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-needs" aria-expanded="false" aria-controls="collapse-needs">Afficher plus</a>
                        
                        </div>
                    
                    {% endif %}

                {% endfor %}

            {% endif %}



        </div>

        
    <style>

        #needs{

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;

        }

        .need-card{

            position: relative;
            cursor: pointer;
            font-size: 1.15em;
            margin-bottom : 15px;
            padding: 15px 15px 15px 17px;
            background-color: rgb(239, 239, 252);
            border-left: 3px solid rgb(129, 167, 255);

        }

        .need-card:hover{

            background-color: rgb(244, 244, 248);

        }

        .is-paid-badge {
            background-color: #d3d3ff;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            padding: 2px 9px;
            margin-left: 5px;
        }


        

        @media screen and (max-width: 580px) {

                
            #needs{

                padding-left: 0px;
                padding-right: 0px;

            }

            .need-card {
               
                font-size: 16px;
                padding: 5px 5px 5px 17px;

            }

        }

    </style>

    {% endblock %}

{% endembed %}