{% embed "/project_presentation/_show/structure_content_skeleton.html.twig" with {'iconName': "needs", 'title': "Participer",} %}

    {% block editButtons %}

        {# Add a need button (triggers a modal to select need type) #}

        <button data-bs-toggle="modal" data-bs-target="#selectNeedTypeModal" class="pp-edition-mode btn btn-light btn-sm me-3">+</button>

    {% endblock %}

    {% block mainContent %}

        {% if presentation.needs | length > 0 %}

            <div id="needs" class="js-elements-list pp-struct-content">
                
                {% for need in presentation.needs %}

                    {% set modal_id = 'need'~ need.id %}

                    {# Need description is displayed in a modal (see below) #}

                    <div id="{{need.id}}" data-bs-toggle="modal" data-bs-target="#{{modal_id}}" class="js-sortable-element need-card">

                        <span>{{ need.title | capitalize }}</span>

                        {# Delete need (Red Cross) button #}

                        <button type="button" data-elements-type="needs" class="js-delete-element delete-button pp-edition-mode btn btn-danger" data-id="{{need.id}}">&times</button>

                    </div>

                    {# Displaying each need in a modal box #}

                    {% embed "utilities/modal_skeleton.html.twig" with {'modal_id': modal_id, 'modal_title': need.title } %}

                    {% block modalBody %}

                        {{need.description}}
                    
                    {% endblock %}

                    {% block footerButtons %}

                        {% if userPresenter %}

                            <a href="{{path("update_need", {'stringId': stringId, 'need_id': need.id})}}" class="pp-edition-mode text-decoration-none">
                                
                                <button type="button" class="btn btn-light">Modifier</button>
                        
                            </a>

                        {% endif %}
                    
                    {% endblock %}
                    
                {% endembed %}
                
                {% endfor %}

            </div>

        {% endif %}
        
    <style>

        .need-card{

            position:relative;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.15em;
            margin-bottom : 15px;
            padding: 15px;
            padding-left: 17px;
            background-color: rgb(239, 239, 252);
            border-left: 2px solid blue;

        }

        .need-card:hover{

            background-color: rgb(244, 244, 248);

        }

    </style>

    {% endblock %}

{% endembed %}