
{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Transférer une présentation à un nouveau compte{% endblock %}

{% block body %}

    <div class="container col-md-8 col-lg-4 text-center mt-5">

        <h4 class="fw-bold mb-5">Créer un compte pour un nouvel utilisateur et lui transférer la présentation ({{ stringId }}).</h4>

        <div class="">

            {{ form_start(form) }}

                {{ form_errors(form) }}
                
                <div class="mb-5">

                    {{ form_label(form.userName, 'Choisir un nom pour le nouvel utilisateur à inscrire') }}

                    {{ form_widget(form.userName) }}

                </div>
                
                <div class="mb-5">

                    {{ form_label(form.email, 'Quelle est l\'adresse e-mail du nouvel utilisateur à inscrire ?') }}

                    {{ form_widget(form.email) }}

                </div>

                
                
                <div class="mb-5">
                
                    {% include "utilities/_toggle_password_visibility.html.twig" %}

                    {{ form_label(form.plainPassword, 'Choisir un mot de passe pour le nouvel utilisateur (ne pas choisir toujours le même mot de passe)') }}

                    {{ form_widget(form.plainPassword) }}

                </div>
                
                {{ form_rest(form) }}
                
                <!-- Action Buttons -->

                <div class="my-5">

                    <button type="submit" class="btn btn-validate me-3">✔️ Valider</button>

                    <a href="{{ path('show_presentation', {'stringId': stringId}) }}">

                        <button type="button" class="btn btn-go-back">❌ Annuler</button>

                    </a>
                    
                </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
