{% extends 'base.html.twig' %}

{% block title %}Ajouter un Projet{% endblock %}

{% block body %}

    <div class="container page-container col-lg-6 px-0 px-md-4">

        <div class="row mt-5">
                    
            {{form_start(form)}}

                {# Project Goal #}

                <div class="mb-4">

                    <div class="mb-md-3">

                        <span class="fw-bold h5">

                            {{form_label(form.goal)}}
                            
                            {{ form_errors(form.goal) }}

                        </span>

                    </div>

                    <div class="mb-md-3">

                        {{form_widget(form.goal)}}

                    </div>

                </div>

                {# Project Goals Exemples #}

                <div class="card shadow mb-4 mb-lg-5">

                    <div class="card-body p-3">

                        <h4 class="mb-3">Exemples</h4>

                        <!-- Unordered list -->

                        <ul class="fs-15">
                            
                            <li class="mb-2 text-dark">Restaurer un moulin</li>
                            <li class="mb-2 text-dark">Créer un journal d'investigation</li>
                            <li class="mb-2 text-dark">Créer un jeu vidéo d'action</li>

                        </ul>
                        
                    </div>

                </div>

                {# Action Buttons #}

                <div class="mb-3">

                    {# Presentation Helper Proposition is only displayed above medium screens #}
                    
                    <button id="js-submit-form" type="submit" class="btn btn-primary btn-lg me-3 mb-2">Ajouter le Projet 🚀</button>

                    <a href="{{ path('homepage') }}">

                        <button type="button" class="btn btn-light btn-lg mb-2">Annuler</button>
                        
                    </a>
                
                </div>

            {{ form_end(form) }}

            </div>

        </div>

{% endblock %}