{% extends 'base.html.twig' %}

{% block title %}Ajouter un Projet{% endblock %}

{% block body %}

    <div class="container page-container col-lg-6 px-0 px-md-4">

        <div class="row mt-2 mt-md-4">
                    
            {{form_start(form)}}

                <div class="mb-4">
                
                    <div class="text-center h4 mb-4">⏱️ Top chrono, c'est parti.</div>

                    <div class="fw-bold h5 text-center mb-2 mb-md-3">

                        {# Project Goal Label & Errors #}

                        <span class="">

                            {{form_label(form.goal)}}
                            
                            {{ form_errors(form.goal) }}

                        </span>

                    </div>

                    
                    {# Project Goals Exemples #}

                    <div class="card shadow mb-4 mb-lg-5">

                        <div class="card-body p-3">

                            <h4 class="mb-3">📘 Exemples</h4>

                            <!-- Unordered list -->

                            <ul class="fs-15">
                                
                                <li class="mb-2 text-dark">Créer un jeu vidéo d'action</li>
                                <li class="mb-2 text-dark">Restaurer un moulin</li>
                                <li class="mb-2 text-dark">Créer un journal d'investigation</li>

                            </ul>
                            
                        </div>

                    </div>


                    <div class="goal-input-container">

                        {{form_widget(form.goal)}}

                    </div>

                    <style>
                    
                        .goal-input-container{
                            margin-top: 3rem;
                            margin-bottom: 3rem;
                        }

                        
                    @media screen and (max-width: 580px) {

                        .goal-input-container{
                        
                            margin-top: 2rem;
                            margin-bottom: 2rem;
                            
                        }

                    }
                    
                    </style>

                </div>

                {# Action Buttons #}

                <div class="d-flex justify-content-center mb-3">

                    {# Presentation Helper Proposition is only displayed above medium screens #}
                    
                    <button id="js-submit-form" type="submit" class="btn btn-validate btn-lg me-4 mb-2">Je valide 🚀</button>

                    <a href="{{ path('homepage') }}">

                        <button type="button" class="btn btn-go-back btn-lg mb-2"> Annuler<span class="d-none d-md-inline"> ❌</span></button>
                        
                    </a>
                
                </div>

            {{ form_end(form) }}

        </div>

    </div>

    <script>
    
        $(document).ready(function(){

			$("#create_presentation_goal").focus();

		});
    
    
    </script>

{% endblock %}