{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {% if is_granted('edit', presentation) %}

        <link href="/css/wysiwyg.css" rel="stylesheet">

    {% endif %}

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}

    {# flag if user presents this project #} {# when user presents this project, he can switch between edition mode and consultation mode #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}

    {# forms inclusions (ex: add a document form, add a website form, etc.) #}

    {% if userPresenter %}

        {% include "project_presentation/_show/forms.html.twig" %}

    {% endif %}


    
<div class="pp-container container">
    
        {% include 'project_presentation/_show/_upper_box.html.twig' %}

        {# Slideshow images & videos #}
            
        {% set countSlides = presentation.slides | length %}

        {% if countSlides > 0  %}

            <div id="slideshow-struct-container" class="pp-struct-container">
                    
                {% include 'project_presentation/_show/slides/slides.html.twig' %}

            </div>
    
        {% endif %}


        {# Text Description #}

        {% if presentation.textDescription is not empty %} 

            <div class="pp-struct-container col-12 col-md-10">
                
                {% include 'project_presentation/_show/_text_description.html.twig' %}

            </div>
        
        {% endif %}

        
        {# Miscelaneous Data List #}

        {% set countMiscDataList = presentation.getOC('dataList') | length %}

        {% if countMiscDataList > 0 %}

            <div id="" class="pp-struct-container col-lg-10">

                {% include 'project_presentation/_show/_misc_data_list.html.twig' %}
                
            </div>

        {% endif %}
        
        {# Websites #}

        {% set countWebsites = presentation.getOC('websites') | length %}

        {% if countWebsites > 0  %}
        
            <div id="" class="pp-struct-container col-12">
                
                {% include 'project_presentation/_show/_websites.html.twig' %}
                
            </div>

        {% endif %}


        {# Documents #}

        {% set countDocuments = presentation.documents | length %}

        {% if countDocuments > 0 %}

            <div id="" class="pp-struct-container col-12">

                {% include 'project_presentation/_show/_documents.html.twig' %}

            </div>

        {% endif %}

        
        {# Questions & Answers #}

        {% set countQA = presentation.getOC('questionsAnswers') | length %}

        {% if countQA > 0 %}
            
            <div id="" class="pp-struct-container col-12 col-lg-9">
                
                {% include 'project_presentation/_show/_questions_answers.html.twig' %}
                
            </div>

        {% endif %}

        
        {# Needs #}

        {% set countNeeds = presentation.getNeeds | length %}

        {% if countNeeds > 0 %}
            
            <div class="pp-struct-container col-12 col-md-9 col-lg-7">
                
                {% include 'project_presentation/_show/needs/main.html.twig' %}
                
            </div>

        {% endif %}

        
        {# Places #}

        {% set countPlaces = presentation.places | length %}

        {% if countPlaces > 0 %}
            
            <div class="pp-struct-container col-12">
                
                {% include 'project_presentation/_show/_places.html.twig' %}
            
            </div>

        {% endif %}


        {# External Contributors Structures (ex: sponsors; partners; etc.) #}

        {% set contributorStructures = presentation.contributorStructures %}

        {% set countECS = contributorStructures | filter((contributorStructures) => contributorStructures.type == "external") | length %}

        {% if countECS > 0 %}

            <div class="pp-struct-container col-12">

                {% include 'project_presentation/_show/_external_contributors.html.twig' %}

            </div>
                
        {% endif %}

          
        {# Business Cards #}

        {% set countBC = presentation.getOC('businessCards') | length %}

        {% if countBC > 0 %}
            
            <div class="pp-struct-container col-12">

                {% include 'project_presentation/_show/_business_cards.html.twig' %}

            </div>

        {% endif %}
    
    {% if userPresenter %}

        <div class="row g-3">

            {# Placeholders for usual structures (ex: websites; places; images; etc) #}

            {% include "project_presentation/_show/_wysiwyg_placeholders.html.twig" %}

            {# Other Edition Possibilities. Ex: Add Documents; add a Q&A; etc. Placeholder Icons to opens a modal with choices buttons #}

            {% set showOtherPossibilities = false %}

            {% if countDocuments == 0 or countMiscDataList == 0 or countQA == 0 or countNeeds == 0 or countECS == 0 %}
            
                {% set showOtherPossibilities = true %}

            {% endif %}

            {% if showOtherPossibilities == true %}

                {# Trigger Other Possibilities Menu (Button) #}

                <div class="pp-edition-mode col-6">

                    {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "more", 'addElementModal':"#non_default_structures_menu", 'label': "Autres Possibilités" } %}

                </div>
                    
                {# menu displayed in a modal #}
                
                {% include "project_presentation/_show/_non_default_structures_menu.html.twig" %}

            {% endif %}
            
        </div>
        
    {% endif %}

    <button data-bs-toggle="modal" data-bs-target="#pp-edit-help"  type="button" class="pp-edition-mode btn mt-5" style="border-color: rgb(216, 216, 201);">

        <img class="mb-1" src="{{ asset('help.svg', 'misc')}}" alt="help icon">
        
        <span class="ps-1">Aide</span>
    
    </button>

    {% include 'project_presentation/edit/_help.html.twig' %}


    {# Switch Between Edition Mode and Consultation Mode Button #}

    {% if userPresenter %}

        <button id="pp-switch-edit-consult-mode" title="Switch between edition mode and consultation mode">

            <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

            <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

        </button>

    {% endif %}


</div>


{% endblock %}

{% block javascripts %}    

    {% if is_granted('edit', presentation) %}

        {% include 'project_presentation/_show/_js/reorder_delete_elements.html.twig' %}

        {% include 'project_presentation/_show/_js/wysiwyg.html.twig' %}

    {% endif %}

{% endblock %}

