{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {% if is_granted('edit', presentation) %}

        <link href="/css/wysiwyg.css" rel="stylesheet">

    {% endif %}

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}


    {# flag if user presents this project #} {# when user presents this project, he can switch between edition mode and consultation mode #}
    
    {% if is_granted('edit', presentation) %}
    
        {% set userPresenter = true %}
    
    {% else %}
    
        {% set userPresenter = false %}
        
    {% endif %}

    
    {% if userPresenter %}
    
        {# forms inclusions (ex: add a document form, add a website form, etc.) #}

        {% include "project_presentation/_show/forms.html.twig" %}
 
    {% endif %}


    {# Setting some variables #}

    {% set countSlides = presentation.slides | length %}
    {% set countMiscDataList = presentation.getOC('dataList') | length %}
    {% set countWebsites = presentation.getOC('websites') | length %}
    {% set countDocuments = presentation.documents | length %}
    {% set countQA = presentation.getOC('questionsAnswers') | length %}
    {% set countNeeds = presentation.getNeeds | length %}
    {% set countPlaces = presentation.places | length %}

    {% set contributorStructures = presentation.contributorStructures %}
    {% set countECS = contributorStructures | filter((contributorStructures) => contributorStructures.type == "external") | length %}

    {% set privateMessagesActive = presentation.getParameter('arePrivateMessagesActivated') %}
    {% set countBC = presentation.getOC('businessCards') | length %}


<div class="pp-container {{userPresenter ? 'in-edition-mode'}} container">


    {# Upper box containing Project Title + Goal + Logo #}
    
    {% include 'project_presentation/_show/_upper_box.html.twig' %}

    {# Notification invisible project #}

    {% if userPresenter and presentation.overallQualityAssessment < 2 %}

        {% include 'project_presentation/_show/_notifications/invisible_presentation.html.twig' %}

    {% endif %}

    {# Notification presentation is not published #}

    {% if userPresenter and not presentation.isPublished %}

        {% include 'project_presentation/_show/_notifications/unpublished_presentation.html.twig' %}

    {% endif %}

    {# Notification presentation is deleted #}

    {% if presentation.isDeleted %}

        {% include 'project_presentation/_show/_notifications/deleted_presentation.html.twig' %}

    {% endif %}

    {# Notification set a personalised slug #}

    {% if true %}

        {% include 'project_presentation/_show/_notifications/set_a_slug.html.twig' %}

    {% endif %}





    {# Slideshow images & videos #}

    {% if countSlides > 0  %}

        <div id="slideshow-struct-container" class="pp-struct-container">
                
            {% include 'project_presentation/_show/slides/slides.html.twig' %}

        </div>

    {% endif %}


    {# Text Description #}

    {% if presentation.textDescription is not empty %} 

        <div id="text-description-struct-container" class="pp-struct-container col-12 col-md-10">
            
            {% include 'project_presentation/_show/_text_description.html.twig' %}

        </div>
    
    {% endif %}

        
    {# Miscelaneous Data List #}

    {% if countMiscDataList > 0 %}

        <div id="dataList-struct-container" class="pp-struct-container col-lg-10">

            {% include 'project_presentation/_show/_misc_data_list.html.twig' %}
            
        </div>

    {% endif %}


    
    {# Websites #}

    {% if countWebsites > 0  %}
    
        <div id="websites-struct-container" class="pp-struct-container col-12">
            
            {% include 'project_presentation/_show/_websites.html.twig' %}
            
        </div>

    {% endif %}



    {# Documents #}


    {% if countDocuments > 0 %}

        <div id="documents-struct-container" class="pp-struct-container col-12">

            {% include 'project_presentation/_show/_documents.html.twig' %}

        </div>

    {% endif %}

        
    {# Questions & Answers #}

    {% if countQA > 0 %}
        
        <div id="questionsAnswers-struct-container" class="pp-struct-container col-12 col-lg-9">
            
            {% include 'project_presentation/_show/_questions_answers.html.twig' %}
            
        </div>

    {% endif %}

    
    {# Needs #}

    {% if countNeeds > 0 %}
        
        <div id="needs-struct-container" class="pp-struct-container col-12 col-md-9 col-lg-7">
            
            {% include 'project_presentation/_show/needs/main.html.twig' %}
            
        </div>

    {% endif %}

    
    {# Places #}

    {% if countPlaces > 0 %}
        
        <div id="places-struct-container" class="pp-struct-container col-12">
            
            {% include 'project_presentation/_show/_places.html.twig' %}
        
        </div>

    {% endif %}


    {# External Contributors Structures (ex: sponsors; partners; etc.) #}

    {% if countECS > 0 %}

        <div id="ecs-struct-container" class="pp-struct-container col-12">

            {% include 'project_presentation/_show/_external_contributors.html.twig' %}

        </div>
            
    {% endif %}

        
    {# Contact Project Members : Business Cards & Private Message Button #}
    {# !!! Also contains Private Message Button & Switcher #}

    {% if not presentation.isDeleted and (countBC > 0 or privateMessagesActive or userPresenter) %}

        <div id="businessCards-struct-container" data-display="{{countBC > 0 or privateMessagesActive ? "true" : "false"}}" class="pp-struct-container col-12">

            {% include 'project_presentation/_show/_contact_members.html.twig' %}

        </div>

    {% endif %}

    {% if userPresenter %}

        <div class="row g-2 g-md-3">

            {# Placeholders for presentation's unfilled components (ex: websites; places; images; etc) #}

            {% include "project_presentation/_show/_wysiwyg_placeholders.html.twig" %}

            {# Other Edition Possibilities. Ex: Add Documents; add a Q&A; etc. Placeholder Icons to opens a modal with choices buttons #}

            {% set showOtherPossibilities = false %}

            {% if countDocuments == 0 or countMiscDataList == 0 or countQA == 0 or countNeeds == 0 or countECS == 0 %}
            
                {% set showOtherPossibilities = true %}

            {% endif %}

            {% if showOtherPossibilities == true %}

                {# Trigger Other Possibilities Menu (Button) #}

                <div class="pp-edition-mode col-4">

                    {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "more", 'addElementModal':"#non_default_structures_menu", 'label': "Autres Possibilités" } %}

                </div>
                    
                {# menu displayed in a modal #}
                
                {% include "project_presentation/_show/_non_default_structures_menu.html.twig" %}

            {% endif %}

            {# Presentation Manage Parameters Button #}

            <div class="pp-edition-mode col-4">

                {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "settings", 'addElementModal':"#pp-settings", 'label': "Réglages" } %}

            </div>

             {# menu displayed in a modal #}
                
             {% include "project_presentation/edit/_settings.html.twig" %}
            
        </div>

        {# Switch Between Edition Mode and Consultation Mode Button #}

        <button id="pp-switch-edit-consult-mode" title="Switch between edition mode and consultation mode">

            <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

            <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

        </button>

        
        {# Help Button #}
            
        <button data-bs-toggle="modal" data-bs-target="#pp-edit-help"  type="button" class="pp-edition-mode btn px-4 py-3 my-5" style="border-color: rgb(216, 216, 201);">

            <img class="mb-2" src="{{ asset('help.svg', 'misc')}}" alt="help icon">
            
            <span class="h5 fw-bold ps-1">Aide</span>
        
        </button>

        {% include 'project_presentation/edit/_help.html.twig' %}

        {# End of Help Button #}

        
    {% endif %}


        {# Share Presentation Button #}

        <div class="mt-5">

            <button id="share-presentation-button" data-bs-toggle="modal" data-bs-target="#pp-share"  type="button" class="btn pb-3 pt-4 ps-2 ps-md-4" style="border: 2px solid rgb(196, 228, 178);">

                <img class="mb-1" src="{{ asset('share.svg', 'misc')}}" alt="share icon" width="27" height="27">
                
                <span class="h5 fw-bold px-0 px-md-3">Partager la présentation</span>
            
            </button>

        </div>
            
        {% include 'project_presentation/_show/_share.html.twig' %}

        {# End of Share Presentation Button #}





        {# Misc Buttons Row #}

        <div class="my-5">

            {# Report Abuse Button #}

            <a class="text-decoration-none" href="{{ path('contact_website', {'context': 'report_abuse', 'item' : 'presentation', 'identifier': stringId }) }}">

                <button type="button" class="pp-consultation-mode btn btn-light fw-normal me-2 mb-2 ">Signaler un abus</button>
                
            </a>

        </div>



</div>


{% endblock %}

{% block javascripts %}    

    {% if is_granted('edit', presentation) %}

        {% include 'project_presentation/_show/_js/reorder_delete_elements.html.twig' %}

        {% include 'project_presentation/_show/_js/wysiwyg.html.twig' %}

        {% include 'project_presentation/_show/_js/switch_buttons.html.twig' %}

    {% endif %}


{% endblock %}

