{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheet %}

    <link href="/css/slideshow.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}

    {# flag if user presents this project ? #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}


    {#
              
        {% include "/project_presentation/_show/test_embed1.html.twig" %}
        {% include "/project_presentation/_show/test_embed2.html.twig" %} 
        
    #}

<div class="pp-container container">

    {# {% include 'project_presentation/_show/slides/slides.html.twig' %}
 #}

    
    {% include 'project_presentation/_show/_upper_box.html.twig' %}

    <div class="row">
        
        {# Text Description #}

        <div class="col-6 py-2 mb-3 border border-success">

            {% if presentation.textDescription is not empty %}

                <h4 class="fw-bold mb-2">
                    Description texte
                </h4>

                {{presentation.textDescription | raw}}

            {# {% else %}

                <div class="pp-placeholder-container pp-edition-mode">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div> #}
                
            {% endif %}

        </div>

        {# Websites #}

        <div id="displayWebsites" class="col-6 py-2 mb-3 border border-success">

            {% set websites = presentation.getOC('websites') %}

            {% if websites | length > 0 %}

                <h4 class="fw-bold mb-2">
                    Sites Webs
                </h4>

                <div id="websites" data-elements-type="websites">

                    {% for website in websites %}

                        <div id="{{website.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'websites', 'item_id':website.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ website.description }}
                        
                                    </span>
                        
                                    <br>
                        
                                    {{ website.url }}  
                        
                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% elseif userPresenter %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

        {# Documents #}

        <div id="displayDocuments" class="col-6 py-2 mb-3 border border-success">

            {% if presentation.documents | length > 0 %}

                <h4 class="fw-bold mb-2">
                    Documents
                </h4>

                <div id="documents" data-elements-type="documents">

                    {% for document in presentation.documents %}

                        <div id="{{document.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{ vich_uploader_asset(document) }}" target="_blank" class="text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ document.title }}
                        
                                    </span>        
                        
                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% elseif userPresenter %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

        {# Q&A #}

        <div id="displayQuestionsAnswers" class="col-6 py-2 mb-3 border border-success">

            {% set qas = presentation.getOC('questionsAnswers') %}

            {% if qas | length > 0 %}

                <h4 class="fw-bold mb-2">
                    Questions & Réponses
                </h4>

                <div id="questionsAnswers" data-elements-type="questionsAnswers">

                    {% for qa in qas %}

                        <div id="{{qa.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'questionsAnswers', 'item_id':qa.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ qa.question }}
                        
                                    </span>
                        
                                    <br>
                        
                                    {{ qa.answer }}  
                        
                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% elseif userPresenter %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

        {# Needs #}

        <div class="col-6 py-2 mb-3 border border-success">

            <h4 class="fw-bold mb-2">
                Participer
            </h4>

            {% if presentation.needs | length > 0 %}
                
                <div id="needs" data-elements-type="needs">

                    {% for need in presentation.needs %}

                        <div id="{{need.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'needs', 'item_id': need.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ need.title }}
                        
                                    </span>

                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% else %}

                Aucun Besoin présenté

                {# <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div> #}
                
            {% endif %}
           

        </div>

        {# Places #}

        <div class="col-6 py-2 mb-3 border border-success">

            {% if presentation.places | length > 0 %}
                
                <h4 class="fw-bold mb-2">
                    Lieux du Projet
                </h4>

                <div id="places" data-elements-type="places">

                    Aucun

                </div>

            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}
           

        </div>

        {# External Contributors #}

        <div class="col-12 py-2 mb-3 border border-success">

            {% if presentation.contributorStructures | length > 0 %}
                
                <h4 class="fw-bold mb-2">
                    Contributeurs
                </h4>

                <div id="contributors" data-elements-type="contributors">

                    {% for cs in presentation.contributorStructures | slice(0,1) %}

                        {{cs.richTextContent}} <br>

                        {% if cs.persorgs | length > 0 %}

                            {% for persorg in cs.persorgs %}

                                <span class="me-2">{{persorg.name}}</span>
                                
                                <img src="{{ vich_uploader_asset(persorg) | imagine_filter('persorg_thumbnail_sm') }}" alt="person or company avatar"><br>
                                
                            {% endfor %}
                        
                        {% endif %}
                        
                    {% endfor %}

                </div>

            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}
           

        </div>


    </div>
    





    {# Switch Between Edition Mode and Consultation Mode Button #}

    {% if userPresenter %}

        <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition and consultation">👁</button>

    {% endif %}


</div>

<style>

    .pp-container {
        margin-top: 50px;
    }

    .pp-placeholder-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .pp-upper-box {
        min-height: 170px;
    }

    .pp-logo-container{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp-title{
        display: inline-block;
    }

    .pp-goal{
        display: inline-block;
    }

</style>

{% endblock %}

{% block javascripts %}

    
<script>
        
    $(document).ready(function(){
        
        {% if is_granted('edit', presentation) %}

            //if user edit presentation, we enter in edition mode by default

            //some elements are only displayed in consultation mode (follow button for example)

            $(".pp-consultation-mode").addClass("d-none");

            //manage switch between edition mode and consultation mode
                
            $( "#pp-switch-edit-consult-mode" ).click(function() {
                
                if($(this).hasClass("edition-mode")){

                    // entering consultation mode

                    // toggling switch button class

                    $(this).removeClass("edition-mode");
                    $(this).addClass("consultation-mode");
                    $(this).html("✎");

                    //hiding elements related to edition
                    $(".pp-edition-mode").hide();

                    //showing elements related to consultation

                    $(".pp-consultation-mode").addClass("d-block");

                }

                else{

                    //entering edition mode

                    // toggling switch button class

                    $(this).removeClass("consultation-mode");
                    $(this).addClass("edition-mode");
                    $(this).html("👁");

                    //showing elements related to edition 
                    $(".pp-edition-mode").show();

                    //hiding elements related to consultation
                    $(".pp-consultation-mode").removeClass("d-block");

                }
            
            });



        {% endif %}


        
    });

</script>

{% endblock %}

