{% extends 'base.html.twig' %}

{% set presentationCreatedAt = presentation.createdAt | date("Y - m - d") %}
{% set presentationCreator = presentation.creator.userName %}

{# Page title for search engines, open graph, etc #}
{% set titleMetadata %}{{ presentation.title ? presentation.title ~ " - " : '' }}{{ presentation.goal[:1] | upper ~ presentation.goal[1:] }}{% endset %}
{# Page description for search engines, open graph, etc #}
{% set metadataDescription %}{{ presentation.textDescription | slice (0, 220) | striptags }}{% endset %}
{# Project Thumbnail Url for open graph #}
{% set metadataImageUrl %}{{ presentation.cache.thumbnailAddress ?: null }}{% endset %}
{# Current page url for open graph #}
{% set currentPageUrl = app.request.uri %}


{% block title %}{{ titleMetadata }}{% endblock %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="{{ presentationCreator }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ presentationCreatedAt}}">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'article', metadataImageUrl) }} {# Call from base.html.twig #}

    {# Different urls can lead to project presentation page so we use a canonical tag #}

    <link rel= "canonical" href= "{{ url ( 'show_presentation' , {'stringId' : presentation.stringId }) }}" />

{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {% if is_granted('edit', presentation) %}

        <link href="/css/wysiwyg.css" rel="stylesheet">

    {% endif %}

{% endblock %}



{% block body %}

    {# flag if user presents this project #} {# when user presents this project, he can switch between edition mode and consultation mode #}
    
    {% if is_granted('edit', presentation) %}
    
        {% set userPresenter = true %}

        {# tracks users presenting their projects #}
        <div class="d-none" data-track-view='{"key":"creator-3p-view"}'></div>

        {# feedback below is moved "precisely" under some ajax form fields when there is a form field error #}
        <div id="live-feedback" class=""></div>

        {# feedback when no internet connection #}

        <div class="no-internet-connection">

            !!! Vous êtes hors-ligne.
            <br>

            Veuillez vérifiez votre connexion.

        </div>

        <style>

            .no-internet-connection{
                display: none;
                position: fixed;
                top:20%;
                right: 0;
                z-index: 10;
                width: 330px;
                padding: 10px;
                background-color: rgb(255, 177, 177);
            }

            body.user-offline .no-internet-connection{
                display: block;
            }




        </style>
    
    {% else %}
    
        {% set userPresenter = false %}

        <div class="d-none" data-track-view='{"key":"visitor-3p-view"}'></div>
        
    {% endif %}


    {% if is_granted('ROLE_ADMIN') %}

        {% set userAdmin = true %}

    {% else %}
    
        {% set userAdmin = false %}
        
    {% endif %}


    {# Project Status #}

    {% set statusCatalog = presentation.getStatusCatalog %}
    
    {% set projectStatus = presentation.getOC("status") %}
    

    {% if userPresenter %}
    
        {# forms inclusions (ex: add a document form, add a website form, etc.) #}

        {% include "project_presentation/_show/forms.html.twig" %}
 
    {% endif %}


    {# Setting some variables #}

    {% set hasKeywords = presentation.keywords is not empty %}

      <link href="/css/show_more_less_button.css" rel="stylesheet">

    {% set presentationCategories = presentation.categories %}
    {% set countCategories = presentationCategories | length %}


    {% set countSlides = presentation.slides | length %}
    {% set countMiscDataList = presentation.getOC('dataList') | length %}
    {% set countWebsites = presentation.getOC('websites') | length %}
    {% set countDocuments = presentation.documents | length %}
    {% set countQA = presentation.getOC('questionsAnswers') | length %}
    {% set countNeeds = presentation.getNeeds | length %}
    {% set countPlaces = presentation.places | length %}

    {% set contributorStructures = presentation.contributorStructures %}
    {% set countECS = contributorStructures | filter((contributorStructures) => contributorStructures.type == "external") | length %}

    {% set privateMessagesActive = presentation.getParameter('arePrivateMessagesActivated') %}
    {% set countBC = presentation.getOC('businessCards') | length %}

    {% set countComments = presentation.comments | length %}

    {% set overallQualityAssessment = presentation.overallQualityAssessment %}

    {% set validatedStringId = presentation.getDataItem('validatedStringId') %}


<div class="pp-container {{userPresenter ? 'in-edition-mode' : 'in-consultation-mode'}} container">

    {# Upper box containing Project Title + Goal + Logo #}
    
    {% include 'project_presentation/_show/_upper_box.html.twig' %}

    {# Notification invitation to use a automatic form for presenting project #}

    {% if userPresenter and validatedStringId and not presentation.getDataItem('remove-helper-invite') %}

        <div class="pp-edition-mode">

            {% include 'project_presentation/_show/_notifications/helper_invite_level_2.html.twig' %}

        </div>

    {% endif %}

    
    {# Guest Presenter Sign Up Invitation #}

    {% if userPresenter and presentation.data['guest-presenter-activated'] is defined and presentation.data['guest-presenter-activated'] == false %}

        <div class="my-5">

            {% include 'project_presentation/_show/_notifications/save_your_presentation.html.twig' %}

        </div>

    {% endif %}
 
    
    {# Guest Presenter Sign Up Invitation

    {% if userPresenter and presentation.getDataItem('guest-presenter-token') is not empty %}

        <div class="my-5">

            {% include 'project_presentation/_show/_notifications/save_your_presentation.html.twig' %}

        </div>

    {% endif %} #}


    {# Notification "invisible project because of quality assessment"

    {% if userPresenter and overallQualityAssessment < 2 %}

        {% include 'project_presentation/_show/_notifications/quality_assessment_invisible_presentation.html.twig' %}

    {% endif %} #}

    {# Notification presentation is not published #}

    {% if userPresenter and not presentation.isPublished %}

        {% include 'project_presentation/_show/_notifications/unpublished_presentation.html.twig' %}

    {% endif %}

    {# Notification "Set a personalised slug" #}

    {% if userPresenter and not validatedStringId and overallQualityAssessment > 1 %}

        {% include 'project_presentation/_show/_notifications/set_a_slug.html.twig' %}

    {% endif %}

    {# Notification presentation is deleted #}

    {% if presentation.isDeleted %}

        {% include 'project_presentation/_show/_notifications/deleted_presentation.html.twig' %}

    {% endif %}

    <div class="container px-0">

        <div class="row">
    
            {# Slideshow images & videos #}

            {% if countSlides > 0  %}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    <div id="slideshow-struct-container" class="pp-struct-container">
                            
                        {% include 'project_presentation/_show/slides/slides.html.twig' %}

                    </div>
                
                </div>

            {% endif %}

            {# Text Description #}

            {% if not presentation.textDescription is empty %} 

                <div class="col-lg-6 pp-struct-container-wrapper">

                    <div id="text-description-struct-container" class="pp-struct-container">
                        
                        {% include 'project_presentation/_show/text_description/main.html.twig' %}

                    </div>
                
                </div>
            
            {% endif %}


            {# Miscelaneous Data List #}

            {% if countMiscDataList > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    <div id="dataList-struct-container" class="pp-struct-container">

                        {% include 'project_presentation/_show/_misc_data_list.html.twig' %}
                                    
                    </div>

                </div>

            {% endif %}
                    

            {# Documents #}

            {% if countDocuments > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    <div id="documents-struct-container" class="pp-struct-container">

                        {% include 'project_presentation/_show/_documents.html.twig' %}

                    </div>


                </div>

            {% endif %}   
            

            {# Questions & Answers #}

            {% if countQA > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">
                
                    <div id="questionsAnswers-struct-container" class="pp-struct-container ">
                
                        {% include 'project_presentation/_show/_questions_answers.html.twig' %}
                
                    </div>

                </div>

            {% endif %}

                    
            {# Needs #}

            {% if countNeeds > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">
                        
                    <div id="needs-struct-container" class="pp-struct-container">
                        
                        {% include 'project_presentation/_show/needs/main.html.twig' %}
                        
                    </div>
                    
                </div>

            {% endif %}

            
            {# Websites #}

            {% if countWebsites > 0  %}

                <div class="col-lg-6 pp-struct-container-wrapper">
            
                    <div id="websites-struct-container" class="pp-struct-container col-12">
                        
                        {% include 'project_presentation/_show/_websites.html.twig' %}
                        
                    </div>   
                
                </div>

            {% endif %}

            
            {# Places #}

            {% if countPlaces > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">
                    
                    <div id="places-struct-container" class="pp-struct-container">
                        
                        {% include 'project_presentation/_show/_places.html.twig' %}
                    
                    </div>
                
                </div>
                
            {% endif %}

            {# External Contributors Structures (ex: sponsors; partners; etc.) #}

            {% if countECS > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper">
                    
                    <div id="ecs-struct-container" class="pp-struct-container">

                        {% include 'project_presentation/_show/_external_contributors.html.twig' %}

                    </div>

                </div>
                    
            {% endif %}

                  
            {# Contact Project Members : Business Cards & Private Message Button #}
            {# !!! Also contains "Send Private Message Button" & "Allow - Disallow PM Switcher" #}

            {% if not presentation.isDeleted and (countBC > 0 or privateMessagesActive or userPresenter) %}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    <div id="businessCards-struct-container" data-display="{{countBC > 0 or privateMessagesActive ? "true" : "false"}}" class="pp-struct-container col-12">

                        {% include 'project_presentation/_show/_contact_members.html.twig' %}

                    </div>    
                
                </div>

            {% endif %}

            {# Misc Infos & Buttons #}

            <div class="col-lg-6 pp-struct-container-wrapper">
                
                <div id="misc-struct-container" class="pp-struct-container sm-border-none d-flex justify-content-center">
 
                    <div class="flex-wrapper d-flex flex-column align-items-center justify-content-center py-md-5">
    
                        {# Share Presentation Button #}

                        <div class="sm-text-center">

                            <button class="share-presentation-button btn pb-2 pt-3 pb-md-3 pt-md-4 ps-2 ps-md-4" data-bs-toggle="modal" data-bs-target="#pp-share"  type="button">

                                <img class="mb-1" src="{{ asset('share.svg', 'misc')}}" alt="share icon" width="27" height="27">
                                
                                <span class="text h5 fw-bold px-0 ps-2 px-md-3">Partager la présentation</span>
                            
                            </button>

                            <style>

                                .share-presentation-button{

                                    border: 2px solid rgb(196, 228, 178);

                                }

                                @media screen and (max-width: 580px) {

                                    .share-presentation-button{

                                        padding-left: 13px !important;
                                        padding-right: 13px;

                                    }

                                    .share-presentation-button .text{

                                        font-size: 15px;

                                    }
                                    
                                }
                            
                            </style>

                        </div>
                        {% include 'project_presentation/_show/_share.html.twig' %}    
                                    
                        {# Misc Buttons Row #}

                        <div class="sm-text-center mt-5">

                            {# Page Info #}

                            {# Trigger Dropdown Button #}

                            <button id="page-info-dropdown" data-bs-toggle="dropdown" aria-expanded="false" type="button" class="pp-consultation-mode btn btn-light fw-normal me-2 mb-2 ">Informations sur la page ▾</button>

                            {# Dropdown Content #}

                            <ul id="page-info-dropdown-content" class="dropdown-menu px-3" aria-labelledby="page-info-dropdown" style="max-width: 360px;">

                                <li class="mb-1" >
                                    
                                    Page créée le {{presentationCreatedAt}}.
                                
                                </li>

                                <li class="mb-1" >
                                    
                                    Par {{presentationCreator}}.
                                
                                </li>

                                <li class="" >
                                    
                                    <p class="text-muted mb-1">Propon souhaite vous fournir une information fiable, mais ne peut garantir l'exactitude ainsi que la complétude des informations présentées par ses utilisateurs.</p>
                                
                                </li>
                            
                            </ul>
                            
                            {# Report a Problem Button #}

                            <a class="text-decoration-none" href="{{ path('contact_website', {'context': 'report_abuse', 'item' : 'presentation', 'identifier': stringId }) }}">

                                <button type="button" class="pp-consultation-mode btn btn-light fw-normal mb-2 ">Signaler un problème</button>
                                
                            </a>


                        </div>
                    
                    </div>
                
                </div>
            
            </div>

            
            {# Project Presentation Comments #}

            <div class="col-lg-6 pp-struct-container-wrapper">

                <div id="comments-struct-container" class="pp-struct-container">

                    {% include "project_presentation/_show/_comments.html.twig" %}

                </div>
            
            </div>

        </div>
    
    </div>


    {# Add a Presentation Structure Buttons (Placeholders or Other Buttons in a Modal Box) #}

    {% if userPresenter %}

        <div class="row d-flex justify-content-evenly g-2 g-md-3 pt-md-3">

            {# Placeholders for presentation's unfilled components (ex: websites; places; images; etc) #}

            {% include "project_presentation/_show/_wysiwyg_placeholders.html.twig" %}

            {# Other Edition Possibilities. Ex: Add Documents; add a Q&A; etc. Placeholder Icons to opens a modal with choices buttons #}

            {% set showOtherPossibilities = false %}

            {% if countDocuments == 0 or countMiscDataList == 0 or countQA == 0 or countNeeds == 0 or countECS == 0 %}
            
                {% set showOtherPossibilities = true %}

            {% endif %}

            {% if showOtherPossibilities == true %}

                {# Trigger Other Possibilities Menu (Button) #}

                <div class="pp-edition-mode col-4 col-md-2">

                    {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "more", 'addElementModal':"#non_default_structures_menu", 'label': "Autres Possibilités" } %}

                </div>
                    
                {# menu displayed in a modal #}
                
                {% include "project_presentation/_show/_non_default_structures_menu.html.twig" %}

            {% endif %}

            {# Presentation Manage Parameters Button #}

            <div class="pp-edition-mode col-4 col-md-2">

                {% include 'project_presentation/_show/empty_structure_placeholder_skeleton.html.twig' with {'iconName': "settings", 'addElementModal':"#pp-settings", 'label': "Réglages" } %}

            </div>

             {# menu displayed in a modal #}
                
             {% include "project_presentation/edit/_settings.html.twig" %}
            
        </div>


        {# Admin Presentation Validation Button #}

        {% if is_granted('ROLE_ADMIN') %}

            <div class="alert ps-0 mt-4">

                <div class="menu-button py-3 fw-bold">

                    <h6 class="text-primary text-center fw-bold" style="font-size: normal;">Valider la présentation</h6>

                    <div class="d-flex justify-content-center">

                        <div>

                            <span class="">Non</span>
                    
                            <input type="checkbox" id="admin-validation-presentation-switch" class="toggle-switch" {% if presentation.isAdminValidated %} checked {% endif %} /><label class="toggle-switch-label" for="admin-validation-presentation-switch">Admin validate presentation switch</label>
                        
                            <span class="ps-2">Oui</span>

                        </div>
                        
                    </div>

                </div> 
                
            </div>
        
        {% endif %}

        {# When Admin creates a presentation for someone else, he can then transfer edition rights to this person / organisation #}

        {% if is_granted('ROLE_ADMIN') and presentation.getCreator == app.user %}

            <a class="text-decoration-none" href="{{ path('transfer_presentation', {'stringId': stringId }) }}">

                <button type="button" class="btn btn-light">Transférer la présentation</button>

            </a>

        {% endif %}


        
        {# Notification invisible project because waiting for admin validation #}

        {% if presentation.isAdminValidated == false %}

            <div class="mt-5">
                {% include 'project_presentation/_show/_notifications/not_admin_validated.html.twig' %}
            </div>

        {% endif %}

        {# Switch Between Edition Mode and Consultation Mode Button #}

        <button id="pp-switch-edit-consult-mode" title="Switch between edition mode and consultation mode">

            <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

            <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

        </button>

        {# Misc Buttons Container #}

        <div class="sm-text-center mt-5 pt-3">

            {# Help Button #}
                
            <button data-bs-toggle="modal" data-bs-target="#pp-edit-software-help"  type="button" class="pp-edition-mode btn px-4 py-3" style="border-color: rgb(216, 216, 201);" data-track-click='{"key":"clicked-software-help"}'>

                <img class="mb-2" src="{{ asset('help.svg', 'misc')}}" alt="help icon">
                
                <span class="h5 fw-bold ps-1">Aide rapide</span>
            
            </button>
            
            {% include 'project_presentation/edit/_software_help.html.twig' with {'contactUsPhone': contactUsPhone} %}

        </div>

        {# End of misc buttons container #}


        
    {% endif %}

    {# Other Project Presentation to Consult Suggestions #}

    {% if not userPresenter %}

        <link href="/css/titled_projects_collection.css" rel="stylesheet">

        <script src="/js/show_more_less_button.js"></script>
        <link href="/css/show_more_less_button.css" rel="stylesheet">

        {% import "utilities/_macro_titled_collection.html.twig" as display %}


        {% set algoliaQueryString = "none" %}

        {% for category in presentationCategories %}

            {% set algoliaQueryString = algoliaQueryString ~ 'categories.uniqueName:'~ category.uniqueName %}

            {% if not loop.last %}

                {% set algoliaQueryString = algoliaQueryString ~ ' OR ' %}

            {% else %}
                
                {% set algoliaQueryString = '(' ~ algoliaQueryString ~ ')' %}

            {% endif %}

        {% endfor %}

        <div class="">

            {{ render(path('backend_search', {label: "Suggestions", shuffle: "yep", filters: algoliaQueryString, iconName: ''} ) ) }}

        </div>

    {% endif %}

    {% set odd = [1] %}

	{% if  random (odd) == 1 and not app.user  %}

		<p class="text-center container col-md-6">Présentez gratuitement votre projet pour le rendre plus visible 👉 <a href="{{path('create_presentation')}}">c'est ici.</a></p>
	
	{% endif %}


    {# Create a Project Form CTA #}

    {% set odd2 = [0, 0, 0, 1] %}
    
    {% if not app.user and random (odd2) == 1 %}

        <div class="container col border p-2 p-md-4 py-3 py-md-4 text-center mt-4 mb-4">

            <div class="col-12 col-md-8 mx-auto">
            
                {{form_start(createPresentationFormCTA)}}

                <div class="createPresentationFormCTATitle fw-bold mb-3">💡 Et vous, quel est l'objectif de votre projet ?</div>
                                    
                {{ form_errors(createPresentationFormCTA.goal) }}
                    
                    {{form_widget(createPresentationFormCTA.goal)}}

                    <button id="" type="submit" class="create-presentation-button btn btn-validate btn-lg">Go 🚀</button>

                {{ form_end(createPresentationFormCTA) }}

            
            </div>

            <style>

                .createPresentationFormCTATitle{
                    font-size: 22px;
                }

                #create_presentation_goal{
                display: inline;
                width: 70%;
                height: 47px;
                margin-right: 20px;
                }

                .create-presentation-button{
                margin-bottom: 4px;
                }

                        
                @media screen and (max-width: 580px) {

                    .createPresentationFormCTATitle{
                        font-size: 16px;
                    }

                    #create_presentation_goal{
                        width: 68%;
                        margin-right: 5px;
                    }

                        
                    .create-presentation-button{
                        padding: 8px 9px;
                        margin-bottom: 4px;
                    }

                }
            
            </style>

        </div>

    {% endif %}




</div>

{% endblock %}


{% block priorJavascipts %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    {# 
    <script src="/js/image_zoom.js" type="application/javascript"></script> #}
    

{% endblock %}

{% block javascripts %}


	{# Image Zoom Only On Large Screens #}

	<script>

		if (!tinyScreen)
		{		
			var head = document.getElementsByTagName('head')[0];
			var js = document.createElement("script");
			js.type = "text/javascript";
			js.src = "/js/image_zoom.js";
			head.appendChild(js);
		}
	
	</script>

    {# Like button js #}

    <script>

        $(document).ready(function(){

            $( ".js-like" ).on( "click", function(e) {

                e.preventDefault();

                $.ajax({

                    url: "{{ path('ajax_like_pp', {'stringId': presentation.stringId}) }}",
                    type: "POST",
                    
                    success: function(data) {

                        $(".likesCount").text(data.likesCount);
                        $(".likeIcon").toggle();
                        
                    },

                    error : function(xhr, textStatus, errorThrown) {

                        console.log(errorThrown);

                    }  

                });

            });

        });
    
    </script>


    <script>

        /* $(document).ready(function(){

            const maxPlaceholdersSlots = 6;
            var placeholderSlotsFilled = $('.inner-placeholder-container').length;

            if (placeholderSlotsFilled < maxPlaceholdersSlots){
                
                console.log('Il reste de la place !');

                $('.menu-button').each(function( index ) {
                    console.log( index + ": " + $( this ).text() );
                  });
            }    

        }); */

    </script>

    {% if is_granted('edit', presentation) %}

        {% include 'project_presentation/_show/_js/reorder_delete_elements.html.twig' %}

        {% include 'project_presentation/_show/_js/wysiwyg.html.twig' %}

        {% include 'project_presentation/_show/_js/update_presentation_settings.html.twig' %}

    {% endif %}

{% endblock %}

{% block bottomjavascripts %}
        

{% endblock %}

