{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheet %}

    <link href="/css/slideshow.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}

    {% include "/project_presentation/_show/test_embed1.html.twig" %}
    {% include "/project_presentation/_show/test_embed2.html.twig" %}



    {# flag if user presents this project ? #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}



<div class="pp-container container">

    {% include 'project_presentation/_show/_upper_box.html.twig' %}


    <div class="row ">

        
        {# Presentation Text Description #}

        <div class="col-6 py-2 mb-3 border border-success">

            {% if presentation.textDescription | length > 0 and  presentation.textDescription.content is not empty %}

                Texte de Description du Projet

            {% else %}

                <div class="pp-placeholder-container pp-edition-mode">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

        {# Presentation Websites #}

        <div id="displayWebsites" class="col-6 py-2 mb-3 border border-success">

            {% set websites = presentation.getOC('websites') %}

            {% if websites | length > 0 %}

                <h4 class="fw-bold mb-2">
                    Sites Webs du Projet
                </h4>

                <div id="websites" data-elements-type="websites">

                    {% for website in websites %}

                        <div id="{{website.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'websites', 'item_id':website.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ website.description }}
                        
                                    </span>
                        
                                    <br>
                        
                                    {{ website.url }}  
                        
                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% elseif userPresenter %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}

        </div>

        {# Presentation Needs #}

        <div class="col-6 py-2 mb-3 border border-success">

            {% if presentation.needs | length > 0 %}
                
                <h4 class="fw-bold mb-2">
                Besoins du Projet
                </h4>

                <div id="needs" data-elements-type="needs">

                    {% for need in presentation.needs %}

                        <div id="{{need.id}}" class="js-sortable-element cursor pointer bg-success mb-2">

                            <a href="{{path("update_other_components_item", {'stringId': stringId, 'component_type': 'needs', 'item_id': need.id})}}" class="w-100 h-100 d-flex align-items-center text-decoration-none">

                                <div class="p-3 text-white">
                                    
                                    <span class="fw-bold">
                        
                                        {{ need.title }}
                        
                                    </span>

                                </div>
                        
                            </a>

                        </div>
                        
                    {% endfor %}

                </div>

            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}
           

        </div>

        {# Presentation Places #}

        <div class="col-6 py-2 mb-3 border border-success">

            {% if presentation.places | length > 0 %}
                
                <h4 class="fw-bold mb-2">
                    Lieux du Projet
                </h4>

                <div id="places" data-elements-type="needs">

                    Liste de Lieux

                </div>

            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}
           

        </div>


    </div>
    





    {# Switch Between Edition Mode and Consultation Mode Button #}

    {% if userPresenter %}

        <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition and consultation">👁</button>

    {% endif %}


</div>

<style>

    .pp-container {
        margin-top: 50px;
    }

    .pp-placeholder-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .pp-upper-box {
        min-height: 170px;
    }

    .pp-logo-container{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp-title{
        display: inline-block;
    }

    .pp-goal{
        display: inline-block;
    }

</style>

{% endblock %}

{% block javascripts %}

    
<script>
        
    $(document).ready(function(){
        
        {% if is_granted('edit', presentation) %}

            //if user edit presentation, we enter in edition mode by default

            //some elements are only displayed in consultation mode (follow button for example)

            $(".pp-consultation-mode").addClass("d-none");

            //manage switch between edition mode and consultation mode
                
            $( "#pp-switch-edit-consult-mode" ).click(function() {
                
                if($(this).hasClass("edition-mode")){

                    // entering consultation mode

                    // toggling switch button class

                    $(this).removeClass("edition-mode");
                    $(this).addClass("consultation-mode");
                    $(this).html("✎");

                    //hiding elements related to edition
                    $(".pp-edition-mode").hide();

                    //showing elements related to consultation

                    $(".pp-consultation-mode").addClass("d-block");

                }

                else{

                    //entering edition mode

                    // toggling switch button class

                    $(this).removeClass("consultation-mode");
                    $(this).addClass("edition-mode");
                    $(this).html("👁");

                    //showing elements related to edition 
                    $(".pp-edition-mode").show();

                    //hiding elements related to consultation
                    $(".pp-consultation-mode").removeClass("d-block");

                }
            
            });



        {% endif %}


        
    });

</script>

{% endblock %}

