{% extends 'base.html.twig' %}

{% block meta %}

<meta name="author" content="{{ presentation.creator }}">
<meta name="keywords" content="{{ presentation.keywords }}">
<meta name="date" content="{{ presentation.createdAt | date}}">

{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ presentation.goal | capitalize}}{% endblock %}

{% block body %}

    {# flag if user presents this project #} {# when user presents this project, he can switch between edition mode and consultation mode #}

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}

        {% set userPresenter = true %}
        
    {% endif %}


    {#
              
        {% include "/project_presentation/_show/test_embed1.html.twig" %}
        {% include "/project_presentation/_show/test_embed2.html.twig" %} 
        
    #}

<div class="pp-container container">

    
    {% include 'project_presentation/_show/_upper_box.html.twig' %}
    
    {# {% include 'project_presentation/_show/slides/slides.html.twig' %} #}

    <div class="row">
        
        {# Text Description #}

        <div class="col-8 py-2 mb-3 border border-success">

            {% include 'project_presentation/_show/_text_description.html.twig' %}
            
        </div>
        
        {# Miscelaneous Data List #}

        {% if presentation.getOC('dataList') %}

            <div class="col-lg-10 py-2 mb-3 border border-success">

                {% include 'project_presentation/_show/_data_list.html.twig' %}
                
            </div>

        {% endif %}
        
        {# Websites #}
        
        <div id="displayWebsites" class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_websites.html.twig' %}

        </div>

        {# Documents #}

        {% set countDocuments = presentation.documents | length %}

            {% if countDocuments > 0 or userPresenter  %}

            <div id="displayDocuments" class="col-6 py-2 mb-3 border border-success">

                {% if countDocuments > 0 %}
                
                    {% include 'project_presentation/_show/_documents.html.twig' %}
                
                {% elseif userPresenter %}
                    
                    {% include 'project_presentation/_show/empty_structure_placeholder.html.twig' %}
                
                {% endif %}

            </div>

            {% endif %}
        
        {# Q&A #}
        
        <div id="displayQuestionsAnswers" class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_questionsAnswers.html.twig' %}
            
        </div>
        
        {# Needs #}
        
        <div class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_needs.html.twig' %}
            
        </div>
        
        {# Places #}
        
        <div class="col-6 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_places.html.twig' %}

        </div>

        {# External Contributors #}

        <div class="col-12 py-2 mb-3 border border-success">

            {% if presentation.contributorStructures | length > 0 %}
                
                <h4 class="fw-bold mb-2">
                    Contributeurs
                </h4>

                <div id="contributors" data-elements-type="contributors">

                    {% for cs in presentation.contributorStructures | slice(0,1) %}

                        {{cs.richTextContent}} <br>

                        {% if cs.persorgs | length > 0 %}

                            {% for persorg in cs.persorgs %}

                                <span class="me-2">{{persorg.name}}</span>
                                
                                <img src="{{ vich_uploader_asset(persorg) | imagine_filter('persorg_thumbnail_sm') }}" alt="person or company avatar"><br>
                                
                            {% endfor %}
                        
                        {% endif %}
                        
                    {% endfor %}

                </div>

            {% else %}

                <div class="h-100 d-flex align-items-center justify-content-center">

                    <img class="img-fluid" src="https://www.place-hold.it/200x200" alt="">

                </div>
                
            {% endif %}
           

        </div>

          
        {# Business Cards #}
        
        <div class="col-12 py-2 mb-3 border border-success">
            
            {% include 'project_presentation/_show/_business_cards.html.twig' %}

        </div>


    </div>
    





    {# Switch Between Edition Mode and Consultation Mode Button #}

    {% if userPresenter %}

        <button id="pp-switch-edit-consult-mode" class="edition-mode" title="Switch between edition and consultation">👁</button>

    {% endif %}


</div>

<style>

    .pp-container {
        margin-top: 50px;
    }

    .pp-placeholder-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .pp-upper-box {
        min-height: 170px;
    }

    .pp-logo-container{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp-title{
        display: inline-block;
    }

    .pp-goal{
        display: inline-block;
    }

</style>

{% endblock %}

{% block javascripts %}

    {% if is_granted('edit', presentation) %}

        {% include 'project_presentation/_show/_js/reorder_delete_elements.html.twig' %}

        {% include 'project_presentation/_show/_js/wysiwyg.html.twig' %}

    {% endif %}

{% endblock %}

