
{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "plan-2", 'modal_title': "Relecture Totale avec Bilan Complet", 'modal_size': "modal-lg"} %}

    {% import "utilities/_macro_plans.html.twig" as plan %}

    {% block modalBody %}

    <div class="altern-container px-2">

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/page_constructed_by_user.png', 'larger'),
            "",
            "Vous créez la présentation de votre projet.", 
        ) }}

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/reviewers.png', 'larger'),
            "",
            "Deux relecteurs étudient votre page de projet, corrigent les possibles fautes, et notent tous leurs conseils.", 
        ) }}

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/magazine.png', 'larger'),
            "",
            "Vous recevez un bilan clair et détaillé des modifications à apporter pour obtenir une présentation de projet complète et intéressante.", 
        ) }}
        
        {{ plan.alternRow(
            asset('plans/customer_support.png', 'larger'),
            "",
            "Nous restons disponibles pour vous aider à appliquer nos conseils.", 
        ) }}

        
        {{ plan.displayMoreButtonArea('review') }}

    </div>

    {% endblock %}

{% endembed %}

{% embed "utilities/modal_skeleton.html.twig" with {'modal_id': "plan-3", 'modal_title': "Construction Totale", 'modal_size': "modal-lg"} %}

    {% import "utilities/_macro_plans.html.twig" as plan %}

    {% block modalBody %}

    <div class="altern-container px-2">

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/phone_call_interview.png', 'larger'),
            "",
            "Un entretien par téléphone ou visioconférence nous permet de comprendre votre projet. Il dure 45 minutes minimum.", 
        ) }}

        
        

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/page_construction_wip.png', 'larger'),
            "",
            "Notre équipe rédige les textes, recherche des images, et créé un schéma pour expliquer votre projet.", 
        ) }}

        {#  #}
        
        {{ plan.alternRow(
            asset('plans/clean_presentation.png', 'larger'),
            "",
            "Vous obtenez une page de projet claire, complète, et compréhensible.", 
        ) }}


        {{ plan.displayMoreButtonArea('create_presentation') }}

    </div>

    {% endblock %}

{% endembed %}

<style>

  /* Modal Content  */

  .altern-container{
    margin-bottom: 21px;
  }

  .altern-container .row{
    margin-bottom: 21px;
  }

  .altern-container .row:nth-child(even){
    flex-direction: row-reverse !important;
  }

  .altern-container .image-container{

    display:flex;
    justify-content: center;
    align-items: center;

    height:100%;

    padding: 15px;

    background-color: #f8f9fa;

    border-radius: 8px;
    
  }

  .altern-container .image-container img{

    max-width: 100%; 
    height: auto;

  }

  .altern-container .text-container{

    display:flex;
    justify-content: center;
    align-items: center;

    height:100%;
    
    padding: 15px 8px;

    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;

    background-color: rgb(233, 255, 227);

  }

  .buy-button-area {

    text-align: center;
    background-color: rgb(208, 255, 210);
    padding: 48px 0px;
    border-radius: 5px;

  }

  .contact-caps {

    text-align: center;
    background-color: rgb(238, 255, 221);
    padding: 12px 5px;
    border-radius: 5px;

  }

  @media screen and (max-width: 768px) {

    .altern-container .text-container{

      font-size: 18px;

    }

  }

  @media screen and (max-width: 580px) {

    .altern-container .text-container{

      font-size: 15px;

    }

  }

</style>
