{% extends 'base.html.twig' %}

{% set articleCreatedAt = article.createdAt | date("Y - m - d") %}
{% set articleCreator = article.author.userName %}

{# Page title for search engines, open graph, etc #}
{% set titleMetadata %}{{ article.title }}{% endset %}
{# Page description for search engines, open graph, etc #}
{% set metadataDescription %}{{ article.content | slice (0, 220) | striptags }}{% endset %}
{# Article Thumbnail Url for open graph #}
{% set metadataImageUrl %}{{ article.thumbnail ? app.request.schemeAndHttpHost ~ app.request.baseUrl ~ vich_uploader_asset(article) : null }}{% endset %}
{# Current page url for open graph #}
{% set currentPageUrl = app.request.uri %}


{% block title %}{{ titleMetadata }}{% endblock %} 

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="{{ articleCreator }}">
    <meta name="date" content="{{ articleCreatedAt}}">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'article', metadataImageUrl) }} {# Call from base.html.twig #}

{% endblock %}

{% block body %}



    <div class="article-container container col-md-8 my-5">

        <header>

            <h1 class="article-title">
            
                {{article.title}}

                {% if is_granted('admin_edit', article) %} <a href="{{path('edit_article', {"id": article.id})}}" class=""><span class="fs-4">MODIFIER</span></a>{% endif %}
            
            </h1>
            
            <div class="metadata"> <span class="me-1">Le</span> {{article.createdAt | date("d / m / Y")}} {% if article.updatedAt is not empty %} (modifié le {{article.createdAt | formattedElapsedTime}}){% endif %} par {{articleCreator}}.</div>

        </header>

        


        <div class="article-content">
        
            {% if not article.content is empty %} 

                {{ article.content | sanitize_html ('article') }}

            {% endif %}
            
        </div>


        {# Admins #}
        
        {% if is_granted('admin_edit', article) %}

            <div class="my-4">

                <a href="{{path('edit_article', {"id": article.id})}}" class=""><span class="fs-4">MODIFIER</span></a>
            
            </div>

        {% endif %}


        {# Visible Metadata #}

        <div class="article-footer-metadata">
        
        
        
        </div>
                
    </div>

    <style>

        .article-container header {
            margin-top: 72px;
            margin-bottom: 42px;
        }
        .article-container header h1{
            margin-bottom: 0px;
        }

        header .metadata{
            color: grey;
        }

        .article-title{
            font-weight: bold;
            color: green;
            
        }

        h2 {
            color: green;
            font-weight: bold;
        }


        h2:not(:first-child) {
            margin-top: 20px;
        }

        h3 {
            margin-top: 21px;
            color: green; 
            font-weight: bold;
        }

        p {
            font-size: 1.1em;
            margin: 10px 0;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 30px auto 30px auto;
            border-radius: 4px;
        }


    </style>



    <script>

        // Place figcaption before images.
        // Thanks at https://stackoverflow.com/questions/11183401/jquery-change-the-element-order
        
        $('figcaption').each(function() {
            $(this).insertBefore( $(this).prev('img') );
        });

    </script>

{% endblock %}
