{% extends 'base.html.twig' %}

{% set articleCreatedAt = article.createdAt | date("Y - m - d") %}
{% set articleCreator = article.author.userName %}

{# Page title for search engines, open graph, etc #}
{% set titleMetadata %}{{ article.title }}{% endset %}
{# Page description for search engines, open graph, etc #}
{% set metadataDescription %}{{ article.content | slice (0, 220) | striptags }}{% endset %}
{# Article Thumbnail Url for open graph #}
{% set metadataImageUrl %}{{ article.thumbnail ? app.request.schemeAndHttpHost ~ app.request.baseUrl ~ vich_uploader_asset(article) : null }}{% endset %}
{# Current page url for open graph #}
{% set currentPageUrl = app.request.uri %}


{% block title %}{{ titleMetadata }}{% endblock %}

{% block headTag %}

    <meta name="description" content="{{metadataDescription}}">
    <meta name="author" content="{{ articleCreator }}">
    <meta name="date" content="{{ articleCreatedAt}}">

    {{ _self.openGraph(titleMetadata, 'Propon', currentPageUrl, metadataDescription, 'article', metadataImageUrl) }} {# Call from base.html.twig #}

{% endblock %}

{% block body %}

    <div class="container col-md-8 my-5">

        <h1 class="article-title">
        
            {{article.title}}

            {% if is_granted('admin_edit', article) %} <a href="{{path('edit_article', {"id": article.id})}}" class=""><span class="fs-4">- MODIFIER</span></a>{% endif %}
        
        </h1>

        <div class="article-content">
        
            {% if not article.content is empty %} 

                {{ article.content | sanitize_html ('default') }}

            {% endif %}</div>
                
    </div>

    <style>

        .article-title{
            text-align: center;
            margin-bottom: 42px;
        }
        
    </style>

{% endblock %}
