
{{ form_start(form) }}

{{form_row(form.textContent)}}

{{form_row(form.image1File)}}
{{form_row(form.captionImage1)}}

{{form_row(form.image2File)}}
{{form_row(form.captionImage2)}}

{{form_row(form.image3File)}}
{{form_row(form.captionImage3)}}

<button type="submit" class="btn btn-validate btn-lg mb-3">Valider !</button>

{{ form_end(form) }}