{% embed "project_presentation/edit/manage_component_skeleton.html.twig" %}



{% set ecsTitle = cs.title[:1] | upper ~ cs.title[1:] %}


{% block title %}

    {{ecsTitle}}

{% endblock %}

{% block mainContentTitle %}

    {{ecsTitle}}

{% endblock %}


{% block sidebar %}{% include '_partials/sidebar.html.twig' %}{% endblock %}


{% block moreInfoButtonLabel %}

    Info

{% endblock %}

{% block moreInfoContent %}
    
    <p class="h5">

        Les vignettes permettent d'ajouter des photos ou des logos.

    </p>

{% endblock %}


{% block mainContent %}


    <!-- Add Items Buttons-->

    <div class="mt-md-5 mb-4"> 
        
        <!-- Add a persorg button (triggers a modal with a form) -->

        <button type="button"data-bs-toggle="modal" data-bs-target="#add-persorg-modal" class="btn btn-success btn-lg mb-4 me-3">Ajouter une vignette</button>
            
        {% if cs.richTextContent is empty %}

            <!-- Button Display Text Area -->

            <button type="button" class="js-display-textarea btn btn-success btn-lg mb-4"> <span class="mr-2">+</span>Texte libre</button>

        {% endif %}

    </div>

    <!-- Add a Persorg Form (displayed in a modal box) -->

    {% include "persorgs/_form.html.twig" %}



    <!-- External Contributors - edit with textarea -  Rich Text Editor -->

    <div 

        id="js-textarea-container"
    
        class="{% if cs.richTextContent is empty %}d-none{% endif %}"
        
    >

        {{form_start(csForm)}}

        <!-- Form Errors Display -->

        <span class="h5 text-danger">

            {{form_errors(csForm.richTextContent)}}

        </span>

        <!-- Rich Text Editor Area -->

        <div class="mb-4">

            {{form_widget(csForm.richTextContent, {'attr': {'placeholder': 'Exemple : nous remerçions toutes les personnes qui nous apportent une aide précieuse : Marie Duval; Jean Dupond; etc.'}})}}

        </div>

        <!-- Hiding some form fields -->

        <div class="d-none">
            {{ form_rest(csForm) }}
        </div>

        <!-- Save Rich Text Content Button -->

        <div class= "pt-2">
            
            <button type="submit" class="btn btn-success btn-lg mb-4 mr-3">Enregistrer Texte</button>

        </div>

        {{form_end(csForm)}}

    </div>

<!-- Project ECS content Display (ecs childs display) (persons or organisations (= persorg)) -->
            
{% if ecs.persorgs | length > 0 %}

<div class="container" style="display:inline-block;">

    <!-- Persorg Grid -->

    <div id="persorgsList" class="row">

        {% for persorg in ecs.persorgs %}

        <!-- Persorg Card --> 

        <div id="{{persorg.id}}" class="js-sortableItem persorgCard position-relative d-flex align-items-center justify-content-center" style="height:180px; width:150px; margin-right: 15px; margin-bottom: 20px;cursor:pointer; border:1px solid black;">

            <!-- Persorg Edition Path -->

            <a id="{{ecs.id}}" class='text-body' href="{{ path('edit_persorg', {'slug':presentation.slug, 'id_persorg':persorg.id, 'id_ecs':ecs.id}) }}">

                <!-- Persorg Card Content --> 

                {% include "persorgs/_persorg_card.html.twig" %}

            
            </a>

            <!-- Remove Persorg (Button with Red Cross) -->

            <button type="button" class="js-delete-persorg d-inline position-absolute btn btn-danger sharp py-0 px-2" data-id="{{persorg.id}}" style="top:0; right:0; z-index:1000;"><span class="font-weight-bold">x</span></button>

        </div>



        {% endfor %}

    
    
    
    
    </div>

</div> 

{% endif %}



{% endblock %}


{% block seeResultAnchor %}{% endblock %}


{% block specificStyles %}


{% endblock %}




{% block specificJavascripts %}


    <script>

        $(document).ready(function(){

            // if user wants to use text, we reveal textarea and we scroll down to textarea

            $(".js-display-textarea").click(function() {

                $(".js-display-textarea").hide();

                $('#js-textarea-container').removeClass("d-none");

            });

        });

    </script>
        
    <!-- CDN - TinyMCE Rich Text Editor -->

    <script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


    <!-- Parameters - TinyMCE Rich Text Editor -->

    <script>
        
        tinymce.init({

            // live save WIP
            
            setup: function(ed) {
                ed.on('change', function(e) {
                    console.log('the event object ', e);
                    console.log('the editor object ', ed);
                    console.log('the content ', ed.getContent());
                });
            },
             

            mode : "specific_textareas",

            editor_selector : "tinymce",

            //content_css : '/css/tinymce.css',

            width : "100%",

            height: "350",

            entity_encoding : "raw",

            menubar: 'edit format',

            menu: {

                edit: { title: 'Edit', items: 'undo redo | cut copy paste | selectall | searchreplace' },

                format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat removeformat' },

            }, 

            language: 'fr_FR',

            plugins: "emoticons, lists",

            toolbar: "undo redo emoticons bullist bold italic underline alignleft aligncenter alignright alignjustify outdent indent",

            content_style: "body {padding: 0px 15px;}",

            nowrap : false,

            //link_title: false, (only when links plugin will be integrated)
            //target_list: false,
        });


        function myCustomOnChangeHandler(inst) {
            alert("Some one modified something");
            alert("The HTML is now:" + inst.getBody().innerHTML);
          }

    </script>

{% endblock %}


{% endembed %}
