{% extends 'base.html.twig' %}

{% block title %}Page Utilisateur{% endblock %}

{% block stylesheets %}

  <link href="/css/titled_project_collection.css" rel="stylesheet">
  <link href="/css/show_more_less_button.css" rel="stylesheet">

{% endblock %}

{% block body %}


<div class="container col-md-11 col-lg-8 my-5 p-0 pt-md-4 pb-3">

    <!-- User Name and Image Area -->

    <div class="row d-flex justify-content-center mb-4">

        {# user image #}

        <div class="col-auto d-flex align-items-center justify-content-center">

            <!-- user personalized image -->

            {% if user.persorg.image is not empty %}

            <img class="rounded-1" src="{{ vich_uploader_asset(user.persorg)  | imagine_filter('persorg_thumbnail_sm') }}" width="" height="" style="max-width:100%; max-height:100px;">

            <!-- else default one letter image -->

            {% else %}
                                    
                <div class="avatar-circle avatar-100">

                    <span class="avatar-initial avatar-initial-100">

                        {{user.userName | slice (0,1) | capitalize }}

                    </span>

                </div>

            {% endif %}

        </div>

        {# user name #}

        <div class="col-auto ps-0 ps-md-3 d-flex align-items-center">

            <h3><b>{{user.username}}</b></h3>

        </div>

    </div>

    <!-- End of User Name and Image Area -->



    <!-- Actions Possibilities -->

    <div class="row text-center mb-5">

        {% if user is same as(app.user) %}
            
            <div class="mt-0 mt-md-3">

                <a href="{{ path ('edit_public_profile')}} " class="btn btn-light me-md-3 mb-2">Mes informations publiques</a>

                <a href="{{ path ('update_account_menu') }}" class="btn btn-light me-2 mb-2">Mon compte utilisateur</a>

            </div>

        {% endif %}

    </div>

    <!--End of Actions Possibilities -->

   <!-- User Description --> 

    <div class="row d-flex justify-content-center m-0 mb-5">
        
        <div class="user-persorg-description col-md-11 col-lg-8 p-3 rounded" style="border: 1px solid #bbbbfe;">
                        
            {% if not user.persorg.description %}

                <div class="text-center">
                    
                    <span class="h5"> 
                        Aucune description de profil n'a été renseignée ¯\_(ツ)_/¯
                    </span>   

                    {% if user is same as app.user %}

                        <div class="fs-5"> 

                            Vous pouvez remplir une description 
                            
                            <a href="{{ path ('edit_public_profile')}}" class=""> <span class="badge bg-primary">ici</span></a>

                        </div>

                    {% endif %}

                </div>


            {% else %}
            
                {{ user.persorg.description | nl2br }}

            {% endif %}
                
        </div>

    </div>

    <!-- end of User Description --> 


    <!-- User Websites --> 

    {% if user.persorg.website1 is not empty or user.persorg.website2 is not empty %}

        <div class="row text-center mb-4">

            <h4 class="fw-bold mb-4">Sites web ou réseaux sociaux</h4>

            <div class="ms-md-4">

                {% if user.persorg.website1 is not empty %}

                    <a class="user-persorg-website" href="{{user.persorg.website1}}" target="_blank">{{user.persorg.website1}}</a>

                {% endif %}

                {% if user.persorg.website2 is not empty %}

                    <a class="user-persorg-website" href="{{user.persorg.website2}}" target="_blank">{{user.persorg.website2}}</a>

                {% endif %}

                {% if user.persorg.website3 is not empty %}

                    <a class="user-persorg-website" href="{{user.persorg.website3}}" target="_blank">{{user.persorg.website3}}</a>

                {% endif %}

                {% if user.persorg.website4 is not empty %}

                    <a class="user-persorg-website" href="{{user.persorg.website4}}" target="_blank">{{user.persorg.website4}}</a>

                {% endif %}

            </div>

        </div>
    
    {% endif %}

    <!-- end of User Websites --> 

    

    <!-- User Created Project Presentations -->
    
    <div class="mb-5">
        
        {% if user.createdPresentations | length > 0 %}

            {% set user_presentations = user.createdPresentations %}

            {% set user_presentations_label %}

                {% if user.createdPresentations | length == 1 %}

                    1 présentation créée

                {% else %}

                    {{user.createdPresentations | length}} présentations créées

                {% endif %}

            {% endset %}

            
            {% import "utilities/_macro_titled_collection.html.twig" as display %}

            {% block javascripts %}<script src="/js/show_more_less_button.js"></script>{% endblock %}

            {{ display.collection(user_presentations_label, user.createdPresentations | reverse) }}
            
        {% endif %}

    </div>

    <!-- End of User Created Project Presentations -->



    {# User Created Articles #}

    {% set userArticles = user.articles %}

    {% if userArticles | length > 0 %}

        <div class="container col-md-8 px-0 px-md-3 mb-5">

            <h3 class="fw-bold text-center mb-4">Articles publiés sur Propon</h3>
            
            {% for article in user.articles %}

                <div class="list-group-item list-group-item-action">

                    <a href="{{path('show_article', {"slug": article.slug})}}" class="text-body" aria-current="true">

                        <h5 class="d-inline mb-1 fs-6">{{article.title}}</h5>
                            
                    </a>

                    {% if article.author == app.user %}<a href="{{path('edit_article', {"id": article.id})}}" class="ms-3">Modifier</a>{% endif %}
                        
                    {# Stats #}
                                    
                        <span class="stat-chunk ms-3">

                            <img class="" src="{{ asset('eye.svg', 'misc')}}" alt="an eye icon">
                            {{article.getDataItem('viewsCount')}}
                            
                        </span> 

                    </div>
                
            {% endfor %}
            
        </div>
            
    {% endif %}

    {# User Follows #}

    {% if user is same as(app.user) %}
    
            <div class="container col-md-8 px-0 px-md-3 mb-5">

                <h3 class="fw-bold text-center mb-4">Projets suivis</h3>

                {% set userFollows = user.follows %}

                {% if userFollows | length > 0 %} 
                
                    {% for followed in userFollows %}

                        <div class="list-group-item list-group-item-action">

                            <a href="{{ path('show_presentation', {'stringId': followed.project.stringId}) }}">
                            
                                {% if not followed.project.title is empty %}

                                    <span class="text-body">{{ followed.project.title [:20] ~ (followed.project.title | length > 20 ? '…') }} - </span>
                                    
                                {% endif %}

                                {{ followed.project.goal [:30] ~ (followed.project.goal | length > 30 ? '…') }} 
                            
                            </a>

                        </div>
                            
                    {% endfor %}    
                    
                {% else %}

                    <div class="fs-5 text-center">Aucun projet suivis 😮</div>
                    
                {% endif %}

                   
        </div>
    {% endif %}


    

</div>



<style>

    .user-persorg-description{
        font-size: 1.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .user-persorg-website{
        display: block;
        margin-bottom: 10px;
        font-size: 1.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
    }

</style>

{% endblock %}