{% extends 'base.html.twig' %}

{% block title %}Page Utilisateur{% endblock %}

{% block body %}


<div class="container col-md-10 col-lg-8 my-5 p-0 pb-3">

    <!-- User Name and Image Area -->

    <div class="row mb-4">

        {# user image #}

        <div class="col-auto pr-3 d-flex align-items-center justify-content-center">

            <!-- user personalized image -->

            {% if user.persorg.image is not empty %}

            <img class="img-fluid" src="{{ vich_uploader_asset(user.persorg)  | imagine_filter('persorg_thumbnail_sm') }}" width="90" height="90">

            <!-- else default one letter image -->

            {% else %}
                                    
                <div class="avatar-circle avatar-circle-100">

                    <span class="avatar-initial avatar-initial-100">

                        {{user.userName | slice (0,1) | capitalize }}

                    </span>

                </div>

            {% endif %}

        </div>

        {# user name #}

        <div class="col ps-0 ps-md-3 d-flex align-items-center">

            <h3><b>{{user.username}}</b></h3>

        </div>

    </div>

    <!-- End of User Name and Image Area -->



    <!-- Actions Possibilities -->

    <div class="row mb-4">

        {% if user is same as(app.user) %}
            
            <div class="mt-0 mt-md-3">

                <a href="{{ path ('edit_public_profile')}} " class="btn btn-light me-3 mb-2">Mes informations publiques</a>

                <a href="{{ path ('update_account_menu') }}" class="btn btn-light me-2 mb-2">Mon compte utilisateur</a>

            </div>

        {% endif %}

    </div>

    <!--End of Actions Possibilities -->



    <!-- User Created Project Presentations -->
    
    <div class="row mb-5">
        
        {% if user.createdPresentations | length > 0 %}
        
        <div class="">

                <!-- User CREATED Presentations Count -->

                <h4 class="mb-4">

                    <span class="fw-bold">

                        {% if user.createdPresentations | length == 1 %}

                            1 présentation créée

                        {% else %}

                            {{user.createdPresentations | length}} présentations créées

                        {% endif %}

                    </span>

                </h4>

                <!-- User CREATED presentations display -->

                {% for presentation in user.createdPresentations | reverse %}

                    <a class="text-primary text-decoration-none" href="{{path('show_presentation', {'stringId': presentation.stringId})}}">

                        <h5 class="mb-2">
                            {{presentation.goal}}
                        </h5>
            
                    </a>

                {% endfor %}

            </div>

        {% endif %}

    </div>

    <!-- End of User Created Project Presentations -->


   <!-- User Description --> 

    <div class="row m-0 mb-4">
        
        <div class="col-md-11 col-lg-8 p-3 border border-primary rounded">
                        
            {% if not user.persorg.description %}

                <span class="h5"> 
                    Aucune description de profil n'a été renseignée. 
                </span>   

                {% if user is same as app.user %}

                    <div class="h5"> 

                        Vous pouvez remplir une description 
                        
                        <a class="h5" href=""> <span class="badge bg-primary">ici</span></a>

                    </div>

                {% endif %}

            {% else %}
            
                {{ user.persorg.description | nl2br }}

            {% endif %}
                
        </div>

    </div>

    <!-- end of User Description --> 

</div>

{% endblock %}