{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Modification adresse e-mail du compte{% endblock %}

{% block body %}

    <div class="container">

        <h3 class="my-2 my-md-5 fw-bold">Modification de l'adresse e-mail associée à mon compte</h3>

        <div class="row mb-5">

            <div class="col-md-8">
                        
                {{ form_start(form) }}

                <div class="my-3 fs-15 fw-bold">

                    {{form_errors(form.email)}}

                </div>

                <div class="mb-4">

                    <h5 class="mb-3 fw-bold">
                        Voici l'adresse e-mail associée à votre compte
                    </h5>
                    
                    <div class="mb-4">

                        {{ form_widget(form.email) }}

                    </div>
                    
                    <div class="d-none mb-4">

                        {{ form_rest(form) }}

                    </div>

                </div>

                <!-- Action Buttons -->

                <div class="mt-5">

                    <button type="submit" class="btn btn-validate me-3">✔️ Enregistrer</button>

                    <a href="{{ path('show_user_profile', {'userNameSlug': app.user.userNameSlug}) }}">
                        <button type="button" class="btn btn-go-back">❌ Retour</button>
                    </a>
                    
                </div>

                {{ form_end(form) }}

            </div>


        </div>
        
    </div>
    
{% endblock %}