{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}<link href="/css/messages.css" rel="stylesheet">{% endblock %}


{% block footer %}{% endblock %} {# disabling footer #}

{% block body %}

    <div id="tiny-screen-flag"></div>

    <style>
            
        @media only screen and (max-width: 580px)
        {
            #tiny-screen-flag { display: none; }
        }

    </style>


    <div class="messages-container container">

        <div class="row g-0">

            <section id="discussions" class="discussions">


                {% for conversation in userConversations | reverse %}

                {% set cache = conversation.cache %}

                    <div id="{{conversation.id}}" data-label="{{conversation.context}}" class="discussion {{not cache.lastMessIsConsulted and not app.user.id == cache.lastMessAuthorId ? 'fw-bold'}} {{loop.first ? 'message-active' }} ">

                        <div class="desc-contact">

                            <p class="name">{{cache.lastMessAuthorName}}</p>
                            <p class="message ">{{cache.lastMessExtract [0:24] }}</p>
                            <p class="timer">{{cache.lastMessDate.date | date("d/m/Y")}}</p>

                        </div>

                    </div>

                {% endfor %}
                
            </section>

            <section id="messages" class="chat">

                <div class="header-chat">

                    <p id="header-title" class="name"></p>

                    <button id="show-conversations-list" type="button" class="collapse-button d-md-none btn btn-sm btn-outline-primary text-body" aria-expanded="false" style="background-color: #fdfdff;">Liste</button>

                </div>


                <div id="messages-chat" class="messages-chat">

                    {# conversation display #}

                </div>



                <div class="footer-chat">

                    {{ form_start(form) }}
                    {{ form_widget(form.content) }}
                    
                    <button class="validation-button btn btn-validate btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16"><path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/></svg></button>
                    
                    {{ form_end(form) }}
                    
                </div>


            </section>

        </div>

    </div>
    
{% endblock %}

{% block javascripts %} {% include "user/messages/_app.html.twig" %} {% endblock %}